@charset "utf-8";

@keyframes spinning-loader-module_rotate__2sxH3 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning-loader-module_loaderWrapper__Pj-Lo { z-index: 1; height: 100%; width: 100%; display: inline-flex; align-items: center; justify-content: center; }

.spinning-loader-module_loader__rJsPh { height: 2.4rem; width: 2.4rem; display: inline-block; position: relative; border-width: 0.3rem; border-style: solid; border-color: rgb(227, 227, 227) rgb(151, 151, 151) rgb(227, 227, 227) rgb(227, 227, 227); border-image: initial; border-radius: 50%; animation: 1s linear 0s infinite normal none running spinning-loader-module_rotate__2sxH3; }
