@charset "utf-8";

.exchange-subtext-module_container__c93Bi { display: flex; flex-direction: column; }

.exchange-subtext-module_details__bskZg { font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; text-align: left; display: inline-flex; justify-content: space-between; width: 100%; margin-bottom: 0.8rem; }

.exchange-subtext-module_edit__kaYIQ { border-bottom: 0.1rem solid rgb(33, 32, 31); cursor: pointer; margin-left: 0.8rem; color: rgb(33, 32, 31); font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; text-align: left; }

.exchange-subtext-module_infoText__Iz8f9 { font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; text-align: left; display: inline-flex; justify-content: space-between; width: 100%; }
