@charset "utf-8";

.line-items-module_container__TK2jH { display: flex; flex-direction: column; align-items: flex-start; }

@media (max-width: 960px) {
  .line-items-module_container__TK2jH { padding: 3rem; }
}

.line-items-module_container__TK2jH .line-items-module_header__D7MKR { font-family: grosa; font-weight: 500; font-size: 2.4rem; line-height: 3rem; text-transform: uppercase; letter-spacing: 0.05em; text-align: left; margin: 2.4rem 0px 0.8rem; }

@media (max-width: 960px) {
  .line-items-module_container__TK2jH .line-items-module_header__D7MKR { font-size: 1.8rem; line-height: 2.4rem; }
}

.line-items-module_container__TK2jH .line-items-module_subHeader__IJx3D { font-family: grosa; font-size: 1.3rem; line-height: 1.9rem; font-weight: 400; text-align: left; margin: 0px 0px 2.4rem; }

.line-items-module_container__TK2jH .line-items-module_lineItems__hPmLC { margin-top: 1.4rem; display: flex; flex-direction: column; gap: 2.4rem; width: 100%; }

@media (max-width: 960px) {
  .line-items-module_container__TK2jH .line-items-module_lineItems__hPmLC { gap: 1.6rem; }
}

.line-items-module_container__TK2jH .line-items-module_infoLabel__o-4Gk { margin-bottom: 1rem; font-family: grosa; font-size: 1.2rem; font-weight: 400; line-height: 1.6rem; text-align: left; padding: 0.8rem; background: rgb(247, 247, 245); border-radius: 0.4rem; display: flex; justify-content: center; align-items: flex-start; gap: 0.4rem; position: relative; }

.line-items-module_container__TK2jH .line-items-module_infoLabel__o-4Gk p { margin: 0px; flex: 1 1 0%; }

.line-items-module_container__TK2jH .line-items-module_infoLabel__o-4Gk .line-items-module_infoIcon__QBJ-l { cursor: pointer; }

.line-items-module_container__TK2jH .line-items-module_infoLabel__o-4Gk .line-items-module_tooltip__eZAOD { display: none; position: absolute; top: 100%; right: -40%; background: rgb(66, 65, 65); color: rgb(255, 255, 255); padding: 1.6rem; font-family: grosa; font-size: 1.2rem; font-weight: 400; line-height: 1.6rem; text-align: left; white-space: normal; overflow-wrap: break-word; border-radius: 0.4rem; margin-top: 0.5rem; z-index: 1; width: 27.6rem; }

@media (max-width: 960px) {
  .line-items-module_container__TK2jH .line-items-module_infoLabel__o-4Gk .line-items-module_tooltip__eZAOD { right: -5%; }
}

.line-items-module_container__TK2jH .line-items-module_infoLabel__o-4Gk:hover .line-items-module_tooltip__eZAOD { display: block; }

.line-items-module_container__TK2jH .line-items-module_submitBtn__lJdMz { width: 29rem; height: 4.8rem; padding: 1.6rem 0rem; border-radius: 10rem; cursor: pointer; font-family: grosa; font-size: 1.2rem; font-weight: 500; line-height: 1.6rem; letter-spacing: 0.05em; text-align: center; color: rgb(255, 255, 255); background-color: rgb(33, 32, 31); margin-top: 2.4rem; }

@media (max-width: 960px) {
  .line-items-module_container__TK2jH .line-items-module_submitBtn__lJdMz { width: 100%; }
}

.line-items-module_container__TK2jH .line-items-module_error__S6MMX { color: rgb(175, 53, 53); margin-top: 1rem; font-family: grosa; font-size: 1.1rem; font-weight: 400; line-height: 1.4rem; text-align: left; }
