@charset "utf-8";

.HrROHe, .PpaGLb { font-size: 13px; font-weight: 500; text-transform: uppercase; }

.PpaGLb { color: rgb(0, 123, 139); }

.HrROHe, .PpaGLb, .XbJon, .ZqLNQd { cursor: pointer; }

.HrROHe:disabled, .PpaGLb:disabled, .XbJon:disabled, .ZqLNQd:disabled { cursor: default; }

.ZqLNQd { text-align: left; }

.ZqLNQd:hover { text-decoration: underline; }

.ZqLNQd:hover:disabled { text-decoration: none; }

.kyuRq, .kyuRq.fontBodyLarge { color: rgb(0, 123, 139); cursor: pointer; text-align: left; }

.kyuRq:disabled, .kyuRq.fontBodyLarge:disabled { cursor: default; }

.kyuRq:hover, .kyuRq.fontBodyLarge:hover { text-decoration: underline; }

.kyuRq:hover:disabled, .kyuRq.fontBodyLarge:hover:disabled { text-decoration: none; }

.W3ArWe { background-color: rgb(0, 123, 139); border-radius: 2px; color: rgb(255, 255, 255); cursor: pointer; font-size: 14px; font-weight: 500; line-height: 20px; margin-top: 12px; padding: 8px 16px; text-transform: uppercase; }

@media screen and (forced-colors: active) {
  .W3ArWe { border: 1px solid transparent; }
}

.W3ArWe:hover { box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px; transition: box-shadow 0.1s ease-in-out; }

.XbJon { color: rgb(0, 123, 139); border-radius: 6px; border: 1px solid transparent; overflow: hidden; padding: 7px 9px; position: relative; margin: 6px 0px; }

.XbJon.HS8nfd { padding: 3px 9px; }

.XbJon:hover .OyjIsf { background-color: rgba(1, 79, 90, 0.08); }

body:not(.LoJzbe) .XbJon:focus .OyjIsf { background-color: rgba(1, 79, 90, 0.12); }

body:not(.LoJzbe) .XbJon:hover:focus .OyjIsf { background-color: rgba(1, 79, 90, 0.16); }

.XbJon:active .OyjIsf { background-color: rgba(1, 79, 90, 0.12); }

@media screen and (forced-colors: none) {
  .XbJon.XbJon:focus { outline: none; }
}

.BunUDe { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; border-radius: 40px; box-sizing: border-box; color: rgb(0, 123, 139); height: 40px; margin: 4px 0px; overflow: hidden; padding-left: 12px; padding-right: 12px; position: relative; }

.G6JA1c { color: rgb(31, 31, 31); }

.G6JA1c:hover, .fvQUnc .G6JA1c:focus { color: rgb(0, 123, 139); }

.fOEg2b { color: rgb(255, 255, 255); }

html[dir="rtl"] .G47vBd { transform: scaleX(-1); }

.NhBTye { font-variation-settings: "FILL" 1; }

.wBkYDb { color: rgb(178, 108, 0); }

.FZt9Uc { color: rgb(255, 187, 41); }

.gnOR4e { color: rgb(227, 227, 227); }

.c2oMlb { color: rgb(11, 87, 208); }

.ydCpf { color: rgb(227, 90, 27); }

.ZDGTec { color: rgb(197, 65, 5); }

.jE2ERb { color: rgb(66, 133, 243); }

.JUDSqb { color: rgb(220, 54, 46); }

.PsOCtf { color: rgb(66, 31, 0); }

.bxESbc { color: rgb(31, 31, 31); }

.VDEjyc { color: rgb(255, 255, 255); }

.juHP0c { color: rgb(255, 255, 255); }

.c1G10c { color: rgb(143, 143, 143); }

.uc9Kqc { color: rgb(31, 31, 31); }

.nnBhCe { color: rgb(31, 31, 31); }

.AWETxc { color: rgb(255, 255, 255); }

.N23lEd { color: rgb(1, 79, 90); }

.QLC12b { color: rgb(0, 32, 37); }

.SwaGS { color: rgb(31, 31, 31); }

.OazX1c { color: rgb(94, 94, 94); }

.q3CStc { border-color: rgb(199, 199, 199); color: rgb(199, 199, 199); }

.Q6EWEd { color: rgb(25, 134, 57); }

.PHazN { color: rgb(0, 123, 139); }

.iORfaf { background-color: rgb(0, 123, 139); }

.zw8yee { color: rgb(38, 103, 114); }

.KP9RVd { color: rgb(0, 32, 37); }

.hCdRMc { color: rgb(0, 104, 118); }

.IheHDf { color: rgb(179, 38, 30); }

.bBoBtc { color: rgb(65, 14, 11); }

.af7cUc { color: rgb(148, 87, 0); }

.thAX0c { color: rgb(66, 31, 0); }

.JTqyM { color: rgb(20, 108, 46); }

.Cdyak { color: rgb(7, 39, 17); }

.x87uTb { color: rgb(0, 104, 118); }

.YtqBU { background-color: rgb(211, 247, 255); }

.elGi1d { color: rgb(255, 187, 41); }

.B1yWAf { color: rgb(255, 255, 255); }

.fontDisplayLarge { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 2.8125rem; font-weight: 400; letter-spacing: 0rem; line-height: 3.25rem; }

.fontDisplayMedium { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1.75rem; font-weight: 400; letter-spacing: 0rem; line-height: 2.25rem; }

.lfPIob { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1.375rem; font-weight: 400; letter-spacing: 0rem; line-height: 1.75rem; }

.fontHeadlineLarge { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1.5rem; font-weight: 500; letter-spacing: 0rem; line-height: 1.75rem; }

.fontHeadlineMedium { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1.125rem; font-weight: 500; letter-spacing: 0rem; line-height: 1.5rem; }

.fontHeadlineSmall { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1rem; font-weight: 500; letter-spacing: 0rem; line-height: 1.25rem; }

.fontTitleLarge { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1.25rem; font-weight: 400; letter-spacing: 0rem; line-height: 1.5rem; }

.fontTitleMedium { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1rem; font-weight: 400; letter-spacing: 0.00625rem; line-height: 1.25rem; }

.fontTitleSmall { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.875rem; font-weight: 500; letter-spacing: 0.00625rem; line-height: 1.25rem; }

.fontBodyLarge { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1rem; font-weight: 400; letter-spacing: 0.00625rem; line-height: 1.5rem; color: rgb(31, 31, 31); }

.fontBodyMedium { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.875rem; font-weight: 400; letter-spacing: 0.00625rem; line-height: 1.25rem; }

.fontBodySmall { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.75rem; font-weight: 400; letter-spacing: 0.0125rem; line-height: 1rem; color: rgb(94, 94, 94); }

.J7sVM { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.6875rem; font-weight: 500; letter-spacing: 0.0125rem; line-height: 0.75rem; }

.fontLabelMedium { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.75rem; font-weight: 500; letter-spacing: 0.0125rem; line-height: 1rem; }

.igUw4d { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.75rem; font-weight: 500; letter-spacing: 0.0125rem; line-height: 1rem; color: rgb(94, 94, 94); }

.NlVald { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.875rem; font-weight: 500; letter-spacing: 0.00625rem; line-height: 1.25rem; text-transform: none; }

.dKzzJf { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.875rem; font-weight: 500; letter-spacing: 0.00625rem; line-height: 1.25rem; text-transform: none; }

.gm2-headline-3 { font-family: "Google Sans", Roboto, Arial, sans-serif; line-height: 2.25rem; font-size: 1.75rem; letter-spacing: 0px; font-weight: 400; }

.Hi2drd { font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 1rem; letter-spacing: 0rem; line-height: 1.25rem; font-weight: 400; }

.Y8qwKc { font-size: 0.875rem; font-weight: 400; letter-spacing: 0.00625rem; line-height: 1.25rem; font-family: "Google Sans", Roboto, Arial, sans-serif; }

.j39qH { font-size: 0.75rem; font-weight: 400; letter-spacing: 0.0125rem; line-height: 1rem; color: rgb(31, 31, 31); font-family: "Google Sans", Roboto, Arial, sans-serif; }

.Tc0rEd { background: rgb(255, 255, 255); border: 0px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; }

.yu5kgd { background: rgb(255, 255, 255); border: 0px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }

.hdeJwf { background: rgb(255, 255, 255); border: 0px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px; }

.LCTIRd { border: 1px solid rgb(199, 199, 199); }

.eKbjU { border-top: 1px solid rgb(199, 199, 199); }

.SPRMud { border-right: 1px solid rgb(199, 199, 199); }

.XDi3Bc { border-bottom: 1px solid rgb(199, 199, 199); }

.Llk9yb { border-left: 1px solid rgb(199, 199, 199); }

.google-symbols { font-family: "Google Symbols"; font-weight: normal; font-style: normal; font-size: 24px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; overflow-wrap: normal; direction: ltr; font-optical-sizing: none; }

.uj8Yqe { animation: 1568ms linear 0s infinite normal none running container-rotate; height: 100%; width: 100%; }

@-webkit-keyframes container-rotate {
  100% { transform: rotate(1turn); }
}

@keyframes container-rotate {
  100% { transform: rotate(1turn); }
}

.VjANhb { position: absolute; width: 100%; height: 100%; opacity: 0; }

.VjANhb.VXJmff { border-color: rgb(26, 115, 232); animation: 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running fill-unfill-rotate, 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running blue-fade-in-out; }

.VjANhb.juFtAf { border-color: rgb(211, 59, 48); animation: 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running fill-unfill-rotate, 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running red-fade-in-out; }

.VjANhb.a8TBub { border-color: rgb(249, 171, 0); animation: 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running fill-unfill-rotate, 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running yellow-fade-in-out; }

.VjANhb.E626Jd { border-color: rgb(40, 153, 79); animation: 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running fill-unfill-rotate, 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running green-fade-in-out; }

.VjANhb.G1njrf { border-color: rgb(255, 255, 255); opacity: 1; animation: 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running fill-unfill-rotate; }

@-webkit-keyframes fill-unfill-rotate {
  12.5% { transform: rotate(135deg); }
  25% { transform: rotate(270deg); }
  37.5% { transform: rotate(405deg); }
  50% { transform: rotate(540deg); }
  62.5% { transform: rotate(675deg); }
  75% { transform: rotate(810deg); }
  87.5% { transform: rotate(945deg); }
  100% { transform: rotate(3turn); }
}

@keyframes fill-unfill-rotate {
  12.5% { transform: rotate(135deg); }
  25% { transform: rotate(270deg); }
  37.5% { transform: rotate(405deg); }
  50% { transform: rotate(540deg); }
  62.5% { transform: rotate(675deg); }
  75% { transform: rotate(810deg); }
  87.5% { transform: rotate(945deg); }
  100% { transform: rotate(3turn); }
}

@-webkit-keyframes blue-fade-in-out {
  0% { opacity: 1; }
  25% { opacity: 1; }
  26% { opacity: 0; }
  89% { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blue-fade-in-out {
  0% { opacity: 1; }
  25% { opacity: 1; }
  26% { opacity: 0; }
  89% { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 1; }
}

@-webkit-keyframes red-fade-in-out {
  0% { opacity: 0; }
  15% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
}

@keyframes red-fade-in-out {
  0% { opacity: 0; }
  15% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
}

@-webkit-keyframes yellow-fade-in-out {
  0% { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  76% { opacity: 0; }
}

@keyframes yellow-fade-in-out {
  0% { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  76% { opacity: 0; }
}

@-webkit-keyframes green-fade-in-out {
  0% { opacity: 0; }
  65% { opacity: 0; }
  75% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes green-fade-in-out {
  0% { opacity: 0; }
  65% { opacity: 0; }
  75% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.yD92Ze { position: absolute; box-sizing: border-box; top: 0px; left: 45%; width: 10%; height: 100%; overflow: hidden; border-color: inherit; }

.yD92Ze .q0z1yb { width: 1000%; left: -450%; }

.wl6qec { display: inline-block; position: relative; width: 50%; height: 100%; overflow: hidden; border-color: inherit; }

.wl6qec .q0z1yb { width: 200%; }

.q0z1yb { box-sizing: border-box; height: 100%; border-width: 3px; border-style: solid; border-top-color: inherit; border-right-color: inherit; border-left-color: inherit; border-radius: 50%; animation: auto ease 0s 1 normal none running none; border-bottom-color: transparent !important; }

.wl6qec.xvJMLe .q0z1yb { transform: rotate(129deg); border-right-color: transparent !important; }

.wl6qec.k7Bifb .q0z1yb { left: -100%; transform: rotate(-129deg); border-left-color: transparent !important; }

.wl6qec.xvJMLe .q0z1yb { animation: 1333ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running left-spin; }

.wl6qec.k7Bifb .q0z1yb { animation: 1333ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running right-spin; }

@-webkit-keyframes left-spin {
  0% { transform: rotate(130deg); }
  50% { transform: rotate(-5deg); }
  100% { transform: rotate(130deg); }
}

@keyframes left-spin {
  0% { transform: rotate(130deg); }
  50% { transform: rotate(-5deg); }
  100% { transform: rotate(130deg); }
}

@-webkit-keyframes right-spin {
  0% { transform: rotate(-130deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-130deg); }
}

@keyframes right-spin {
  0% { transform: rotate(-130deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-130deg); }
}

@-webkit-keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.CiOaN { position: absolute; inset: 0px; }

html, body { height: 100%; margin: 0px; padding: 0px; }

hr { background: rgb(227, 227, 227); border: none; height: 1px; margin: 8px 0px; }

body { touch-action: none; overflow: hidden; }

a, button, h1, h2, h3, h4, h5, h6, input, ol, p, textarea, th, ul { background: transparent; border-radius: 0px; border: 0px; font: inherit; list-style: none; margin: 0px; outline: 0px; overflow: visible; padding: 0px; vertical-align: baseline; }

textarea { overflow: auto; }

table { border-collapse: collapse; border-spacing: 0px; }

button, input, textarea { color: inherit; }

a { color: rgb(0, 123, 139); cursor: pointer; text-decoration: none; outline: none; }

a:hover { text-decoration: underline; }

:focus { outline: none; }

.clearfix::after { content: ""; display: table; clear: both; }

.fvQUnc :focus { outline: rgb(0, 123, 139) solid 2px; }

.id-app-container { background: rgb(0, 123, 139); top: 0px; left: 0px; width: 100%; height: 100%; position: absolute; overflow: hidden; }

.Pe4b { position: absolute; right: 16px; top: 64px; z-index: 2; }

.OkO9ve-haAclf { top: 4px; right: 0px; position: absolute; }

.OkO9ve { margin: 8px 8px 0px 0px; position: fixed; right: 0px; z-index: 16; }

.OkO9ve #gb { min-width: 0px; width: auto; right: 0px; left: auto; }

.hUbt4d-watermark { position: absolute; bottom: 0px; right: 0px; left: 0px; }

.xcUKcd.eZfyae .hUbt4d-watermark { left: 72px; }

.xcUKcd.y2iKwd .hUbt4d-watermark { left: 408px; }

.xcUKcd.eZfyae.y2iKwd .hUbt4d-watermark { left: 480px; }

.xcUKcd.y2iKwd.S38FBb .hUbt4d-watermark { left: 836px; }

.xcUKcd.y2iKwd.VElZUe .hUbt4d-watermark { left: 788px; }

.xcUKcd.eZfyae.y2iKwd.S38FBb .hUbt4d-watermark { left: 908px; }

.xcUKcd.eZfyae.y2iKwd.VElZUe .hUbt4d-watermark { left: 860px; }

.pane-open-mode .hUbt4d-watermark { left: 408px; }

.app-vertical-widget-holder { pointer-events: none; position: absolute; bottom: 33px; z-index: 4; right: 20px; transform: translateZ(0px); display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column wrap; height: calc(-100px + 100vh); -webkit-box-align: end; align-items: end; -webkit-box-pack: end; justify-content: flex-end; column-gap: 5px; min-width: 29px; max-width: 63px; }

.app-vertical-item { pointer-events: auto; margin-top: 3px; transform: translateZ(0px); }

@media (max-width: 567px) and (max-height: 428px) {
  .app-vertical-item.qH7Uc { z-index: 10; }
  .app-vertical-item.oJ68rc { z-index: 1; }
}

.app-horizontal-widget-holder { pointer-events: auto; position: absolute; right: 20px; bottom: 0px; white-space: nowrap; z-index: 1; max-height: 30px; transform: translateZ(0px); }

.app-horizontal-item { position: relative; float: left; transform: translateZ(0px); }

.app-viewcard-strip { position: absolute; z-index: 1; left: 0px; right: 0px; bottom: 0px; transition: left 0.2s cubic-bezier(0, 0, 0.2, 1); }

.xcUKcd.eZfyae .app-viewcard-strip { left: 72px; }

.xcUKcd.y2iKwd .app-viewcard-strip { left: 408px; }

.xcUKcd.eZfyae.y2iKwd .app-viewcard-strip { left: 480px; }

.xcUKcd.y2iKwd.S38FBb .app-viewcard-strip { left: 836px; }

.xcUKcd.y2iKwd.VElZUe .app-viewcard-strip { left: 788px; }

.xcUKcd.eZfyae.y2iKwd.S38FBb .app-viewcard-strip { left: 908px; }

.xcUKcd.eZfyae.y2iKwd.VElZUe .app-viewcard-strip { left: 860px; }

.pane-open-mode .app-viewcard-strip { left: 408px; }

.HdXONd { opacity: 1; transition: opacity 0.2s linear; }

.minimap-state-changing .HdXONd { opacity: 0; }

.app-bottom-content-anchor { position: absolute; z-index: 1; width: 100%; height: 0px; bottom: 100%; margin-bottom: 20px; transform: translateZ(0px); }

.full-width-minimap .app-bottom-content-anchor { margin-bottom: 8px; }

.app-bottom-content-anchor.widgets-above-runway { margin-bottom: 20px; }

.app-center-widget-holder { pointer-events: auto; position: absolute; left: 50%; bottom: 0px; transition: padding-bottom 0.1s linear, bottom 0.1s linear, margin-bottom 0.1s linear; transform: translateX(-50%); }

@media only screen and (max-width: 642px) {
  .app-center-widget-holder { padding-bottom: 33px; }
}

@media only screen and (max-width: 500px) {
  .app-center-widget-holder { padding-bottom: 82px; }
}

@media only screen and (max-width: 402px) {
  .app-center-widget-holder { padding-bottom: 125px; }
}

@media only screen and (max-width: 1110px) {
  .app-center-widget-holder.widgets-above-poi-entrypoint-thumbnail { padding-bottom: 82px; }
}

@media only screen and (max-width: 792px) {
  .app-center-widget-holder.widgets-above-poi-entrypoint-thumbnail { padding-bottom: 125px; }
}

.app-center-widget-holder.widgets-above-runway { bottom: 10px; }

.app-center-widget-holder.widgets-above-featurebox { margin-bottom: 113px; }

.id-content-container { background: rgb(255, 255, 255); overflow: hidden; position: absolute; bottom: 0px; width: 100%; z-index: 0; white-space: normal; }

.scene-footer-container { position: absolute; right: 0px; bottom: 0px; z-index: 3; }

@media (min-width: 643px) {
  .pane-open-mode .scene-footer-container { left: 408px; }
  .xcUKcd.eZfyae .scene-footer-container { left: 72px; }
  .xcUKcd.y2iKwd .scene-footer-container { left: 408px; }
  .xcUKcd.eZfyae.y2iKwd .scene-footer-container { left: 480px; }
}

.scene-footer { float: right; background-color: rgb(242, 242, 242); padding-left: 3px; display: table-row; font-size: 10px; color: rgb(31, 31, 31); }

.app-imagery-mode .scene-footer { background-color: rgba(0, 0, 0, 0.6); color: rgb(255, 255, 255); }

.full-width-minimap .scene-footer { background-color: rgb(242, 242, 242); color: rgb(31, 31, 31); }

.hidden-Woal0c-jcJzye { display: none; }

.scene-footer a, .scene-footer a:link, .scene-footer a:visited { color: rgb(31, 31, 31); }

.app-imagery-mode .scene-footer a, .app-imagery-mode .scene-footer a:link, .app-imagery-mode .scene-footer a:visited { color: rgb(171, 171, 171); }

.full-width-minimap .scene-footer a, .full-width-minimap .scene-footer a:link, .full-width-minimap .scene-footer a:visited { color: rgb(31, 31, 31); }

.scene-footer a:hover, .scene-footer a:focus { color: rgb(0, 123, 139); }

.app-imagery-mode .scene-footer a:hover, .app-imagery-mode .scene-footer a:focus { color: rgb(255, 255, 255); }

.JLm1tf-bEDTcc-GWbSKc { pointer-events: auto; }

.app-planetary-mode .JLm1tf-bEDTcc-GWbSKc { display: none; }

@media only screen and (max-height: 320px), only screen and (max-width: 160px) {
  .ZiieLd { display: none; }
}

@media only screen and (max-width: 568px) {
  .pane-open-mode .ZiieLd { display: none; }
}

.full-width-minimap .scene-footer a:hover, .full-width-minimap .scene-footer a:focus { color: rgb(0, 123, 139); }

.id-scale, .id-fineprint { display: table-cell; }

.hUbt4d-print { min-height: 66px; }

.id-omnibox { position: relative; left: 0px; margin: 16px; top: 0px; z-index: 15; transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1), visibility, opacity, left, -webkit-transform; transform: translateX(0px); }

.id-omnibox-container .vasquette-margin-enabled.id-omnibox { margin-bottom: 12px; }

.id-omnibox-container { transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1), visibility, opacity, left, -webkit-transform; transform: translateX(0px); }

.xcUKcd.eZfyae .id-omnibox-container, .CMimtc .id-omnibox-container { left: 72px; }

@media only screen and (max-width: 408px) {
  .id-omnibox { width: 100%; }
}

.qK6Xvf:not(.cSgCkb) .id-omnibox-container { left: 0px; }

.dC3P6 .id-omnibox-container { left: 0px; }

.qK6Xvf.cSgCkb .id-omnibox-container { transform: translateX(-480px); }

.id-rap-card { position: absolute; margin: 16px; z-index: 10; }

.vasquette-margin-enabled.id-rap-card, .vasquette-margin-enabled.id-omnibox { margin: 12px 0px 12px 16px; }

@media (max-width: 536px) {
  .vasquette-margin-enabled.id-rap-card { margin-top: 60px; }
  .vasquette-margin-enabled.hUbt4d-YvFRid-Pj3AId { margin-left: -16px; }
}

.id-play { bottom: 100%; display: inline-block; left: calc(50% - 50px); margin-bottom: 48px; position: absolute; width: 100px; }

.id-pushdown { position: absolute; width: 100%; z-index: 13; }

.id-lightbox { display: inline-block; outline: none; position: absolute; z-index: 12; }

.id-omnibox-container { top: 0px; position: absolute; z-index: 4; }

@media only screen and (max-width: 408px) {
  .id-omnibox-container { width: 100%; }
}

.id-scene { position: absolute; left: 0px; width: 100%; bottom: 0px; background-color: rgb(242, 242, 242); z-index: 0; }

.id-survey { display: none; z-index: 100; position: absolute; height: 238px; width: 440px; right: 9px; top: 59px; }

.id-consent-bump { background: rgb(255, 255, 255); }

[dir="ltr"], [dir="rtl"] { unicode-bidi: isolate; }

bdo[dir="ltr"], bdo[dir="rtl"] { unicode-bidi: isolate-override; }

.top-center-stack { position: absolute; left: 0px; right: 0px; }

.pane-open-mode .top-center-stack { left: 408px; }

.xcUKcd.eZfyae .top-center-stack { left: 72px; }

.xcUKcd.y2iKwd .top-center-stack { left: 408px; }

.xcUKcd.eZfyae.y2iKwd .top-center-stack { left: 480px; }

.xcUKcd.y2iKwd.S38FBb .top-center-stack { left: 836px; }

.xcUKcd.y2iKwd.VElZUe .top-center-stack { left: 788px; }

.xcUKcd.eZfyae.y2iKwd.S38FBb .top-center-stack { left: 908px; }

.xcUKcd.eZfyae.y2iKwd.VElZUe .top-center-stack { left: 860px; }

.ma6Yeb-oXtfBe-m5SR9c-ZYyEqf { position: absolute; left: 50%; width: 100%; }

@media only screen and (max-width: 800px) {
  .pane-open-mode .top-center-stack { display: none; }
}

.moveable-pane { position: absolute; height: auto; z-index: 1; display: none; }

.moveable-pane .k7jAl, .moveable-pane .e07Vkf, .moveable-pane .hOJ2kd, .moveable-pane .aIFcqe { position: relative; }

.pane-qAWA2-WAutxc .moveable-pane .k7jAl { transform: none; }

.cEevGf { position: absolute; z-index: 15; bottom: 0px; left: 0px; right: 0px; height: 0px; overflow: visible; transition: left 0.2s cubic-bezier(0, 0, 0.2, 1); display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: end; align-items: flex-end; }

.ymw5uf { visibility: hidden; margin-bottom: -70px; transition: visibility 0.15s, margin-bottom 0.15s; box-sizing: border-box; padding: 14px 24px; line-height: 20px; min-width: 288px; max-width: 568px; min-height: 48px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); border-radius: 3px 3px 0px 0px; font-size: 14px; display: flex; z-index: 1; }

.TEYSPe { visibility: visible; margin-bottom: 0px; }

.EoqU6d { -webkit-box-flex: 1; flex: 1 1 auto; }

.BN49Ob { flex-shrink: 1; margin-left: 48px; white-space: nowrap; color: rgb(117, 212, 230); cursor: pointer; }

.BN49Ob + .BN49Ob { margin-left: 18px; }

.BN49Ob:hover, .BN49Ob:focus { text-decoration: none; outline-color: rgb(117, 212, 230); }

.gjMiCd { height: 18px; width: 18px; }

.PUtLdf .cEevGf { position: static; transform: none; height: auto; }

.PUtLdf .ymw5uf { position: static; display: block; width: auto; transform: none; background: transparent; color: black; padding: 10px 20px; }

.g9poTc picture { display: block; }

.g9poTc picture img { width: 100%; height: 100%; }

.Dn7b2c { position: absolute; width: 100%; height: 100%; top: 0px; overflow: hidden; z-index: 0; }

.mF4wq { background: url("../../image/png/13.png"); z-index: 1; }

.kYinRe { transition: opacity 0.2s; }

.id-inputtools { visibility: hidden; position: absolute; z-index: 1; left: 408px; top: 8px; transition: 0.2s linear; }

.id-inputtools.inputtools-active { visibility: visible; }

.id-inputtools.non-search-mode { margin-left: 8px; transition-delay: 0ms; }

.xcUKcd.y2iKwd .id-inputtools { margin-left: 16px; transition-duration: 0.2s; }

.qK6Xvf.cSgCkb .id-inputtools { opacity: 0; left: 0px; visibility: hidden; }

.id-inputtools .ita-kd-inputtools-div { background: rgb(255, 255, 255); border: 0px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; min-width: 52px; }

.id-inputtools .ita-kd-icon-button { border: none; outline: none; box-shadow: none; transition: none; cursor: pointer; height: 48px; width: 39px; }

.id-inputtools .ita-kd-icon-button:focus { margin: 0px; border: none !important; }

.id-inputtools .ita-kd-left.ita-kd-selected { background: linear-gradient(rgb(209, 209, 209), rgb(241, 243, 244), rgb(251, 251, 251)); }

.id-inputtools .ita-kd-icon-button .ita-kd-icon-span { opacity: 0.65; margin-top: 16px; }

.id-inputtools .ita-kd-icon-button.hover .ita-kd-icon-span, .id-inputtools .ita-kd-icon-button-hover .ita-kd-icon-span, .id-inputtools .ita-kd-right.ita-kd-selected .ita-kd-icon-span { opacity: 1; }

.id-inputtools .ita-kd-right, .id-inputtools .ita-kd-right:focus { margin-left: 0px; width: 24px; border-left: 1px solid rgb(227, 227, 227) !important; }

.ita-kd-dropdown-menu { margin-left: -1px !important; }

.ita-kd-menuitem { padding: 6px 38px 6px 8px !important; }

.PUtLdf .vk-box, .PUtLdf .ita-hwt-ime { display: none !important; }

.BPikCc { display: none !important; }

.PUtLdf .BPikCc { display: block !important; }

@media print {
  body { }
}

.PUtLdf .Hk4XGb { display: none; }

body.PUtLdf { overflow: visible; width: auto; height: auto; }

.PUtLdf .id-app-container * { box-shadow: none; }

.PUtLdf a, .PUtLdf a:link, .PUtLdf a:visited, .PUtLdf a:active { color: rgb(31, 31, 31); }

.PUtLdf .scene-footer { background-color: rgb(255, 255, 255); color: rgb(31, 31, 31); margin: 4px 0px; }

.PUtLdf .scene-footer a, .PUtLdf .scene-footer a:hover, .PUtLdf .scene-footer a:link, .PUtLdf .scene-footer a:visited { color: rgb(31, 31, 31); }

.PUtLdf .id-app-container { position: relative; }

.PUtLdf .id-content-container { position: static; width: auto; }

.PUtLdf .id-scene { position: relative; }

.PUtLdf .app-viewcard-strip { position: static; }

.PUtLdf .app-bottom-content-anchor { position: static; height: auto; margin-bottom: 0px; line-height: 0; }

.PUtLdf .app-center-widget-holder { position: relative; bottom: auto; display: inline-block; line-height: normal; }

.PUtLdf .goog-menu, .PUtLdf .goog-tooltip, .PUtLdf .goog-popupdatepicker, .PUtLdf .inproduct-guide-butterbar, .PUtLdf .inproduct-guide-modal, .PUtLdf .iph-dialog, .PUtLdf #google-feedback-wizard { display: none; }

.MeBA1c { display: none; }

.MeBA1c .yONsp { position: absolute; width: 100vw; inset: 0px; background-color: rgb(242, 242, 242); pointer-events: none; }

.cSBlpc { background: url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_light_color_324x112dp.png") center center / 324px 112px no-repeat; opacity: 1; transition: opacity 0.3s; z-index: 4; }

.IIZecd .cSBlpc { background-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_324x112dp.png"); }

.o016Pd { position: absolute; height: 15px; left: 50%; top: 70%; width: 65px; transform: translateX(-50%); }

.E1Wpof { background: url("../../image/png/13.png"); opacity: 1; transition: opacity 0.3s; }

.gWkKud .uj8Yqe { display: inline-block; height: 24px; width: 24px; margin-right: 14px; vertical-align: middle; }

.gWkKud .qUOwbe { vertical-align: middle; }

.kA9KIf, .vRIAEd { outline-offset: -2px; overflow: hidden; }

@supports not (selector(::-webkit-scrollbar)) {
  .kA9KIf, .vRIAEd { scrollbar-width: thin; }
}

.kA9KIf { overflow-y: auto; }

.vRIAEd { overflow-x: auto; }

@media (hover: hover) {
  .vRIAEd, .kA9KIf { overflow: hidden; }
  .kA9KIf.dS8AEf, .kA9KIf:focus, .kA9KIf:hover, .C19oRb .kA9KIf { overflow-y: auto; }
  .vRIAEd.dS8AEf, .vRIAEd:focus, .vRIAEd:hover, .C19oRb .vRIAEd { overflow-x: auto; }
  .vRIAEd::-webkit-scrollbar, .kA9KIf::-webkit-scrollbar { height: 6px; width: 6px; }
  .ZaEtDb.vRIAEd::-webkit-scrollbar, .ZaEtDb.kA9KIf::-webkit-scrollbar { height: 0px; width: 0px; }
  .vRIAEd::-webkit-scrollbar-track, .kA9KIf::-webkit-scrollbar-track { background-color: rgb(242, 242, 242); }
  .vRIAEd::-webkit-scrollbar-thumb, .kA9KIf::-webkit-scrollbar-thumb { background-color: rgb(94, 94, 94); }
}

.OyjIsf { position: absolute; pointer-events: none; width: 100%; height: 100%; top: 0px; left: 0px; }

.zemfqc { width: calc(100% + 2px); height: calc(100% + 2px); top: -1px; left: -1px; }

.YkyvRc { display: none; }

.l72E8b { background: rgb(255, 255, 255); box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; display: block; z-index: 100; padding: 2px 8px 3px; font-size: 13px; font-weight: 200; line-height: 18px; border: 1px solid rgb(227, 227, 227); }

.EI48Lc, .La5UZd { background: rgb(255, 255, 255); border: 0px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; border-radius: 4px; display: block; z-index: 100; padding: 2px 8px; white-space: nowrap; opacity: 1; transform: scale(1); transition: opacity 0.15s cubic-bezier(0, 0, 0.2, 1), transform 0.15s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.15s cubic-bezier(0, 0, 0.2, 1); font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 0.875rem; font-weight: 400; letter-spacing: 0.00625rem; line-height: 1.25rem; }

.EI48Lc { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

.La5UZd { background-color: rgb(48, 48, 48); color: rgb(255, 255, 255); }

.La5UZd.FOZY8e, .EI48Lc.FOZY8e { opacity: 0; transform: scale(0.8); transition: opacity 75ms cubic-bezier(0.4, 0, 1, 1), transform 75ms, visibility 75ms, -webkit-transform 75ms; }

.jHLihd { font-family: Roboto, Arial, sans-serif; white-space: nowrap; color: rgb(31, 31, 31); cursor: default; display: inline-block; font-size: 14px; line-height: 14px; vertical-align: baseline; font-weight: bold; }

.jHLihd::after { content: "·"; margin: 0px 5px; }

.G4Wk9d .jHLihd { color: rgb(255, 255, 255); }

.xoLGzf { position: relative; background: rgb(255, 255, 255); border-radius: 24px; box-sizing: border-box; width: 376px; height: 48px; transition-property: background, box-shadow; transition-duration: 0.3s; border: 1px solid rgb(227, 227, 227); padding: 11px 106px 11px 64px; box-shadow: none; }

.xoLGzf.FkJ4Sc { padding-left: 24px; }

@media only screen and (max-width: 536px) {
  .xoLGzf { width: calc(-128px + 100vw); }
}

.NaMBUd { display: none; }

.NaMBUd.omnibox-active { display: block; }

.NaMBUd .nhb85d { z-index: 4; }

.JmVY9b.nhb85d { padding-right: 144px; }

.OAaR7b { box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.02) 0px -1px 0px; border: none; }

.NhWQq { position: relative; }

.zGB9df .NhWQq { display: flex; }

.zGB9df .xiQnY { -webkit-box-flex: 1; flex: 1 1 0%; }

.uDEfZe { width: 0px; float: left; }

.OHJuEb { margin-right: 4px; color: rgb(143, 143, 143); }

.NaMBUd .SZckEe.xiQnY, .uDEfZe .z1Srse { color: rgb(94, 94, 94); display: inline-block; padding: 3px 0px; white-space: nowrap; position: absolute; width: 100%; overflow: hidden; z-index: -1; }

.fvQUnc .xiQnY { outline: none; }

.xiQnY.nZtQUb:not(:focus) { color: rgb(94, 94, 94); }

.SZckEe.xiQnY { pointer-events: none; position: absolute; z-index: 1; left: 0px; }

.A6Eb0 { border-radius: 16px 16px 0px 0px; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px, rgba(0, 0, 0, 0.02) 0px -1px 0px; border: none; }

.hYBOP { display: block; cursor: pointer; padding: 12px 16px; color: rgb(94, 94, 94); }

.hYBOP:hover, .hYBOP:focus { color: rgb(0, 123, 139); }

.hYBOP.BJ5Jx { cursor: default; color: rgb(143, 143, 143); }

.hYBOP.BJ5Jx:hover, .hYBOP.BJ5Jx:focus { color: rgb(94, 94, 94); }

.lSDxNd { display: block; position: absolute; right: 0px; top: 0px; }

.lSDxNd .yAuNSb { cursor: pointer; padding: 12px 15px 10px; }

.yAuNSb { color: rgb(94, 94, 94); }

.yAuNSb:hover, .yAuNSb:active, .yAuNSb:focus { color: rgb(0, 123, 139); }

.hArJGc { color: rgb(0, 123, 139); cursor: pointer; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; height: 48px; text-align: center; text-transform: uppercase; width: 54px; }

.pzfvzf { position: absolute; right: 54px; top: 0px; }

.JmVY9b .pzfvzf { right: 94px; }

.pmPLle { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; position: absolute; right: 8px; top: 7px; width: 71px; height: 32px; border-radius: 24px; background: rgb(0, 123, 139); }

.pmPLle .SxXeRb { top: 35px; }

.pzycZ { color: rgb(255, 255, 255); width: 40%; float: left; text-align: center; cursor: default; }

.jYIGzd { width: 0px; height: 17px; border-left: 1px solid rgb(255, 255, 255); opacity: 0.3; display: inline-block; float: left; }

.z6ADEf { width: 40%; height: 24px; display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; cursor: pointer; }

.PFywrc { color: rgb(255, 255, 255); }

.rIWqBe { display: none; height: 100%; width: 100%; }

.hkxWWb { height: 20px; width: 20px; }

.tBgtgb { z-index: 5; }

.tBgtgb .k7jAl { border-radius: 0px 0px 16px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px; box-sizing: border-box; top: unset; }

.tBgtgb.tBgtgb .e07Vkf { background: none; overflow: visible; top: unset; }

.tBgtgb .miFGmb { background: none; box-shadow: none; }

.DAdBuc { background-color: rgb(255, 255, 255); border-radius: 0px 0px 16px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px; font-size: 15px; width: 376px; padding: 8px 0px; max-height: calc(-200px + 100vh); }

.DAdBuc.kA9KIf { overflow-y: auto; }

@media only screen and (max-width: 536px) {
  .DAdBuc { width: calc(-128px + 100vw); }
}

.PUtLdf .DAdBuc { display: none; }

.ZHeE1b { border: none; position: relative; color: rgb(94, 94, 94); font-size: 12px; min-height: 24px; padding-top: 6px; padding-bottom: 7px; cursor: pointer; direction: ltr; text-align: left; line-height: 32px; }

.n1lwoe { padding: 12px 12px 12px 20px; }

.WX899b { color: rgb(94, 94, 94); display: inline-block; vertical-align: middle; white-space: nowrap; pointer-events: auto; float: right; z-index: 1; }

.Q3vuZd { color: rgb(31, 31, 31); visibility: hidden; display: inline-block; vertical-align: middle; white-space: nowrap; pointer-events: auto; z-index: 1; }

.ZHeE1b:hover .Q3vuZd, .ZHeE1b:focus .Q3vuZd, .xiGv9:hover .Q3vuZd, .xiGv9:focus .Q3vuZd { visibility: visible; }

.xiGv9 { margin: 0px -2px 0px 4px; min-width: 32px; height: 32px; position: relative; cursor: pointer; }

.xiGv9 .OyjIsf { border-radius: 50%; }

.ZHeE1b:hover .pG37Ce { color: rgb(31, 31, 31); }

.ZHeE1b:hover .D85HAd, .D85HAd:focus { width: 32px; }

.D85HAd:hover .Q3vuZd, .D85HAd:focus .Q3vuZd { visibility: visible; }

.D85HAd { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 0px; height: 32px; position: relative; cursor: pointer; }

.D85HAd .OyjIsf { border-radius: 50%; }

.xiGv9:hover .OyjIsf { background-color: rgba(31, 31, 31, 0.08); }

body:not(.LoJzbe) .xiGv9:focus .OyjIsf { background-color: rgba(31, 31, 31, 0.12); }

body:not(.LoJzbe) .xiGv9:hover:focus .OyjIsf { background-color: rgba(31, 31, 31, 0.16); }

.xiGv9:active .OyjIsf { background-color: rgba(31, 31, 31, 0.12); }

.D85HAd:hover .OyjIsf { background-color: rgba(31, 31, 31, 0.08); }

body:not(.LoJzbe) .D85HAd:focus .OyjIsf { background-color: rgba(31, 31, 31, 0.12); }

body:not(.LoJzbe) .D85HAd:hover:focus .OyjIsf { background-color: rgba(31, 31, 31, 0.16); }

.D85HAd:active .OyjIsf { background-color: rgba(31, 31, 31, 0.12); }

.ZHeE1b:hover, .sbox-highlight .ZHeE1b { background-color: rgba(31, 31, 31, 0.08); outline: none; }

@media screen and (forced-colors: active) {
  .ZHeE1b:hover, .sbox-highlight .ZHeE1b { border: 3px solid transparent; }
}

.sbsb_c:last-child .ZHeE1b { border-radius: 0px 0px 2px 2px; }

.WYdB7b { padding-top: 7px; }

.l0wghb { display: flex; padding-right: 13px; }

.wh2Rkb { padding-right: 0px; -webkit-box-align: center; align-items: center; }

.WYdB7b .l0wghb { padding-right: 0px; }

.DgCNMb { -webkit-box-flex: 1; flex: 1 1 0%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.WYdB7b .DgCNMb { text-align: center; }

.DgCNMb span { unicode-bidi: normal; }

.ZHeE1b button.DgCNMb { cursor: pointer; text-align: left; }

.sbsb_c[dir="ltr"] .DgCNMb { direction: ltr; text-align: left; }

.sbsb_c[dir="rtl"] .DgCNMb { direction: rtl; text-align: right; }

.Y3gFfb { flex-shrink: 1; }

.JvXd9b { outline: none; }

.u6z30d { max-height: 24px; width: 24px; }

.H2gSkb { height: 23px; width: 23px; max-height: revert; }

.sNfqIe { visibility: hidden; }

.jlzIOd { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; float: left; height: 32px; width: 56px; padding-right: 8px; }

.fFXfOb .jlzIOd { height: 32px; }

.XPIgTd { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; float: left; height: 40px; width: 40px; border-radius: 8px; overflow: clip; margin-right: 8px; position: relative; }

.QD0vz { position: absolute; inset: 0px; background-image: linear-gradient(rgba(32, 33, 36, 0) 0%, rgba(32, 33, 36, 0) 20%, rgba(32, 33, 36, 0.1) 40%, rgba(32, 33, 36, 0.4) 60%, rgba(32, 33, 36, 0.6) 80%, rgba(32, 33, 36, 0.6) 100%); }

.buvaue { height: 100%; width: 100%; object-fit: cover; }

.fLGRCd { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; min-height: 40px; -webkit-box-pack: center; justify-content: center; }

.Gb56oe, .kzrPmf { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 288px; line-height: 20px; }

.Gb56oe { height: 20px; -webkit-box-align: center; align-items: center; color: rgb(31, 31, 31); }

.ZHeE1b:hover .Gb56oe, .ZHeE1b:hover .kzrPmf { width: 248px; }

.pG37Ce { height: 20px; display: flex; -webkit-box-align: center; align-items: center; color: rgb(94, 94, 94); }

.N3kk4c { height: 20px; display: inline-block; line-height: 20px; }

.NLqBMb { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; height: 18px; bottom: 2px; right: 2px; position: absolute; }

.Bnstjc { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; float: left; height: 40px; width: 40px; border-radius: 50%; overflow: clip; position: relative; }

.JlacXc { border-radius: 8px; }

.upnfPb { background-color: rgb(255, 240, 239); }

.EFEZfe { background-color: rgb(242, 242, 242); }

.WF58Ob { background-color: rgb(169, 221, 233); }

.cRo4hb { background-color: rgb(249, 222, 220); }

.Knrkxf { background-color: rgb(196, 238, 208); }

.wxXj6d { background-color: rgb(211, 247, 255); }

.H6zHn { background-color: rgb(255, 223, 153); }

.RYaupb.fontBodyMedium { color: rgb(31, 31, 31); line-height: 32px; }

.cGyruf .XYuRPe { color: rgb(31, 31, 31); font-weight: 500; }

.fFXfOb .cGyruf { line-height: 32px; }

.EmLCAe { color: rgb(94, 94, 94); }

.T5EJvf.cGyruf { color: rgb(0, 123, 139); }

.WYdB7b .cGyruf { border: none; }

.WYdB7b .cGyruf:hover, .WYdB7b .cGyruf:focus { background-color: unset; }

.Rx86ib.fontTitleSmall { margin: 0px -5px; line-height: 24px; }

.QPrLUd.fontTitleSmall { margin: 0px -1px; line-height: 24px; }

.tJ5Rbb { top: 42px; right: 0px; }

.mnE5xd { top: 5px; right: 45px; }

.SxXeRb { display: none; pointer-events: none; position: absolute; z-index: 1003; white-space: nowrap; }

.RR87W + .SxXeRb { display: block; }

.nhb85d .searchboxinput, .nhb85d .tactile-searchbox-input { color: rgb(31, 31, 31); font-size: 15px; line-height: 24px; vertical-align: top; transition-property: color; transition-duration: 0.3s; width: 100%; padding: 0px !important; height: 24px !important; }

.fKm1Mb { position: absolute; z-index: 1003; left: 0px; top: 0px; }

.mL3xi { display: block; padding: 12px; color: rgb(94, 94, 94); }

.r6EGDb .mL3xi, .xoLGzf:not(.searchbox-empty) .mL3xi { cursor: pointer; }

.r6EGDb .mL3xi, .xoLGzf:not(.searchbox-empty) .mL3xi:hover, .xoLGzf:not(.searchbox-empty) .mL3xi:focus { color: rgb(0, 123, 139); }

.nhb85d .sbib_b { position: relative; }

.nhb85d .sbib_b::after { content: ""; pointer-events: none; position: absolute; z-index: 6; top: 0px; width: 20px; height: 24px; background: linear-gradient(90deg, transparent, rgb(255, 255, 255) 20px); opacity: 1; visibility: visible; transition-property: opacity, visibility; transition-duration: 0.3s; }

.nhb85d .sbib_b[dir="ltr"]::after { right: 0px; }

.nhb85d .sbib_b[dir="rtl"]::after { left: 0px; transform: scaleX(-1); }

.nhb85d.sbox-focus .sbib_b::after { opacity: 0; visibility: hidden; }

.XltNde { position: absolute; top: 0px; left: 0px; bottom: 0px; transform: translateX(0px); transition-property: transform, opacity, -webkit-transform; transition-duration: 0.2s; transition-timing-function: cubic-bezier(0, 0, 0.2, 1); z-index: 3; }

.PUtLdf .XltNde, .PUtLdf .w6VYqd, .XltNde .k7jAl { position: static; }

.PLbyfe .e07Vkf { margin-top: 72px; height: calc(100% - 72px); }

@media (max-width: 536px) {
  .PLbyfe .e07Vkf { margin-top: 50px; height: calc(100% - 50px); }
}

.qK6Xvf.XltNde { transform: translateX(-100%); }

.QR0DPe .w6VYqd { display: none; }

.gYkzb { position: absolute; z-index: 0; top: calc(50% - 24px); display: none; }

.w6VYqd { display: flex; position: absolute; top: 0px; left: 0px; bottom: 0px; z-index: 1; }

.tTVLSc.XltNde { opacity: 1; height: 100%; }

.tTVLSc .gYkzb { display: block; }

.yra0jd { background: rgb(255, 255, 255); border-width: 0px 0px 0px 1px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-image: initial; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; width: 23px; height: 48px; cursor: pointer; border-left-style: solid; border-left-color: rgb(227, 227, 227); border-radius: 0px 8px 8px 0px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.qK6Xvf .yra0jd { background-color: rgb(255, 255, 255); border-radius: 8px 0px 0px 8px; }

html[dir="rtl"] .yra0jd { transform: none; }

html[dir="rtl"] .qK6Xvf .yra0jd, .qK6Xvf .yra0jd { transform: scaleX(-1); }

.PySCB { position: absolute; left: 100%; top: 50%; transform: translateY(-50%); margin-left: 8px; line-height: 22px; white-space: nowrap; }

.PySCB::before { content: ""; position: absolute; top: 50%; left: -5px; margin-top: -6px; width: 0px; height: 0px; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 6px solid rgb(31, 31, 31); }

.XltNde.dC3P6, .bJzME { display: none; }

.tTVLSc.bJzME { display: block; position: relative; }

.Hu9e2e { position: relative; top: 60px; height: calc(100% - 80px); margin-left: 20px; }

.Hu9e2e .k7jAl, .Hu9e2e .e07Vkf { border-radius: 16px; }

.JgEiLc { position: relative; width: 72px; height: 100vh; z-index: 10; }

.srXS8c { width: 408px; position: absolute; top: 0px; opacity: 1; display: block; height: 100%; transition-property: transform, opacity, -webkit-transform; transition-duration: 0.2s; transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.MbVBgb { background-color: rgb(0, 123, 139); height: 85px; }

.lxQSp { background-color: rgb(242, 242, 242); height: 85px; }

.LTjAJb { background-color: transparent; height: 85px; }

.aNFcie { background: url("//maps.gstatic.com/tactile/basepage/loader_beige_1x.gif") center center / 40px 8px no-repeat; height: 22px; margin: 24px 0px; }

.MnW8Vb { opacity: 0; }

.Z0Pmqc { opacity: 1; transition: opacity 0.5s ease-in; }

sentinel { }
