@charset "utf-8";

.etbuEf { -webkit-box-align: center; align-items: center; color: rgb(31, 31, 31); display: flex; -webkit-box-flex: 0; flex: 0 0 auto; padding-left: 24px; padding-right: 24px; }

.YY42Fc { padding: 0px; }

.KlLjpc { padding-right: 0px; }

.sErS0c { overflow: hidden; text-overflow: ellipsis; color: rgb(31, 31, 31); -webkit-box-flex: 1; flex: 1 1 0%; }

.PeQWIe { color: rgb(178, 108, 0); }

.VHrtrb { color: rgb(94, 94, 94); }

.sErS0c.Cpt1Qd { white-space: nowrap; }

.dLU0qc { -webkit-box-flex: 0; flex: 0 1 auto; }

.jremv { padding-top: 20px; padding-bottom: 20px; }

.kjYwid { padding-top: 16px; padding-bottom: 16px; }

.Eos3sd { padding-top: 12px; padding-bottom: 12px; }

.G0vZn { position: relative; display: inline-flex; width: max-content; }

.xmbjbb { display: inline-block; border: 2px solid rgb(255, 255, 255); width: 18px; height: 18px; z-index: 1; margin-left: -12px; }

.xmbjbb:nth-child(1) { z-index: 3; margin-left: 0px; }

.xmbjbb:nth-child(2) { z-index: 2; }

.xmbjbb:nth-child(3) { z-index: 1; }

.nfOgsd { border: 2px solid rgb(255, 255, 255); color: rgb(31, 31, 31); background-color: rgb(222, 227, 228); width: 30px; height: 18px; text-indent: 6px; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; margin-left: -10px; }

@media only screen and (min-width: 1001px) {
  .pane-open-mode .z7i0C.m6QErb { display: none; }
  .pane-open-mode .fTgYTd.m6QErb { display: block; }
}

@media only screen and (max-width: 1000px) {
  .pane-open-mode .z7i0C.m6QErb { display: block; }
  .pane-open-mode .fTgYTd.m6QErb { display: none; }
}

@media only screen and (min-width: 801px) {
  .UV9Ngc.m6QErb { display: block; }
}

@media only screen and (max-width: 800px) {
  .UV9Ngc.m6QErb { display: none; }
}

.fTgYTd .uEubGf { max-width: none; }

.UsUSKc { color: rgb(94, 94, 94); padding: 16px 22px; }

.UsUSKc i { font-style: normal; }

.IpVgWd { color: rgb(94, 94, 94); }

.C9cOMe { color: rgb(0, 123, 139); cursor: pointer; }

.UsUSKc.RfCwec { background-color: rgb(255, 255, 255); border-radius: 0px 0px 16px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.02) 0px -1px 0px; padding: 8px 20px; z-index: 1; }

.TbqDH .ucDXW { content: ""; position: fixed; pointer-events: none; height: 89px; background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)); }

.TbqDH .ucDXW { left: -16px; right: -16px; top: -60px; }

@media only screen and (max-width: 536px) {
  .TbqDH .ucDXW { background: none; }
}

.DFop2c .nhb85d { border-radius: 16px 16px 0px 0px; border: none; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px, rgba(0, 0, 0, 0.02) 0px -1px 0px; }

sentinel { }
