@charset "utf-8";

#sp_detail2-prime_theme_for_non_prime_members_B0F4864G1X_pi_badge_text { letter-spacing: 0px; white-space: normal; }

#sp_detail2-prime_theme_for_non_prime_members_B0F4864G1X_pi_badge { max-width: 153px; border-radius: 0px; padding: 0px; font-style: normal; position: static; background-size: 400px 900px; background-repeat: no-repeat; display: inline-block; vertical-align: top; background-image: none !important; }
