@charset "utf-8";

#previous_purchase_sp_detail2-prime_theme_for_non_prime_members_B0FK9KQ9ZH_badge_text { font-size: 12px; line-height: 24px; letter-spacing: 0px; white-space: nowrap; }

#previous_purchase_sp_detail2-prime_theme_for_non_prime_members_B0FK9KQ9ZH_badge { text-align: center; max-width: 153px; border-radius: 0px; padding: 0px 6px 0px 10px; font-style: normal; position: relative; background-size: 400px 900px; background-repeat: no-repeat; display: inline-block; vertical-align: top; float: left; background-image: none !important; }
