@charset "utf-8";

.nav-sprite-v1 .nav-sprite, .nav-sprite-v1 .nav-icon { background-image: url(../../image/png/252.png); background-position: 0px 1000px; background-repeat: repeat-x; }

.nav-spinner { background-image: url(../../image/gif/251.gif); background-position: center center; background-repeat: no-repeat; }

.nav-timeline-icon, .nav-access-image, .nav-timeline-prime-icon { background-image: url("https://m.media-amazon.com/images/G/01/gno/sprites/timeline_sprite_1x._CB485945973_.png"); background-repeat: no-repeat; }
