@charset "utf-8";

@font-face { font-family: "Amazon Ember"; src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2") format("woff2"); }

@font-face { font-family: "Amazon Ember"; font-style: italic; src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2") format("woff2"); }

@font-face { font-family: "Amazon Ember"; font-weight: 700; src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2") format("woff2"); }

@font-face { font-family: "Amazon Ember"; font-style: italic; font-weight: 700; src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2") format("woff2"); }

@font-face { font-family: "Amazon Ember"; font-display: swap; font-weight: 300; src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_lt-245045fa7de5df027437f47209a5add3b48108a1.woff2") format("woff2"); }

body, html { margin: 0px; font-family: "Amazon Ember", arial, sans-serif; box-sizing: border-box; width: 100%; height: 100%; }
