@charset "utf-8";

#btf-sub-nav-desktop-tabs, .btf-sub-nav-desktop-tabs { z-index: 101; height: 46px; border-bottom: 1px solid rgb(187, 191, 191); background: rgb(255, 255, 255); table-layout: auto; display: flex; color: rgb(17, 17, 17); width: 100%; max-width: 1500px; }

#btf-sub-nav-desktop-tabs.persistent-header, .btf-sub-nav-desktop-tabs.persistent-header { position: fixed; top: 0px; }

#btf-sub-nav-desktop-tabs .top-tab-content:not(:hover), .btf-sub-nav-desktop-tabs .top-tab-content:not(:hover) { color: rgb(0, 0, 0); cursor: pointer; }

#btf-sub-nav-desktop-tabs .top-tab-content:hover, .btf-sub-nav-desktop-tabs .top-tab-content:hover { color: rgb(0, 113, 133); text-decoration: underline; cursor: pointer; }

#btf-sub-nav-desktop-tabs .top-tab-content:focus, .btf-sub-nav-desktop-tabs .top-tab-content:focus { outline: 0px; }

#btf-sub-nav-desktop-tabs .tab-content:not(:hover), .btf-sub-nav-desktop-tabs .tab-content:not(:hover) { color: rgb(0, 0, 0); cursor: pointer; }

#btf-sub-nav-desktop-tabs .tab-content:hover, .btf-sub-nav-desktop-tabs .tab-content:hover { color: rgb(0, 113, 133); text-decoration: underline; cursor: pointer; }

#btf-sub-nav-desktop-tabs #btfSubNavDesktopTopTab, #btf-sub-nav-desktop-tabs .btfSubNavDesktopTopTab, .btf-sub-nav-desktop-tabs #btfSubNavDesktopTopTab, .btf-sub-nav-desktop-tabs .btfSubNavDesktopTopTab { background: rgb(248, 248, 248); width: fit-content; min-width: 45px; box-shadow: rgba(0, 0, 0, 0.03) 0px -6px 0px, rgba(0, 0, 0, 0.03) 0px 6px 0px; }

#btf-sub-nav-desktop-tabs #btf-sub-nav-desktop-wrapper, #btf-sub-nav-desktop-tabs .btf-sub-nav-desktop-wrapper, .btf-sub-nav-desktop-tabs #btf-sub-nav-desktop-wrapper, .btf-sub-nav-desktop-tabs .btf-sub-nav-desktop-wrapper { display: flex; overflow: hidden; }

#btf-sub-nav-desktop-tabs .sub-nav-desktop-tab, .btf-sub-nav-desktop-tabs .sub-nav-desktop-tab { display: table-cell; text-align: center; vertical-align: middle; margin-top: 6px; margin-bottom: 6px; }

#btf-sub-nav-desktop-tabs .sub-nav-desktop-tab .tab-content, .btf-sub-nav-desktop-tabs .sub-nav-desktop-tab .tab-content { display: inline-flex; overflow: hidden; flex-direction: column; position: relative; height: 40px; justify-content: center; padding: 0px 17px 6px 18px; text-overflow: ellipsis; white-space: nowrap; }

#btf-sub-nav-desktop-tabs .sub-nav-desktop-tab .top-tab-content, .btf-sub-nav-desktop-tabs .sub-nav-desktop-tab .top-tab-content { line-height: 0; }

#btf-sub-nav-desktop-tabs .sub-nav-desktop-tab.active, .btf-sub-nav-desktop-tabs .sub-nav-desktop-tab.active { font-weight: 700; padding-bottom: 0px; }

#btf-sub-nav-desktop-tabs .sub-nav-desktop-tab.active .tab-content, .btf-sub-nav-desktop-tabs .sub-nav-desktop-tab.active .tab-content { color: rgb(0, 113, 133); }

#btf-sub-nav-desktop-tabs .sub-nav-desktop-tab.active > ::after, .btf-sub-nav-desktop-tabs .sub-nav-desktop-tab.active > ::after { content: ""; display: block; border-top: 2px solid rgb(0, 113, 133); width: 100%; position: absolute; bottom: 0px; left: 0px; }

#btf-sub-nav-desktop-wrapper::after, .btf-sub-nav-desktop-wrapper::after { clear: none; }
