@charset "utf-8";

#multi-selection-experience { position: fixed; width: 605px; bottom: 0px; z-index: 290; margin: 0px; background-color: rgb(255, 255, 255); border-width: 0px; top: 0px; text-align: initial; font-size: 13px; color: rgb(17, 17, 17); transition: 0.5s; overflow: visible !important; }

.msx-selection-summary { background-color: rgb(249, 249, 249); height: 147px; box-shadow: rgba(0, 0, 0, 0.25) -3px 0px 6px; position: sticky; }

.msx-close-button { margin-right: 20px; margin-top: 16px; width: 26px; height: 26px; background-position: -368px -100px; cursor: pointer; }

#multi-select-experience-scroller { overflow: hidden auto !important; background: rgb(247, 250, 250) !important; }

.msx-subtotal-heading { display: inline; }

.msx-total-price { font-weight: 700; vertical-align: bottom; }

.msx-subtotal-summary-row { padding-top: 10px; }

.msx-atc-generic-btn-desktop { margin-right: 20px; float: right; width: 155px; }

.msx-add-to-cart-button-col { padding-top: 5px; margin-right: 0px; float: right; }

.msx-select-items-msg { line-height: 24px !important; }

.msx-total-save { line-height: 24px !important; }

.msx-summary-col { padding-left: 24px; }

.msx-atc-alert-msg { background-color: rgb(255, 255, 255); }

.msx-atc-warning { position: absolute; width: 100%; }

.msx-atc-warning-msg-box { margin-top: 8px; margin-left: 24px; margin-right: 24px; }

.msx-selection-summary-and-atc-warning-msg { position: sticky; top: 0px; z-index: 100000000; background: rgb(255, 255, 255); margin-bottom: 0px !important; }

.msx-overview-and-dimension-tree-container { background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.25) -3px 0px 6px; mix-blend-mode: normal; }

.msx-overview { padding-top: 32px; padding-left: 24px; padding-right: 24px; }

.msx-dimension-tree-indentation { position: relative; }

.msx-dimension-tree-indentation .a-section-expander-container { overflow: visible; }

.msx-dimension-details { display: flex; }

.msx-dimension-image-box { margin-right: 8px; background: rgba(255, 255, 255, 0.05); border: 1px solid rgb(152, 156, 162); border-radius: 2px; }

.msx-dimension-image { position: absolute; }

.msx-current-dimension-total-col { padding-top: 12px; text-align: right; float: right !important; }

.msx-current-dimension-total-price { font-size: 14px !important; }

.msx-current-dimension-totalunits-selected { font-size: 12px; padding-top: 12px; padding-left: 8px; white-space: nowrap; }

.msx-dimension-list-divider { border-top-color: rgb(213, 217, 217); }

.msx-dimension-content-section { display: flex; align-items: center; }

.msx-dimension-content { min-height: 50px; }

.msx-asin-details { height: 72px; }

.msx-asin-image-col { margin-right: 0px !important; }

.msx-asin-image { height: 72px; width: 70px; display: flex; align-items: center; }

.msx-asin-image-2 { height: 100px; width: 70px; display: flex; align-items: center; }

.msx-asin-image-3 { height: 80px; width: 70px; display: flex; align-items: center; }

.msx-asin-title-col { margin-top: 4%; margin-bottom: 8px; margin-left: 8px; }

.msx-asin-title { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; white-space: normal; }

.msx-qty-picker-col { margin-top: 20px; margin-left: 8px; }

.msx-qty-picker-input { float: left; width: 46px; font-size: 14px; }

.msx-qty-picker-input::-webkit-inner-spin-button, .msx-qty-picker-input::-webkit-outer-spin-button { appearance: none; margin: 0px; }

.msx-asin-variation-details { margin-top: 17px; margin-right: 8px; }

.msx-asin-price { display: flex; justify-content: flex-end; }

.msx-asin-tax-exclusive-text { float: right; text-align: right; }

.msx-asin-qty-unavailable { float: right; margin-top: 5px; }

.msx-child-variation-box { background: rgb(255, 255, 255); border: 1px solid rgb(230, 229, 229); border-radius: 3px; }

.msx-child-variation-box .a-box-inner { height: 72px; padding: 0px; }

.msx-child-variation-box-2 { height: 100px; }

.msx-child-variation-box-3 { height: 80px; }

.msx-asin-ppu-text { float: right; }

.msx-dimension-divider { border-top-color: rgb(213, 217, 217); }

.msx-child-variation-divider { border-top-color: rgb(213, 217, 217); }

.msx-child-variation-indentation { position: relative; }

.msx-dimension-indentation { position: relative; margin-left: 16px; }

.msx-dimension-list { margin-left: 24px; margin-right: 24px; }

.msx-expanded-dimension-content { padding-left: 0px !important; }

.msx-margin-top-12 { margin-top: 12px; }

.msx-margin-top-8 { margin-top: 8px; }

.msx-display-other-child-variations { margin-top: 12px; }

.msx-display-other-dimensions { margin-top: 12px; }

hr[class*="msx-see-all-options-dimension-divider"] { border-top-color: rgb(213, 217, 217); }

.msx-hidden { visibility: hidden; }

.msx-quantity-unavailable-container { width: 180px; position: absolute; background: rgb(255, 255, 255); border: 1.17px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 14px; border-radius: 4px; text-align: center; transform: translateY(31px); z-index: 100 !important; padding: 14px 18px 18px !important; }

.msx-qty-picker-container { width: 180px; position: absolute; background: rgb(255, 255, 255); border: 1.17px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 14px; border-radius: 4px; text-align: left; transform: translateY(31px); z-index: 100 !important; }

.msx-qty-picker-container-override { width: 230px; }

.msx-qty-picker-dropup { transform: translateY(calc(-100% + 1px)); }

.msx-qpt-ul { margin-left: 0px; }

.msx-qty-picker-dropdown-item { display: block; border-right: 1px solid rgb(188, 192, 195); border-bottom: 1px solid rgb(188, 192, 195); border-left: 1px solid rgb(188, 192, 195); border-image: initial; border-top: none; }

.msx-qty-picker-dropdown-item:hover { background-color: rgb(244, 244, 245); cursor: pointer; }

.msx-qty-picker-dropdown-item-active { border-color: rgb(188, 192, 195) rgb(188, 192, 195) rgb(188, 192, 195) rgb(199, 81, 31); border-left-width: 3px; border-left-style: solid; font-weight: 700; }

.msx-qty-picker-load-more { color: rgb(105, 105, 105); font-size: 12px; vertical-align: middle; text-align: center; padding: 10.5px 8px 10.5px 9px; }

.msx-qty-picker-spinner-wrapper { margin: 0px auto; display: table-cell; vertical-align: middle; text-align: center; padding: 14px !important; }

.msx-qty-picker-option { display: table; width: 100%; }

.msx-qty-picker-option-tier { vertical-align: middle; display: table-cell; color: inherit; width: 5%; padding-left: 10px; padding-right: 10px; text-align: left; line-height: 40px; font-size: 15px; }

.msx-qty-picker-option-price-msg { vertical-align: middle; color: inherit; display: table-cell; width: 95%; padding-right: 10px; float: right; text-align: right; margin-top: 7px; margin-bottom: 7px; }

.msx-qty-picker-option-price { color: inherit; font-size: 13px; margin-left: -10px; line-height: 15px; }

.msx-qty-picker-option-price-break-word { word-break: break-word; }

.msx-qty-picker-option-savings-msg { font-size: 12px; line-height: 15px; font-style: italic; font-weight: 400; margin-left: -30px; }

.msx-slot-data { margin-top: 6px; }

.msx-slot-data-1 { margin-top: 6px; }

.msx-slot-data-2 { margin-top: 12px; }

.msx-darken-background { opacity: 0.4; position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; background: rgb(0, 0, 0); z-index: 280; cursor: pointer; }
