@charset "utf-8";

.order-summary-module_orderInfo__oEkhk { display: flex; flex-direction: column; gap: 1.6rem; border-radius: 0.4rem; border: 0.1rem solid rgb(217, 217, 217); padding: 2rem; font-size: 1.4rem; line-height: 2rem; min-width: 35rem; max-width: 40rem; }

@media (max-width: 960px) {
  .order-summary-module_orderInfo__oEkhk { width: 100%; }
}

.order-summary-module_orderInfo__oEkhk .order-summary-module_orderInfoHeader__LvBCw { font-size: 1.6rem; line-height: 2.2rem; font-weight: 500; color: rgb(33, 32, 31); }

.order-summary-module_orderInfo__oEkhk .order-summary-module_orderInfoSection__ihO1y { display: flex; flex-direction: column; gap: 0.4rem; flex-grow: 1; max-width: 100%; width: 100%; line-height: 2rem; margin-bottom: 0.8rem; }

.order-summary-module_orderInfo__oEkhk .order-summary-module_orderInfoLabel__jLu9f { color: rgb(117, 117, 117); font-size: 1.4rem; line-height: 2rem; font-weight: 400; }

.order-summary-module_orderInfo__oEkhk .order-summary-module_divider__M-8eC { width: 100%; height: 0.1rem; display: block; background: rgb(217, 217, 217); border: none; }

.order-summary-module_orderInfo__oEkhk .order-summary-module_refundInfo__mJlCe { color: rgb(0, 0, 0); padding: 1.6rem; font-size: 1.4rem; line-height: 2rem; background: rgb(247, 247, 245); margin: 0.8rem 0px 0px; }
