@charset "utf-8";

.order-details-actions-module_actions__ZWshS { display: flex; gap: 1.6rem; margin-top: 1.2rem; }

@media (max-width: 960px) {
  .order-details-actions-module_actions__ZWshS { flex-direction: column; gap: 1.2rem; width: 100%; margin: 0px 0px 1.6rem; }
  .order-details-actions-module_actions__ZWshS:last-child { margin-bottom: 0px; }
}

.order-details-actions-module_actionsBtn__BROiS { display: flex; gap: 0.8rem; align-items: center; }
