@charset "utf-8";

.radioButton_radioWrapper__JdZOt { display: flex; gap: 1.7rem; align-items: center; margin-top: 1.8rem; }

.radioButton_radioWrapper__radioGroup__6_XIh { display: flex; align-items: center; }

.radioButton_radioWrapper__radioButtonLabel__iMtTj { margin-left: 0.4rem; font-weight: 400; font-size: 1.3rem; line-height: 1.9rem; }

.radioButton_radioWrapper__radioButtonLabel__iMtTj:hover { cursor: pointer; }

.radioButton_radioWrapper__radioButton__D4ayq { cursor: pointer; display: flex; align-items: center; }

.radioButton_radioWrapper__radioButtonInput__KlF_f { opacity: 0; position: absolute; background-color: transparent; }

.radioButton_radioWrapper__radioButtonControl__jLk6E { position: relative; display: grid; width: 12px; height: 12px; vertical-align: middle; background-color: inherit; color: rgb(189, 189, 188); border: 1px solid rgb(189, 189, 188); border-radius: 50%; place-content: center; }

@media screen and (max-width: 960px) and (min-width: 481px) {
  .radioButton_radioWrapper__radioButtonControl__jLk6E { width: 24px; height: 24px; }
}

.radioButton_radioWrapper__radioButtonInput__KlF_f:checked + .radioButton_radioWrapper__radioButtonControl__jLk6E::after { content: ""; display: block; width: 8px; height: 8px; background-color: rgb(33, 32, 31); border-radius: 50%; }

@media screen and (max-width: 960px) and (min-width: 481px) {
  .radioButton_radioWrapper__radioButtonInput__KlF_f:checked + .radioButton_radioWrapper__radioButtonControl__jLk6E::after { width: 16px; height: 16px; }
}

.radioButton_radioWrapper__radioButtonInput__KlF_f:checked + .radioButton_radioWrapper__radioButtonControl__jLk6E { border-color: rgb(189, 189, 188); }

.createReview_createReviewWrapper__Ntp1s { text-align: left; position: fixed; background-color: rgb(255, 255, 255); overflow-y: scroll; width: 86.8rem; padding-bottom: 2rem; box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 4px; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__Ntp1s { inset: 0px; height: auto; width: 37.5rem; }
}

.createReview_createReviewWrapper__header__TPbqV { padding-left: 13.3rem; font-family: grosa; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__header__TPbqV { padding: 0px 3rem; }
}

.createReview_createReviewWrapper__header__text__qsd9e { font-weight: 500; font-size: 3rem; line-height: 3.6rem; text-align: left; letter-spacing: 0.05em; text-transform: uppercase; margin-top: 5.3rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__header__text__qsd9e { margin-top: 4.4rem; font-size: 2.4rem; line-height: 3rem; }
}

.createReview_createReviewWrapper__content__LLEjq { padding-left: 13.3rem; margin-top: 6rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__LLEjq { padding: 0px 3rem; margin-top: 4.7rem; }
}

.createReview_createReviewWrapper__content__productDescription__IfePY { display: flex; }

.createReview_createReviewWrapper__content__productDescription__img__2_cQk { height: 7.9rem; width: 6.4rem; margin-right: 1rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__productDescription__img__2_cQk { width: 8rem; height: 10rem; }
}

.createReview_createReviewWrapper__content__productDescription__name__sEqY6 { flex-wrap: wrap; font-size: 1.6rem; line-height: 2.2rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__productDescription__name__sEqY6 { width: 19.8rem; }
}

.createReview_createReviewWrapper__content__productDescription__date__OoIj3 { margin-top: 1rem; font-size: 1.1rem; line-height: 1.7rem; }

.createReview_createReviewWrapper__content__starRating__SUp2_ { display: flex; margin-top: 2rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__starRating__SUp2_ { flex-direction: column; }
}

.createReview_createReviewWrapper__content__starRating__title__QX_ZN input { border: 0.1rem solid rgba(33, 32, 31, 0.3); width: 29.7rem; padding: 1.6rem; font-size: 1.3rem; line-height: 1.9rem; color: rgb(33, 32, 31); }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__starRating__title__QX_ZN input { width: 100%; }
}

.createReview_createReviewWrapper__content__starRating__labelContainer__YM7Ll { display: flex; flex-direction: column; }

.createReview_createReviewWrapper__content__starRating__title__QX_ZN input::placeholder { color: rgb(33, 32, 31); }

.createReview_createReviewWrapper__content__starRating__starsContainer__zF_Pt { margin-top: 1.9rem; font-size: 1.6rem; line-height: 2.2rem; display: flex; flex-direction: row; padding-left: 4.2rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__starRating__starsContainer__zF_Pt { font-size: 1.2rem; line-height: 1.6rem; display: flex; flex-direction: column; text-transform: uppercase; font-weight: 500; padding-left: 0px; letter-spacing: 0.06em; }
}

.createReview_createReviewWrapper__content__starRating__starsContainer__starRating__JeIyW { display: flex; flex-direction: column; }

.createReview_createReviewWrapper__content__starRating__starsContainer__starRating__stars__dgOg_ { margin-left: 1rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__starRating__starsContainer__starRating__stars__dgOg_ { margin-top: 1rem; margin-left: 0px; }
}

.createReview_createReviewWrapper__content__starRating__starsContainer__starRating__icon__GSHGM { width: 1.95rem; height: 1.86rem; margin-left: 0.25rem !important; margin-right: 0.3rem !important; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__starRating__starsContainer__starRating__icon__GSHGM { width: 1.95rem !important; height: 1.86rem !important; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__80Lu8 { margin-top: 6rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__80Lu8 { margin-top: 6.8rem; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__header__nPxYR { margin-bottom: 4rem; font-size: 1.8rem; line-height: 2.4rem; letter-spacing: 0.05em; font-weight: 500; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__header__nPxYR { margin-bottom: 2.1rem; font-size: 2.2rem; line-height: 2.8rem; letter-spacing: 0.06em; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__MRmWQ { width: 60.2rem; margin-right: 13.3rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__MRmWQ { margin-right: 0px; width: 100%; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row1__ug8XL { display: flex; flex-direction: row; justify-content: space-between; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__row1__ug8XL { flex-direction: column; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row1__inputWrapper__5JWQi { display: flex; flex-direction: column; margin-bottom: 1.5rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__row1__inputWrapper__5JWQi { margin-bottom: 2rem; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row1__inputWrapper__input__rTkbF input { width: 29.45rem; font-size: 1.3rem; line-height: 1.9rem; padding: 1.65rem 0px 1.65rem 1.6rem; border: 0.1rem solid rgba(33, 32, 31, 0.3); }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__row1__inputWrapper__input__rTkbF input { width: 100%; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row1__inputWrapper__input__rTkbF input::placeholder { color: rgb(33, 32, 31); }

.createReview_createReviewWrapper__content__aboutYouContainer__form__row2__input__y6bYI textarea { width: 60.2rem; height: 14.3rem; font-size: 1.3rem; line-height: 1.9rem; padding: 1.5rem 0px 0px 1.6rem; border: 0.1rem solid rgba(33, 32, 31, 0.3); }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__row2__input__y6bYI textarea { width: 100%; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row2__input__y6bYI textarea::placeholder { color: rgb(33, 32, 31); }

.createReview_createReviewWrapper__content__aboutYouContainer__form__row3__lPdlX { margin-top: 1.5rem; display: flex; flex-wrap: wrap; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__row3__lPdlX { margin-top: 2rem; flex-direction: column; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__Zm9Pi { display: flex; flex-direction: column; margin-bottom: 1.3rem; }

.createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__padding__i44vs { padding-left: 1.25rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__padding__i44vs { padding-left: 0px; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__select__BQdxk { font-size: 1.3rem; line-height: 1.9rem; padding: 1.6rem 1.4rem 1.6rem 1.1rem; border: 0.1rem solid rgba(33, 32, 31, 0.3); width: 19.2rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__select__BQdxk { width: 100%; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__icon__T2JVv { top: 2.3rem; right: 2.7rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__icon__T2JVv { right: 1.4rem; }
}

.createReview_createReviewWrapper__content__aboutProductContainer__lxZas { margin-top: 4.6rem; position: relative; }

.createReview_createReviewWrapper__content__aboutProductContainer__header__PSUvU { text-transform: uppercase; margin-bottom: 3.9rem; font-size: 1.8rem; line-height: 2.4rem; letter-spacing: 0.05em; font-weight: 500; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutProductContainer__header__PSUvU { margin-bottom: 3rem; font-size: 2.2rem; line-height: 2.8rem; letter-spacing: 0.06em; }
}

.createReview_createReviewWrapper__content__aboutProductContainer__selection__JEMSg { width: 60.2rem; margin-right: 13.3rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__aboutProductContainer__selection__JEMSg { margin-right: 0px; width: 100%; }
}

.createReview_createReviewWrapper__content__aboutProductContainer__selection__header__66Q9e { font-size: 1.2rem; line-height: 1.8rem; letter-spacing: 0.06em; font-weight: 500; text-transform: uppercase; margin-bottom: 2.9rem; padding-left: 0.2rem; }

.createReview_createReviewWrapper__content__recommendProductContainer__header__YoO1r { font-size: 1.2rem; line-height: 1.9rem; letter-spacing: 0.06em; font-weight: 500; text-transform: uppercase; }

.createReview_createReviewWrapper__content__recommendProductContainer__fieldset__fVdFu { border: 0px; padding: 0px; margin: 0px; }

.createReview_createReviewWrapper__content__sizeContainer__yvpqL { margin-top: 4.2rem; width: 61rem; display: flex; flex-wrap: wrap; justify-content: space-between; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__sizeContainer__yvpqL { flex-direction: column; padding-right: 0px; margin-top: 4.7rem; width: 100%; }
}

.createReview_createReviewWrapper__content__sizeContainer__dropdown__8KnIL { display: flex; flex-direction: column; margin-bottom: 2rem; }

.createReview_createReviewWrapper__content__sizeContainer__dropdown__select__kcHpE { padding: 1.7rem 2.4rem 1.6rem 1.1rem; border: 0.1rem solid rgba(33, 32, 31, 0.3); width: 29.8rem; font-size: 1.3rem; line-height: 1.9rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__sizeContainer__dropdown__select__kcHpE { width: 100%; }
}

.createReview_createReviewWrapper__content__sizeContainer__dropdown__icon__X3PG1 { top: 2.3rem; right: 2.7rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__sizeContainer__dropdown__icon__X3PG1 { right: 1.4rem; }
}

.createReview_createReviewWrapper__content__submitContainer__ltgir { margin-top: 2.2rem; display: flex; justify-content: space-between; padding-right: 11rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__submitContainer__ltgir { flex-direction: column; margin-top: 2rem; padding-right: 0px; }
}

.createReview_createReviewWrapper__content__submitContainer__upload__Ro_tC { cursor: pointer; display: flex; justify-content: center; align-items: center; text-align: center; padding-top: 1.4rem; font-size: 1.6rem; line-height: 2.2rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__submitContainer__upload__Ro_tC { margin-bottom: 3rem; padding-top: 0px; }
}

.createReview_createReviewWrapper__content__submitContainer__upload__text__mnzzn { border-bottom: 0.1rem solid rgb(33, 32, 31); padding-bottom: 0.2rem; }

.createReview_createReviewWrapper__content__submitContainer__cameraSvg__r0POs { margin-left: 1rem; height: 2.3rem; width: 3rem; }

.createReview_createReviewWrapper__content__submitContainer__submit__bN1OR { font-size: 1.4rem; line-height: 2rem; letter-spacing: 0.05em; font-weight: 500; padding: 2rem 0px; width: 35.9rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__content__submitContainer__submit__bN1OR { width: 100%; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__select__BQdxk div:first-child, .createReview_createReviewWrapper__content__sizeContainer__dropdown__select__kcHpE div:first-child { display: flex; justify-content: space-between; padding: 0px; }

.createReview_createReviewWrapper__circle1__1yqDW, .createReview_createReviewWrapper__circle2__JGp2j, .createReview_createReviewWrapper__circle3__pOhMR { width: 1.8rem; height: 1.8rem; border: 1px solid rgb(33, 32, 31); background-color: rgb(0, 0, 0); border-radius: 2rem; position: absolute; left: -1.2%; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__circle1__1yqDW, .createReview_createReviewWrapper__circle2__JGp2j, .createReview_createReviewWrapper__circle3__pOhMR { top: -30%; height: 2.7rem; width: 2.7rem; }
}

.createReview_createReviewWrapper__circle1__1yqDW { top: -0.6rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__circle1__1yqDW { top: -1.3rem; }
}

.createReview_createReviewWrapper__circle2__JGp2j { top: -0.6rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__circle2__JGp2j { top: -1.3rem; }
}

.createReview_createReviewWrapper__circle3__pOhMR { top: -0.6rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__circle3__pOhMR { top: -1.3rem; }
}

.createReview_createReviewWrapper__imagePreviewWrapper__B8GJh { margin-top: 2rem; padding-right: 13.3rem; position: relative; display: flex; justify-content: space-between; flex-wrap: wrap; }

.createReview_createReviewWrapper__imagePreviewWrapper__previewImageIcon__a3vQc { position: absolute; height: 1.5rem; width: 1.5rem; left: 22.6rem; background: rgb(255, 255, 255); }

.createReview_createReviewWrapper__imagePreviewWrapper__previewImage__ctZRm { max-width: 25rem; }

.createReview_createReviewWrapper__lengthWrapper__daPfU { margin-bottom: 6.4rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__lengthWrapper__daPfU { margin-bottom: 6.9rem; }
}

.createReview_createReviewWrapper__fitWrapper__UyFTL { margin-bottom: 7.8rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__fitWrapper__UyFTL { margin-bottom: 6.7rem; }
}

.createReview_createReviewWrapper__qualityWrapper__3TWME { margin-bottom: 7.6rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__qualityWrapper__3TWME { margin-bottom: 6.7rem; }
}

.createReview_createReviewWrapper__errorText__4nFwK { margin-top: 1rem; color: rgb(175, 53, 53); font-size: 1.4rem; font-weight: 400; }

.createReview_createReviewWrapper__error__G2K5c input, .createReview_createReviewWrapper__error__G2K5c textarea { border: 0.1rem solid rgb(175, 53, 53); }

.createReview_createReviewWrapper__quality__YWSHC { cursor: pointer; padding: 2rem; margin-top: -2rem; position: relative; }

.createReview_createReviewWrapper__quality__YWSHC:first-child div:nth-child(2) { text-align: left; width: 5rem; margin-left: 0.3rem; }

.createReview_createReviewWrapper__quality__YWSHC:nth-child(2) div:nth-child(2), .createReview_createReviewWrapper__quality__YWSHC:nth-child(3) div:nth-child(2), .createReview_createReviewWrapper__quality__YWSHC:nth-child(4) div:nth-child(2) { text-align: center; left: 0px; width: 5rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__quality__YWSHC:nth-child(4) div:nth-child(2) { left: 0.3rem; width: 4rem; }
}

.createReview_createReviewWrapper__quality__YWSHC:nth-child(5) div:nth-child(2) { text-align: right; right: 0.5rem; width: 6rem; }

.createReview_createReviewWrapper__fit__imAm4 { cursor: pointer; padding: 2rem; margin-top: -2rem; position: relative; }

.createReview_createReviewWrapper__fit__imAm4:first-child div:nth-child(2) { text-align: left; width: 3rem; margin-left: 0.3rem; }

.createReview_createReviewWrapper__fit__imAm4:nth-child(2) div:nth-child(2) { text-align: center; left: 0px; width: 5rem; }

.createReview_createReviewWrapper__fit__imAm4:nth-child(3) div:nth-child(2) { text-align: center; left: 0.9rem; width: 3rem; }

.createReview_createReviewWrapper__fit__imAm4:nth-child(4) div:nth-child(2) { text-align: center; left: 0px; width: 5rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__fit__imAm4:nth-child(4) div:nth-child(2) { left: 0.5rem; width: 4rem; }
}

.createReview_createReviewWrapper__fit__imAm4:nth-child(5) div:nth-child(2) { text-align: right; right: 0.4rem; width: 5rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__fit__imAm4:nth-child(5) div:nth-child(2) { width: 4rem; }
}

.createReview_createReviewWrapper__length__vlyJX { cursor: pointer; padding: 2rem; margin-top: -2rem; position: relative; }

.createReview_createReviewWrapper__length__vlyJX:first-child div:nth-child(2) { text-align: left; width: 3rem; margin-left: 0.3rem; }

.createReview_createReviewWrapper__length__vlyJX:nth-child(2) div:nth-child(2) { text-align: center; left: 0px; width: 5rem; }

.createReview_createReviewWrapper__length__vlyJX:nth-child(3) div:nth-child(2) { text-align: center; left: 0.9rem; width: 3rem; }

.createReview_createReviewWrapper__length__vlyJX:nth-child(4) div:nth-child(2) { text-align: center; left: 0px; width: 5rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__length__vlyJX:nth-child(4) div:nth-child(2) { left: 0.5rem; width: 4rem; }
}

.createReview_createReviewWrapper__length__vlyJX:nth-child(5) div:nth-child(2) { text-align: right; right: 0.4rem; width: 4rem; }

@media screen and (max-width: 960px) {
  .createReview_createReviewWrapper__length__vlyJX:nth-child(5) div:nth-child(2) { width: 4rem; }
}

.createReview_createReviewWrapper__content__aboutYouContainer__form__row3__dropdown__select__BQdxk div:first-child div:first-child, .createReview_createReviewWrapper__content__sizeContainer__dropdown__select__kcHpE div:first-child div:first-child { text-transform: capitalize; font-size: 1.3rem; line-height: 1.9rem; font-weight: 400; }

.optionSelectorWithLabel_fieldsetWrapper__NC7bv { display: flex; justify-content: space-between; margin: 0px; padding: 0px; border: 0px; position: relative; }

.optionSelectorWithLabel_fieldsetWrapper__NC7bv::before { content: " "; position: absolute; width: 100%; height: 2px; background: rgb(238, 238, 236); }

.optionSelectorWithLabel_legend__RAIxa { font-size: 1.2rem; line-height: 1.8rem; letter-spacing: 0.06em; font-weight: 500; text-transform: uppercase; margin-bottom: 2.9rem; padding-left: 0.2rem; }

.optionSelectorWithLabel_label__uMFCF { width: 5rem; font-size: 1.1rem; cursor: pointer; position: relative; top: -0.7rem; text-align: center; }

@media screen and (max-width: 960px) {
  .optionSelectorWithLabel_label__uMFCF { font-size: 0.9rem; line-height: 1.2rem; }
}

.optionSelectorWithLabel_label__uMFCF .optionSelectorWithLabel_rangeRadioInput__NAncT { display: block; margin-bottom: 2.5rem; }

.optionSelectorWithLabel_label__uMFCF .optionSelectorWithLabel_rangeRadioInput__NAncT::before { content: " "; height: 1.5rem; width: 1px; cursor: pointer; background: rgb(33, 32, 31); margin: auto; position: absolute; left: 50%; }

.optionSelectorWithLabel_label__uMFCF .optionSelectorWithLabel_rangeRadioInput__NAncT:checked::before { width: 1.8rem; height: 1.8rem; border-radius: 100%; }

@media screen and (max-width: 960px) {
  .optionSelectorWithLabel_label__uMFCF .optionSelectorWithLabel_rangeRadioInput__NAncT:checked::before { height: 2.7rem; width: 2.7rem; top: -0.6rem; }
}

.optionSelectorWithLabel_label__uMFCF:last-of-type { width: 3rem; text-align: right; }

.optionSelectorWithLabel_label__uMFCF:last-of-type .optionSelectorWithLabel_rangeRadioInput__NAncT::before { right: -1.4rem; }

.optionSelectorWithLabel_label__uMFCF:first-of-type { width: 3rem; text-align: left; }

.optionSelectorWithLabel_label__uMFCF:first-of-type .optionSelectorWithLabel_rangeRadioInput__NAncT::before { left: 0px; }

.optionSelectorWithLabel_label__uMFCF:first-of-type .optionSelectorWithLabel_rangeRadioInput__NAncT:checked::before { left: -0.7rem; }

.optionSelectorWithLabel_label__uMFCF:not(:first-of-type, :last-of-type) .optionSelectorWithLabel_rangeRadioInput__NAncT:checked::before { transform: translateX(-50%); }

.successPopUp_successPopUpWrapper__Gm9nM { position: fixed; background-color: rgb(255, 255, 255); overflow-y: scroll; width: 86.8rem; height: 31.8rem; }

@media screen and (max-width: 960px) {
  .successPopUp_successPopUpWrapper__Gm9nM { height: auto; width: 100%; }
}

.successPopUp_successPopUpWrapper__header__aALrl { font-family: grosa; }

.successPopUp_successPopUpWrapper__header__cross__dwQ_4 { position: absolute; top: 3.6rem; right: 3.2rem; }

@media screen and (max-width: 960px) {
  .successPopUp_successPopUpWrapper__header__cross__dwQ_4 { position: absolute; top: 2.3rem; right: 2.3rem; }
}

.successPopUp_successPopUpWrapper__header__cross__size__mnWPs { width: 1.45rem; height: 1.76rem; }

@media screen and (max-width: 960px) {
  .successPopUp_successPopUpWrapper__header__cross__size__mnWPs { width: 1.45rem; height: 1.45rem; }
}

.successPopUp_successPopUpWrapper__header__text__SZbvB { font-weight: 500; font-size: 3rem; line-height: 3.6rem; display: flex; justify-content: center; letter-spacing: 0.05em; text-transform: uppercase; margin-top: 5.3rem; }

@media screen and (max-width: 960px) {
  .successPopUp_successPopUpWrapper__header__text__SZbvB { font-size: 2.4rem; line-height: 3rem; margin: 4.4rem auto 0px; width: 25rem; text-align: center; }
}

.successPopUp_successPopUpWrapper__subHeader__ifIWd { text-align: center; margin-top: 1.4rem; font-size: 1.6rem; line-height: 2.2rem; }

@media screen and (max-width: 960px) {
  .successPopUp_successPopUpWrapper__subHeader__ifIWd { margin-top: 3.8rem; }
}

.successPopUp_successPopUpWrapper__submitContainer__4YeHv { display: flex; justify-content: center; margin-top: 5.1rem; }

@media screen and (max-width: 960px) {
  .successPopUp_successPopUpWrapper__submitContainer__4YeHv { margin-top: 2.9rem; }
}

.successPopUp_successPopUpWrapper__submitContainer__submit__r1qO2 { text-transform: uppercase; font-size: 1.4rem; line-height: 2rem; letter-spacing: 0.05em; font-weight: 500; width: 35.9rem; padding: 2rem 3rem; }

@media screen and (max-width: 960px) {
  .successPopUp_successPopUpWrapper__submitContainer__submit__r1qO2 { width: 31.6rem; }
}
