@charset "utf-8";

#gladlyChat_container .minimizedChatButton { appearance: none !important; -webkit-font-smoothing: inherit !important; align-items: center !important; background: transparent !important; border: none !important; box-shadow: inherit !important; color: inherit !important; cursor: pointer !important; display: flex !important; flex-direction: column !important; font-style: inherit !important; font-variant: inherit !important; font-weight: inherit !important; font-stretch: inherit !important; font-size: inherit !important; font-family: inherit !important; font-optical-sizing: inherit !important; font-size-adjust: inherit !important; font-kerning: inherit !important; font-feature-settings: inherit !important; font-variation-settings: inherit !important; height: 50px !important; justify-content: center !important; line-height: 16px !important; margin: 0px !important; min-width: 50px !important; overflow: visible !important; padding: 0px !important; position: relative !important; width: auto !important; }

#gladlyChat_container .minimizedChatButton:focus { box-shadow: none !important; }

#gladlyChat_container .minimizedChatButton_notification { align-self: flex-end !important; background-color: rgb(212, 36, 13) !important; border: 1px solid rgb(255, 255, 255) !important; border-radius: 10px !important; box-sizing: border-box !important; height: 10px !important; position: absolute !important; top: inherit !important; right: inherit !important; width: 10px !important; }

@media only screen and (max-device-width: 667px), screen and (max-width: 599px) {
  #gladlyChat_container .minimizedChatButton { margin-bottom: 10px !important; margin-left: 10px !important; margin-right: 10px !important; }
}

#gladlyChat_container .MinimizedChatButton__initialChatButton___ebuzV { border-radius: inherit !important; box-shadow: inherit !important; font-size: 14px !important; height: 50px !important; line-height: 16px !important; margin: 0px !important; min-width: 50px !important; padding: 0px 15px !important; appearance: none !important; }

#gladlyChat_container .MinimizedChatButton__chatButton_wrapper___ZRpb6:focus { box-shadow: none !important; outline: none !important; }

#gladlyChat_container .MinimizedChatButton__initialChatButton___ebuzV:focus { box-shadow: none !important; }

@media only screen and (max-device-width: 667px), screen and (max-width: 599px) {
  #gladlyChat_container .MinimizedChatButton__initialChatButton___ebuzV { margin-bottom: 10px !important; margin-left: 10px !important; margin-right: 10px !important; }
}
