@charset "utf-8";

.return-line-items-module_container__iAwB- { padding: 2.4rem 2rem; border: 1px solid rgb(217, 217, 217); font-family: grosa; width: 100%; font-size: 1.1rem; margin-top: 2.4rem; }

@media (max-width: 960px) {
  .return-line-items-module_container__iAwB- { padding: 2rem 1.6rem; }
}

.return-line-items-module_heading__ylcCM { font-size: 1.6rem; font-weight: 500; line-height: 2.2rem; margin-bottom: 1.6rem; }

.return-line-items-module_lineItems__3S0Kw { display: flex; flex-direction: column; gap: 2.4rem; }

.return-line-items-module_divider__vXQsr { background-color: rgb(217, 217, 217); height: 1px; width: 100%; margin: 2.4rem 0px; }
