@charset "utf-8";

.time-line-module_timelineContainer__w4xKp { display: flex; align-items: center; width: 84.8rem; justify-content: space-between; box-sizing: border-box; }

@media (max-width: 960px) {
  .time-line-module_timelineContainer__w4xKp { width: 100%; margin-bottom: 2.2rem; }
}

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC { display: flex; align-items: center; position: relative; margin-right: 0.8rem; font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; width: 100%; flex: 1 1 0%; }

@media (max-width: 960px) {
  .time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC { margin-right: 0px; }
}

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC:last-child { flex: 0 1 0%; margin-right: 0px; }

@media (max-width: 960px) {
  .time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC { font-size: 1.1rem; line-height: 1.7rem; text-align: center; }
}

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineDotChecked__ZbZrn, .time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineDotUnchecked__I7bXU { width: 1.5rem; height: 1.5rem; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-right: 0.8rem; position: relative; box-sizing: border-box; flex-shrink: 0; }

@media (max-width: 960px) {
  .time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineDotChecked__ZbZrn, .time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineDotUnchecked__I7bXU { margin-right: 0px; }
}

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineDotChecked__ZbZrn { border: 0.2rem solid rgb(45, 130, 43); z-index: 1; background-color: rgb(45, 130, 43); }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineDotUnchecked__I7bXU { border: 0.2rem solid rgb(217, 217, 217); z-index: 1; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineTitle__cLrg9 { color: rgb(117, 117, 117); text-align: left; margin-right: 1rem; white-space: nowrap; }

@media (max-width: 960px) {
  .time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineTitle__cLrg9 { display: none; }
}

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineTitle__active__LrgEC { color: rgb(45, 130, 43); }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineTitle__current__lXyKJ { font-weight: 500; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineTitleMob__hDiRB { display: none; color: rgb(117, 117, 117); }

@media (max-width: 960px) {
  .time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineTitleMob__hDiRB { white-space: nowrap; display: block; position: absolute; top: 2rem; left: 0rem; width: 100%; }
}

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineTitleMob__active__Go8A1 { color: rgb(45, 130, 43); }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineTitleMob__current__dv9w9 { font-weight: 500; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineLineWrapper__SoWOG { width: 100%; position: relative; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineLine__ZBXLG { background-color: rgb(217, 217, 217); height: 0.2rem; width: 100%; z-index: 0; flex: 1 1 0%; white-space: nowrap; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineLine__active__9F1mt { background-color: rgb(45, 130, 43); }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_timelineLineSelected__ICSlf { height: 0.2rem; width: 50%; z-index: 0; white-space: nowrap; position: absolute; top: 0px; background-color: rgb(45, 130, 43); }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC:nth-child(2) .time-line-module_timelineTitleMob__hDiRB { left: -2.2rem; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC:nth-child(3) .time-line-module_timelineTitleMob__hDiRB { left: -3.8rem; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC:last-child .time-line-module_timelineTitleMob__hDiRB { flex: 1 1 0%; left: -5.6rem; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC:last-child .time-line-module_timelineTitleMob__exchange__sMINh { left: -7rem; }

.time-line-module_timelineContainer__w4xKp .time-line-module_timelineItem__cS6bC .time-line-module_checkmark__aSBW8 { display: inline-flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
