@charset "utf-8";

.custom-drawer-module_drawerBackdrop__58ycH { position: fixed; top: 0px; left: 0px; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); display: none; justify-content: flex-end; z-index: 1000; transition: opacity 0.3s; pointer-events: none; }

.custom-drawer-module_drawerBackdrop__58ycH.custom-drawer-module_visible__W1zHX { display: flex; opacity: 1; pointer-events: all; }

@media (max-width: 960px) {
  .custom-drawer-module_drawerBackdrop__58ycH { background: none; justify-content: center; }
}

.custom-drawer-module_drawer__91-sy { position: fixed; top: 0px; right: -48rem; width: 48rem; height: 100vh; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) -2px 0px 5px; transition: right 0.3s; z-index: 1001; overflow: hidden; }

.custom-drawer-module_drawer__91-sy.custom-drawer-module_open__oGfhP { right: 0px; }

.custom-drawer-module_drawer__91-sy .custom-drawer-module_drawerContent__BvplB { padding: 1rem; height: 100vh; overflow: auto; }

.custom-drawer-module_drawer__91-sy .custom-drawer-module_closeIcon__ErW8p { display: none; width: 1.45rem; height: 1.45rem; }

@media (max-width: 960px) {
  .custom-drawer-module_drawer__91-sy { width: 100vw; height: 100vh; overflow: scroll; }
  .custom-drawer-module_drawer__91-sy .custom-drawer-module_drawerContent__BvplB { height: auto; padding: 2.4rem 3rem; }
  .custom-drawer-module_drawer__91-sy .custom-drawer-module_closeIcon__ErW8p { display: block; position: absolute; top: 2.4rem; right: 3rem; font-size: 1.5rem; cursor: pointer; color: rgb(51, 51, 51); }
}

.custom-drawer-module_noScroll__PY2Gz { overflow: hidden !important; }
