@charset "utf-8";

.returns-product-card-module_productCard__AIi3o { display: flex; flex-direction: column; overflow: hidden; background-color: rgb(255, 255, 255); cursor: pointer; }

.returns-product-card-module_imageWrapper__oEjnb { position: relative; width: 100%; aspect-ratio: 4 / 5; overflow: hidden; background-color: rgb(249, 249, 249); }

.returns-product-card-module_productImage__6T0lr { position: absolute; top: 0px; left: 0px; width: 100%; aspect-ratio: 4 / 5; object-fit: cover; }

.returns-product-card-module_noImage__Vu-Ns { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: rgb(153, 153, 153); font-size: 1.4rem; }

.returns-product-card-module_additionalTagContainer__Gie54 { position: absolute; bottom: 0.8rem; left: 0.6rem; display: flex; flex-direction: column; gap: 0.4rem; }

.returns-product-card-module_tagBadge__dBMIl { background-color: rgba(255, 255, 255, 0.7); color: rgb(33, 32, 31); padding: 0.5rem 0.95rem; font-size: 1.1rem; line-height: 1.1rem; letter-spacing: 0px; font-family: grosa; font-weight: 400; opacity: 0.7; }

.returns-product-card-module_productInfo__Pxr2S { padding-top: 1.2rem; }

.returns-product-card-module_productColors__AM002 { padding-left: 0.1rem; }

.returns-product-card-module_titleAndPrice__-M-Qd { display: flex; justify-content: space-between; font-family: grosa; font-weight: 400; font-size: 1.6rem; line-height: 2.2rem; letter-spacing: 0px; }

.returns-product-card-module_productTitle__HENxd { text-decoration: none; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow-wrap: anywhere; word-break: normal; color: rgb(33, 32, 31); font-size: 1.2rem; font-weight: 400; }

.returns-product-card-module_productPrice__reISq { font-size: 1.2rem; font-weight: 400; color: rgb(33, 32, 31); }

.returns-product-card-module_rating__NeRJF { display: flex; align-items: center; margin-bottom: 1rem; font-weight: 600; }

.returns-product-card-module_rating__NeRJF svg { width: 1.33rem; }

.returns-product-card-module_rating__NeRJF span { margin-top: 0.1rem; }

.returns-product-card-module_ratingStar__iucFg { margin-right: 0.4rem; }

.returns-product-card-module_ratingValue__dK1S7 { font-weight: 500; margin-left: 0.4rem; font-size: 1.2rem; line-height: 1.8rem; color: rgb(33, 32, 31); }

.returns-product-card-module_ratingCount__h3tns { font-size: 1.2rem; color: rgb(136, 136, 136); }

.returns-product-card-module_colorSwatches__rzjJh { display: flex; align-items: center; row-gap: 1rem; }

.returns-product-card-module_colorSwatch__TDXwp { display: flex; width: 100%; height: 100%; border-radius: 50%; cursor: pointer; outline: none; }

.returns-product-card-module_colorSwatchSelected__yrRp5 { display: flex; width: 100%; height: 100%; border-radius: 50%; border: 0.1rem solid rgb(33, 32, 31); background-color: rgb(255, 255, 255); }

.returns-product-card-module_colorOptionLabel__bd7h9 { max-width: 1.35rem; max-height: 1.35rem; border: 0.1rem solid rgb(33, 32, 31); background-color: rgb(255, 255, 255); border-radius: 50%; box-sizing: content-box; width: 2rem; height: 2rem; padding: 0.2rem !important; margin-right: 0.75rem !important; }

.returns-product-card-module_additionalColors__-sP15 { font-size: 1.2rem; color: rgb(102, 102, 102); }
