@charset "utf-8";

.custom-select-module_selectWrapper__vwCrJ { position: relative; box-sizing: border-box; cursor: default; }

.custom-select-module_styledSelect__bmv5r { display: flex; align-items: center; justify-content: space-between; padding-right: 1.8rem; height: 5.2rem; font-size: 1.3rem; line-height: 1.9rem; font-family: grosa; border: 0.1rem solid rgb(151, 151, 151); transition: border-bottom 0.2s; }

@media (max-width: 960px) {
  .custom-select-module_styledSelect__bmv5r { padding-right: 1.6rem; }
}

.custom-select-module_styledSelect__bmv5r svg { cursor: pointer; }

.custom-select-module_open__iz5p8 { border-bottom: 0.1rem solid transparent; }

.custom-select-module_dropdownPanel__wbhFc { display: none; position: absolute; top: 100%; z-index: 1000; overflow-y: scroll; box-sizing: border-box; padding: 0px 0px 1.6rem; max-height: 27rem; width: 100%; border-right: 0.1rem solid rgb(151, 151, 151); border-bottom: 0.1rem solid rgb(151, 151, 151); border-left: 0.1rem solid rgb(151, 151, 151); border-image: initial; border-top: none; background: rgb(255, 255, 255); }

.custom-select-module_dropDownOpen__thRCw { display: block; }

.custom-select-module_label__H7PRV { color: rgb(117, 117, 117); }

.custom-select-module_defaultOption__p1zSU, .custom-select-module_selectedOption__wcX-U, .custom-select-module_label__H7PRV, .custom-select-module_option__k3r5D { font-size: 1.2rem; padding: 0.6rem 1.6rem; }

@media (max-width: 960px) {
  .custom-select-module_defaultOption__p1zSU, .custom-select-module_selectedOption__wcX-U, .custom-select-module_label__H7PRV, .custom-select-module_option__k3r5D { font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; text-align: left; }
}

.custom-select-module_defaultOption__p1zSU { color: rgb(151, 151, 151); }

.custom-select-module_option__k3r5D { font-family: grosa; font-size: 1.3rem; line-height: 1.9rem; padding-top: 1rem; }

.custom-select-module_option__k3r5D:hover { background: rgb(227, 227, 227); }
