@charset "utf-8";

.line-item-thumbnail-module_content__iin7A { display: flex; gap: 1.2rem; }

.line-item-thumbnail-module_content__iin7A .line-item-thumbnail-module_productImg__pyTkg img { width: 8.27rem; height: 11rem; object-fit: cover; }

.line-item-thumbnail-module_content__iin7A .line-item-thumbnail-module_productDetail__AUeCy { color: rgb(33, 32, 31); flex: 1 1 0%; }

.line-item-thumbnail-module_content__iin7A .line-item-thumbnail-module_productDetail__AUeCy .line-item-thumbnail-module_productTitle__-j300 { margin: 0px 0px 0.4rem; font-family: grosa; font-size: 1.3rem; font-weight: 500; line-height: 1.9rem; text-align: left; }

@media (max-width: 960px) {
  .line-item-thumbnail-module_content__iin7A .line-item-thumbnail-module_productDetail__AUeCy .line-item-thumbnail-module_productTitle__-j300 { flex: 1 1 0%; }
}

.line-item-thumbnail-module_content__iin7A .line-item-thumbnail-module_productDetail__AUeCy .line-item-thumbnail-module_amount__BzKZ4 { margin: 0px 0px 0.8rem; font-family: grosa; font-size: 1.1rem; font-weight: 500; line-height: 1.4rem; text-align: left; }

.line-item-thumbnail-module_content__iin7A .line-item-thumbnail-module_productDetail__AUeCy .line-item-thumbnail-module_label__zXHMH { margin: 0px; font-family: grosa; font-size: 1.1rem; font-weight: 400; line-height: 1.4rem; text-align: left; }

.line-item-thumbnail-module_content__iin7A .line-item-thumbnail-module_productDetail__AUeCy .line-item-thumbnail-module_selectedLabel__WbybE p { background-color: rgb(238, 238, 236); padding: 0.4rem 0.8rem; font-family: grosa; font-size: 1.1rem; font-weight: 400; line-height: 1.4rem; margin-top: 1.6rem; display: inline-flex; margin-right: 1.2rem; }

.line-item-thumbnail-module_content__iin7A .line-item-thumbnail-module_productDetail__AUeCy .line-item-thumbnail-module_selectedLabel__WbybE a { border-bottom: 0.1rem solid rgb(33, 32, 31); font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; text-align: left; cursor: pointer; }
