@charset "utf-8";

.return-sidebar-module_wrapper__GnQPs { padding: 1rem 3.7rem; box-sizing: border-box; overflow-y: scroll; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_backArrow__d4hNw { margin-bottom: 2.4rem; cursor: pointer; width: 2.4rem; margin-left: auto; }

@media (max-width: 960px) {
  .return-sidebar-module_wrapper__GnQPs { padding: 0px; width: 100%; }
}

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_form__ay5aE .return-sidebar-module_returnInfo__F76QV { font-family: grosa; font-weight: 500; font-size: 1.6rem; line-height: 2.2rem; margin-bottom: 1.2rem; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_form__ay5aE .return-sidebar-module_returnInfoSubtext__U1Nt5 { font-family: grosa; font-weight: 400; font-size: 1.3rem; line-height: 1.9rem; margin-bottom: 2.4rem; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_form__ay5aE .return-sidebar-module_returnInfo__F76QV { font-family: grosa; font-weight: 500; font-size: 1.6rem; line-height: 2.2rem; margin-bottom: 1.2rem; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_form__ay5aE .return-sidebar-module_returnInfoSubtext__U1Nt5 { font-family: grosa; font-weight: 400; font-size: 1.3rem; line-height: 1.9rem; margin-bottom: 2.4rem; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_lineItem__eQwh5 { margin: 0px 2rem 2.9rem 0px; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_container__2C-hc { margin-bottom: 3.2rem; display: flex; flex-direction: column; box-sizing: border-box; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_container__2C-hc .return-sidebar-module_ratingBox__hbcn3 { display: flex; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_container__2C-hc .return-sidebar-module_ratingBox__hbcn3 .return-sidebar-module_qualityRate__uqhqP, .return-sidebar-module_wrapper__GnQPs .return-sidebar-module_container__2C-hc .return-sidebar-module_ratingBox__hbcn3 .return-sidebar-module_fitRate__c9wMI { display: flex; flex-direction: column; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_container__2C-hc .return-sidebar-module_ratingBox__hbcn3 .return-sidebar-module_qualityRate__uqhqP { margin-right: 4.8rem; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_container__2C-hc .return-sidebar-module_imgDescription__24oOV { font-size: 1.3rem; line-height: 1.9rem; margin-bottom: 1.8rem; font-family: grosa; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_text__CNvKo { font-size: 1.6rem; line-height: 2.2rem; font-family: grosa; margin: 0px 0px 1rem; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_textArea__l9Vf9 { height: 14.3rem; font-size: 1.3rem; padding: 1.5rem 1.2rem; font-family: grosa; box-sizing: border-box; border: 0.1rem solid rgb(151, 151, 151); }

@media (max-width: 960px) {
  .return-sidebar-module_wrapper__GnQPs .return-sidebar-module_textArea__l9Vf9 { height: 6.7rem; border-width: 0.15rem; }
}

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_charCount__ZKyxd { margin-left: auto; color: rgb(117, 117, 117); margin-top: 0.5rem; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_alert__Gt7yH { color: rgb(175, 53, 53); margin-top: 1rem; font-family: grosa; font-size: 1.1rem; font-weight: 400; line-height: 1.4rem; text-align: left; }

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_footer__7aTtV .return-sidebar-module_returnNote__ZCFRL { padding: 1.2rem; background-color: rgb(247, 247, 247); font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; text-align: left; margin: 1.6rem 0rem; box-sizing: border-box; }

@media (max-width: 960px) {
  .return-sidebar-module_wrapper__GnQPs .return-sidebar-module_footer__7aTtV .return-sidebar-module_returnNote__ZCFRL { width: 100%; }
}

.return-sidebar-module_wrapper__GnQPs .return-sidebar-module_buttonContainer__95p6R .return-sidebar-module_continueBtn__nynUK { width: 100%; height: 4.8rem; padding: 1.6rem 0rem; border-radius: 10rem; cursor: pointer; font-family: grosa; font-size: 1.2rem; font-weight: 500; line-height: 1.6rem; letter-spacing: 0.05em; text-align: center; color: rgb(255, 255, 255); background-color: rgb(33, 32, 31); margin-top: 1.6rem; }

@media (max-width: 960px) {
  .return-sidebar-module_wrapper__GnQPs .return-sidebar-module_buttonContainer__95p6R .return-sidebar-module_continueBtn__nynUK { width: 100%; }
}

@media (max-width: 960px) {
  .return-sidebar-module_wrapper__GnQPs { padding-bottom: 10rem; }
}

.return-sidebar-module_overlayDisabled__-4yMl { color: rgb(175, 53, 53); margin-bottom: 1rem; margin-left: 1rem; font-size: 1.2rem; text-align: left; display: flex; align-items: flex-start; cursor: pointer; }

.return-sidebar-module_overlayDisabled__-4yMl p { margin-left: 0.2rem; }

.return-sidebar-module_overlayDisabled__-4yMl svg { margin-top: 0.2rem; }

.return-sidebar-module_disabled__9sc0B { cursor: not-allowed; pointer-events: none; opacity: 0.5; }
