@charset "utf-8";

.cds-180 { border: none; height: 1px; margin: 0px; flex-shrink: 0; background-color: rgba(0, 0, 0, 0.12); }

.cds-181 { left: 0px; width: 100%; bottom: 0px; position: absolute; }

.cds-182 { margin-left: 72px; }

.cds-183 { background-color: rgba(0, 0, 0, 0.08); }

.cds-185 { width: 1px; height: 100%; }

.cds-186 { height: auto; align-self: stretch; }
