@charset "utf-8";

.cds-178 { inset: 0px; display: flex; z-index: -1; position: fixed; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.5); -webkit-tap-highlight-color: transparent; }

.cds-179 { background-color: transparent; }
