@charset "utf-8";

.cds-10 { width: 100%; display: flex; flex-wrap: wrap; box-sizing: border-box; }

.cds-11 { margin: 0px; box-sizing: border-box; }

.cds-12 { min-width: 0px; }

.cds-13 { flex-direction: column; }

.cds-14 { flex-direction: column-reverse; }

.cds-15 { flex-direction: row-reverse; }

.cds-16 { flex-wrap: nowrap; }

.cds-17 { flex-wrap: wrap-reverse; }

.cds-18 { align-items: center; }

.cds-19 { align-items: flex-start; }

.cds-20 { align-items: flex-end; }

.cds-21 { align-items: baseline; }

.cds-22 { align-content: center; }

.cds-23 { align-content: flex-start; }

.cds-24 { align-content: flex-end; }

.cds-25 { align-content: space-between; }

.cds-26 { align-content: space-around; }

.cds-27 { justify-content: center; }

.cds-28 { justify-content: flex-end; }

.cds-29 { justify-content: space-between; }

.cds-30 { justify-content: space-around; }

.cds-31 { justify-content: space-evenly; }

.cds-32 { width: calc(100% + 0px); margin: 0px; }

.cds-32 > .cds-11 { padding: 0px; }

.cds-33 { }

.cds-33 > .cds-11 { }

.cds-34 { }

.cds-34 > .cds-11 { }

.cds-35 { }

.cds-35 > .cds-11 { }

.cds-36 { }

.cds-36 > .cds-11 { }

.cds-37 { }

.cds-37 > .cds-11 { }

.cds-38 { }

.cds-38 > .cds-11 { }

.cds-39 { }

.cds-39 > .cds-11 { }

.cds-40 { }

.cds-40 > .cds-11 { }

.cds-41 { }

.cds-41 > .cds-11 { }

.cds-42 { }

.cds-42 > .cds-11 { }

.cds-43 { flex-grow: 0; max-width: none; flex-basis: auto; }

.cds-44 { flex-grow: 1; max-width: 100%; flex-basis: 0px; }

.cds-45 { flex-grow: 0; max-width: 8.33333%; flex-basis: 8.33333%; }

.cds-46 { flex-grow: 0; max-width: 16.6667%; flex-basis: 16.6667%; }

.cds-47 { flex-grow: 0; max-width: 25%; flex-basis: 25%; }

.cds-48 { flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%; }

.cds-49 { flex-grow: 0; max-width: 41.6667%; flex-basis: 41.6667%; }

.cds-50 { flex-grow: 0; max-width: 50%; flex-basis: 50%; }

.cds-51 { flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%; }

.cds-52 { flex-grow: 0; max-width: 66.6667%; flex-basis: 66.6667%; }

.cds-53 { flex-grow: 0; max-width: 75%; flex-basis: 75%; }

.cds-54 { flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%; }

.cds-55 { flex-grow: 0; max-width: 91.6667%; flex-basis: 91.6667%; }

.cds-56 { flex-grow: 0; max-width: 100%; flex-basis: 100%; }

@media (min-width: 600px) {
  .cds-57 { flex-grow: 0; max-width: none; flex-basis: auto; }
  .cds-58 { flex-grow: 1; max-width: 100%; flex-basis: 0px; }
  .cds-59 { flex-grow: 0; max-width: 8.33333%; flex-basis: 8.33333%; }
  .cds-60 { flex-grow: 0; max-width: 16.6667%; flex-basis: 16.6667%; }
  .cds-61 { flex-grow: 0; max-width: 25%; flex-basis: 25%; }
  .cds-62 { flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%; }
  .cds-63 { flex-grow: 0; max-width: 41.6667%; flex-basis: 41.6667%; }
  .cds-64 { flex-grow: 0; max-width: 50%; flex-basis: 50%; }
  .cds-65 { flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%; }
  .cds-66 { flex-grow: 0; max-width: 66.6667%; flex-basis: 66.6667%; }
  .cds-67 { flex-grow: 0; max-width: 75%; flex-basis: 75%; }
  .cds-68 { flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%; }
  .cds-69 { flex-grow: 0; max-width: 91.6667%; flex-basis: 91.6667%; }
  .cds-70 { flex-grow: 0; max-width: 100%; flex-basis: 100%; }
}

@media (min-width: 1024px) {
  .cds-71 { flex-grow: 0; max-width: none; flex-basis: auto; }
  .cds-72 { flex-grow: 1; max-width: 100%; flex-basis: 0px; }
  .cds-73 { flex-grow: 0; max-width: 8.33333%; flex-basis: 8.33333%; }
  .cds-74 { flex-grow: 0; max-width: 16.6667%; flex-basis: 16.6667%; }
  .cds-75 { flex-grow: 0; max-width: 25%; flex-basis: 25%; }
  .cds-76 { flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%; }
  .cds-77 { flex-grow: 0; max-width: 41.6667%; flex-basis: 41.6667%; }
  .cds-78 { flex-grow: 0; max-width: 50%; flex-basis: 50%; }
  .cds-79 { flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%; }
  .cds-80 { flex-grow: 0; max-width: 66.6667%; flex-basis: 66.6667%; }
  .cds-81 { flex-grow: 0; max-width: 75%; flex-basis: 75%; }
  .cds-82 { flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%; }
  .cds-83 { flex-grow: 0; max-width: 91.6667%; flex-basis: 91.6667%; }
  .cds-84 { flex-grow: 0; max-width: 100%; flex-basis: 100%; }
}

@media (min-width: 1440px) {
  .cds-85 { flex-grow: 0; max-width: none; flex-basis: auto; }
  .cds-86 { flex-grow: 1; max-width: 100%; flex-basis: 0px; }
  .cds-87 { flex-grow: 0; max-width: 8.33333%; flex-basis: 8.33333%; }
  .cds-88 { flex-grow: 0; max-width: 16.6667%; flex-basis: 16.6667%; }
  .cds-89 { flex-grow: 0; max-width: 25%; flex-basis: 25%; }
  .cds-90 { flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%; }
  .cds-91 { flex-grow: 0; max-width: 41.6667%; flex-basis: 41.6667%; }
  .cds-92 { flex-grow: 0; max-width: 50%; flex-basis: 50%; }
  .cds-93 { flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%; }
  .cds-94 { flex-grow: 0; max-width: 66.6667%; flex-basis: 66.6667%; }
  .cds-95 { flex-grow: 0; max-width: 75%; flex-basis: 75%; }
  .cds-96 { flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%; }
  .cds-97 { flex-grow: 0; max-width: 91.6667%; flex-basis: 91.6667%; }
  .cds-98 { flex-grow: 0; max-width: 100%; flex-basis: 100%; }
}

@media (min-width: 1920px) {
  .cds-99 { flex-grow: 0; max-width: none; flex-basis: auto; }
  .cds-100 { flex-grow: 1; max-width: 100%; flex-basis: 0px; }
  .cds-101 { flex-grow: 0; max-width: 8.33333%; flex-basis: 8.33333%; }
  .cds-102 { flex-grow: 0; max-width: 16.6667%; flex-basis: 16.6667%; }
  .cds-103 { flex-grow: 0; max-width: 25%; flex-basis: 25%; }
  .cds-104 { flex-grow: 0; max-width: 33.3333%; flex-basis: 33.3333%; }
  .cds-105 { flex-grow: 0; max-width: 41.6667%; flex-basis: 41.6667%; }
  .cds-106 { flex-grow: 0; max-width: 50%; flex-basis: 50%; }
  .cds-107 { flex-grow: 0; max-width: 58.3333%; flex-basis: 58.3333%; }
  .cds-108 { flex-grow: 0; max-width: 66.6667%; flex-basis: 66.6667%; }
  .cds-109 { flex-grow: 0; max-width: 75%; flex-basis: 75%; }
  .cds-110 { flex-grow: 0; max-width: 83.3333%; flex-basis: 83.3333%; }
  .cds-111 { flex-grow: 0; max-width: 91.6667%; flex-basis: 91.6667%; }
  .cds-112 { flex-grow: 0; max-width: 100%; flex-basis: 100%; }
}
