@charset "utf-8";

.balance-avatar .balance-avatar__emoji { width: 30px; height: 30px; }

.balance-avatar--sm .balance-avatar__emoji { width: 16px; height: 16px; }

.balance-avatar--lg .balance-avatar__emoji { width: 44px; height: 44px; }

.balance-avatar .tw-icon { margin: 0px; }

.balance-avatar .balance-avatar__icon { color: var(--color-dark-charcoal); }

.tw-badge-hover-fix { cursor: pointer; }

.tw-badge-hover-fix:hover .tw-avatar--outlined { border-color: var(--color-interactive-primary-hover); }

.tw-badge-flag-border .tw-badge__content::after { content: ""; position: absolute; width: 100%; height: 100%; border: 1px solid rgba(0, 0, 0, 0.08); border-radius: 50%; }

.tw-rate-graph_legend__gradient a { vertical-align: sub; }

.tw-rate-graph_legend__gradient svg { display: inline-block; height: 4px; margin-bottom: 2px; margin-right: 8px; width: 30px; }

@media (max-width: 576px) {
  .tw-rate-graph_legend__gradient { display: none; }
  .tw-rate-graph__description { text-align: center; }
}

.currency-pair-flags { height: 72px; width: 72px; }

.currency-pair-flags .currency-flag-container { height: 44px; position: absolute; width: 44px; }

.currency-pair-flags .target-currency-flag { left: 24px; top: 24px; }

.currency-pair-flags .currency-flag { border: 5px solid rgb(255, 255, 255); border-radius: 50%; height: 44px !important; width: 44px !important; }

.tw-fixed-height-loader { align-items: center; display: flex; height: 281px; justify-content: center; }

.tw-fixed-height-loader--mobile { height: 314px; }

.tw-rate-graph__description { text-align: left; }

.tw-rate-graph { display: inline-block; width: 100%; }

.grey-bg { background-color: var(--color-background-neutral); border-radius: var(--radius-small); padding: var(--size-8); }

.tw-rate-graph canvas { max-height: 350px; }

.tw-rate-graph__horizontal-label-left { float: left; }

.tw-rate-graph__horizontal-label-right { float: right; padding-right: 45px; }

.tw-rate-graph .np-chip { cursor: pointer; margin-bottom: 8px; }

.tw-rate-graph__horizontal-label-left, .tw-rate-graph__horizontal-label-right { color: var(--color-content-primary); font-family: Inter; }

.tw-rate-graph__footer { align-items: flex-end; display: flex; gap: var(--size-16); justify-content: space-between; padding-bottom: var(--size-16); }

@media (max-width: 576px) {
  .tw-rate-graph__footer { align-items: center; flex-direction: column; justify-content: center; }
}

.rate-graph-v2-positive-change { color: var(--color-content-positive); }

.rate-graph-v2-negative-change, .rate-graph-v2-positive-change { align-items: center; display: flex; height: 22px; justify-content: center; }

.rate-graph-v2-negative-change { color: var(--color-content-negative); }

.rate-change-icon { margin-right: 10px; }

.rate-info { align-items: flex-start; flex-direction: column; justify-content: center; }

.flag-section, .rate-info { display: flex; }

.flag-section { flex-direction: row; }

:root { --color-background-celebration: #ecf9f9; --color-content-celebration: #0b4c72; }

:root .np-theme-personal--dark { --color-background-celebration: #0e4242; --color-content-celebration: #a0e1e1; }

.AlertContent_alertContent { border-radius: var(--size-8); padding: var(--size-4) var(--size-8); gap: 0.4rem; cursor: default; }

.AlertContent_none { padding-left: 0px; color: var(--color-content-secondary); }

.AlertContent_celebration { background-color: var(--color-background-celebration); color: var(--color-content-celebration); }

.AlertContent_alertContentText { flex-grow: 1; }

.AlertContent_celebration .AlertContent_alertContentText {
  & * { color: var(--color-content-celebration) !important; }
}

.AlertContent_positive { background-color: var(--color-interactive-neutral); }

.AlertContent_positive .AlertContent_alertContentText {
  & * { color: var(--color-sentiment-positive) !important; }
}

.AlertContent_neutral { background-color: var(--color-background-neutral); }

.AlertContent_neutral .AlertContent_alertContentText {
  & * { color: var(--color-content-secondary) !important; }
}

.AlertContent_warning { background-color: var(--color-background-warning); }

.AlertContent_warning .AlertContent_alertContentText {
  & * { color: var(--color-content-secondary) !important; }
}

.AlertContent_negative { background-color: var(--color-background-negative); }

.AlertContent_negative .AlertContent_alertContentText {
  & * { color: var(--color-content-negative-active) !important; }
}

.np-theme-personal--dark .AlertContent_negative { background-color: var(--color-sentiment-negative-secondary); }

.np-theme-personal--dark .AlertContent_negative .AlertContent_alertContentText {
  & * { color: var(--color-sentiment-negative-primary) !important; }
}

.Animations_fadeIn { opacity: 0; animation: 0.2s ease-in 0s 1 normal forwards running Animations_fade-in; }

.Animations_shimmer { background-image: ; background-position-y: ; background-repeat: ; background-attachment: ; background-origin: ; background-clip: ; background-color: ; background-size: 200%; background-position-x: 100%; animation: 2s linear 0s infinite normal none running Animations_shimmer; }

.Animations_moveUp { animation: 0.3s ease 0s 1 normal forwards running Animations_move-up; }

@-webkit-keyframes Animations_move-up {
  0% { transform: translateY(8px); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1; }
}

@keyframes Animations_move-up {
  0% { transform: translateY(8px); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes Animations_shimmer {
  100% { background-position-x: -100%; }
}

@keyframes Animations_shimmer {
  100% { background-position-x: -100%; }
}

@-webkit-keyframes Animations_fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes Animations_fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.ContextualAlert_contextualAlertContent { font-weight: 500; }

.ContextualAlert_small {
  & * { font-size: var(--font-size-12) !important; }
}

.ContextualAlert_contextualAlertContent .tw-alert-content-icon { margin-top: 2px; }

.ContextualAlert_contextualAlertShimmer { border-radius: var(--size-8); }

.StandaloneAlert_alertContent .tw-alert-content-icon { margin-top: 3px; }

.StandaloneAlert_alertContent { width: 100%; }

.StandaloneAlert_standaloneAlertShimmer { border-radius: var(--radius-medium); }

.ChevronButtonContent_chevronButtonContent { gap: 0.4rem; flex-shrink: 0; }

.UnstyledButton_unstyledButton:focus-visible { outline: var(--ring-outline-color) solid var(--ring-outline-width); outline-offset: var(--ring-outline-offset); }

.Shimmers_shimmerBox { border: 1px solid var(--color-border-neutral); overflow: hidden; border-radius: var(--radius-small); position: relative; padding: var(--size-16); margin-top: 4px; }

.Shimmers_iconCircle { border-radius: 50%; height: var(--size-48); width: var(--size-48); }

.Shimmers_actionButton { height: 30px; width: 75px; }

.Shimmers_actionButton, .Shimmers_promptButton { padding: var(--size-8) var(--size-12) var(--size-8); border-radius: var(--radius-large); }

.Shimmers_promptButton { height: var(--size-40); width: 100%; }

.Shimmers_paragraphText { height: 20px !important; margin-top: 8px; }

.Shimmers_borderRadius { border-radius: 2px; }

.Shimmers_optionListItemMedia { width: 100%; }

.TextShimmer_textShort { height: var(--size-12); width: var(--size-72); display: inline-block; }

.TextShimmer_textMedium { width: var(--size-128); }

.TextShimmer_textLong, .TextShimmer_textMedium { height: var(--size-12); margin-bottom: var(--size-4); }

.TextShimmer_textLong { width: 200px; }

.TextShimmer_textExtraLong { height: var(--size-12); width: 256px; }

.OptionListItem_subtitle {
  & * { color: var(--color-content-secondary); font-size: var(--font-size-12); }
}

.OptionListItem_muted .media-body .option-list-item-body, .OptionListItem_muted .media-left { filter: grayscale(1); opacity: 0.45; pointer-events: none; }

.OptionListItem_removeHover:hover { background-color: transparent !important; cursor: default; }

.OptionListItem_optionListItem .np-text-link-default, .OptionListItem_optionListItem a { pointer-events: auto; }

.ResponsiveModal_footer { border-top: 1px solid var(--color-border-neutral); padding: var(--size-24) 0 var(--size-8) 0; }

.SentimentText_positiveLabel {
  color: var(--color-interactive-primary) !important;
  & * { color: var(--color-interactive-primary) !important; }
}

.SentimentText_warningLabel {
  color: var(--color-sentiment-warning) !important;
  & * { color: var(--color-sentiment-warning) !important; }
}

.SentimentText_negativeLabel {
  color: var(--color-sentiment-negative) !important;
  & * { color: var(--color-sentiment-negative) !important; }
}

.SentimentText_celebrationLabel {
  color: var(--color-content-celebration) !important;
  & * { color: var(--color-content-celebration) !important; }
}

.DynamicFlowContainer_loader { min-height: 300px; display: flex; justify-content: center; align-items: center; }

.ErrorComponent_error { width: 100%; max-width: 600px; margin-top: 12vh; }

.TextLabel_discountLabel {
  color: var(--color-sentiment-positive);
  & * { color: var(--color-sentiment-positive); }
}

.FeeBreakdown_dashedLine { flex-basis: 100%; height: 1px; overflow: hidden; }

.FeeBreakdown_dashedLine hr { border-top: 0px; border-right: 0px; border-left: 0px; border-image: initial; border-bottom: 3px dashed var(--color-border-neutral); }

.FeeBreakdown_feeBreakdownNotice .alert { margin-bottom: 0px !important; }

.FeeBreakdown_feeBreakdownNotice .alert .status-circle { display: none !important; }

.FeeBreakdown_feeBreakdownNotice .alert .alert__message { padding-left: 0px !important; }

.FeeBreakdown_feeBreakdownNotice .alert a, .FeeBreakdown_feeBreakdownNotice .alert button, .FeeBreakdown_feeBreakdownNotice .alert h4, .FeeBreakdown_feeBreakdownNotice .alert span { font-size: var(--font-size-14) !important; }

.FeeBreakdown_celebrationItem { background-color: var(--color-background-celebration); border-radius: var(--size-8); padding: var(--size-4) var(--size-8); font-weight: 700; }

.Table_tableContainer { border: 1px solid var(--color-border-neutral); border-radius: var(--radius-medium); }

.Table_tableRow { border-bottom: 1px solid var(--color-border-neutral); min-height: var(--size-40); }

.Table_tableRow:last-child { border-bottom: none; }

.Table_tableRowHighlighted { border-bottom: none; border-radius: var(--radius-small); }

.Table_tableRowHighlightedPositive { background-color: var(--color-interactive-neutral); }

.Table_tableRowHighlightedCelebration { background-color: var(--color-background-celebration); }

.Table_tableRow:has(+ .Table_tableRowHighlighted) { border-bottom: none; }

.FeeAdjustmentsBreakdownTable_table { font-size: var(--size-14); }

.FeeAdjustmentsBreakdownTable_tableRow { display: grid; grid-template-columns: 1fr auto 1fr; gap: var(--size-8); align-items: center; }

.FeeAdjustmentsBreakdownTable_tableRow.FeeAdjustmentsBreakdownTable_twoChildren { grid-template-columns: 1fr 1fr; }

.FeeAdjustmentsBreakdownTable_tableRow :first-child { justify-self: start; }

.FeeAdjustmentsBreakdownTable_percentage { justify-self: center; }

.FeeAdjustmentsBreakdownTable_tableRow :last-child { justify-self: end; }

@media screen and (min-width: 481px) {
  .FeeAdjustmentsBreakdownTable_tableRow { grid-template-columns: minmax(100px, auto) 1fr minmax(100px, auto); gap: var(--size-16); }
  .FeeAdjustmentsBreakdownTable_tableRow.FeeAdjustmentsBreakdownTable_twoChildren { grid-template-columns: minmax(100px, auto) 1fr; }
  .FeeAdjustmentsBreakdownTable_percentage { justify-self: end; }
}

.FieldMessage_fieldMessage { padding: var(--size-4) var(--size-8); background-color: var(--color-background-celebration); border-radius: var(--size-4); }

.FieldMessage_celebration, .FieldMessage_celebration * { color: var(--color-content-celebration) !important; }

.PaymentMethod_muted .media-body, .PaymentMethod_muted .media-left { filter: grayscale(1); opacity: 0.45; }

.PaymentMethod_noAction { pointer-events: none; }

.PaymentMethod_rounded { border-radius: var(--radius-small); }

.PaymentMethod_field .alert.alert-detach a, .PaymentMethod_field .alert.alert-detach a:focus, .PaymentMethod_field .alert.alert-detach a:hover, .PaymentMethod_field .alert.alert-detach button, .PaymentMethod_field .alert.alert-detach button:focus, .PaymentMethod_field .alert.alert-detach button:hover { color: inherit !important; }

.ComparisonTable_nudge { background-color: var(--color-background-neutral); border-radius: var(--radius-medium); padding: var(--size-16); }

.ComparisonTable_providerImage { width: 90px; height: 20px; margin: var(--size-24) 0; background-size: contain; background-repeat: no-repeat; background-position: 0px center; }

.ComparisonTable_providerImageGrey { filter: invert(100%) grayscale(100%) opacity(70%); }

.ComparisonTable_providerImageBlue { filter: invert(70%) sepia(15%) saturate(2000%) hue-rotate(165deg) brightness(80%) contrast(90%); }

.ComparisonTable_disclaimer a { color: var(--color-content-tertiary); font-weight: 500; }

.ComparisonTable_disclaimer { text-align: center; }

.RateDetails_divider { border-right: solid; border-bottom: solid; border-left: solid; border-image: initial; border-top: 4px; color: var(--color-background-neutral); margin: 2px -24px; }

.RateDetails_rateLabelSubtext, .RateDetails_tertiaryText { color: var(--color-content-tertiary); }

.RateShimmerWrapper_rateWrapper { align-items: center; }

@media (max-width: 576px) {
  .RateShimmerWrapper_rateWrapper { align-items: start; }
}

.RateShimmerWrapper_hideText, .RateShimmerWrapper_hideText * { color: transparent !important; }

.RateShimmerWrapper_textWrapper { height: 22px; }

.RateShimmerWrapper_text { border-radius: 5px; }

.RateShimmerWrapper_buttonWrapper { height: 32px; }

.RateShimmerWrapper_fades { transition: opacity 0.2s; }

.RateShimmerWrapper_show { opacity: 1; }

.RateShimmerWrapper_hide { opacity: 0; }

.Schedule_scheduleButton { width: var(--size-48); }

.Title_title { transition: transform 0.3s, -webkit-transform 0.3s; }

.Title_hasRateLabel { transform: translateY(0px); }

.Title_hasRate { transform: translateY(var(--size-24)); }

.Title_noRate { transform: translateY(var(--size-64)); }

.Continue_continueHint { position: relative; overflow: hidden; border-radius: var(--radius-large); padding: 0px 5px 5px; transition: padding 0.2s ease-in; }

.Continue_continueContainer { display: flex; justify-content: flex-end; }

.Continue_continueHintPlaceholder { min-height: 90px; }

.Continue_continueContainer::before { content: ""; }

.Continue_continueHint::before { content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: var(--color-background-neutral); border-radius: inherit; animation: 0.5s cubic-bezier(0.3, 1, 0.5, 1) 0s 1 normal forwards running Continue_slideUp; }

.Continue_continueHintPositive::before { background-color: rgb(233, 247, 225); }

.np-theme-personal--dark .Continue_continueHintPositive::before { background-color: var(--color-interactive-control); }

.Continue_continueHintText { opacity: 0; animation: 0.5s cubic-bezier(0.3, 1, 0.5, 1) 0.1s 1 normal forwards running Continue_slideUp, 0.1s ease-in 0.1s 1 normal forwards running Continue_fadeIn; text-align: center; padding: 12px 8px 8px; color: var(--color-content-primary); }

.Continue_continueButtonContainer { opacity: 1; }

@-webkit-keyframes Continue_slideUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0px); }
}

@keyframes Continue_slideUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes Continue_fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes Continue_fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.ModalHeader_modalTitle { color: var(--color-content-primary); }

.BalanceList_group { overflow: hidden; margin: 0 0 var(--size-16) 0; padding: var(--size-16); border: 1px solid var(--color-border-neutral); border-radius: var(--radius-medium); }

@media (max-width: 576px) {
  .BalanceList_group { padding: 0px; }
}

.BalanceList_groupTitle { margin-top: ; margin-right: ; margin-left: ; margin-bottom: var(--size-8); }

.BalanceSelectionModal_backContainer { position: absolute; top: var(--size-24); }

.BalanceSelectionModal_animationContainer { position: relative; overflow: hidden; margin: 0px -24px; }

.BalanceSelectionModal_animationChild { width: 100%; padding: 0px 24px; }

.CurrencySelector_currencySelector {
  &:disabled { opacity: 1 !important; cursor: auto !important; mix-blend-mode: normal !important; }
}

.AmountInput_container { width: 100%; }

.AmountInput_inputContainer { display: flex; justify-content: right; width: 100%; transition: font-size 0.4s cubic-bezier(0.3, 0, 0.1, 1), height 0.4s cubic-bezier(0.3, 0, 0.1, 1), margin-top 0.4s cubic-bezier(0.3, 0, 0.1, 1), color 0.4s; color: var(--color-interactive-primary); overflow: hidden; margin-bottom: 0px !important; }

@media (prefers-reduced-motion: reduce) {
  .AmountInput_inputContainer { transition: none; }
}

.AmountInput_input {
  border: none; outline: none; flex-grow: 1; text-align: right; background-color: transparent;
  &:focus-visible { outline: none; }
}

.AmountInput_placeholder { flex-grow: 0; display: flex; align-items: center; }

.AmountInput_placeholderFocus { color: var(--color-content-tertiary); }

.AmountInput_inputMask span { display: contents; }

.Chevron_container { width: 32px; overflow: hidden; color: var(--color-interactive-primary); margin-left: var(--size-8); transition: width 0.3s; }

.Chevron_chevronHidden { width: 0px; }

.MoneyInput_container { display: flex; }

.MoneyInput_currencySelector { flex-shrink: 0; margin-right: var(--size-24); }

.MoneyInput_chevron { transform: translateY(-5%); }

.MoneyInputField_label { font-weight: var(--font-weight-regular); }

.ModalContentRenderer_modalContent .tw-modal-dialog.tw-modal-md { --modal-md-width: 540px; --side-margin: 24px; width: calc(var(--modal-md-width) - 2 * var(--side-margin)); }

.PaymentMethod_noAction2 { pointer-events: none; }

.Rate_verticalLine { width: 1px; height: 20px; background-color: var(--color-border-neutral); }

.Rate_rateButton { overflow: hidden; height: var(--size-40); padding-left: var(--size-16); }

.Prompt_prompt { border-radius: var(--radius-small); row-gap: var(--size-16); }

.Prompt_celebration { background-color: var(--color-background-celebration); }

.Prompt_positive { background-color: var(--color-interactive-neutral); }

.Prompt_none { border: 1px solid var(--color-border-neutral); }

.Prompt_promptTop { column-gap: var(--size-16); }

.Prompt_promptText { row-gap: var(--size-4); }

.Prompt_promptLabel a, .Prompt_promptLabel strong { color: var(--color-content-secondary) !important; }

.Prompt_promptMedia { max-width: var(--size-64) !important; }

.Prompt_promptActions { width: 100%; column-gap: var(--size-8); row-gap: var(--size-8); flex-wrap: wrap; }

.Prompt_promptAction { height: var(--size-40); flex: 1 1 0%; }

.Actions_actionsContainer { container: Actions_actions-container / inline-size; }

.Actions_actions {
  display: flex; gap: var(--size-8);
  & > * { flex: 1 1 50%; }
}

@container Actions_actions-container (max-width: 400px) {
  .Actions_actions {
  flex-wrap: wrap;
  & > * { flex-basis: 100%; flex-shrink: 0; }
}
}

.Fees_container { border: 1px solid var(--color-border-neutral); border-radius: var(--radius-small); padding: var(--padding-small) 0; }

.Fees_row {
  margin: 0 var(--padding-small);
  & > :last-child * { text-align: right; }
}

.Fees_divider { margin: calc(var(--padding-small) / 2) var(--padding-small); }

.Fees_adjustmentsDivider { margin: var(--padding-small) calc(var(--padding-small) / 2); }

.Fees_highlightedRow { margin: 0 calc(var(--padding-small) / 2); border-radius: var(--radius-small); }

.Fees_celebrationRow {
  color: var(--color-content-celebration) !important; background-color: var(--color-background-celebration);
  & * { color: var(--color-content-celebration) !important; }
}

.Fees_positiveRow {
  color: var(--color-sentiment-positive) !important; background-color: var(--color-interactive-neutral);
  & * { color: var(--color-sentiment-positive) !important; }
}

.Fees_inlineNotice { margin-top: var(--size-4); margin-left: var(--padding-small); }

.Fees_adjustment, .Fees_adjustment:active, .Fees_adjustment:focus, .Fees_adjustment:hover { text-decoration: none; }

.tapestry-wrapper { margin: 0px auto; position: relative; z-index: 1; padding-bottom: var(--size-16); }

.tapestry-wrapper > :first-child { height: 50px; width: 100%; position: absolute; bottom: 0px; left: 0px; z-index: -1; border-radius: 0 0 var(--size-32) var(--size-32); background-color: var(--color-bright-orange); background-position: center bottom; background-repeat: no-repeat; background-size: cover; }

.tapestry-wrapper > :last-child { background-color: var(--color-white); border-radius: var(--size-32); color: var(--color-content-primary); display: flex; flex-direction: column; justify-content: center; padding: var(--padding-small); z-index: 2; }

@media (min-width: 768px) {
  .tapestry-wrapper > :last-child { padding: var(--padding-large); }
}

.tapestry-card-content { width: 100%; margin: 0px auto; }

.bg-tapestry-1 { background-image: url("/static-assets/app/_next/static/media/tapestry-1.0afdd966.jpg"); }

.bg-tapestry-2 { background-image: url("/static-assets/app/_next/static/media/tapestry-2.9780da73.jpg"); }

.bg-tapestry-3 { background-image: url("/static-assets/app/_next/static/media/tapestry-3.623fdb4e.jpg"); }

.bg-tapestry-4 { background-image: url("/static-assets/app/_next/static/media/tapestry-4.b0800cd9.jpg"); }

.bg-tapestry-5 { background-image: url("/static-assets/app/_next/static/media/tapestry-5.89918f16.jpg"); }

.bg-tapestry-6 { background-image: url("/static-assets/app/_next/static/media/tapestry-6.398e20a0.jpg"); }

.bg-tapestry-7 { background-image: url("/static-assets/app/_next/static/media/tapestry-7.cc744e09.jpg"); }

.bg-tapestry-8 { background-image: url("/static-assets/app/_next/static/media/tapestry-8.be9dff6f.jpg"); }

.bg-tapestry-9 { background-image: url("/static-assets/app/_next/static/media/tapestry-9.1dc5eecc.jpg"); }

.bg-tapestry-10 { background-image: url("/static-assets/app/_next/static/media/tapestry-10.533cc236.jpg"); }
