@charset "utf-8";

.hp-sidebar--right { display: flex; flex-direction: column; height: 100%; }

.hp-sidebar__reviews { margin-bottom: var(--bui_spacing_4x); overflow: hidden; }

.hp-sidebar__reviews .hp-gallery-review { position: initial; }

.hp-sidebar__reviews #reviewFloater { float: none; padding: 0px; width: 100%; }

.hp-sidebar__reviews #reviewFloater .featured_review_score, .hp-sidebar__reviews .external_reviews_popover { float: none; margin-bottom: 0px; padding: var(--bui_spacing_3x); width: 100%; }

.hp-sidebar__reviews .external_reviews_popover { width: auto; }

.hp-sidebar__reviews .featured_review_score .big_review_score_detailed { clear: initial; float: none; }

.hp-sidebar__reviews .reviews-carousel { width: 100%; }

.hp-sidebar__reviews .best-review-score { margin: 0px; padding: var(--bui_spacing_3x); }

.hp-sidebar__reviews .best-review-score.inferred-location-score { margin: 0px; padding: 0px; }

.hp-sidebar__map { flex: 1 1 0%; height: auto; overflow: hidden; }
