@charset "utf-8";

.fb9e45ce16 { color: var(--bui_color_foreground_alt); }

.c30937829c { color: var(--bui_color_foreground_alt); padding-top: var(--bui_spacing_2x); }

.ef7d0e3990 svg { fill: var(--bui_color_white); }

.b0a21c0034 { padding: var(--bui_spacing_6x); }

.dab715acff { padding: 0 var(--bui_spacing_6x) var(--bui_spacing_6x); }

.b4fd706950 { padding-left: var(--bui_spacing_6x); }

.b409202e89, .b14e98a555 { padding: var(--bui_spacing_2x) 0 0; margin: 0px; }

.c22da3d96a { margin-top: -20px; }

.cfe5ba0b22 { width: fit-content !important; }

.d49f691d84 { fill: var(--bui_color_callout_border); }

.a77bb4c7a0 { fill: var(--bui_color_border_disabled); }

.bc1f09aaf3 { padding-inline-start: 20px; }

.dad08b1483, .dad08b1483:hover { color: var(--bui_color_brand_primary_background); }

.d63c6625d6 { fill: var(--bui_color_callout_border); }

.a43a7c3aa0 { padding-top: var(--bui_spacing_2x); }

.a5dfe982d0 { margin-left: calc(var(--bui_spacing_2x) * -1) !important; }
