@charset "utf-8";

.b8d1620349 { width: var(--bui_spacing_3x); vertical-align: middle; }

.d838fb5f41 { display: inline-block; vertical-align: middle; }

.aea5eccb71 { margin-left: var(--bui_spacing_1x); }

.a787c7cca4 { margin-right: var(--bui_spacing_2x); color: var(--bui_color_foreground); }

.d1b3e86ac7 { display: flex; flex-wrap: wrap; gap: var(--bui_spacing_2x); }

.d1b3e86ac7 > picture { cursor: pointer; }

.bbd86c3e1a { position: relative; cursor: pointer; }

.ec9f0eafa4 { position: absolute; z-index: var(--bui_z_index_1); color: var(--bui_color_foreground_inverted); height: 100%; width: 100%; background-color: var(--bui_color_black_with_alpha); display: flex; justify-content: center; align-items: center; }

.fe12c26831 > div { position: relative; }

.fe12c26831 ul { background: var(--bui_color_black); }

.fe12c26831 img { margin: 0px auto; }

.aa288b9eb5, .f818d1c7d6 { position: absolute; z-index: var(--bui_z_index_1); top: calc(50% - 18px); }

.aa288b9eb5 { left: var(--bui_spacing_2x); }

.f818d1c7d6 { right: var(--bui_spacing_2x); }

.c347ce0d41, .aa5eb2c7d4 { display: flex; align-items: center; column-gap: var(--bui_spacing_4x); row-gap: var(--bui_spacing_1x); }

.aa5eb2c7d4 { flex-wrap: wrap-reverse; }

.a2a5c6c692 { display: flex; gap: var(--bui_spacing_2x); align-items: center; }

.a9ee5f248d { margin-top: 2px; }

.efd2e59363 { display: flex; flex-direction: row; align-items: flex-start; }

.c3518b180d { flex-shrink: 1; padding-top: var(--bui_spacing_half); }

.f05ac105fa { width: var(--bui_spacing_2x); flex-shrink: 0; }

.ea9fc823c1 { flex-grow: 1; line-height: 1; }

[dir="rtl"] .cdfaba8937 { direction: rtl; text-align: right; }

[dir="rtl"] .a17eaf5728 { direction: ltr; text-align: left; }

.d14152e7c3 { white-space: pre-line; word-break: break-word; }

.ab40723ad4 { position: relative; }

.ab40723ad4 ul { margin-bottom: 0px; }

.acd00e30ad { color: var(--bui_color_foreground); }

.a13e4894a3 { color: var(--bui_color_foreground_alt); }

.d0676bb262 { text-decoration-line: underline; }

.a5128714f9 { padding: 0px; min-height: auto; }

.b38679b5c6 { margin: var(--bui_spacing_4x) 0; }

.b5d2738840 { padding-top: var(--bui_spacing_2x); }

.ef04c99109 { margin-top: var(--bui_spacing_6x); }

.f3923ce253 { display: flex; flex-direction: row; justify-content: space-between; }

.c67cf8dfb5 { padding-top: var(--bui_spacing_2x); }

.cae583da56 { margin-top: var(--bui_spacing_4x); }

.ba4da3e05f { height: 100%; box-sizing: border-box; }

.ed3baa8735 { margin-block-end: var(--bui_spacing_6x); }

.d96a4619c0 { display: inline-flex; align-items: center; gap: var(--bui_spacing_1x); }

.fd9fcb8e68 { display: flex; justify-content: flex-end; }

.e9a4c2bbcf { display: flex; gap: var(--bui_spacing_4x); height: 100%; }

.f0a92fcb0d { justify-content: flex-end; }

.a3eab358fb { display: inline-flex; gap: var(--bui_spacing_1x); flex-direction: column; }

.fa0a13c8c1 { display: inline-flex; align-self: flex-end; }

.e606856c85 { margin-top: 1px; }

.b6721bcf0a { margin: var(--bui_spacing_4x) 0; display: flex; align-items: baseline; }

.b6721bcf0a h3 { margin: 0px; padding: 0px; }

.cb6028d5e7 { text-align: right; }

.d7f35c35e5 { margin-bottom: var(--bui_spacing_2x); }

.ae471b537a { display: flex; flex-direction: column; align-items: stretch; gap: var(--bui_spacing_4x); }

.a12906d86d::before { border: 1px solid rgb(148, 148, 148); border-radius: var(--bui_spacing_12x); outline: 0px; }

.ae9005990d { font-size: 14px; }

.ab33b394e5 { width: 100%; display: flex; }

.f9a8f0dd46 { flex: 1 1 0%; }

.d79f84c38f { margin-left: var(--bui_spacing_2x); }

.fd391c65bc { padding-bottom: var(--bui_spacing_4x); }

.b434b8c61e { display: flex; gap: var(--bui_spacing_2x); align-items: baseline; }

.ba811f9e2f { gap: var(--bui_spacing_2x); }

.ea3d958f8e { gap: var(--bui_spacing_1x); }

.e058fed691 { margin: var(--bui_spacing_4x) 0 var(--bui_spacing_6x); }

.becbe0c893::before { content: " • "; }

.e3a59a0b8a { margin-block-end: var(--bui_spacing_4x); }

.b29c9ba6f5 { margin: var(--bui_spacing_4x); }

.dc91e2f7e1 { margin: var(--bui_spacing_6x) 0 var(--bui_spacing_4x); }
