@charset "utf-8";

.f4e2bdcdc7 { height: 22px; }

.e5b0af413e { position: relative; fill: var(--bui_color_accent_border); }

.e5b0af413e::before { content: " "; position: absolute; transform: translateY(-50%); top: 50%; left: 0px; right: 0px; height: var(--bui_spacing_6x); }

.bae6335253 { font-weight: 700; }

.f2c354f969 { display: inline-flex; cursor: help; }

.d1903e422e { display: flex; align-items: center; }

.f3b61bfed4 { margin-left: var(--bui_spacing_1x); }

.e31b5d02bf:link { font-weight: 400; }

.d12fe2f504 { margin: var(--bui_spacing_4x) 0; }

.e87eee97b7 { margin: var(--bui_spacing_2x) 0; }

.dbbae1c947 { color: var(--bui_color_accent_border); }

.de5b77f4e5 { display: flex; }

.a8663bc8ab { text-decoration: none; display: flex; flex-direction: column; height: 100%; width: 100%; align-items: stretch; border-top-style: ; border-top-width: ; border-right-style: ; border-right-width: ; border-bottom-style: ; border-bottom-width: ; border-left-style: ; border-left-width: ; border-image-source: ; border-image-slice: ; border-image-width: ; border-image-outset: ; border-image-repeat: ; border-color: var(--bui_color_border_alt); border-radius: var(--bui_border_radius_200); overflow: hidden; }

a.a8663bc8ab:link { text-decoration: none; }

.baad532480 { text-decoration: none; display: flex; flex-direction: column; height: 100%; width: 100%; align-items: stretch; box-shadow: var(--bui_shadow_100); border-radius: var(--bui_border_radius_200); overflow: hidden; }

.cf0e25a46d { flex: 1 1 0px; }

.dc98e0be6d { background: var(--bui_color_background_alt); }

.b751091ba1 { margin-top: 0px !important; }

.c51e32e283 { flex-grow: 1; }

.fe65790d1a { border: none; }

.d0a98ff0d1 { position: static; }

.d0a98ff0d1 button { display: flex; }

.a509a6a16f { -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }

.ef200ef4bd { position: relative; display: flex; flex-direction: column; height: 100%; width: 100%; align-items: stretch; }

.c991f04c60 { position: absolute; top: var(--bui_spacing_2x); right: var(--bui_spacing_2x); z-index: 100; }

.c2852fafa8 { position: absolute; top: var(--bui_spacing_3x); left: var(--bui_spacing_3x); z-index: var(--bui_z_index_1); }

[dir="rtl"] .c2852fafa8 { left: unset; right: var(--bui_spacing_3x); }

.ffdbf717ce { color: initial; padding: var(--bui_spacing_3x); }

.ffdbf717ce:hover .a00905ea00 { color: var(--bui_color_action_highlighted); }

.b74e963701 { display: flex; justify-content: center; align-items: center; padding: var(--bui_spacing_2x); background: var(--bui_color_action_background_alt); border-radius: var(--bui_border_radius_100); }

.e1a9578e73 { color: var(--bui_color_action_foreground); }

.ae9940ea75 { color: var(--bui_color_foreground_disabled); }

.b6dab3c49c { max-width: 100%; flex-shrink: initial; }

.a00905ea00 { white-space: normal; overflow-wrap: break-word; }

.cc72cf75cf { white-space: normal; overflow-wrap: break-word; }

.c9d8f2b464 { -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; flex: 1 1 0px; }

.bd8ec2c286 { padding-top: var(--bui_spacing_half); }

.e4248514e8 { vertical-align: bottom; line-height: var(--bui_font_body_2_line-height); }

.d0077f59f9 { max-width: 100%; overflow-wrap: break-word; }

.cafac92f4a { display: block; }

.fcc645b25d { text-align: right; }

.f2f358d1de { font-weight: 500; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; color: var(--bui_color_foreground); }

.d68334ea31 { color: var(--bui_color_destructive_foreground); text-decoration: line-through; margin: 0px 3px; }

.b2d4ad7a15 { font-size: 16px; font-weight: 500; line-height: 24px; color: var(--bui_color_destructive_foreground); text-decoration: line-through; }

.ac028fa603 { margin-left: 3px; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.ccd2dc984b { margin-left: 3px; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.bcc9679f3b { color: var(--bui_color_destructive_foreground); text-decoration: line-through; }

.d795ef4144 { max-width: 500px; }

.ab607752a2 { display: inline-block; }

.b326b7423a { display: block; }

.d58faa3d6a { text-align: left; }

.e5377cce84 { text-align: right; }

.a2efaf6c2e { display: block; }

.f6b355237f { white-space: nowrap; }

.e725a11992 { margin-right: 3px; }

.e6ab5b5b63 { margin-left: 3px; }

.bf44319e7e { margin-left: var(--bui_spacing_1x); }

.b6aa3f089f { position: relative; top: -2px; margin-left: 3px; vertical-align: middle; }

.d90842265b { margin-left: var(--bui_spacing_1x); vertical-align: text-top; }

.a373cdfaea { color: var(--bui_color_action_foreground); }

.e01153b159 { color: var(--bui_color_foreground_inverted); }

.b091ff8d21 { margin: var(--bui_spacing_4x) 0; }

.be2fd8df4c { margin-bottom: var(--bui_spacing_2x); }

.da745aa322 { margin: calc(var(--bui_spacing_2x) * -1) 0 var(--bui_spacing_2x); }

.ac8cb41332 { margin-left: var(--bui_spacing_1x); }

.ccb42190e8 { margin-left: var(--bui_spacing_1x); vertical-align: text-bottom; }

.b57789eae3 { padding-bottom: var(--bui_spacing_1x); }

.b3559b4a95 { display: block; }

.f7c2d1a1f4 { margin-right: var(--bui_spacing_1x); }

.ecabcfd871 { font-weight: 500; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.bc953715bf { display: block; margin-top: var(--bui_spacing_1x); }

.f8f74e6f1f { font-size: var(--bui_font_size_caption); line-height: var(--bui_line_height_caption); }

.e3e3b5c3ac { font-size: var(--bui_font_size_caption); line-height: var(--bui_line_height_caption); }

.d2b1650e54 { color: var(--bui_color_destructive_foreground); text-decoration: line-through; }

.cc5da3f00c { font-weight: var(--bui_font_weight_bold); }

.a5bef32ed0 { font-size: var(--bui_font_size_display_1); line-height: var(--bui_line_height_display_1); font-weight: var(--bui_font_weight_bold); }

.c477305bc4 { color: var(--bui_color_destructive_foreground); }

.f8864b11cd { color: var(--bui_color_foreground_secondary); }

.ab98e8129f { color: var(--bui_color_foreground); }

.ab98e8129f::before { border-color: var(--bui_color_foreground); }

.c1b7ac586a { margin-bottom: var(--bui_spacing_1x); }

.bc727ad49b { font-family: monospace; }

.e885e5cfb0 { display: inline-block; font-family: monospace; white-space: nowrap; background-color: var(--bui_color_background_base_alt); padding: 0 var(--bui_spacing_1x); }

.ea3b612c30 { display: block; margin: var(--bui_spacing_2x) 0; }

.abba7ff06d { display: block; color: var(--bui_color_foreground_alt); margin-bottom: var(--bui_spacing_2x); }

.b94133ae09 { display: block; margin: var(--bui_spacing_1x) 0; }

.b83c1d5139 { margin: var(--bui_spacing_1x) 0; }

.c655723675 { display: block; margin-bottom: var(--bui_spacing_2x); }

.d5b110bebb { display: block; margin-bottom: var(--bui_spacing_2x); }

.ae0a86458f { display: block; margin-bottom: var(--bui_spacing_1x); }

.e411b53abb { color: var(--bui_color_constructive_foreground); }

.ebbf55796a { display: block; margin-bottom: var(--bui_spacing_2x); }

.d4fdd290bb { display: block; margin-bottom: var(--bui_spacing_2x); }

.a93c15a0d1 { display: block; margin-bottom: var(--bui_spacing_4x); }

.e6099c77e3 { margin-top: var(--bui_spacing_6x); }

.e5654f6b09 { color: var(--bui_color_constructive_background); }

.f660154674 { margin: 0px !important; }

.f555a85ef6 { margin-top: var(--bui_spacing_1x); }

.cc2cd4c9c2 { color: var(--bui_color_constructive_background); }

.b78944cbee { display: inline-block; vertical-align: top; margin-right: var(--bui_spacing_1x); margin-bottom: var(--bui_spacing_1x); }

.c72f8030f5 { display: block; margin-right: var(--bui_spacing_1x); margin-bottom: var(--bui_spacing_1x); }

.b48c644490 { margin-bottom: var(--bui_spacing_2x); }

.a253602212 { display: block; margin-bottom: var(--bui_spacing_2x); }

.d7a604afc6 { display: block; margin-bottom: var(--bui_spacing_2x); }

.de30d814af { display: block; margin-bottom: var(--bui_spacing_3x); }

.f99d7a7917 { padding: var(--bui_spacing_2x); }

.c0b9eeea35 { padding: var(--bui_spacing_2x); background-color: var(--bui_color_action_background_alt); }

.ea2234fd67 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; flex: 1 1 0%; }

.ec849dfa65 { -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }

.f082c6cb32 { margin-block-end: var(--bui_spacing_8x); }

.e0a46e31be { padding: var(--bui_spacing_4x); background-color: var(--bui_color_white); }

.b06466c38e { margin-block-start: var(--bui_spacing_8x); }

.b06466c38e h3 { color: var(--bui_color_foreground) !important; margin: 0px !important; }

.b06466c38e ul { margin: 0px !important; padding: unset !important; padding-inline: var(--bui_spacing_2x) !important; padding-block: var(--bui_spacing_2x) !important; }

.cd872d18f2 h3 { color: var(--bui_color_foreground) !important; }
