@charset "utf-8";

.f7eecbb19e { display: flex; align-items: center; }

.efbd5d09e0 { display: flex; align-self: center; }

.ca70e04d0c { margin-right: var(--bui_spacing_1x); }

.af54cd8233 { margin-right: var(--bui_spacing_2x); }

.c1e5df2d77 { margin-right: var(--bui_spacing_3x); }

.d7e94be2cb { margin-right: var(--bui_spacing_4x); }

.aa8988bf9c { display: inline-flex; flex-wrap: wrap; }

.f006e3fcbd { display: inline-block; margin-right: var(--bui_spacing_1x); }

.f6b6d2a959 { display: inline-block; vertical-align: middle; }

.ae752bcc8f { border-bottom: 1px dashed var(--bui_color_foreground); cursor: help; }

.c224c4d0ce .f6b6d2a959 { text-decoration: underline dashed; text-underline-offset: var(--bui_spacing_1x); }

.c9075755da { margin-right: var(--bui_spacing_1x); }

.c9075755da:last-child { margin-right: 0px; }

.f26e515e03 { display: flex; justify-content: center; align-items: baseline; }

.da2bc392d0 { margin-right: var(--bui_spacing_1x); }

.d5873e298a { margin-bottom: var(--bui_spacing_1x); }

.d31c9df771 { display: inline-flex; align-items: center; }

.f52eb7b283 { margin-right: var(--bui_spacing_3x); }

.d991e7002a { margin-left: var(--bui_spacing_1x); }

.eb1d9e95b9 { margin-left: var(--bui_spacing_8x); }

.eb1d9e95b9 .eb1d9e95b9:not(:last-child) { margin-bottom: var(--bui_spacing_4x); }

.afdbefc8f4 { margin-left: var(--bui_spacing_8x); }

.b988733741 li { margin-bottom: var(--bui_spacing_1x); }

.eb3a456445 { display: flex; flex-flow: wrap; }

.eb3a456445 .d3c620cf34 { margin: 0 var(--bui_spacing_3x) var(--bui_spacing_3x) 0; }

.fd6d986dbb { display: flex; flex-wrap: wrap; gap: var(--bui_spacing_3x); }

.fd6d986dbb .d3c620cf34 { flex: calc(50% - var(--bui_spacing_3x)); }

.b43e553776 { display: block; }

.af7ca85f47 { display: inline-block; margin-block-end: var(--bui_spacing_8x); }

.b867223de1 { display: inline-block; margin-block-end: var(--bui_spacing_4x); }

.c3aceea5b1 { list-style: none; margin: 0px; padding: 0px; }

.c3aceea5b1 li { display: flex; justify-content: space-between; margin-block-end: var(--bui_spacing_2x); }

.a3b4130831 { font-weight: 700; margin-inline-end: var(--bui_spacing_3x); }

.bf5e4bb4d4 { border: 1px solid var(--bui_color_border_alt); border-radius: var(--bui_border_radius_200); padding: var(--bui_spacing_4x); margin-block-end: var(--bui_spacing_4x); }

.e681ac1990 { margin-block-end: var(--bui_spacing_6x); }

.ea74e96bc2 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; }

.a2e9df226d { margin-inline-end: var(--bui_spacing_6x); -webkit-line-clamp: 1; }

.d0063288c9 { -webkit-line-clamp: 2; }

.e5e7c1a405 { display: flex; flex-flow: wrap; }

.bcc594bf85 { padding-block-start: var(--bui_spacing_4x); }

.b18870cdf5 { margin: 0 0 var(--bui_spacing_4x); }
