@charset "utf-8";

.fa3fb60deb { display: flex; }

.a8d95bc37b { flex: 0 0 auto; }

span.a8d95bc37b svg { vertical-align: middle; transform: translateY(-15%); }

span.b506848d51 { height: 1em; }

.beb5ef4fb4 { padding-left: var(--bui_spacing_1x); }

.d7a50099f7 { padding-right: var(--bui_spacing_1x); }

.db5be6bb85 { margin-bottom: var(--bui_spacing_1x); }

.f14147ed3c { line-height: 20px; margin-bottom: var(--bui_spacing_2x); }

.dc186baaf5 { display: inline !important; padding-right: var(--bui_spacing_2x); }

.aff8fea9f1 { display: inline; line-height: 20px; }

.c4b97abd4e { margin: var(--bui_spacing_4x) 0; }

.a611e9719e { background-color: var(--bui_color_action_background_alt); border-radius: var(--bui_border_radius_200); padding: var(--bui_spacing_4x); }

.d6b78ced5a { padding: var(--bui_spacing_3x) var(--bui_spacing_4x); }

.cb84af510b { font-weight: 700; }

.f1152bae71 { white-space: pre-wrap; }

.f531cf0753 { font-size: calc(var(--bui_spacing_4x) + var(--bui_spacing_half)); }

.bf74f260fa { overflow: hidden; mask-image: linear-gradient(0deg,#0000,var(--bui_color_background_base) 40%); }
