@charset "utf-8";

.c8b04e59aa { align-items: center; display: flex; justify-content: space-between; }

.fc61c85f4c { justify-content: center; }

.d7b319a0ec { padding: var(--bui_spacing_2x); }

.f8b1f84d6f { border-left: var(--bui_border_width_100) solid var(--bui_color_border_alt); max-width: 50%; }

.fbf58cbc5e { margin-block-end: var(--bui_spacing_2x); }
