@charset "utf-8";

#ucc-7 .DaYgZ::after, #ucc-7 .pLZE8d::after { color: rgb(109, 0, 119); }

#ucc-7 .pLZE8d::before { background: rgb(109, 0, 119); }

#ucc-7 .jzzMj { background: rgb(109, 0, 119); }

#ucc-7 .QeY9wc:not(.kafKN) { border-top-color: rgb(109, 0, 119); }

#ucc-7 .MyQDIb { background: rgb(109, 0, 119); }

body:not(.dm7YTc) #ucc-7 .vP0hTc::before { background: rgb(109, 0, 119); }

body:not(.dm7YTc) #ucc-7 .vP0hTc { color: rgb(109, 0, 119); }
