@charset "utf-8";

.F8j6Cc { font-size: 1.125rem; font-family: "Google Sans", sans-serif; color: rgb(32, 33, 36); line-height: 1.5; text-align: center; max-width: 100%; margin: 1rem auto; }

.dm7YTc .F8j6Cc { color: rgb(255, 255, 255); }

.nYHHjf { margin: 8px; }

sentinel { }
