@charset "utf-8";

.EDId0c { position: relative; }

.nhh4Ic { position: absolute; left: 0px; right: 0px; top: 0px; z-index: 1; pointer-events: none; }

.nhh4Ic[data-state="snapping"], .nhh4Ic[data-state="cancelled"] { transition: transform 0.2s; }

.MGUFnf { display: block; width: 28px; height: 28px; padding: 15px; margin: 0px auto; transform: scale(0.7); background-color: rgb(250, 250, 250); border: 1px solid rgb(224, 224, 224); border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px; transition: opacity 0.4s; }

.nhh4Ic[data-state="resting"] .MGUFnf, .nhh4Ic[data-state="cooldown"] .MGUFnf { transform: scale(0); transition: transform 0.15s; }

.nhh4Ic .LLCa0e { stroke-width: 3.6px; }

.nhh4Ic .LLCa0e { transform: translateZ(1px); }

.nhh4Ic[data-past-threshold="false"] .LLCa0e { opacity: 0.3; }

.rOhAxb { fill: rgb(66, 133, 244); stroke: rgb(66, 133, 244); }

.A6UUqe { display: none; stroke-width: 3px; }

.A6UUqe, .tbcVO { width: 28px; height: 28px; }

.bQ7oke { position: absolute; width: 0px; height: 0px; overflow: hidden; }

.A6UUqe.qs41qe { animation-name: quantumWizSpinnerRotate; animation-duration: 1568.63ms; animation-iteration-count: infinite; animation-timing-function: linear; }

.A6UUqe.qs41qe, .A6UUqe.SdoWjb { display: inline-block; }

.A6UUqe.qs41qe .ceIWpc { stroke: none; fill: none; }

.A6UUqe.sf4e6b .qjUCkf { stroke-width: 0; }

.qjUCkf { transition: stroke-width 0.4s; transform-origin: 14px 14px; stroke-dasharray: 58.9, 58.9; stroke-dashoffset: 58.9; fill: none; transform: rotate(0deg); }

.A6UUqe.SdoWjb .qjUCkf { }

.A6UUqe.iPwZeb .qjUCkf { animation-delay: -466ms, -466ms, -466ms; }

.A6UUqe.qs41qe .qjUCkf { animation-name: quantumWizSpinnerFillUnfill, quantumWizSpinnerRot, quantumWizSpinnerColors; animation-duration: 1333ms, 5332ms, 5332ms; animation-iteration-count: infinite, infinite, infinite; animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1), steps(4), linear; animation-fill-mode: forwards; }

@keyframes quantumWizSpinnerRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}

@keyframes quantumWizSpinnerFillUnfill {
  0% { stroke-dashoffset: 58.8; }
  50% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -58.4; }
}

@keyframes quantumWizSpinnerRot {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-1turn); }
}

@keyframes quantumWizSpinnerColors {
  0% { stroke: rgb(66, 133, 244); }
  18% { stroke: rgb(66, 133, 244); }
  25% { stroke: rgb(219, 68, 55); }
  43% { stroke: rgb(219, 68, 55); }
  50% { stroke: rgb(244, 180, 0); }
  68% { stroke: rgb(244, 180, 0); }
  75% { stroke: rgb(15, 157, 88); }
  93% { stroke: rgb(15, 157, 88); }
  100% { stroke: rgb(66, 133, 244); }
}

.eKomyd { display: flex; flex-flow: wrap; align-items: center; justify-content: space-between; padding: 0.25rem 1rem; font-size: 1rem; font-family: "Google Sans", sans-serif; line-height: 1.25; border-radius: 8px; font-weight: 500; margin-top: 1rem; }

.eKomyd:not(:first-child) { margin-top: 2rem; }

.eKomyd.k2hbFd { margin-bottom: 24px; }

.eKomyd.VY7Hwc, .eKomyd.Fx2Cvf { margin-bottom: 32px; }

.eKomyd.Fx2Cvf.Au3bp { margin-bottom: 28px; }

.eKomyd.QWJ4Hf.Au3bp { margin-bottom: 0px; }

.eKomyd.Au3bp, .eKomyd.GSrT5d, .eKomyd.VY7Hwc.Au3bp, .eKomyd.k2hbFd.Au3bp { margin-bottom: 16px; }

.dGkDIf { display: flex; flex: 1 1 400px; align-items: center; padding: 0.5rem 0px; }

.g1VqG { color: rgb(95, 99, 104); height: 24px; width: 24px; min-width: 24px; }

.dm7YTc .g1VqG { color: rgb(189, 193, 198); }

.eKomyd[dir="ltr"] .g1VqG { margin: auto 1rem auto 0.375rem; }

.eKomyd[dir="rtl"] .g1VqG { margin: auto 0.375rem auto 1rem; }

.WWiHdf { flex: 0 1 auto; width: 100%; }

.vtsNB { display: flex; flex: 0 0 auto; padding: 0.625rem 0px; }

.eKomyd[dir="ltr"] .vtsNB { margin-left: auto; margin-right: 0px; }

.eKomyd[dir="rtl"] .vtsNB { margin-left: 0px; margin-right: auto; }

.SgT3Pc, .m8xr4d { display: flex; }

.vtsNB.Au3bp .HpkkI { margin-left: 12px; }

.SgT3Pc .saYYc, .m8xr4d .HpkkI { margin-bottom: -0.125rem; margin-top: -0.125rem; color: rgb(26, 115, 232); }

.dm7YTc .SgT3Pc .saYYc, .dm7YTc .m8xr4d .HpkkI { color: rgb(138, 180, 248); }

.eKomyd[dir="ltr"] .saYYc { margin-left: 2rem; margin-right: 0px; }

.eKomyd[dir="rtl"] .saYYc { margin-left: 0px; margin-right: 2rem; }

.eKomyd { background: var(--gn-c-banner-background); }

.eKomyd.EA71Tc { font-size: 0.875rem; font-family: "Google Sans", sans-serif; padding: 2px 16px; }

.eKomyd.EA71Tc .g1VqG { height: 20px; width: 20px; min-width: 20px; margin: 0px; color: rgb(68, 71, 70); }

.dm7YTc .eKomyd.EA71Tc .g1VqG { color: rgb(196, 199, 197); }

.eKomyd.EA71Tc[dir="ltr"] .g1VqG { margin-right: 16px; }

.eKomyd.EA71Tc[dir="rtl"] .g1VqG { margin-left: 16px; }

.eKomyd.EA71Tc .vtsNB { padding: 0px; }

.eKomyd.EA71Tc .saYYc, .eKomyd.EA71Tc .HpkkI { font-size: 0.875rem; font-weight: 500; }

.eKomyd.EA71Tc .saYYc:not(:disabled), .eKomyd.EA71Tc .HpkkI:not(:disabled) { color: var(--gn-c-primary); }

.eKomyd .WWiHdf { color: var(--gn-c-banner-text); }

.VfPpkd-YAxtVc { background-color: rgb(51, 51, 51); }

.VfPpkd-gIZMF { color: rgba(255, 255, 255, 0.87); }

.VfPpkd-YAxtVc { min-width: 344px; }

@media (max-width: 344px), (max-width: 480px) {
  .VfPpkd-YAxtVc { min-width: 100%; }
}

.VfPpkd-YAxtVc { max-width: 672px; }

.VfPpkd-YAxtVc { box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px; }

.VfPpkd-YAxtVc { border-radius: var(--mdc-shape-small,4px); }

.VfPpkd-Ng57nc { display: none; position: fixed; right: 0px; bottom: 0px; left: 0px; align-items: center; justify-content: center; box-sizing: border-box; pointer-events: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.VfPpkd-Ng57nc-OWXEXe-uGFO6d, .VfPpkd-Ng57nc-OWXEXe-FNFY6c, .VfPpkd-Ng57nc-OWXEXe-FnSee { display: flex; }

.VfPpkd-Ng57nc-OWXEXe-FNFY6c .VfPpkd-gIZMF, .VfPpkd-Ng57nc-OWXEXe-FNFY6c .VfPpkd-M6tBBc { visibility: visible; }

.VfPpkd-YAxtVc { padding-left: 0px; padding-right: 8px; display: flex; align-items: center; justify-content: flex-start; box-sizing: border-box; transform: scale(0.8); opacity: 0; }

.VfPpkd-YAxtVc::before { position: absolute; box-sizing: border-box; width: 100%; height: 100%; top: 0px; left: 0px; border: 1px solid transparent; border-radius: inherit; content: ""; pointer-events: none; }

@media screen and (forced-colors: active) {
  .VfPpkd-YAxtVc::before { border-color: canvastext; }
}

[dir="rtl"] .VfPpkd-YAxtVc, .VfPpkd-YAxtVc[dir="rtl"] { padding-left: 8px; padding-right: 0px; }

.VfPpkd-Ng57nc-OWXEXe-FNFY6c .VfPpkd-YAxtVc { transform: scale(1); opacity: 1; pointer-events: auto; transition: opacity 0.15s cubic-bezier(0, 0, 0.2, 1), transform 0.15s cubic-bezier(0, 0, 0.2, 1); }

.VfPpkd-Ng57nc-OWXEXe-FnSee .VfPpkd-YAxtVc { transform: scale(1); transition: opacity 75ms cubic-bezier(0.4, 0, 1, 1); }

.VfPpkd-gIZMF { padding: 14px 8px 14px 16px; width: 100%; flex-grow: 1; box-sizing: border-box; margin: 0px; visibility: hidden; }

[dir="rtl"] .VfPpkd-gIZMF, .VfPpkd-gIZMF[dir="rtl"] { padding-left: 8px; padding-right: 16px; }

.VfPpkd-gIZMF::before { display: inline; content: attr(data-mdc-snackbar-label-text); }

.VfPpkd-M6tBBc { display: flex; flex-shrink: 0; align-items: center; box-sizing: border-box; visibility: hidden; }

.VfPpkd-IkaYrd + .VfPpkd-TolmDb { margin-left: 8px; margin-right: 0px; }

[dir="rtl"] .VfPpkd-IkaYrd + .VfPpkd-TolmDb, .VfPpkd-IkaYrd + .VfPpkd-TolmDb[dir="rtl"] { margin-left: 0px; margin-right: 8px; }

.VfPpkd-Ng57nc { z-index: 8; margin: 8px; }

.VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-gIZMF { padding-left: 16px; padding-right: 8px; padding-bottom: 12px; }

[dir="rtl"] .VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-gIZMF, .VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-gIZMF[dir="rtl"] { padding-left: 8px; padding-right: 16px; }

.VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-YAxtVc { flex-direction: column; align-items: flex-start; }

.VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-M6tBBc { align-self: flex-end; margin-bottom: 8px; }

.VfPpkd-Ng57nc-OWXEXe-M1Soyc { justify-content: flex-start; }

.VfPpkd-gIZMF { -webkit-font-smoothing: antialiased; font-family: var(--mdc-typography-body2-font-family,var(--mdc-typography-font-family,Roboto,sans-serif)); font-size: var(--mdc-typography-body2-font-size,.875rem); line-height: var(--mdc-typography-body2-line-height,1.25rem); font-weight: var(--mdc-typography-body2-font-weight,400); letter-spacing: var(--mdc-typography-body2-letter-spacing,.0178571429em); text-decoration: var(--mdc-typography-body2-text-decoration,inherit); text-transform: var(--mdc-typography-body2-text-transform,inherit); }

.VfPpkd-IkaYrd:not(:disabled) { color: rgb(187, 134, 252); }

.VfPpkd-IkaYrd .VfPpkd-Jh9lGc::before, .VfPpkd-IkaYrd .VfPpkd-Jh9lGc::after { background-color: var(--mdc-ripple-color,#bb86fc); }

.VfPpkd-IkaYrd:hover .VfPpkd-Jh9lGc::before, .VfPpkd-IkaYrd.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Jh9lGc::before { opacity: var(--mdc-ripple-hover-opacity,.08); }

.VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Jh9lGc::before, .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Jh9lGc::before { transition-duration: 75ms; opacity: var(--mdc-ripple-focus-opacity,.24); }

.VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Jh9lGc::after { transition: opacity 0.15s linear; }

.VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Jh9lGc::after { transition-duration: 75ms; opacity: var(--mdc-ripple-press-opacity,.24); }

.VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d { --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity,0.24); }

.VfPpkd-TolmDb { color: rgba(255, 255, 255, 0.87); }

.VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::before, .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::after { background-color: var(--mdc-ripple-color,rgba(255,255,255,.87)); }

.VfPpkd-TolmDb:hover .VfPpkd-Bz112c-Jh9lGc::before, .VfPpkd-TolmDb.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Bz112c-Jh9lGc::before { opacity: var(--mdc-ripple-hover-opacity,.08); }

.VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Bz112c-Jh9lGc::before, .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Bz112c-Jh9lGc::before { transition-duration: 75ms; opacity: var(--mdc-ripple-focus-opacity,.24); }

.VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Bz112c-Jh9lGc::after { transition: opacity 0.15s linear; }

.VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Bz112c-Jh9lGc::after { transition-duration: 75ms; opacity: var(--mdc-ripple-press-opacity,.24); }

.VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d { --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity,0.24); }

.VfPpkd-TolmDb.VfPpkd-TolmDb { width: 36px; height: 36px; padding: 6px; font-size: 18px; }

.VfPpkd-TolmDb.VfPpkd-TolmDb.VfPpkd-Bz112c-LgbsSe-OWXEXe-e5LLRc-SxQuSe .VfPpkd-Bz112c-Jh9lGc { width: 36px; height: 36px; margin: 0px; }

.VfPpkd-TolmDb.VfPpkd-TolmDb.VfPpkd-Bz112c-LgbsSe-OWXEXe-e5LLRc-SxQuSe .VfPpkd-Bz112c-J1Ukfc-LhBDec { max-height: 36px; max-width: 36px; }

.VfPpkd-TolmDb.VfPpkd-TolmDb .VfPpkd-Bz112c-RLmnJb { position: absolute; top: 50%; height: 36px; left: 50%; width: 36px; transform: translate(-50%, -50%); }

.VOBzC { margin: 24px; }

.VOBzC .VfPpkd-YAxtVc { background-color: rgb(32, 33, 36); }

.VOBzC .VfPpkd-gIZMF { color: rgb(232, 234, 237); }

.VOBzC .VfPpkd-IkaYrd:not(:disabled) { background-color: transparent; }

.VOBzC .VfPpkd-IkaYrd:not(:disabled) { color: var(--gm-colortextbutton-ink-color,rgb(138,180,248)); }

.VOBzC .VfPpkd-IkaYrd:disabled { color: var(--gm-colortextbutton-disabled-ink-color,rgba(232,234,237,.38)); }

.VOBzC .VfPpkd-IkaYrd .VfPpkd-UdE5de-uDEFge .VfPpkd-JGcpL-uI4vCe-LkdAo, .VOBzC .VfPpkd-IkaYrd .VfPpkd-UdE5de-uDEFge .VfPpkd-JGcpL-IdXvz-LkdAo-Bd00G { stroke: rgb(138, 180, 248); }

@media (-ms-high-contrast:active), screen and (forced-colors: active) {
  .VOBzC .VfPpkd-IkaYrd .VfPpkd-UdE5de-uDEFge .VfPpkd-JGcpL-uI4vCe-LkdAo, .VOBzC .VfPpkd-IkaYrd .VfPpkd-UdE5de-uDEFge .VfPpkd-JGcpL-IdXvz-LkdAo-Bd00G { stroke: canvastext; }
}

.VOBzC .VfPpkd-IkaYrd:hover:not(:disabled), .VOBzC .VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe:not(:disabled), .VOBzC .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):focus:not(:disabled), .VOBzC .VfPpkd-IkaYrd:active:not(:disabled) { color: var(--gm-colortextbutton-ink-color--stateful,rgb(174,203,250)); }

.VOBzC .VfPpkd-IkaYrd .VfPpkd-Jh9lGc::before, .VOBzC .VfPpkd-IkaYrd .VfPpkd-Jh9lGc::after { background-color: var(--gm-colortextbutton-state-color,rgb(174,203,250)); }

.VOBzC .VfPpkd-IkaYrd:hover .VfPpkd-Jh9lGc::before, .VOBzC .VfPpkd-IkaYrd.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Jh9lGc::before { opacity: var(--mdc-ripple-hover-opacity,.04); }

.VOBzC .VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Jh9lGc::before, .VOBzC .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Jh9lGc::before { transition-duration: 75ms; opacity: var(--mdc-ripple-focus-opacity,.12); }

.VOBzC .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Jh9lGc::after { transition: opacity 0.15s linear; }

.VOBzC .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Jh9lGc::after { transition-duration: 75ms; opacity: var(--mdc-ripple-press-opacity,.1); }

.VOBzC .VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d { --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity,0.1); }

.VOBzC .VfPpkd-IkaYrd:disabled:hover .VfPpkd-Jh9lGc::before, .VOBzC .VfPpkd-IkaYrd:disabled.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Jh9lGc::before { opacity: var(--mdc-ripple-hover-opacity,0); }

.VOBzC .VfPpkd-IkaYrd:disabled.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Jh9lGc::before, .VOBzC .VfPpkd-IkaYrd:disabled:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Jh9lGc::before { transition-duration: 75ms; opacity: var(--mdc-ripple-focus-opacity,0); }

.VOBzC .VfPpkd-IkaYrd:disabled:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Jh9lGc::after { transition: opacity 0.15s linear; }

.VOBzC .VfPpkd-IkaYrd:disabled:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Jh9lGc::after { transition-duration: 75ms; opacity: var(--mdc-ripple-press-opacity,0); }

.VOBzC .VfPpkd-IkaYrd:disabled.VfPpkd-ksKsZd-mWPk3d { --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity,0); }

.VOBzC .VfPpkd-TolmDb { color: rgb(232, 234, 237); z-index: 0; }

.VOBzC .VfPpkd-TolmDb:hover .VfPpkd-Bz112c-Jh9lGc::before, .VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Bz112c-Jh9lGc::before { opacity: var(--mdc-ripple-hover-opacity,.08); }

.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Bz112c-Jh9lGc::before, .VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Bz112c-Jh9lGc::before { opacity: var(--mdc-ripple-focus-opacity,.24); }

.VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Bz112c-Jh9lGc::after { opacity: var(--mdc-ripple-press-opacity,.24); }

.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d { --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity,0.24); }

.VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::before, .VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::after { z-index: -1; }

.VOBzC .VfPpkd-TolmDb:disabled { color: var(--gm-iconbutton-disabled-ink-color,rgba(232,234,237,.38)); }

.VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::before, .VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::after { background-color: var(--mdc-ripple-color,rgb(232,234,237)); }

.VOBzC .VfPpkd-TolmDb:hover .VfPpkd-Bz112c-Jh9lGc::before, .VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Bz112c-Jh9lGc::before { opacity: var(--mdc-ripple-hover-opacity,.04); }

.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Bz112c-Jh9lGc::before, .VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Bz112c-Jh9lGc::before { transition-duration: 75ms; opacity: var(--mdc-ripple-focus-opacity,.12); }

.VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Bz112c-Jh9lGc::after { transition: opacity 0.15s linear; }

.VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Bz112c-Jh9lGc::after { transition-duration: 75ms; opacity: var(--mdc-ripple-press-opacity,.1); }

.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d { --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity,0.1); }

.VOBzC .VfPpkd-TolmDb:disabled:hover .VfPpkd-Jh9lGc::before, .VOBzC .VfPpkd-TolmDb:disabled.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Jh9lGc::before { opacity: var(--mdc-ripple-hover-opacity,0); }

.VOBzC .VfPpkd-TolmDb:disabled.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Jh9lGc::before, .VOBzC .VfPpkd-TolmDb:disabled:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Jh9lGc::before { transition-duration: 75ms; opacity: var(--mdc-ripple-focus-opacity,0); }

.VOBzC .VfPpkd-TolmDb:disabled:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Jh9lGc::after { transition: opacity 0.15s linear; }

.VOBzC .VfPpkd-TolmDb:disabled:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Jh9lGc::after { transition-duration: 75ms; opacity: var(--mdc-ripple-press-opacity,0); }

.VOBzC .VfPpkd-TolmDb:disabled.VfPpkd-ksKsZd-mWPk3d { --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity,0); }

.VOBzC .VfPpkd-TolmDb { width: 36px; height: 36px; padding: 6px; }

.VOBzC .VfPpkd-TolmDb.VfPpkd-Bz112c-LgbsSe-OWXEXe-e5LLRc-SxQuSe .VfPpkd-Bz112c-Jh9lGc { width: 36px; height: 36px; margin: 0px; }

.VOBzC .VfPpkd-TolmDb.VfPpkd-Bz112c-LgbsSe-OWXEXe-e5LLRc-SxQuSe .VfPpkd-Bz112c-J1Ukfc-LhBDec { max-height: 36px; max-width: 36px; }

.VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-RLmnJb { position: absolute; top: 50%; height: 36px; left: 50%; width: 36px; transform: translate(-50%, -50%); }

sentinel { }
