@charset "utf-8";

.payment-method-module_paymentMethodItemWrapper__5aFZ0.payment-method-module_pgPaymentMethod__RVEij { display: flex; gap: 0.7rem; align-items: center; }

.payment-method-module_paymentMethodItemWrapper__5aFZ0.payment-method-module_pgPaymentMethod__RVEij .payment-method-module_cardType__SD2QM { text-transform: capitalize; }

@media (max-width: 960px) {
  .payment-method-module_paymentMethodItemWrapper__5aFZ0 { line-height: 2.2rem; }
}

.payment-method-module_amount__ZVFwm { font-weight: 500; }
