@charset "utf-8";

.button-module_btn__HJvtl { border: none; outline: none; cursor: pointer; font-weight: 500; letter-spacing: 0.05em; font-family: grosa; position: relative; }

.button-module_btn__fromLink__-EMXS { text-align: center; text-decoration: none; display: inline-block; }

.button-module_btn__primary__CFC2- { color: rgb(33, 32, 31); background-color: rgb(255, 162, 115); }

.button-module_btn__secondary__8P41C { color: rgb(255, 255, 255); background-color: rgb(33, 32, 31); }

.button-module_btn__outlined__gs4tN { color: rgb(33, 32, 31); background-color: transparent; border: 0.1rem solid rgb(33, 32, 31); }

.button-module_btn__square__0Gjg6 { color: rgb(33, 32, 31); background-color: rgb(247, 247, 245); font-family: grosa; font-style: normal; font-weight: 500; letter-spacing: 0px; }

.button-module_btn__square__0Gjg6:hover { background: rgb(247, 247, 245); }

.button-module_btn__disabled__wpaKf { cursor: not-allowed; }

.button-module_btn__disabled__wpaKf:hover { opacity: 1; }

.button-module_btn__inactive__-Zrt0 { color: rgb(124, 124, 124); background-color: rgb(255, 255, 255); border: 0.1rem solid rgb(233, 233, 233); }

.button-module_btn__noRadius__OJGoq { border-radius: 0px; }

.button-module_btn__small__wQ3x6 { line-height: 1.2rem; font-size: 1rem; padding-left: var(--padding-left-button, 1.6rem); padding-right: var(--padding-right-button, 1.6rem); padding-top: var(--padding-top-button, 1.2rem); padding-bottom: var(--padding-bottom-button, 1.2rem); border-radius: 4rem; }

.button-module_btn__medium__BEKUO { line-height: 2rem; font-size: 1.4rem; padding-left: var(--padding-left-button, 1.4rem); padding-right: var(--padding-right-button, 1.4rem); padding-top: var(--padding-top-button, 2rem); padding-bottom: var(--padding-bottom-button, 2rem); border-radius: 8rem; }

.button-module_btn__large__e2ODI { line-height: 2.8rem; font-size: 2.2rem; padding-left: var(--padding-left-button, 3rem); padding-right: var(--padding-right-button, 3rem); padding-top: var(--padding-top-button, 1.4rem); padding-bottom: var(--padding-bottom-button, 1.4rem); border-radius: 12rem; }

.button-module_btn__square__0Gjg6 { line-height: 2rem; font-size: 1.4rem; padding-left: var(--padding-left-button, 2rem); padding-right: var(--padding-right-button, 2rem); padding-top: var(--padding-top-button, 1.6rem); padding-bottom: var(--padding-bottom-button, 1.6rem); border-radius: 0px; }

.button-module_btn__secondaryLink__KHRfS { padding-left: var(--padding-left-button, 0); padding-right: var(--padding-right-button, 0); padding-bottom: var(--padding-bottom-button, 0); border-bottom: 1px solid rgb(33, 32, 31); border-radius: 0px; }

.button-module_svgLoader__pNUsM { position: absolute; top: calc(50% - 2rem); left: calc(50% - 2rem); }
