@charset "utf-8";

.toast-module_toast__I0L3O { box-sizing: border-box; font-family: grosa; color: rgb(255, 255, 255); padding: 2rem 1.6rem; border-radius: 0.4rem; min-width: 35.8rem; animation: toast-module_slide-in__N840M 0.5s ease forwards, toast-module_fade-out__1jsj4 0.5s ease var(--fade-out-delay, 3s) forwards; display: flex; justify-content: space-between; align-items: center; font-size: 1.4rem; line-height: 2rem; }

@media (max-width: 960px) {
  .toast-module_toast__I0L3O { width: calc(-5.2rem + 100vw); }
}

.toast-module_toast__I0L3O.toast-module_iconContainer__gOK7M { color: rgb(255, 255, 255); cursor: pointer; }

.toast-module_toast__I0L3O.toast-module_success__2TlJX { background-color: rgb(45, 130, 43); }

.toast-module_toast__I0L3O.toast-module_error__aHvbl { background-color: rgb(210, 67, 67); }

.toast-module_toast__I0L3O.toast-module_info__lT5yS { background-color: rgb(66, 65, 65); }

.toast-module_toast__I0L3O.toast-module_warning__dl3Rj { background-color: rgb(240, 180, 79); }

@keyframes toast-module_slide-in__N840M {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0px); opacity: 1; }
}

@keyframes toast-module_fade-out__1jsj4 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
