@charset "utf-8";

#gladlyChat_container { background: transparent !important; bottom: 0px !important; display: flex !important; flex-direction: column !important; font-family: "Helvetica Neue", Helvetica, sans-serif !important; font-size: 14px !important; font-weight: 400 !important; position: fixed !important; -webkit-font-smoothing: antialiased !important; z-index: 2147483000 !important; margin: 0px 15px 15px !important; }

#gladlyChat_container * { box-sizing: content-box !important; }

.gladlyChat_mobile_active { height: 100% !important; overflow: hidden !important; width: 100% !important; }

.browser { max-height: calc(-15px + 100vh) !important; }

.web_iframe.gladlyChat_open #gladlyChat_container { max-height: 685px !important; max-width: 375px !important; }

@media only screen and (min-width: 570px) {
  web_iframe.gladlyChat_open #gladlyChat_container { max-height: 685px !important; max-width: 375px !important; width: 364px !important; }
}

.web_iframe.gladlyChat_open.gladlyChat_mobile_active #gladlyChat_container { max-height: 93vh !important; max-width: 100vw !important; }

@media only screen and (max-device-width: 667px), screen and (max-width: 569px) {
  .web_iframe.gladlyChat_open #gladlyChat_container { max-height: 93vh !important; max-width: 100vw !important; margin: 0px !important; top: 7vh !important; }
}

.web_iframe #gladlyChat_container { max-height: 57px !important; max-width: 194px !important; }

@media only screen and (max-device-width: 667px), screen and (max-width: 599px), screen and (orientation: landscape) and (max-height: 599px) {
  #gladlyChat_container { align-items: flex-end !important; bottom: 0px !important; flex: 1 1 auto !important; justify-content: flex-end !important; margin: 0px !important; }
  .browser { margin: 0px !important; }
  .gladlyChat_open { height: 100% !important; overflow: hidden !important; }
  .gladlyChat_open #gladlyChat_container { top: 0px !important; position: fixed !important; height: 100% !important; max-height: 100vh !important; box-sizing: border-box !important; overflow: hidden !important; transform: translate3d(0px, 0px, 0px) !important; width: 100% !important; }
  .web_iframe.gladlyChat_open #gladlyChat_container { max-height: 93vh !important; max-width: 100vw !important; margin: 0px !important; top: 7vh !important; }
}

.mobileSdk { margin: 0px !important; max-height: 100vh !important; }
