@charset "utf-8";

.return-status-module_container__vyP6e { display: flex; flex-direction: column; align-items: flex-start; gap: 2.4rem; }

@media (max-width: 960px) {
  .return-status-module_container__vyP6e { gap: 1.6rem; padding: 2.4rem 1.6rem; }
}

.return-status-module_container__vyP6e .return-status-module_returnStatus__qB269 { display: flex; justify-content: space-between; width: 84.8rem; margin-bottom: 2.4rem; }

@media (max-width: 960px) {
  .return-status-module_container__vyP6e .return-status-module_returnStatus__qB269 { flex-direction: column; width: 100%; }
}

.return-status-module_container__vyP6e .return-status-module_returnStatus__qB269 .return-status-module_labelContainer__3pUwB { display: flex; flex-direction: column; gap: 0.8rem; }

.return-status-module_container__vyP6e .return-status-module_returnStatus__qB269 .return-status-module_labelContainer__3pUwB .return-status-module_header__QcSHm { font-family: grosa; font-weight: 500; font-size: 2.4rem; line-height: 3rem; text-transform: uppercase; letter-spacing: 0.05em; text-align: left; margin: 0px; }

@media (max-width: 960px) {
  .return-status-module_container__vyP6e .return-status-module_returnStatus__qB269 .return-status-module_labelContainer__3pUwB .return-status-module_header__QcSHm { font-size: 1.8rem; line-height: 2.4rem; margin-bottom: 0.8rem; }
}

.return-status-module_container__vyP6e .return-status-module_returnStatus__qB269 .return-status-module_labelContainer__3pUwB .return-status-module_subHeader__aA7jy { font-family: grosa; font-size: 1.3rem; line-height: 1.9rem; font-weight: 400; text-align: left; margin: 0px; }

@media (max-width: 960px) {
  .return-status-module_container__vyP6e .return-status-module_returnStatus__qB269 .return-status-module_labelContainer__3pUwB .return-status-module_subHeader__aA7jy { width: 100%; }
}

.return-status-module_container__vyP6e .return-status-module_buttonContainer__R0hfC { width: 100%; display: flex; gap: 1.6rem; margin-top: 0.8rem; }

@media (max-width: 960px) {
  .return-status-module_container__vyP6e .return-status-module_buttonContainer__R0hfC { flex-direction: column; gap: 1.2rem; margin-top: 1.6rem; }
}

.return-status-module_container__vyP6e .return-status-module_buttonContainer__R0hfC .return-status-module_returnLabel__1QgLV { width: 31.5rem; height: 4.8rem; padding: 1.6rem 0rem; border-radius: 10rem; cursor: pointer; font-family: grosa; font-size: 1.2rem; font-weight: 500; line-height: 1.6rem; letter-spacing: 0.05em; text-align: center; color: rgb(255, 255, 255); background-color: rgb(33, 32, 31); text-transform: uppercase; }

@media (max-width: 960px) {
  .return-status-module_container__vyP6e .return-status-module_buttonContainer__R0hfC .return-status-module_returnLabel__1QgLV { width: 100%; }
}

.return-status-module_container__vyP6e .return-status-module_infoHeader__YwO1h { font-family: grosa; font-size: 1.6rem; font-weight: 500; line-height: 2.2rem; text-align: left; margin-top: 2.4rem; margin-bottom: 1.2rem; }

.return-status-module_container__vyP6e .return-status-module_infoBox__3-j8i { display: flex; gap: 1.6rem; }

.return-status-module_container__vyP6e .return-status-module_infoBox__3-j8i a { border-bottom: 1px solid rgb(33, 32, 31); cursor: pointer; }

@media (max-width: 960px) {
  .return-status-module_container__vyP6e .return-status-module_infoBox__3-j8i { flex-direction: column; }
}

.return-status-module_container__vyP6e .return-status-module_infoBox2__Iuhyv { font-family: grosa; font-size: 1.4rem; line-height: 2rem; max-width: 50rem; }

.return-status-module_container__vyP6e .return-status-module_modalWrapper__-QXfV .return-status-module_modalContainer__8tzBn { display: flex; flex-direction: column; align-items: center; }

.return-status-module_container__vyP6e .return-status-module_modalWrapper__-QXfV .return-status-module_modalContainer__8tzBn .return-status-module_header__QcSHm { font-family: grosa; font-size: 1.6rem; font-weight: 500; line-height: 2rem; letter-spacing: 0.05em; text-align: center; text-transform: uppercase; color: rgb(0, 0, 0); margin-bottom: 2rem; }

.return-status-module_container__vyP6e .return-status-module_modalWrapper__-QXfV .return-status-module_modalContainer__8tzBn .return-status-module_subHeader__aA7jy { font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; text-align: center; margin-bottom: 2.8rem; }

.return-status-module_container__vyP6e .return-status-module_modalWrapper__-QXfV .return-status-module_modalContainer__8tzBn .return-status-module_qrCode__98-8Y { margin-bottom: 4rem; }

.return-status-module_cancelReturnBottomSheet__64rUk { padding: 0px 2.8rem 2.8rem; width: 36rem; font-family: grosa; font-size: 1.4rem; line-height: 2rem; }

@media (max-width: 960px) {
  .return-status-module_cancelReturnBottomSheet__64rUk { width: unset; padding: 0px 1.6rem 5.6rem; }
}

.return-status-module_cancelReturnBottomSheet__64rUk .return-status-module_cancelReturnHeading__A627j { text-transform: uppercase; font-weight: 500; margin-bottom: 1.6rem; }

@media (max-width: 960px) {
  .return-status-module_cancelReturnBottomSheet__64rUk .return-status-module_cancelReturnHeading__A627j { text-align: center; margin: 2.2rem 0px; }
}

.return-status-module_cancelReturnBottomSheet__64rUk .return-status-module_cancelReturnContent__9tx2T { margin-bottom: 3.2rem; }

.return-status-module_cancelReturnButton__LySKj { width: 100%; height: 4.8rem; padding: 1.6rem 0rem; border-radius: 10rem; cursor: pointer; font-family: grosa; font-size: 1.2rem; font-weight: 500; line-height: 1.6rem; letter-spacing: 0.05em; text-align: center; color: rgb(255, 255, 255); background-color: rgb(33, 32, 31); text-transform: uppercase; }

.return-status-module_cancelReturnButton__loading__f70In { padding: 0px; }

.return-status-module_error__SXXoD { color: rgb(221, 29, 29); margin-bottom: 1.2rem; }

.return-status-module_highlight__cvwNy { font-weight: 500; }

.return-status-module_secondaryButton__RyHCP { width: 19rem; padding: 1.6rem 0rem; border-radius: 10rem; cursor: pointer; font-family: grosa; font-size: 1.2rem; font-weight: 500; line-height: 1.6rem; letter-spacing: 0.05em; text-align: center; color: rgb(33, 32, 31); background-color: transparent; text-transform: uppercase; border: 0.1rem solid rgb(33, 32, 31); }

@media (max-width: 960px) {
  .return-status-module_secondaryButton__RyHCP { width: 100%; }
}

.return-status-module_cancelReturnMobile__Lk3ev { display: none; }

@media (max-width: 960px) {
  .return-status-module_cancelReturnMobile__Lk3ev { display: unset; }
}

@media (max-width: 960px) {
  .return-status-module_cancelReturnDesktop__YszwW { display: none; }
}

.return-status-module_exchangeOrderLink__eO6H5 { color: rgb(33, 32, 31); text-decoration: none; border-bottom: 0.1rem solid rgb(33, 32, 31); }
