@charset "utf-8";

.return-review-module_container__HmyeP { display: flex; flex-direction: column; gap: 2.4rem; align-items: flex-start; }

@media (max-width: 960px) {
  .return-review-module_container__HmyeP { padding: 3rem; }
}

.return-review-module_container__HmyeP .return-review-module_header__lwRGk { font-family: grosa; font-weight: 500; font-size: 2.4rem; line-height: 3rem; text-transform: uppercase; letter-spacing: 0.05em; text-align: left; margin: 1.6rem 0px 0px; }

@media (max-width: 960px) {
  .return-review-module_container__HmyeP .return-review-module_header__lwRGk { font-size: 1.8rem; line-height: 2.4rem; }
}

.return-review-module_container__HmyeP .return-review-module_backArrow__0Dirk { cursor: pointer; height: 2rem; width: 2rem; }

.return-review-module_container__HmyeP .return-review-module_lineItems__U65FW { display: flex; flex-direction: column; gap: 2.4rem; }

.return-review-module_container__HmyeP .return-review-module_lineItemDetails__85ZYL { width: 84.8rem; }

.return-review-module_container__HmyeP .return-review-module_lineItemDetails__85ZYL .return-review-module_text__mgyzp { font-family: grosa; font-size: 1.2rem; font-weight: 500; line-height: 1.8rem; letter-spacing: 0.06em; text-align: left; text-transform: uppercase; margin-top: 3.5rem; margin-bottom: 1.1rem; }

@media (max-width: 960px) {
  .return-review-module_container__HmyeP .return-review-module_lineItemDetails__85ZYL { width: 100%; }
}

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F { margin-top: 1.2rem; display: flex; justify-content: space-between; width: 84.8rem; box-sizing: border-box; }

@media (max-width: 960px) {
  .return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F { width: 100%; padding: 0px; flex-direction: column; }
}

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_returnMethod__JLpqk .return-review-module_text__mgyzp { font-family: grosa; font-size: 1.2rem; font-weight: 500; line-height: 1.8rem; letter-spacing: 0.06em; text-align: left; text-transform: uppercase; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_returnMethod__JLpqk .return-review-module_subText__MpPKk { font-family: grosa; font-size: 1.1rem; font-weight: 400; line-height: 1.7rem; text-align: left; }

@media (max-width: 960px) {
  .return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_returnMethod__JLpqk { margin-bottom: 2.4rem; }
}

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC { display: flex; flex-direction: column; width: 33rem; }

@media (max-width: 960px) {
  .return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC { width: 100%; }
}

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_row__D4nPY { display: flex; justify-content: space-between; font-family: grosa; font-size: 1.3rem; font-weight: 400; line-height: 1.9rem; text-align: left; margin-bottom: 0.8rem; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_row__D4nPY .return-review-module_tooltipWrapper__dSeq9 { display: flex; align-items: flex-end; position: relative; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_row__D4nPY .return-review-module_tooltipIcon__bTt2U { margin-left: 0.4rem; cursor: pointer; display: flex; align-self: center; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_row__D4nPY .return-review-module_tooltip__jQeQD { position: absolute; top: 1.8rem; left: 0px; background-color: rgb(66, 65, 65); color: rgb(255, 255, 255); padding: 1.6rem; font-size: 1.2rem; line-height: 1.6rem; border-radius: 0.4rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 0.2rem 0.8rem; white-space: normal; z-index: 10; width: max-content; max-width: 33rem; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_row__D4nPY .return-review-module_tooltip__jQeQD .return-review-module_infoTextLearnMore__P6ac- { text-decoration: none; cursor: pointer; border-bottom: 0.1rem solid rgb(255, 255, 255); }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_finalAmount__SMgMJ { font-weight: 500; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_label__m-OO-, .return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_amount__4ynqK { font-family: grosa; font-weight: 400; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_amount__4ynqK { font-size: 1.3rem; line-height: 1.9rem; text-align: right; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_freeLabel__LAXUG { color: rgb(45, 130, 43); }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_borderBottom__mjqJ3 { border-bottom: 0.025rem solid rgb(33, 32, 31); padding-bottom: 1.2rem; margin-bottom: 1.2rem; }

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_confirmBtn__I1pVp { width: 33rem; height: 4.8rem; padding: 1.6rem 0rem; border-radius: 10rem; cursor: pointer; font-family: grosa; font-size: 1.2rem; font-weight: 500; line-height: 1.6rem; letter-spacing: 0.05em; text-align: center; color: rgb(255, 255, 255); background-color: rgb(33, 32, 31); margin-top: 1.6rem; }

@media (max-width: 960px) {
  .return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_refundDist__-vYSC .return-review-module_confirmBtn__I1pVp { width: 100%; }
}

.return-review-module_container__HmyeP .return-review-module_refundDetails__8ze-F .return-review-module_subText__MpPKk { text-align: center; font-family: grosa; font-size: 1.1rem; font-weight: 400; line-height: 1.4rem; margin-top: 1.6rem; }
