@charset "utf-8";

.option-container-module_input__FGeHn { clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; width: 1px; margin: -1px; overflow: hidden; padding: 0px; position: relative; display: block; }

.option-container-module_label__UGsY1 { position: relative; }

.option-container-module_srOnly__OyBDR:not(:focus):not(:active) { clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px; }

.option-container-module_input__FGeHn:checked + .option-container-module_label__UGsY1, .option-container-module_input__FGeHn:focus + .option-container-module_label__UGsY1 { border: 0.1rem solid rgb(33, 32, 31); background-color: rgb(255, 255, 255); }

.option-container-module_input__FGeHn:checked + .option-container-module_label__UGsY1 .option-container-module_colorDot__Wjqc0, .option-container-module_input__FGeHn:focus + .option-container-module_label__UGsY1 .option-container-module_colorDot__Wjqc0 { border: 0.07rem solid rgba(33, 32, 31, 0.2); }

.option-container-module_label__UGsY1 { border-radius: 50%; width: 1.35rem; height: 1.35rem; box-sizing: content-box; padding: 0.4rem; border: 0.1rem solid rgba(33, 32, 31, 0.2); }

.option-container-module_colorDot__Wjqc0 { display: flex; cursor: pointer; border-radius: 50%; width: 100%; height: 100%; }

.option-container-module_colorDotBorder__vbrxL { border: 0.07rem solid rgba(33, 32, 31, 0.2); }
