@charset "utf-8";

.collapsible-module_contentWrapper__Qn5tt { width: 100%; }

.collapsible-module_unCollapsed__U7yY7 { margin-bottom: 0.8rem; }

.collapsible-module_headerWrapper__riKpy { width: 100%; display: flex; flex-direction: row; justify-content: space-between; font-size: 1.4rem; line-height: 2rem; font-weight: 400; }

.collapsible-module_iconWrapper__AWdyy { display: flex; align-content: center; align-items: center; cursor: pointer; }

.collapsible-module_iconWrapper__AWdyy svg { margin-top: 7px; height: 13px; width: 15px; }

.collapsible-module_iconWrapper__AWdyy.collapsible-module_reverse__doGIb { transform: rotate(180deg); }
