@charset "utf-8";

.bread-crumbs-module_container__1SJ4D { display: flex; align-items: center; gap: 0.2rem; }

.bread-crumbs-module_container__1SJ4D .bread-crumbs-module_link__lnZL- { cursor: pointer; font-size: 1.1rem; font-weight: 400; line-height: 1.4rem; color: rgb(117, 117, 117); text-decoration: none; }

.bread-crumbs-module_container__1SJ4D .bread-crumbs-module_divider__biP5G { font-size: 1.2rem; line-height: 1.6rem; color: rgb(117, 117, 117); }

.bread-crumbs-module_container__1SJ4D .bread-crumbs-module_dividerLast__Q5sB6 { color: rgb(0, 0, 0); }

.bread-crumbs-module_container__1SJ4D .bread-crumbs-module_text__m0xG2 { font-size: 1.1rem; line-height: 1.4rem; color: rgb(0, 0, 0); }
