@charset "utf-8";

amp-sidebar { --story-page-vh: 1vh; top: 0px; height: 100vh; max-width: 80vw; background-color: rgb(239, 239, 239); outline: none; z-index: 2147483647; will-change: transform; position: fixed !important; max-height: 100vh !important; min-width: 45px !important; overflow: hidden auto !important; }

amp-sidebar[side="left"] { transform: translateX(-100%); animation-name: i-amphtml-sidebar-slide-out-left; left: 0px !important; }

amp-sidebar[side="left"][open] { animation-name: i-amphtml-sidebar-slide-in-left; }

amp-sidebar[side="right"] { transform: translateX(100%); animation-name: i-amphtml-sidebar-slide-out-right; right: 0px !important; }

amp-sidebar[side="right"][open] { animation-name: i-amphtml-sidebar-slide-in-right; }

amp-sidebar[side][i-amphtml-sidebar-opened] { transform: none; animation: auto ease 0s 1 normal none running none; }

.i-amphtml-sidebar-mask, amp-sidebar[side] { animation-duration: 233ms; animation-timing-function: cubic-bezier(0, 0, 0.21, 1); animation-fill-mode: forwards; }

.i-amphtml-toolbar > ol, .i-amphtml-toolbar > ul { display: flex; justify-content: flex-start; flex-wrap: wrap; overflow: auto; list-style-type: none; padding: 0px; margin: 0px; }

.amp-sidebar-mask { background-color: rgba(0, 0, 0, 0.5); }

.i-amphtml-sidebar-mask { animation-name: i-amphtml-sidebar-mask-fade-out; z-index: 2147483646; position: fixed !important; top: 0px !important; left: 0px !important; width: 100vw !important; height: 100vh !important; background-image: none !important; }

.i-amphtml-sidebar-mask[open] { animation-name: i-amphtml-sidebar-mask-fade-in; }

.i-amphtml-sidebar-mask[i-amphtml-sidebar-opened] { animation: auto ease 0s 1 normal none running none; }

@keyframes i-amphtml-sidebar-slide-in-left {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0px); }
}

@keyframes i-amphtml-sidebar-slide-out-left {
  0% { transform: translateX(0px); }
  100% { transform: translateX(-100%); }
}

@keyframes i-amphtml-sidebar-slide-in-right {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0px); }
}

@keyframes i-amphtml-sidebar-slide-out-right {
  0% { transform: translateX(0px); }
  100% { transform: translateX(100%); }
}

@keyframes i-amphtml-sidebar-mask-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes i-amphtml-sidebar-mask-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
