@charset "utf-8";

@font-face { font-family: GoogleSans-Bold; src: url("GoogleSans-Bold.woff2") format("woff2"); font-weight: 400; font-style: normal; font-display: block; }

@font-face { font-family: GoogleSans-Regular; src: url("GoogleSans-Regular.woff2?cachebust=1742848596542") format("woff2"); font-weight: 400; font-style: normal; font-display: block; }

@font-face { font-family: GoogleSans-Medium; src: url("GoogleSans-Medium.woff2?cachebust=1742848596542") format("woff2"); font-weight: 400; font-style: normal; font-display: block; }

#headline, #headline_corrected, #payoff b, #sub_headline b { font-family: GoogleSans-Bold; font-weight: 400; text-rendering: geometricprecision; -webkit-font-smoothing: antialiased; }

#payoff, #sub_headline { font-family: GoogleSans-Regular; font-weight: 400; text-rendering: geometricprecision; -webkit-font-smoothing: antialiased; }

#cta { font-family: GoogleSans-Medium; font-weight: 400; text-rendering: geometricprecision; -webkit-font-smoothing: antialiased; color: rgb(255, 255, 255); width: 100%; text-align: center; position: relative; letter-spacing: -0.02em; white-space: nowrap; padding: 0.7em 1.2em; }

:root { --google-blue: #4285f4; --google-green: #0f9d58; --google-red: #db4437; --google-yellow: #f4b400; }

body { margin: 0px; line-height: 1.1; }

a { color: inherit; text-decoration: inherit; }

#banner { width: 970px; height: 250px; position: absolute; opacity: 0; background-color: rgb(255, 255, 255); overflow: hidden; cursor: pointer; box-sizing: border-box; padding: 36px 51px; display: grid; grid-template: "logo_gws logo_gws" min-content ". ." 28px "copy cta_hero" min-content ". ." / auto min-content; gap: 0px; }

#banner::after { top: 0px; left: 0px; width: 100%; height: 100%; position: absolute; border: 1px solid rgb(221, 221, 221); box-sizing: border-box; pointer-events: none; content: ""; }

.element { position: absolute; background-size: contain; background-repeat: no-repeat; }

#logo_gws { grid-area: logo_gws; width: 100%; height: auto; display: block; }

#copy { grid-area: copy; display: grid; align-self: center; letter-spacing: -0.037em; gap: 1em; }

#headline { --icon-margin-right: 0.17em; --icon-margin-left: 0.36em; --icon-margin-right-comma: 0.05em; transform: rotate(0.001deg); }

#headline img, #headline svg { height: 0.74em; }

#headline #iconSignatureEn { height: 1.3em; margin-bottom: -0.43em; margin-left: -0.1em; margin-right: 0px; overflow: visible; }

#headline #number { will-change: transform; display: inline-block; }

#headline #iconLookingGlass { will-change: transform; }

#headline #iconLock { will-change: transform; overflow: visible; }

#headline .svg-container { display: inline-block; }

#headline .svg-container.start img.icon, #headline .svg-container.start svg.icon { margin-right: var(--icon-margin-right); }

#headline .svg-container.inline img.icon, #headline .svg-container.inline svg.icon { margin-left: var(--icon-margin-left); margin-right: var(--icon-margin-right); }

#headline .svg-container.followed-by-comma img.icon, #headline .svg-container.followed-by-comma svg.icon { margin-right: var(--icon-margin-right-comma); }

#sub_headline { line-height: 1.2 !important; }

#sub_headline b.gradient { background: linear-gradient(42.68deg, rgb(33, 123, 254) 23%, rgb(7, 142, 251) 38%, rgb(172, 135, 235) 70%, rgb(238, 77, 93) 100%) 0px center / 200% text; -webkit-text-fill-color: transparent; }

#cta_container { grid-area: cta; background-color: var(--google-blue); display: inline-flex; align-items: center; justify-content: center; border-radius: 0.2em; width: fit-content; height: fit-content; }

#ctaLinesContainer { left: 0px; }

#lines_left { transform: matrix(-1, 0, 0, 1, 0, 0); }

#lines_right { transform: matrix(1, 0, 0, 1, 174, 0); }

#banner.has-payoff { grid-template-rows: min-content auto min-content 1em min-content auto; gap: 0px; grid-template-areas: "logo_gws logo_gws" ". ." "headline cta_hero" ". ." "payoff ." ". ."; }

.gemini #logo_gws { width: 370px; }

#copy #headline { line-height: 1; }

.us-en #copy #headline { font-size: 40px; }

#copy #headline::after, #copy #headline::before { content: ""; display: block; height: 0px; width: 0px; }

#copy #headline::before { margin-bottom: calc(-0.1em + 0px); }

#copy #headline::after { margin-top: calc(-0.175em + 0px); }

#copy #sub_headline { line-height: 1; }

.us-en #copy #sub_headline { font-size: 20px; }

#copy #payoff { line-height: 1; }

.us-en #copy #payoff { font-size: 21px; }

.has-payoff #copy { display: contents; }

.has-payoff #copy #headline { grid-area: headline; }

.has-payoff #copy #payoff { grid-area: payoff; }

#cta_hero_container { grid-area: 1 / cta_hero / -1; place-self: center stretch; display: grid; grid-template: "cta" min-content "." "hero_lockup" min-content / min-content; gap: 20px; }

#cta_container { justify-self: center; font-size: 16px; }

#hero_lockup { grid-area: hero_lockup; height: auto; display: block; place-self: end center; width: 123px; }
