@charset "utf-8";

.cds-114 { text-decoration: none; }

.cds-115 { text-decoration: none; }

.cds-115:hover { text-decoration: underline; }

.cds-116 { text-decoration: underline; }

.cds-117 { border: 0px; cursor: pointer; margin: 0px; outline: 0px; padding: 0px; position: relative; user-select: none; border-radius: 0px; vertical-align: middle; background-color: transparent; appearance: none; -webkit-tap-highlight-color: transparent; }

.cds-117.cds-118 { outline: auto; }
