@charset "utf-8";

.mAWRAc { position: absolute; z-index: 100; }

.gaBwhe { overflow: hidden; position: absolute; direction: ltr; }

.VnO4Ib { position: absolute; left: 0px; top: 0px; z-index: 0; }

sentinel { }
