@charset "utf-8";

._a9yl { animation-duration: 2s; animation-fill-mode: both; animation-iteration-count: 1; animation-name: CommentPermalinkAnimHighlightFade; animation-timing-function: ease-in-out; }

@keyframes CommentPermalinkAnimHighlightFade {
  0% { background-color: rgb(var(--ig-temporary-highlight)); }
  100% { background-color: transparent; }
}

._a9ym { border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px 0px 16px; padding: 0px; vertical-align: baseline; }

._a9ym:last-child { margin-bottom: 0px; }

._a9yo { margin: 16px 0px 0px 54px; padding: 0px; vertical-align: baseline; width: calc(100% - 54px); border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; }

._a9ye { margin-bottom: 5px; }

._a9yg { border: 0px; display: inline-block; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px; padding: 0px; vertical-align: baseline; }

._a9yh { align-items: stretch; border-top: 0px; border-right: 0px; border-left: 0px; border-image: initial; border-bottom: 1px solid rgb(var(--ig-secondary-text)); box-sizing: border-box; display: inline-block; flex-direction: column; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; height: 0px; margin: 0px 16px 0px 0px; padding: 0px; position: relative; vertical-align: middle; width: 24px; }

._a9yi { border: 0px; color: rgb(var(--ig-secondary-text)); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: var(--system-12-font-size); font-weight: var(--font-weight-system-semibold); line-height: var(--system-12-line-height); margin: 0px; padding: 0px; vertical-align: baseline; }

._a9yj { align-items: stretch; border: 0px; box-sizing: border-box; display: inline-block; flex-direction: column; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; left: 6px; margin: 0px; padding: 0px; position: relative; vertical-align: middle; }

._a9yk { border-bottom: 1px solid rgb(var(--post-separator)); border-top: 1px solid rgb(var(--post-separator)); }

.EmbedVideo { height: 100%; position: absolute; -webkit-tap-highlight-color: transparent; width: 100%; }

._aand { display: block; overflow: hidden; padding-bottom: 100%; position: relative; -webkit-tap-highlight-color: transparent; width: 100%; }

._aane { background-color: rgb(var(--web-always-black)); border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; height: 100%; inset: 0px; margin: 0px; min-height: 100%; min-width: 100%; padding: 0px; position: absolute; -webkit-tap-highlight-color: transparent; vertical-align: baseline; width: 100%; }

._aane::-webkit-media-controls-start-playback-button { display: none; }

._aard, ._aar9 { inset: 0px; position: absolute; display: flex; align-items: center; justify-content: center; }

._aard { background-color: rgba(var(--web-always-black),.5); display: block; }

._aara { align-items: stretch; border: 0px; box-sizing: border-box; display: flex; flex-direction: column; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: auto; padding: 0px; position: relative; vertical-align: baseline; }

._aar9 ._aarc { color: rgb(var(--web-always-white)); display: block; font-size: 14px; font-weight: var(--font-weight-system-semibold); line-height: var(--system-14-line-height); margin-bottom: 20px; margin-top: 50px; text-decoration: none; z-index: 3; }

._aar9 ._aarb { background-size: 145px 80px; display: block; height: 55px; margin-left: 45px; margin-top: -15px; opacity: 0.9; overflow: hidden; position: absolute; width: 55px; z-index: 3; }

._acgx { border-radius: 12px; display: flex; flex-direction: column; max-height: 100%; max-width: 100%; overflow: hidden; }

._acgy { align-items: stretch; border: 0px; box-sizing: border-box; display: flex; flex: 0 1 auto; flex-direction: column; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px; overflow: hidden; padding: 0px; position: relative; vertical-align: baseline; }

._acgz { align-items: stretch; border: 0px; box-sizing: border-box; display: flex; flex-direction: column; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px; max-height: 100%; overflow: hidden auto; padding: 0px; position: relative; vertical-align: baseline; width: 100%; }

._ac7r { min-width: 0px; border: none; }

._ac7r:not(:first-child)::before, ._ac7r:not(:last-child)::after { background-color: rgb(var(--ig-highlight-background)); content: ""; display: block; height: 1px; width: 100%; }

._abn2 { appearance: none; background: none; border: none; box-sizing: border-box; cursor: pointer; display: block; font-family: inherit; font-size: inherit; margin: 0px; padding: 0px; -webkit-tap-highlight-color: transparent; text-align: left; text-decoration: none; width: 100%; }

._abn2:active { background-color: rgb(var(--ig-highlight-background)); }

a._abn2:active { opacity: 1; }

._abn2, a._abn2, a:visited._abn2 { color: rgb(var(--ig-primary-text)); }

._abn2._abn3, a._abn2._abn3, a:visited._abn2._abn3 { color: rgb(var(--ig-error-or-destructive)); }

._abn2._abn4, a._abn2._abn4, a:visited._abn2._abn4 { color: rgb(var(--ig-secondary-text)); }

._abn2:not(:first-child)::before { background-color: rgb(var(--ig-highlight-background)); content: ""; display: block; height: 1px; width: 100%; }

._acj0 { border: 0px; color: rgb(var(--ig-secondary-text)); flex-grow: 1; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: var(--system-12-font-size); line-height: var(--system-12-line-height); margin: -10px 0px; min-height: 28px; overflow: hidden; padding: 10px 0px; text-align: center; vertical-align: baseline; }

._aci-, ._aci-:visited { color: rgb(var(--ig-primary-text)); }

._aci_ { max-width: inherit; overflow: hidden; padding-bottom: 4px; padding-top: 4px; }

._aci- { box-sizing: content-box; height: 100%; max-width: inherit; padding-top: 6px; }

._ackg { padding: 12px 0px; }

._ackh { padding: 20px 0px; }

._ackg ._ajrd { margin: 0px 20px 12px; }

._ackh ._ajrd { margin: 0px 24px 12px; }

._ajre { margin: 0px 0px 12px; }

._ackk { align-items: stretch; border: 0px; box-sizing: border-box; display: flex; flex-direction: row; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; padding: 0px; position: relative; vertical-align: baseline; }

._ackl { border: 0px; display: block; flex: 1 0 auto; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px 12px 0px 0px; padding: 0px; vertical-align: baseline; }

._acki { color: rgb(var(--ig-secondary-text)); font-size: 16px; font-weight: 600; justify-content: center; padding: 20px; text-align: center; }

._ackg ._acki, ._ackg ._ackj { height: 214px; }

._ackh ._acki, ._ackh ._ackj { height: 223px; }

._aalg { align-items: stretch; border: 0px; box-sizing: border-box; display: flex; flex-direction: column; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; height: 48px; margin: 40px 0px 0px; padding: 0px; position: relative; vertical-align: baseline; }

._abmv { z-index: calc(var(--modal-z-index) + 1); }

._abmw { position: absolute; }

._abmx { position: fixed; }

._aa5h { border: 0px; padding: 0px; position: absolute; right: 4px; top: 4px; z-index: 1; }

._aa5t { backdrop-filter: blur(10px); background-color: rgba(0, 0, 0, 0.8) !important; }

._abeo { display: flex; position: relative; }

._abeo ._abeh { background-color: rgb(var(--ig-primary-background)); border-color: rgb(var(--ig-secondary-text)); line-height: 20px; padding-left: 22px; }

._abeo ._abeh::-webkit-input-placeholder { color: transparent; }

._abei { align-items: center; bottom: 0px; display: flex; flex-direction: row; justify-content: center; left: 50%; max-width: 100%; padding: 0px 8px; pointer-events: none; position: absolute; top: 0px; transform: translate(-50%); transition: left 0.15s ease-out, transform 0.15s ease-out; }

._abei._abej { left: 0px; transform: translate(0px); }

._abel { border: 0px; color: rgb(var(--ig-secondary-text)); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: var(--system-14-font-size); font-weight: 400; line-height: 28px; margin: 0px 0px 0px 5px; overflow: hidden; padding: 0px; text-overflow: ellipsis; vertical-align: baseline; white-space: nowrap; }

._aben { align-items: center; background: transparent; border: 0px; display: flex; justify-content: center; padding: 0px; }

._ac7s { align-items: stretch; background-color: rgb(var(--grey-9)); border: 0px; box-sizing: border-box; border-radius: 8px; display: flex; flex-direction: row; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px; min-height: 44px; padding: 0px 16px; position: relative; vertical-align: baseline; width: 100%; }

._ac7t { align-items: stretch; border: 0px; box-sizing: border-box; display: flex; flex-direction: column; flex-grow: 1; flex-shrink: 1; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; justify-content: center; margin: 0px; padding: 0px; position: relative; vertical-align: baseline; }

._ac7u { border: 0px; color: rgb(var(--web-always-white)); font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 14px; line-height: 18px; margin: 0px; max-height: 72px; overflow: hidden; padding: 12px 0px; text-align: center; vertical-align: baseline; }

._aatb { max-height: inherit; padding: 0px; }

._aasi { border-bottom: 1px solid rgb(var(--post-separator)); border-radius: 4px; }

._aasj { border-radius: 8px; }

._aatc ._aasi { background-color: rgb(var(--ig-primary-background)); }

._aasm { justify-content: center; padding-right: 8px; }

._aasn { justify-content: center; padding-right: 4px; }

@supports not (aspect-ratio: 1) {
  ._aatm { overflow: hidden; position: relative; }
  ._aatm::before { content: ""; display: block; padding-bottom: 100%; }
  ._aatm > :first-child { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 100%; }
}

._aato { max-height: inherit; }

._aatg { width: 100%; }

._aask { border-radius: 8px 8px 0px 0px; }

._aatk { background-color: rgb(var(--ig-primary-background)); display: flex; flex-direction: column; pointer-events: auto; position: relative; }

._aatl { flex-grow: 2; flex-shrink: 1; }

._aatg ._aatk { background-color: rgb(var(--web-always-black)); flex-grow: 1; justify-content: center; min-height: 450px; overflow: hidden; }

._aatg ._aatk._aatn { background-color: rgb(var(--ig-secondary-background)); }

._aatg ._aasi { background-color: rgb(var(--ig-primary-background)); border-bottom: 1px solid rgb(var(--post-separator)); margin-right: 0px; }

._aatg._aati ._aasi { border-left: 1px solid rgb(var(--post-separator)); }

@media (-webkit-min-device-pixel-ratio: 2) {
  ._aatf ._aasi { border-bottom-width: 0.5px; }
}

._agh1 { padding: 0px; margin-right: -8px; }

._aiao { border-radius: 4px; overflow: hidden; border: 1px solid rgb(var(--post-separator)); }

._ai9a { border-bottom: none; }

._at8n { background-color: rgb(33, 35, 40) !important; }

._aa6b { flex-grow: 1; margin: 0px auto; max-width: 935px; width: 100%; }

._ad9f { margin-bottom: 16px; }

._aa69 { color: rgb(var(--ig-primary-text)); font-size: 15px; line-height: 18px; padding: 20px 10px; text-align: center; }

._aa6a { box-sizing: border-box; display: flex; flex-direction: column; position: relative; width: 100%; }

@media (min-width: 736px) {
  ._aa6b { box-sizing: content-box; justify-content: center; padding: 40px 20px; width: calc(100% - 40px); }
  ._aa6d { justify-content: normal; padding: 4vh 20px 0px; }
  ._aa6c { padding: 30px 20px; }
  ._aa6e { align-items: center; display: flex; flex-direction: column; margin: 0px auto; position: relative; width: 100%; }
  ._aa6e ._aa6a { background-color: rgb(var(--ig-primary-background)); border: 1px solid rgb(var(--ig-elevated-separator)); border-bottom-right-radius: 3px; border-top-right-radius: 3px; }
}

@media (max-width: 735px) {
  ._aa69 { font-size: 14px; line-height: 17px; }
}

._agj9 { color: var(--ig-primary-background); font-weight: 600; }

a:visited._agj9 { color: var(--ig-primary-background); }

._ac68 { margin-left: -15px; margin-right: -15px; }

._aauc { align-items: stretch; border: 0px; border-radius: 5px; box-sizing: border-box; display: flex; flex-direction: column; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px; overflow: hidden; padding: 0px; position: relative; vertical-align: baseline; }

._abmn { background-color: rgb(var(--grey-9)); box-sizing: border-box; display: flex; flex-direction: row; min-height: 44px; padding: 0px 16px; width: 100%; }

._abmo { flex-grow: 1; flex-shrink: 1; justify-content: center; min-width: 200px; }

._abmp { border: 0px; color: rgb(255, 255, 255); font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 14px; line-height: 18px; margin: 0px; max-height: 72px; overflow: hidden; padding: 12px 0px; vertical-align: baseline; }

._a9z6 { border: 0px; box-sizing: content-box; flex-grow: 1; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; height: calc(100% - 32px); left: 0px; margin: 0px; overflow-y: scroll; padding: 16px; position: absolute; scrollbar-width: none; vertical-align: baseline; width: calc(100% - 32px); }

._a9z6::-webkit-scrollbar { display: none; }

._a9z7 { overflow-y: auto; position: static; }

._a9z6._a9z9._a9z8 { padding-top: 0px; }

._a9z5 { padding: 5px 16px 16px 0px; width: auto; }

._a9z4 { border-bottom: 1px solid rgb(var(--post-separator)); margin-bottom: 16px; }

._a9z8 ._a9z4 { border-bottom-width: 0px; margin-bottom: 0px; }

._a9z6 ._a9z5:last-child { padding-bottom: 16px; }

._a9z3 { background-color: transparent; border-bottom: 8px solid rgb(var(--post-separator)); border-top: 8px solid rgb(var(--post-separator)); margin: 0px -12px; padding: 2px 12px 8px; }

._a9za ._a9z3 { margin-bottom: 4px; }

._acb3 { bottom: 0px; left: 0px; overflow: hidden; position: fixed; right: 0px; z-index: 500; }

._acb4 { transform: translateY(0px); transition: transform 0.2s ease-out; }

._acb4._acb5 { transform: translateY(100%); }

._acb6 { align-items: center; bottom: 50%; left: 0px; overflow: hidden; position: fixed; right: 0px; z-index: 500; }

._acb7 { opacity: 1; transition: visibility linear, opacity 0.15s; visibility: visible; width: fit-content; margin: auto; }

._acb7._acb8 { opacity: 0; transition: visibility linear 0.3s, opacity 0.3s; visibility: hidden; }

@media (min-width: 736px) {
  ._acb4 { align-items: center; }
  ._acb9 { border-radius: 2px; min-width: 100px; width: auto; }
  ._acba { border-radius: 2px 2px 0px 0px; min-width: 500px; width: auto; }
}

._aakl { align-items: stretch; border: 0px; box-sizing: border-box; cursor: pointer; display: block; flex-direction: column; flex-shrink: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px; padding: 0px; position: relative; vertical-align: baseline; }

._aaki { border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; margin: 0px; opacity: 0; padding: 0px; transition: opacity 0.2s ease-out 0.1s; vertical-align: baseline; }

._aakj { border: 0px; display: block; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; height: 135px; left: 50%; margin: -67px 0px 0px -67px; padding: 0px; position: absolute; top: 50%; vertical-align: baseline; width: 135px; }

._aakk { opacity: 1; }

._aakl, ._aakh { inset: 0px; position: absolute; }
