@charset "utf-8";

.cds-187 { height: 0px; overflow: hidden; transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.cds-188 { height: auto; overflow: visible; }

.cds-189 { visibility: hidden; }

.cds-190 { display: flex; }

.cds-191 { width: 100%; }
