@charset "utf-8";

._Y3Itc_content-container-padding_66Xh7 { margin-bottom: 0px; padding-left: 6px; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_content-container-padding_66Xh7 { margin-bottom: 0px; padding-left: 0px; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_content-container-vertical-padding_38N5b { padding-bottom: 20px; padding-top: 4px; }

._Y3Itc_sentiment-section_3Z0bO, ._Y3Itc_is-desktop-view_29OYH ._Y3Itc_insight-bottom-sheet-redesign_1NP0A, ._Y3Itc_is-desktop-view_29OYH ._Y3Itc_insight-bottom-sheet_3SFlx { padding: 0px; }

._Y3Itc_sentiment-header_3nrex { font-size: 18px; font-weight: 700; line-height: 22px; margin-bottom: 8px; padding: 0px; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_sentiment-header_3nrex { line-height: 24px; }

._Y3Itc_sentiment-aspects_2mp4b { display: flex; margin: 0px; padding: 0px; scrollbar-width: none; }

._Y3Itc_sentiment-aspects_2mp4b::-webkit-scrollbar, ._Y3Itc_insight-bottom-sheet-content_3cnVT, ._Y3Itc_is-mobile-view_2p4SJ ._Y3Itc_insight-bottom-sheet-button-group_1gQMy::-webkit-scrollbar, ._Y3Itc_is-desktop-view_29OYH ._Y3Itc_insight-bottom-sheet-button-group_1gQMy::-webkit-scrollbar { display: none; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_sentiment-aspects_2mp4b { display: flex; padding-bottom: 0px; }

._Y3Itc_aspect-button-group_-biHO ._Y3Itc_aspect-symbol-list_24amT { display: flex; flex-wrap: wrap; margin: 0px; row-gap: 8px; }

._Y3Itc_is-mobile-view_2p4SJ ._Y3Itc_insight-bottom-sheet-button-group_1gQMy ._Y3Itc_aspect-list_cBugj { margin-bottom: 3px; margin-top: 3px; white-space: nowrap; }

._Y3Itc_is-mobile-view_2p4SJ ._Y3Itc_insight-bottom-sheet-button-group_1gQMy ._Y3Itc_aspect-link_TtdmS::after, ._Y3Itc_aspect-link_TtdmS:not(:last-child)::after { border-left: 1px solid rgb(187, 191, 191); bottom: 0px; content: " "; position: absolute; right: -8px; top: 0px; }

._Y3Itc_is-mobile-view_2p4SJ ._Y3Itc_insight-bottom-sheet-button-group_1gQMy ._Y3Itc_aspect-link_TtdmS:last-child::after { content: ""; display: none; }

._Y3Itc_is-mobile-view_2p4SJ ._Y3Itc_insight-bottom-sheet-button-group_1gQMy ._Y3Itc_aspect-symbol-list_24amT { display: flex; white-space: nowrap; }

._Y3Itc_aspect-link-pill_1wnEf svg, ._Y3Itc_aspect-link_TtdmS svg { margin-right: 6px; }

._Y3Itc_aspect-link-symbol_23T9N { -webkit-box-align: center; -webkit-box-pack: center; align-items: center; display: flex; justify-content: center; }

._Y3Itc_aspect-link_TtdmS { margin-right: 16px; position: relative; }

._Y3Itc_aspect-link_TtdmS:not(._Y3Itc_aspect-link-pill_1wnEf)._Y3Itc_selected_2-xMA { font-weight: 700 !important; }

._Y3Itc_aspect-link_TtdmS._Y3Itc_underline_1Tba0:not(._Y3Itc_selected_2-xMA) { text-decoration: underline; }

._Y3Itc_aspect-link-pill_1wnEf { -webkit-box-align: center; align-items: center; border: 1px solid rgb(136, 140, 140); border-radius: 9999px; display: inline-flex; margin-right: 8px; padding: 3px 12px 3px 3px; transition: 0.1s ease-in-out; color: rgb(15, 17, 17) !important; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_aspect-link-pill_1wnEf { font-size: 12px; line-height: 16px; padding: 3px 10px 3px 3px; }

._Y3Itc_aspect-link-pill_1wnEf:hover { background-color: rgb(245, 245, 245); border-color: rgb(136, 140, 140); text-decoration: none !important; }

._Y3Itc_aspect-link-pill_1wnEf:focus { border-radius: 9999px; }

._Y3Itc_aspect-link-pill_1wnEf._Y3Itc_selected_2-xMA { background-color: rgb(237, 248, 255); border-color: rgb(28, 137, 227); }

._Y3Itc_aspect-link-pill_1wnEf::after { border-left: none !important; content: none !important; }

._Y3Itc_aspect-button-group_-biHO { display: flex; flex-wrap: wrap; font-size: 14px; margin: 0px; padding: 0px; }

._Y3Itc_subtitle-aspect-button_2o27X { color: rgb(86, 89, 89); font-size: 13px; font-weight: 400; margin-top: 0px; padding: 0px; text-transform: none; }

._Y3Itc_insight-bottom-sheet_3SFlx { padding-bottom: 20px; padding-left: 20px; padding-right: 20px; }

._Y3Itc_insight-bottom-sheet_3SFlx h1 { font-size: 18px; font-weight: 700; line-height: 22px; padding-bottom: 4px; text-transform: capitalize; }

._Y3Itc_insight-bottom-sheet-subtitle_28v47 { color: rgb(86, 89, 89); font-size: 13px; }

._Y3Itc_is-desktop-view_29OYH hr { border-color: rgb(231, 231, 231); }

._Y3Itc_ending-line_1I1OL { border: none; margin-bottom: 1.2rem !important; }

._Y3Itc_insight-bottom-sheet-button-group_1gQMy { display: flex; margin-left: -20px; margin-right: -20px; padding: 1.6rem 0px; margin-bottom: 0px !important; }

._Y3Itc_is-mobile-view_2p4SJ ._Y3Itc_insight-bottom-sheet-button-group_1gQMy { overflow: scroll hidden; scrollbar-width: none; white-space: nowrap; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_insight-bottom-sheet-button-group_1gQMy { flex-wrap: wrap; margin: 0px; }

._Y3Itc_is-mobile-view_2p4SJ ._Y3Itc_insight-bottom-sheet-button-group_1gQMy > a:first-of-type { margin-left: 20px; }

._Y3Itc_snippet_2SpLd { -webkit-box-orient: horizontal; -webkit-box-direction: normal; color: rgb(15, 17, 17); display: flex; flex-flow: wrap; font-weight: 400; height: auto; margin-bottom: 12px; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_snippet_2SpLd { color: rgb(15, 17, 17); margin-bottom: 8px; }

._Y3Itc_snippet_2SpLd p b { color: rgb(15, 17, 17); font-size: 15px; font-weight: 700; line-height: 20px; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_snippet_2SpLd p b { color: rgb(15, 17, 17); font-size: 14px; font-weight: 700; line-height: 20px; }

._Y3Itc_snippet_2SpLd p { font-size: 15px; line-height: 20px; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_snippet_2SpLd p { font-size: 14px; line-height: 20px; }

._Y3Itc_fragment_tnwGQ { margin-right: 3px; }

._Y3Itc_snippet_2SpLd div:first-child, ._Y3Itc_snippet_2SpLd div:nth-last-child(2) { margin-right: 0px; }

._Y3Itc_snippet-see-more_3qykv { white-space: nowrap; }

._Y3Itc_stat-text-box_8ba_x { -webkit-box-flex: 1; -webkit-box-orient: vertical; flex: 1 1 0%; flex-direction: column; text-align: left; }

._Y3Itc_stat-text-box-row_1_DtP, ._Y3Itc_stat-text-box_8ba_x { -webkit-box-direction: normal; display: flex; }

._Y3Itc_stat-text-box-row_1_DtP { -webkit-box-orient: horizontal; -webkit-box-pack: justify; flex-direction: row; justify-content: space-between; }

._Y3Itc_stat-text-box-title_26C4y { color: rgb(15, 17, 17); font-size: 24px; font-weight: 400; line-height: 31px; }

._Y3Itc_stat-text-box-subtitle_1wPSa { color: rgb(15, 17, 17); font-size: 13px; font-weight: 400; line-height: 18px; text-transform: capitalize; }

._Y3Itc_stat-customer-mentions-box_Su4zw { -webkit-box-flex: 1.5; flex: 1.5 1 0%; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_stat-text-box-label-row_3uYIE { -webkit-box-pack: start; -webkit-box-orient: vertical; -webkit-box-direction: normal; display: flex; flex-direction: column; font-size: 14px; gap: 4px; justify-content: flex-start; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_stat-number_1J1Vr { font-size: 24px; line-height: 32px; }

._Y3Itc_is-desktop-view_29OYH ._Y3Itc_stat-info-box_1akN2 { -webkit-box-align: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-box-pack: start; align-items: center; display: flex; flex-direction: row; gap: 12px; justify-content: flex-start; }

._Y3Itc_close-button_qtNz0 { background-color: transparent; border: none; line-height: 0; padding: 6px; position: absolute; right: 10px; top: 10px; }

._Y3Itc_text-positive_QRaJ2 { color: rgb(6, 125, 98); }

._Y3Itc_text-negative_zjq0Y { color: rgb(196, 85, 0); }

._Y3Itc_aspect-summary-link_1Ls1M { text-decoration-line: underline !important; }

._Y3Itc_aspect-summary-label_19a1a h1 { text-transform: none; }

._Y3Itc_aspect-summary-label_19a1a hr { display: block !important; }

._Y3Itc_product-insights-divider_3lxIJ { left: calc(50% - 50vw); margin-bottom: 0px; position: relative; width: 100vw; }

._Y3Itc_ai-branding-icon_1_-VZ { display: inline-block; margin-bottom: 1px; vertical-align: middle; }

._Y3Itc_ai-icon-left_2U2uo { display: none; margin-right: 1px; }

._Y3Itc_ai-icon-right_2svOG { display: none; margin-left: 1px; }
