@charset "utf-8";

._cr-ratings-histogram_style_ratings-histogram-mobile__3JRFf { padding-left: 6px; padding-right: 6px; }

._cr-ratings-histogram_style_histogram__-J2UR { -webkit-box-orient: vertical; -webkit-box-direction: normal; display: flex; flex-direction: column; gap: 14px; }

._cr-ratings-histogram_style_histogram-anchor__3YJGc { scroll-margin-top: 73px; }

._cr-ratings-histogram_style_histogram-row-container__Vh7Di { -webkit-box-orient: horizontal; -webkit-box-direction: normal; display: flex; flex-direction: row; gap: 12px; }

._cr-ratings-histogram_style_histogram-row-container__Vh7Di > div:nth-last-of-type(2) { -webkit-box-flex: 1; flex-grow: 1; }

._cr-ratings-histogram_style_histogram-column-space__RKUAd { -webkit-box-orient: vertical; -webkit-box-direction: normal; display: flex; flex-direction: column; height: 0px; visibility: hidden; }

._cr-ratings-histogram_style_customer-reviews-title__3Uofp { display: inline-block; padding: 0px; }

._cr-ratings-histogram_style_star-rating-explanation-icon-desktop__P8OPV { margin-left: 8px; margin-top: 5px; }

._cr-ratings-histogram_style_star-rating-explanation-icon-mobile__zQs4d { margin-left: 8px; margin-top: 2px; }

._cr-ratings-histogram_style_star-rating-explanation-mobile__2Tz23 { display: inline-block; }
