@charset "utf-8";

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-container__1Pkva { position: relative; text-align: left; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-standard__28gp8 { cursor: pointer; display: inline-block; height: 24px; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-shape__1IcJY { display: inline-block; height: 24px; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-rating__3_0eN { fill: rgb(255, 255, 255); font-family: Arial; font-size: 20px; text-shadow: rgb(0, 0, 0) -0.5px -0.5px 0px, rgb(0, 0, 0) 0.5px -0.5px 0px, rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) 0.5px 0.5px 0px; vertical-align: middle; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-rating-sign__1ronK { fill: rgb(255, 255, 255); font-family: Arial; font-size: 6px; font-weight: 700; vertical-align: middle; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-range-rating__2l2GZ { fill: rgb(0, 0, 0); font-family: Arial; font-size: 8px; text-shadow: none; vertical-align: middle; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-range-rating-sign__gQzDs { fill: rgb(0, 0, 0); font-family: Arial; font-size: 6px; font-weight: 700; text-shadow: none; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-rating-2021__2Q_3P { text-shadow: rgb(0, 0, 0) -0.5px -0.5px 0px, rgb(0, 0, 0) 0.5px -0.5px 0px, rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) 0.5px 0.5px 0px; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-data-sheet-label-container__2iEi2 { display: inline-block; padding-left: 5px; padding-top: 0px; position: absolute; vertical-align: middle; }

._multi-brand-video-desktop_energy-efficiency_energy-efficiency-badge-data-sheet-label__3b6X3 { cursor: pointer; word-break: break-word; }

._multi-brand-video-desktop_style_ad-feedback-primary-link__2bIZi { height: 30px; margin-bottom: 7px; margin-top: 4px; min-width: 75px; }

._multi-brand-video-desktop_style_ad-feedback-text__2HjQ9 { color: rgb(85, 85, 85); font-family: "Amazon Ember Regular", "Amazon Ember", Arial; font-size: 11px; padding: 8.5px 0px; }

._multi-brand-video-desktop_style_ad-feedback-text__2HjQ9:focus { border-radius: 5px; outline: rgb(53, 121, 138) solid 3px; }

._multi-brand-video-desktop_style_ad-feedback-sprite__28uwB { background-color: transparent; background-image: url(../../image/png/109.png); background-position: 0px 0px; background-repeat: no-repeat; color: rgb(150, 150, 150); display: inline-block; height: 12px; margin: 1px 0px 1px 3px; vertical-align: text-top; width: 14px; }

._multi-brand-video-desktop_style_ad-feedback-sprite-mobile__2_rj8 { background-image: url("https://m.media-amazon.com/images/G/01/ad-feedback/new_info_icon_3x.png"); background-repeat: no-repeat; background-size: contain; color: rgb(150, 150, 150); display: inline-block; height: 12px; margin: 1px 0px 1px 3px; vertical-align: text-top; width: 12px; }

._multi-brand-video-desktop_style_ad-feedback-text-desktop__q3xp_ { color: rgb(85, 85, 85); cursor: pointer; display: inline-block; font-family: "Amazon Ember Regular", "Amazon Ember", Arial; font-size: 11px; padding: 2px 0px; right: 0px; top: 2px; }

._multi-brand-video-desktop_style_ad-feedback-text-desktop__q3xp_:focus { border-radius: 5px; outline: rgb(53, 121, 138) solid 3px; }

._multi-brand-video-desktop_style_ad-feedback-loading-spinnner__1nmZw { margin-left: 45%; margin-top: 250px; }

._multi-brand-video-desktop_style_ad-feedback-loading-spinnner-rtl__2BoOY { margin-right: 45%; margin-top: 250px; }

._multi-brand-video-desktop_style_mbvContainer__2A_sC { margin-bottom: 24px; margin-top: 8px; }

._multi-brand-video-desktop_style_mbvContainer__2A_sC [class="a-carousel-viewport"] { height: auto !important; }

._multi-brand-video-desktop_style_carouselContainer__20DOZ { overflow: hidden; }

._multi-brand-video-desktop_style_carouselElement__3yEi0 { flex-shrink: 0; margin-right: 0px; width: auto !important; }

._multi-brand-video-desktop_style_mbvContainer__2A_sC ._multi-brand-video-desktop_style_carouselHeading__12WJ7 { margin-bottom: 0px; visibility: hidden; }

._multi-brand-video-desktop_style_mbvItem___XsOm { height: 100%; overflow: hidden; width: 380px; }

._multi-brand-video-desktop_style_mbvInSearchContainer__2V1oJ ._multi-brand-video-desktop_style_mbvItem___XsOm { padding: 0px 4px; }

._multi-brand-video-desktop_style_mbvInSearchContainer__2V1oJ ._multi-brand-video-desktop_style_carouselElement__3yEi0 { margin-left: 0px !important; }

._multi-brand-video-desktop_style_trackingPixel__Yoiar { position: absolute; visibility: hidden; }

._multi-brand-video-desktop_style_carouselContainer__20DOZ ol { display: flex; }

._multi-brand-video-desktop_style_brandContainer__1Dbbb { display: block; height: 32px !important; }

._multi-brand-video-desktop_style_productImageLink__rkF3b:focus { outline-offset: -0.25rem !important; }

._multi-brand-video-desktop_style_pdImgCntr__fqKMU { height: 100%; padding: 5px; width: 100%; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_carouselElement__3oO3_ { flex-shrink: 0; margin-right: 0px; width: auto !important; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_carouselElement__3oO3_ ._multi-brand-video-desktop_MultiBrandVideoDesktop_trackingPixel__28K7q { position: absolute; visibility: hidden; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_videoProductContainerBorderless__1zzDa, ._multi-brand-video-desktop_MultiBrandVideoDesktop_videoProductContainer__cSvoK { -webkit-box-orient: vertical; -webkit-box-direction: normal; display: flex; flex-direction: column; height: 100%; text-align: left; transform: translateZ(0px); }

._multi-brand-video-desktop_MultiBrandVideoDesktop_videoProductContainer__cSvoK { border: 1px solid rgb(221, 221, 221); border-radius: 5px; overflow: hidden; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_withBorder__1IzB7 { border: 1px solid rgb(221, 221, 221); border-radius: 5px; overflow: hidden; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_videoSectionContainer__1hCVR { width: 100%; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_ctaLinkContainer__1YL7- { -webkit-box-align: center; align-items: center; display: flex; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_logoLink__1zjf- { flex-shrink: 0; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_logoContainer__BEcww { background-color: rgb(255, 255, 255); border-radius: 50%; height: 36px; max-width: 72px; mix-blend-mode: normal; overflow: hidden; position: relative; width: 36px; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_logoContainer__BEcww img { height: 100%; object-fit: contain; width: 100%; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_ctaText__3b9pj { color: rgb(33, 98, 161); }

._multi-brand-video-desktop_MultiBrandVideoDesktop_ctaBanner__2h0Wn { background-color: rgb(247, 247, 247) !important; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_brandStoreWeblab__3crG8 { -webkit-box-pack: inherit; justify-content: inherit; -webkit-box-align: inherit !important; align-items: inherit !important; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_hideProductDetails__1yqth { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_borderEnabled__wbFuz { border: 1px solid rgb(221, 221, 221); border-radius: 5px; display: flex; margin-bottom: 0px; -webkit-box-pack: inherit !important; justify-content: inherit !important; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd { height: 100%; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_productCol__1c1v8 { -webkit-box-flex: 1; flex: 1 1 0%; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_marginTop__TcE29 { margin-top: 5px; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_pdImgCntr__1Qwmm { -webkit-box-pack: center; -webkit-box-align: center; align-items: center; display: flex; justify-content: center; padding: 4px; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_pdcol__2bwO2 { align-content: center; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_productImageLink__32JC9:focus { outline-offset: -0.25rem !important; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_container__1X5NQ, ._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_row__RQLZ2 { -webkit-box-orient: vertical; -webkit-box-direction: normal; display: flex; flex-direction: column; height: 100%; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_container__1X5NQ { padding: 5px; }

[dir="rtl"] ._multi-brand-video-desktop_MultiBrandVideoDesktop_e1__2_lbd ._multi-brand-video-desktop_MultiBrandVideoDesktop_videoProductContainer__cSvoK { text-align: right; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_desktopMbv__3t-V1 [class="a-carousel-viewport"] { height: auto !important; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_multiProductContainer__I98M_ { gap: 6px; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_mbv__R7us8 { margin-bottom: 24px; margin-top: 8px; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_mbv__R7us8 ._multi-brand-video-desktop_MultiBrandVideoDesktop_mbvItem__2iCWc { height: 100%; overflow: hidden; width: 380px; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_mbv__R7us8._multi-brand-video-desktop_MultiBrandVideoDesktop_wideMbvItem__3xgcT ._multi-brand-video-desktop_MultiBrandVideoDesktop_mbvItem__2iCWc { width: 400px; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_mbv__R7us8 ._multi-brand-video-desktop_MultiBrandVideoDesktop_brandContainer__1TGb6 { display: block; height: 32px !important; }

._multi-brand-video-desktop_MultiBrandVideoDesktop_mbv__R7us8 [class="a-carousel-viewport"] { height: auto !important; }

._multi-brand-video-desktop_style_content__2cgFQ { display: flex; height: 100%; position: relative; width: 100px; }

._multi-brand-video-desktop_style_contentStores__2uIfX { -webkit-box-pack: end; display: flex; height: 100%; justify-content: flex-end; pointer-events: auto; position: relative; text-align: right; width: 100%; }

[dir="rtl"] ._multi-brand-video-desktop_style_contentStores__2uIfX { text-align: left; }

._multi-brand-video-desktop_style_contentSingleBrand__3OD1y { display: flex; height: 100%; position: relative; width: 100px; margin-bottom: 4px !important; }

._multi-brand-video-desktop_style_contentWd__--X6a { -webkit-box-pack: end; justify-content: flex-end; width: 100px; }

._multi-brand-video-desktop_style_contentAdFeedbackTextOnly__1ZLRW, ._multi-brand-video-desktop_style_contentWd__--X6a { display: flex; height: 100%; position: relative; }

._multi-brand-video-desktop_style_contentAdFeedbackTextOnly__1ZLRW div > div { margin-top: 18px; }

._multi-brand-video-desktop_style_contentSingleBrand__3OD1y a, ._multi-brand-video-desktop_style_contentStores__2uIfX a, ._multi-brand-video-desktop_style_content__2cgFQ a { font-size: 11px !important; line-height: 11px !important; position: relative !important; top: 0px !important; }

._multi-brand-video-desktop_style_sponsoredLabel__eko1c { display: block; }

._multi-brand-video-desktop_style_mobileSponsoredLabel__1IGUd { display: block; margin-bottom: 7px; margin-top: 4px; height: 30px !important; }

._multi-brand-video-desktop_style_sponsoredLabelString__19rqh { color: rgb(85, 85, 85); font-size: 11px; line-height: 11px !important; }

._multi-brand-video-desktop_style_brandVideoProductContainer__1qo2o { -webkit-box-orient: vertical; -webkit-box-direction: normal; display: flex; flex-direction: column; height: 100%; }

._multi-brand-video-desktop_style_brandVideoProductContainer__1qo2o ._multi-brand-video-desktop_style_videoProductAdItem__3_zId { display: flex; height: 100%; }

._multi-brand-video-desktop_style_brandVideoProductContainer__1qo2o ._multi-brand-video-desktop_style_hideBrand__1hkJ3 { margin-top: 4px !important; }

._multi-brand-video-desktop_style_brandContainer__3tRuU { margin: 8px 8px 8px 0px; }

._multi-brand-video-desktop_style_nameContainer__3fF9z, ._multi-brand-video-desktop_style_storeLink__13vM0 { display: block; min-height: 16px; }

._multi-brand-video-desktop_Carousel_carouselContainer__9vpf5 { overflow: hidden; }

._multi-brand-video-desktop_Carousel_carouselHeading__l5qNS { margin-bottom: 0px; }

._multi-brand-video-desktop_Carousel_carouselContainer__9vpf5 ._multi-brand-video-desktop_Carousel_nextButton__Rs96u, ._multi-brand-video-desktop_Carousel_carouselContainer__9vpf5 ._multi-brand-video-desktop_Carousel_prevButton__k3_G6 { background-color: rgb(255, 255, 255); border: 1px solid rgb(213, 217, 217); border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px 0px; height: 48px; line-height: 44px; position: absolute; text-align: center; top: 45%; width: 48px; z-index: 100; }

._multi-brand-video-desktop_Carousel_carouselContainer__9vpf5 ._multi-brand-video-desktop_Carousel_prevButton__k3_G6 { left: 0px; }

._multi-brand-video-desktop_Carousel_carouselContainer__9vpf5 ._multi-brand-video-desktop_Carousel_nextButton__Rs96u { right: 0px; }

._multi-brand-video-desktop_Carousel_pagination__3mHSx { margin-top: 5px; }

._multi-brand-video-desktop_Carousel_carouselContainer__9vpf5 ol { display: flex; height: auto; min-height: 100%; }

._multi-brand-video-desktop_Carousel_carouselContainer__9vpf5 ol li { flex-shrink: 0; }

._multi-brand-video-desktop_style_videoProductContainer__2Gm7Y { -webkit-box-orient: vertical; -webkit-box-direction: normal; border: 1px solid rgb(221, 221, 221); border-radius: 5px; display: flex; flex-direction: column; overflow: hidden; text-align: left; transform: translateZ(0px); }

[dir="rtl"] ._multi-brand-video-desktop_style_videoProductContainer__2Gm7Y { text-align: right; }

._multi-brand-video-desktop_style_videoVerticalLayoutContainer__1G6PS { border-top-left-radius: 4px; border-top-right-radius: 4px; overflow: hidden; }

._multi-brand-video-desktop_style_videoRowContainer__3GahZ { display: flex; height: 100%; }

._multi-brand-video-desktop_style_videoHorizontalLayoutContainer__2AH_R ._multi-brand-video-desktop_style_productColumnContainer__2kL9q, ._multi-brand-video-desktop_style_videoHorizontalLayoutContainer__2AH_R ._multi-brand-video-desktop_style_videoColumnContainer__1V7gR { margin-right: 0px !important; width: 50%; }

._multi-brand-video-desktop_style_videoHorizontalLayoutContainer__2AH_R ._multi-brand-video-desktop_style_productColumnContainer__2kL9q { padding: 0px 10px; }

@media screen and (max-width: 1250px) {
  ._multi-brand-video-desktop_style_videoHorizontalLayoutContainer__2AH_R:not(._multi-brand-video-desktop_style_multiProduct__3-e28) ._multi-brand-video-desktop_style_videoColumnContainer__1V7gR { width: 65%; }
  ._multi-brand-video-desktop_style_videoHorizontalLayoutContainer__2AH_R:not(._multi-brand-video-desktop_style_multiProduct__3-e28) ._multi-brand-video-desktop_style_productColumnContainer__2kL9q { width: 35%; }
}

._multi-brand-video-desktop_Link_link__2AMAT { color: inherit; display: block; pointer-events: auto; position: relative; z-index: 5; text-decoration: none !important; }

._multi-brand-video-desktop_Link_fullSize__20Juh { height: 100%; width: 100%; }

._multi-brand-video-desktop_Link_backgroundLink__28neH { height: 100%; width: 100%; z-index: 1; outline: none !important; position: absolute !important; }

._multi-brand-video-desktop_CtaBanner_ctaBanner__dSRf1 { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-box-align: center; align-items: center; background-color: rgb(86, 89, 89); color: rgb(255, 255, 255); display: flex; flex-direction: row; gap: 8px; height: 44px; padding: 0px 8px; position: relative; width: 100%; }

._multi-brand-video-desktop_CtaBanner_ctaBanner__dSRf1 a:focus { outline-color: rgb(255, 144, 0); }

._multi-brand-video-desktop_CtaBanner_ctaLinkContainer__23KrT { color: rgb(255, 255, 255) !important; text-decoration: none !important; }

._multi-brand-video-desktop_CtaBanner_ctaText__3gE2V { text-wrap: nowrap; overflow: hidden; text-overflow: ellipsis; }

._multi-brand-video-desktop_CtaBanner_headlineText__3jwCV { max-height: 44px; overflow: hidden; text-overflow: ellipsis; word-break: break-word; }

[dir="rtl"] ._multi-brand-video-desktop_CtaBanner_ctaText__3gE2V { margin: 0px 8px 0px 0px; }

._multi-brand-video-desktop_MultiProduct_multiProductContainer__1GbMC { display: flex; height: 100%; width: 100%; }

._multi-brand-video-desktop_MultiProduct_isVertical__3DGfW { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

._multi-brand-video-desktop_MultiProduct_productCarouselIndexContainer__1GLTb { height: 100%; }

._multi-brand-video-desktop_style_videoBackgroundContainer__235hF { width: 100%; }

._multi-brand-video-desktop_style_bgImgCntr__2YZpD > a { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }

._multi-brand-video-desktop_style_verticalVideo__20AM0._multi-brand-video-desktop_style_videoBackgroundContainer__235hF { -webkit-box-pack: center; background-color: rgb(230, 233, 237); display: flex; justify-content: center; }

._multi-brand-video-desktop_style_videoContainer__1fcYb { pointer-events: auto; position: relative; width: 100%; }

._multi-brand-video-desktop_style_videoContainer__1fcYb button { background: transparent; border: none; }

._multi-brand-video-desktop_style_videoContainer__1fcYb button:focus { outline-offset: -0.25rem; }

._multi-brand-video-desktop_style_bgImgCntr__2YZpD._multi-brand-video-desktop_style_verticalVideo__20AM0 ._multi-brand-video-desktop_style_videoContainer__1fcYb { width: 33%; }

._multi-brand-video-desktop_style_videoLink__2sF75:focus { outline-offset: -0.25rem !important; }

._multi-brand-video-desktop_style_video__17g-f { aspect-ratio: 16 / 9; display: block; height: auto; outline: none; width: 100%; }

._multi-brand-video-desktop_style_verticalVideo__20AM0 ._multi-brand-video-desktop_style_video__17g-f { aspect-ratio: 9 / 16; }

._multi-brand-video-desktop_style_bgImgCntr__2YZpD::after { display: block; height: 100%; position: absolute; top: 0px; width: 100%; }

._multi-brand-video-desktop_style_bgImgCntr__2YZpD { background-repeat: no-repeat; background-size: cover; position: relative; }

._multi-brand-video-desktop_style_videoOverlay__1H_Jm { padding-bottom: 56.25%; position: absolute; top: 0px; width: 100%; }

._multi-brand-video-desktop_style_btnContainer__2bAO8 { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 20%; }

._multi-brand-video-desktop_style_verticalVideo__20AM0 ._multi-brand-video-desktop_style_btnContainer__2bAO8 { width: 40%; }

._multi-brand-video-desktop_style_playClickRegion__87ZZa { height: 100%; left: 0px; position: absolute; top: 0px; visibility: hidden; width: 100%; z-index: 10; }

._multi-brand-video-desktop_style_btnTray__y8Vmm { -webkit-box-align: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: end; align-items: center; display: flex; flex-direction: column; height: calc(100% - 8px); justify-content: flex-end; position: absolute; right: 8px; top: 4px; width: 34px; }

._multi-brand-video-desktop_style_pauseIcon__2eY41 { display: none; }

._multi-brand-video-desktop_style_audioToggle__17sMl, ._multi-brand-video-desktop_style_pauseIcon__2eY41, ._multi-brand-video-desktop_style_playClickRegion__87ZZa { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform: translateZ(0px); }

._multi-brand-video-desktop_style_audioToggle__17sMl { bottom: 0px; display: none; }

[data-preview="true"] ._multi-brand-video-desktop_style_audioToggle__17sMl, [data-preview="true"] ._multi-brand-video-desktop_style_pauseIcon__2eY41 { display: block; }

._multi-brand-video-desktop_style_verticalVideo__20AM0 ._multi-brand-video-desktop_style_btnTray__y8Vmm { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-box-pack: start; column-gap: 4px; flex-direction: row; height: auto; justify-content: flex-start; left: 4px; right: 4px; width: calc(100% - 8px); }

._multi-brand-video-desktop_style_videoContainer__1fcYb ._multi-brand-video-desktop_style_btnTray__y8Vmm button { padding: 0px; z-index: 10; }

[dir="rtl"] ._multi-brand-video-desktop_style_audioToggle__17sMl, [dir="rtl"] ._multi-brand-video-desktop_style_verticalVideo__20AM0 ._multi-brand-video-desktop_style_btnTray__y8Vmm { left: 0px; right: auto; }

[dir="rtl"] ._multi-brand-video-desktop_style_audioToggle__17sMl svg { transform: rotate(180deg); }

._multi-brand-video-desktop_style_ccToggle__1FoZa { display: none; margin-bottom: auto; }

._multi-brand-video-desktop_style_vvCc__3fFBT ._multi-brand-video-desktop_style_ccToggle__1FoZa { margin-left: auto; }

._multi-brand-video-desktop_style_ccContainer__20X2h { background-color: transparent; bottom: 4px; padding: 0px 8px; position: absolute; text-align: center; width: calc(100% - 42px); }

._multi-brand-video-desktop_style_ccTop__3G5oB { top: 4px; }

._multi-brand-video-desktop_style_verticalVideo__20AM0 ._multi-brand-video-desktop_style_ccContainer__20X2h { padding: 0px 4px; width: 100%; }

._multi-brand-video-desktop_style_secLang__Tk0Oo ._multi-brand-video-desktop_style_ccContainer__20X2h { bottom: auto; top: 4px; }

._multi-brand-video-desktop_style_secLang__Tk0Oo._multi-brand-video-desktop_style_verticalVideo__20AM0 ._multi-brand-video-desktop_style_ccContainer__20X2h { top: 42px; }

._multi-brand-video-desktop_style_ccText__1DgRi { background-color: rgba(18, 18, 18, 0.7); display: inline; letter-spacing: 0px; }

._multi-brand-video-desktop_style_hzBtnTray__18XuU { -webkit-box-pack: justify; bottom: 2px; display: flex; justify-content: space-between; left: 2px; position: absolute; width: 96px; z-index: 10; }

._multi-brand-video-desktop_style_pdCntr__7lQHq { -webkit-box-flex: 1; flex: 1 1 0%; width: 100%; }

._multi-brand-video-desktop_style_productRow__Fc-QW { height: 100%; }

._multi-brand-video-desktop_style_pdRowCntr__1EWLJ, ._multi-brand-video-desktop_style_productRow__Fc-QW > [class="a-fixed-left-grid-inner"] { display: flex; height: 100%; }

._multi-brand-video-desktop_style_pdRowCntr__1EWLJ { -webkit-box-align: center; -webkit-box-pack: center; align-items: center; justify-content: center; position: relative; }

._multi-brand-video-desktop_style_productImageLink__3xdB3 { -webkit-box-align: center; align-items: center; height: 100%; }

._multi-brand-video-desktop_Product_pdCntr__2lxVH { height: 100%; width: 100%; }

._multi-brand-video-desktop_Product_pdRowCntr__1SQrE { -webkit-box-align: center; -webkit-box-pack: center; align-items: center; display: flex; height: 100%; justify-content: center; position: relative; }

._multi-brand-video-desktop_Product_pdRowCntr__1SQrE._multi-brand-video-desktop_Product_verticalOrientation__1IPo0 { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

._multi-brand-video-desktop_Product_verticalOrientation__1IPo0 ._multi-brand-video-desktop_Product_pdImgCol__3WO1V, ._multi-brand-video-desktop_Product_verticalOrientation__1IPo0 ._multi-brand-video-desktop_Product_pdcol__3gSOx { width: 100% !important; }

._multi-brand-video-desktop_Product_singleProductImageContainer__1xhVQ { height: 100%; width: 100%; }

._multi-brand-video-desktop_Product_desktopProductContainer__NWk91 ._multi-brand-video-desktop_Product_singleProductImageContainer__1xhVQ img { max-height: 250px !important; }

:not(._multi-brand-video-desktop_Product_desktopProductContainer__NWk91) ._multi-brand-video-desktop_Product_singleProductImageContainer__1xhVQ img { max-height: 170px !important; }

._multi-brand-video-desktop_Product_productImage__2HdBa { max-height: 100%; max-width: 100%; padding: 5px; }

._multi-brand-video-desktop_Product_productImageLink__3vqfp { -webkit-box-align: center; align-items: center; height: 100px; }

@media screen and (max-width: 1250px) {
  ._multi-brand-video-desktop_Product_desktopProductContainer__NWk91 ._multi-brand-video-desktop_Product_pdRowCntr__1SQrE { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-align: start; align-items: flex-start; flex-direction: column; justify-content: space-evenly; }
  ._multi-brand-video-desktop_Product_desktopProductContainer__NWk91 ._multi-brand-video-desktop_Product_pdImgCol__3WO1V, ._multi-brand-video-desktop_Product_desktopProductContainer__NWk91 ._multi-brand-video-desktop_Product_pdcol__3gSOx { margin: 0px !important; width: 100% !important; }
}

._multi-brand-video-desktop_Product_tint__1KWm8 { background: rgb(135, 149, 150); height: 100%; left: 0px; opacity: 0.07; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 6; }

._multi-brand-video-desktop_Product_fixedProduct__3XvZE { -webkit-box-flex: 1; flex: 1 1 0%; width: 100%; }

._multi-brand-video-desktop_Product_productRow__UAUug { height: 100%; }

._multi-brand-video-desktop_Product_productRow__UAUug > [class="a-fixed-left-grid-inner"] { display: flex; height: 100%; }

._multi-brand-video-desktop_Product_pdCntr__2lxVH:not(._multi-brand-video-desktop_Product_hasDeal__D059H) ._multi-brand-video-desktop_Product_pdcol__3gSOx { position: relative !important; }

._multi-brand-video-desktop_Product_pdCntr__2lxVH._multi-brand-video-desktop_Product_hasDeal__D059H ._multi-brand-video-desktop_Product_pdcol__3gSOx { z-index: 5; }

._multi-brand-video-desktop_style_logoContainer__19NlE { -webkit-box-pack: center; -webkit-box-align: center; align-items: center; display: flex; justify-content: center; width: 100%; }

._multi-brand-video-desktop_style_logoContainer__19NlE img { max-height: 54px; max-width: 114px; }

._multi-brand-video-desktop_style_imageOverlay__2f-Je { background-color: rgba(0, 0, 0, 0.03); height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; }

[dir="rtl"] ._multi-brand-video-desktop_Chevron_chevron__qyBM9 { transform: rotate(180deg); }

[data-type="ccToggleOn"] { opacity: 0; }

._multi-brand-video-desktop_style_bc__OYSde { align-content: center; background: rgb(15, 17, 17); border-radius: 4px; border-width: 1px; color: rgb(255, 255, 255); display: inline-block; font-weight: 400; line-height: 18px; margin: 0px; pointer-events: none; }

._multi-brand-video-desktop_style_mobileBadge__3NYtZ { align-self: start; padding: 0px 3px; }

._multi-brand-video-desktop_style_desktopBadge__VNi5K { padding: 1px 3px; }

._multi-brand-video-desktop_style_rioBadgeVideo__o4NEO { left: 0px; margin: 3px; position: absolute; top: 0px; }

._multi-brand-video-desktop_style_rioBadgeHeader__bptyI { position: static; }

._multi-brand-video-desktop_style_rioBadgeOrange__3s0zk { background: rgb(209, 73, 0); border-color: rgb(209, 73, 0); }

._multi-brand-video-desktop_style_rioBadgeBlack__3ZixB { background: rgb(15, 17, 17); border-color: rgb(15, 17, 17); }

._multi-brand-video-desktop_style_productImageLinkContainer__3novt { height: 100%; width: auto; }

._multi-brand-video-desktop_style_productImageLink__2cbWY { height: 100%; }

._multi-brand-video-desktop_style_pdImgCntr__sqvVu { height: 100%; overflow: hidden; position: relative; text-align: center; }

._multi-brand-video-desktop_style_image__pQREQ { height: auto; mix-blend-mode: multiply; position: relative; }

._multi-brand-video-desktop_Tint_tint__2SjfG { background: rgb(135, 149, 150); height: 100%; left: 0px; opacity: 0.07; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 6; }

._multi-brand-video-desktop_style_pdDetail__2UpGM { margin: 4px !important; }

._multi-brand-video-desktop_style_pdDetail__2UpGM ._multi-brand-video-desktop_style_productTitle__1rGyG { -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; }

._multi-brand-video-desktop_style_savingPercentage__3sw1C { color: rgb(204, 12, 57) !important; font-weight: 400 !important; }

._multi-brand-video-desktop_style_priceLinkContainer__6y-Wc, ._multi-brand-video-desktop_style_primeLink__S38Ca, ._multi-brand-video-desktop_style_reviewStars__1pJ4C { line-height: 24px; }

._multi-brand-video-desktop_style_almBadge__3B60e { height: 14px; margin-top: 3px; }

._multi-brand-video-desktop_style_eelSection__15sQk { min-height: 24px; position: relative; z-index: 99; }

._multi-brand-video-desktop_style_pdDetail__2UpGM ._multi-brand-video-desktop_style_overlayDeal__3nkjy { position: static !important; }

._multi-brand-video-desktop_style_dealLabel__1cgSU { border-radius: 2px; font-size: 11px; font-weight: 700; margin-right: 6px; padding: 4px 6px; position: relative; }

._multi-brand-video-desktop_style_dealLabel__1cgSU._multi-brand-video-desktop_style_rounded__-XcDC { border-radius: 4px; }

._multi-brand-video-desktop_style_dealMessage__1qaio { -webkit-box-flex: 1; flex: 1 1 0%; font-size: 11px; font-weight: 700; line-height: 12px; position: relative; }

._multi-brand-video-desktop_style_badgeContainer__3rI4l { display: flex; margin-top: 4px; }

._multi-brand-video-desktop_style_badgeContainer__3rI4l, ._multi-brand-video-desktop_style_badgeOneLineContainer__2u_2T { -webkit-box-align: center; align-items: center; }

._multi-brand-video-desktop_style_badgeTwoLineContainer__2UDlJ { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-align: start; align-items: start; flex-direction: column; }

._multi-brand-video-desktop_style_badgeTwoLineContainer__2UDlJ:first-child { margin-bottom: 4px; }

._multi-brand-video-desktop_style_isOverlayDeal__6AiXq { margin: 0px; }

._multi-brand-video-desktop_style_isOverlayDeal__6AiXq ._multi-brand-video-desktop_style_dealLabel__1cgSU { border-radius: 4px 0px 2px; left: 0px; margin: 0px; max-width: 100%; overflow: hidden; position: absolute; text-overflow: ellipsis; top: 0px; }
