@charset "utf-8";

.aplus-v2 { display: block; margin-left: auto; margin-right: auto; overflow-wrap: break-word; word-break: break-word; }

.aplus-v2 .aplus-standard .aplus-tech-spec-table { word-break: initial; }

.aplus-v2 .aplus-standard .aplus-module-wrapper { text-align: inherit; display: block; margin-right: auto; margin-left: auto; }

.aplus-v2 .aplus-standard.aplus-module.module-1, .aplus-v2 .aplus-standard.aplus-module.module-2, .aplus-v2 .aplus-standard.aplus-module.module-3, .aplus-v2 .aplus-standard.aplus-module.module-4, .aplus-v2 .aplus-standard.aplus-module.module-6, .aplus-v2 .aplus-standard.aplus-module.module-7, .aplus-v2 .aplus-standard.aplus-module.module-8, .aplus-v2 .aplus-standard.aplus-module.module-9, .aplus-v2 .aplus-standard.aplus-module.module-10, .aplus-v2 .aplus-standard.aplus-module.module-11, .aplus-v2 .aplus-standard.aplus-module.module-12 { padding-bottom: 12px; margin-bottom: 12px; }

.aplus-v2 .aplus-standard.aplus-module:last-child { border-bottom: none; }

.aplus-v2 .aplus-standard.aplus-module { min-width: 979px; }

.aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes { border: none; }

.aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes td { background: none; }

.aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes td.selected { background-color: rgb(255, 255, 221); }

.aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes td:first-child { background: rgb(247, 247, 247); font-weight: bold; }

.aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes tr th { background: none; border-right: none; }

.aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered tr td, .aplus-v2 .aplus-standard .aplus-module table.aplus-chart.a-bordered tr th { border-bottom: 1px dotted rgb(153, 153, 153); }

.aplus-v2 .aplus-standard .apm-top { height: 100%; vertical-align: top; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-top { padding-left: 0px; padding-right: 3px; }

.aplus-v2 .aplus-standard .apm-center { height: 100%; vertical-align: middle; text-align: center; }

.aplus-v2 .aplus-standard .apm-text-center { text-align: center; }

.aplus-v2 .aplus-standard .apm-row { width: 100%; display: inline-block; }

.aplus-v2 .aplus-standard .apm-wrap { width: 100%; }

.aplus-v2 .aplus-standard .apm-fixed-width { width: 969px; }

.aplus-v2 .aplus-standard .apm-floatleft { float: left; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-floatleft { float: right; }

.aplus-v2 .aplus-standard .apm-floatright { float: right; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-floatright { float: left; }

.aplus-v2 .aplus-standard .apm-floatnone { float: none; }

.aplus-v2 .aplus-standard .apm-spacing img { border: none; }

.aplus-v2 .aplus-standard .apm-leftimage { float: left; display: block; margin-right: 20px; margin-bottom: 10px; width: 300px; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-leftimage { float: right; margin-right: 0px; margin-left: 20px; }

.aplus-v2 .aplus-standard .apm-centerimage { text-align: center; width: 300px; display: block; margin-bottom: 10px; }

.aplus-v2 .aplus-standard .apm-centerthirdcol { min-width: 359px; display: block; }

.aplus-v2 .aplus-standard .apm-centerthirdcol ul, .aplus-v2 .aplus-standard .apm-centerthirdcol ol { margin-left: 334px; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-centerthirdcol ul, html[dir="rtl"] .aplus-v2 .aplus-standard .apm-centerthirdcol ol { margin-left: 0px; margin-right: 334px; }

.aplus-v2 .aplus-standard .apm-rightthirdcol { float: right; width: 230px; padding-left: 30px; margin-left: 30px; border-left: 1px solid rgb(221, 221, 221); }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-rightthirdcol { float: left; padding-left: 0px; padding-right: 30px; margin-left: 0px; margin-right: 30px; border-left: 0px; border-right: 1px solid rgb(221, 221, 221); }

.aplus-v2 .aplus-standard .apm-lefttwothirdswrap { width: 709px; display: block; }

.aplus-v2 .aplus-standard .apm-lefthalfcol { width: 480px; padding-right: 30px; display: block; float: left; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-lefthalfcol { padding-left: 30px; float: right; }

.aplus-v2 .aplus-standard .apm-righthalfcol { width: 480px; display: block; float: left; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-righthalfcol { float: right; }

.aplus-v2 .aplus-standard .apm-eventhirdcol { width: 300px; display: block; }

.aplus-v2 .aplus-standard .apm-eventhirdcol-table { border-spacing: 0px; border-collapse: collapse; }

.aplus-v2 .aplus-standard .apm-eventhirdcol-table tr td { vertical-align: top; }

.aplus-v2 .aplus-standard .apm-fourthcol { width: 220px; float: left; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-fourthcol { float: right; }

.aplus-v2 .aplus-standard .apm-fourthcol .apm-fourthcol-image { position: relative; }

.aplus-v2 .aplus-standard .apm-fourthcol img { display: block; margin: 0px auto; }

.aplus-v2 .aplus-standard .apm-fourthcol-table { border-spacing: 0px; border-collapse: collapse; }

.aplus-v2 .aplus-standard .apm-fourthcol-table tr td { vertical-align: top; }

.aplus-v2 .aplus-standard .apm-listbox { width: 100%; }

.aplus-v2 .aplus-standard .apm-iconheader { float: left; padding-left: 10px; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-iconheader { float: right; padding-left: 0px; padding-right: 10px; }

.aplus-v2 .aplus-standard .apm-spacing ul:last-child, .aplus-v2 .aplus-standard ol:last-child { margin-bottom: 0px !important; }

.aplus-v2 .aplus-standard .apm-spacing ul, .aplus-v2 .aplus-standard ol { padding: 0px !important; }

.aplus-v2 .aplus-standard .apm-spacing ul { margin: 0px 0px 18px 18px !important; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-spacing ul { margin: 0px 18px 18px 0px !important; }

.aplus-v2 .aplus-standard .apm-spacing ul li, .aplus-v2 .aplus-standard ol li { overflow-wrap: break-word; margin: 0px !important; }

.aplus-v2 .aplus-standard .apm-spacing ul li { margin: 0px !important; }

.aplus-v2 .apm-flex { display: flex; }

.aplus-v2 .apm-flex-item-third-width { width: 33.333%; flex-basis: 33.333%; }

.aplus-v2 .apm-flex-item-fourth-width { width: 25%; flex-basis: 25%; }

.aplus-v2 .aplus-standard .apm-visually-hidden { clip-path: inset(50%); height: 1px; line-height: 0; margin: 0px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px; }

.aplus-v2 .aplus-standard .amp-centerthirdcol-listbox { display: inline-block; width: 359px; }

.aplus-v2 .aplus-standard .apm-sidemodule { text-align: left; margin: 0px auto; width: 970px; padding: 0px; background-color: rgb(255, 255, 255); position: relative; }

.aplus-v2 .aplus-standard .apm-sidemodule { text-align: inherit; }

.aplus-v2 .aplus-standard .apm-sidemodule-textright { position: relative; display: table-cell; vertical-align: middle; padding-left: 40px; height: 300px; max-height: 300px; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule-textright { padding-left: 0px; padding-right: 40px; }

.aplus-v2 .aplus-standard .apm-sidemodule-textleft { position: relative; display: table-cell; vertical-align: middle; height: 300px; max-height: 300px; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule-textleft { padding-left: 0px; }

.aplus-v2 .aplus-standard .apm-sidemodule-imageleft { position: relative; float: left; display: block; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule-imageleft { float: right; }

.aplus-v2 .aplus-standard .apm-sidemodule-imageright { position: relative; float: right; display: block; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule-imageright { float: left; }

.aplus-v2 .aplus-standard.aplus-module.module-4 .apm-flex { gap: 30px; }

.aplus-v2 .aplus-standard .apm-tablemodule { text-align: left; margin: 0px auto; width: 970px; display: table; position: relative; }

.aplus-v2 .aplus-standard table.apm-tablemodule-table { border-bottom: 1px solid rgb(221, 221, 221); width: 970px; left: 4%; table-layout: fixed; }

.aplus-v2 .aplus-standard th.apm-tablemodule-keyhead { border-top: 1px solid rgb(221, 221, 221); background-color: rgb(247, 247, 247); font-weight: normal; color: rgb(98, 98, 98); margin-right: 0px; text-align: center; width: 106px; padding: 8px 14px 6px !important; float: none !important; }

.aplus-v2 .aplus-standard tr.apm-tablemodule-keyvalue td { padding-left: 14px; padding-bottom: 8px; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); text-align: center; padding-top: 8px !important; width: inherit !important; }

.aplus-v2 .aplus-standard .apm-tablemodule-valuecell { vertical-align: middle; }

.aplus-v2 .aplus-standard .apm-tablemodule-valuecell.selected { background-color: rgb(255, 245, 236); }

.aplus-v2 .aplus-standard .apm-tablemodule-valuecell span { overflow-wrap: break-word; }

.aplus-v2 .aplus-standard .apm-tablemodule-keyhead { border-right: 1px solid rgb(221, 221, 221); }

.aplus-v2 .aplus-standard .apm-tablemodule-blankkeyhead { width: 18%; border: 0px !important; }

.aplus-v2 .aplus-standard .apm-tablemodule-image { background-color: rgb(255, 255, 255); text-align: center; overflow: hidden; vertical-align: bottom; padding: 0px !important; }

.aplus-v2 .aplus-standard .apm-tablemodule-imagerows > td > img { max-width: none !important; }

.aplus-v2 .aplus-standard table.apm-tablemodule-table { margin-bottom: 6px !important; }

.aplus-v2 .aplus-standard table.apm-tablemodule-table th { padding-bottom: 8px; text-align: center; }

.aplus-v2 .aplus-standard .apm-tablemodule-imagerows td, .aplus-v2 .aplus-standard .apm-tablemodule-atc td { padding-bottom: 8px; text-align: center; font-weight: bold; }

.aplus-v2 .aplus-standard .apm-checked { text-align: center; }

.aplus-v2 .add-to-cart { line-height: 1rem; font-weight: normal; }

.aplus-v2 .apm-tablemodule-atc form { margin-bottom: 0px; }

.aplus-v2 .aplus-standard .apm-hovermodule { text-align: left; margin: 0px auto; width: 970px; padding: 0px; background-color: rgb(255, 255, 255); position: relative; }

.aplus-v2 .aplus-standard .apm-hovermodule { text-align: inherit; }

.aplus-v2 .aplus-standard .apm-hovermodule-slides { background-color: rgb(255, 255, 255); width: 970px; height: 300px; }

.aplus-v2 .aplus-standard .apm-hovermodule-slides-inner { margin-left: 345px; position: absolute; z-index: 25; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-hovermodule-slides-inner { margin-left: 0px; margin-right: 345px; }

.aplus-v2 .aplus-standard .apm-hovermodule-slidecontrol { padding-top: 14px; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-hovermodule-slidecontrol { left: 0px; right: 345px; }

.aplus-v2 .aplus-standard .apm-hovermodule-smallimage { vertical-align: top; display: inline-block; width: 80px; cursor: pointer; margin-right: 35px; padding: 0px; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-hovermodule-smallimage { margin-right: 0px; margin-left: 35px; }

.aplus-v2 .aplus-standard .apm-hovermodule-smallimage-bg { background-color: rgb(255, 255, 255); width: 80px; height: 80px; }

.aplus-v2 .aplus-standard .apm-hovermodule-smallimage-last { margin-right: 0px !important; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-hovermodule-smallimage-last { margin-left: 0px !important; }

.aplus-v2 .aplus-standard .apm-hovermodule-smallimage a { text-transform: uppercase; font-size: 11px; font-weight: bold; }

.aplus-v2 .aplus-standard .apm-hovermodule-smallimage a:hover { text-decoration: none; color: rgb(51, 51, 51) !important; }

.aplus-v2 .aplus-standard .apm-hovermodule-smallimage img { border: 1px solid rgb(136, 136, 136); }

.aplus-v2 .aplus-standard .apm-hovermodule-opacitymodon:hover { opacity: 1 !important; }

.aplus-v2 .aplus-standard .apm-hovermodule-opacitymodon img { opacity: 0.3; }

.aplus-v2 .aplus-standard .apm-hovermodule-image { position: absolute; left: 0px; z-index: 1; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-hovermodule-image { right: 0px; }

.aplus-v2 .aplus-standard.aplus-module.module-9 .apm-flex { gap: 35px; }

.aplus-v2 .aplus-standard .apm-heromodule-textright { align-self: center; right: 50px; margin-left: auto; padding: 15px; background-color: rgba(0, 0, 0, 0.7); color: white; width: 250px; }

html[dir="rtl"] .aplus-v2 .aplus-standard .apm-heromodule-textright { left: 50px; right: auto; margin-left: 0px; margin-right: auto; }

.aplus-v2 .aplus-standard .apm-heromodule-textright h3, .aplus-v2 .aplus-standard .apm-heromodule-textright ul, .aplus-v2 .aplus-standard .apm-heromodule-textright ol, .aplus-v2 .aplus-standard .apm-heromodule-textright ul .a-list-item, .aplus-v2 .aplus-standard .apm-heromodule-textright ol .a-list-item { color: white; }

.aplus-v2 .aplus-standard.module-12 .textright { align-self: center; right: 50px; margin-left: auto; padding: 15px; color: black; width: 250px; background-color: rgba(255, 255, 255, 0.7); }

html[dir="rtl"] .aplus-v2 .aplus-standard.module-12 .textright { left: 50px; right: auto; margin-left: 0px; margin-right: auto; }

.aplus-v2 .aplus-standard.module-12 .apm-hero-image, .aplus-v2 .aplus-standard.module-11 .apm-hero-image { float: none; }

.aplus-v2 .aplus-standard.module-12 .apm-hero-image img, .aplus-v2 .aplus-standard.module-11 .apm-hero-image img { position: absolute; }

.aplus-v2 .aplus-standard.module-12 .apm-hero-text, .aplus-v2 .aplus-standard.module-11 .apm-hero-text { position: relative; }

.aplus-v2 .aplus-standard.module-11 .aplus-module-content, .aplus-v2 .aplus-standard.module-12 .aplus-module-content { min-height: 300px; display: flex; }

.aplus-v2 .aplus-standard .aplus-module-13 { padding: 40px 0px; max-width: 979px; }

.aplus-v2 .aplus-standard .aplus-module-13 .aplus-13-heading-text { padding-bottom: 10px; }

.aplus-v2 .aplus-standard .aplus-module-13 p { text-align: left; padding-bottom: 10px; }

.aplus-v2 .aplus-standard .aplus-module-13 p { text-align: inherit; }

@media (max-width: 800px) {
  .aplus-v2 .aplus-standard .acs-ux-wrapfix { width: 100%; }
  .aplus-v2 .aplus-standard .aplus-module-wrapper { width: 100%; }
  .aplus-v2 .aplus-standard .apm-leftimage { float: none; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .acs-ux-wrapfix { width: 100%; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .aplus-module-wrapper { width: 100%; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-leftimage { float: none; }
  .aplus-v2 .aplus-standard .apm-centerthirdcol ul, .aplus-v2 .aplus-standard .apm-centerthirdcol ol { margin-left: 14px; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-centerthirdcol ul, html[dir="rtl"] .aplus-v2 .aplus-standard .apm-centerthirdcol ol { margin-left: 0px; margin-right: 14px; }
  .aplus-v2 .aplus-standard .apm-lefttwothirdswrap { float: none; width: 100%; margin: 0px; }
  .aplus-v2 .aplus-standard .apm-leftimage p { display: none; }
  .aplus-v2 .aplus-standard .apm-centerthirdcol { float: none; width: 100%; }
  .aplus-v2 .aplus-standard .apm-listbox { width: 100%; }
  .aplus-v2 .aplus-standard .apm-rightthirdcol { float: none; width: 100%; border-left: none; padding: 0px; margin: 0px 0px 20px; }
  .aplus-v2 .aplus-standard .apm-rightthirdcol-inner img { display: block; margin: auto; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-lefttwothirdswrap { float: none; width: 100%; margin: 0px; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-leftimage p { display: none; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-centerthirdcol { float: none; width: 100%; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-listbox { width: 100%; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-rightthirdcol { float: none; width: 100%; border-left: none; padding: 0px; margin: 0px 0px 20px; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-rightthirdcol-inner img { display: block; margin: auto; }
  .aplus-v2 .aplus-standard .apm-sidemodule { width: 100%; height: auto; }
  .aplus-v2 .aplus-standard .apm-sidemodule-imageleft { width: 100%; position: relative; display: block; margin-bottom: 15px; }
  .aplus-v2 .aplus-standard .apm-sidemodule-imageleft img { display: block; margin: 0px auto; }
  .aplus-v2 .aplus-standard .apm-sidemodule-imageright { width: 100%; position: relative; display: block; margin-bottom: 15px; }
  .aplus-v2 .aplus-standard .apm-sidemodule-imageright img { display: block; margin: 0px auto; }
  .aplus-v2 .aplus-standard .apm-sidemodule .a-spacing-medium { margin-bottom: 30px !important; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule { width: 100%; height: auto; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule-imageleft { width: 100%; position: relative; display: block; margin-bottom: 15px; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule-imageleft img { display: block; margin: 0px auto; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule-imageright { width: 100%; position: relative; display: block; margin-bottom: 15px; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule-imageright img { display: block; margin: 0px auto; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-sidemodule .a-spacing-medium { margin-bottom: 30px !important; }
  .aplus-v2 .aplus-standard .apm-fourthcol { margin: 0px; padding-bottom: 23px; width: 100%; float: none; }
  .aplus-v2 .aplus-standard .apm-fourthcol .apm-fourthcol-image { height: inherit; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-fourthcol { margin: 0px; padding-bottom: 23px; width: 100%; float: none; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-fourthcol .apm-fourthcol-image { height: inherit; }
  .aplus-v2 .aplus-standard table.apm-tablemodule-table { width: 100%; }
  .aplus-v2 .aplus-standard .apm-tablemodule-valuecell { width: auto; }
  html[dir="rtl"] .aplus-v2 .aplus-standard table.apm-tablemodule-table { width: 100%; }
  html[dir="rtl"] .aplus-v2 .aplus-standard .apm-tablemodule-valuecell { width: auto; }
}

.aplus-v2 .aplus-standard * { box-sizing: border-box; }

.aplus-v2 .aplus-standard .a-box mp-centerthirdcol-listboxer { border-radius: 4px; position: relative; padding: 14px 18px; }

.aplus-v2 .aplus-standard .a-box { display: block; border-radius: 4px; border: 1px solid rgb(221, 221, 221); background-color: white; }

.aplus-v2 .aplus-standard .a-color-alternate-background { background-color: rgb(243, 243, 243) !important; }

.aplus-v2 .aplus-standard .a-section { margin-bottom: 12px; }

.aplus-v2 .aplus-standard .a-size-base { font-size: 13px !important; line-height: 19px !important; }

.aplus-v2 .aplus-standard .a-spacing-base, .aplus-v2 .aplus-standard .a-ws .a-ws-spacing-base { margin-bottom: 14px !important; }

.aplus-v2 .aplus-standard .a-spacing-large, .aplus-v2 .aplus-standard .a-ws .a-ws-spacing-large { margin-bottom: 22px !important; }

.aplus-v2 .aplus-standard .a-spacing-mini, .aplus-v2 .aplus-standard .a-ws .a-ws-spacing-mini { margin-bottom: 6px !important; }

.aplus-v2 .aplus-standard .a-spacing-small, .aplus-v2 .aplus-standard .a-ws .a-ws-spacing-small { margin-bottom: 10px !important; }

.aplus-v2 .aplus-standard a, .aplus-v2 .aplus-standard a:visited, .aplus-v2 .aplus-standard a:active, .aplus-v2 .aplus-standard a:link { text-decoration: none; }

.aplus-v2 .aplus-standard a:hover { text-decoration: underline; cursor: pointer; }

.aplus-v2 .aplus-standard h1, .aplus-v2 .aplus-standard h2, .aplus-v2 .aplus-standard h3, .aplus-v2 .aplus-standard h4 { font-family: Arial, sans-serif; text-rendering: optimizelegibility; padding-bottom: 4px; }

.aplus-v2 .aplus-standard h1, .aplus-v2 .aplus-standard h2, .aplus-v2 .aplus-standard h3, .aplus-v2 .aplus-standard h4 { font-family: inherit; }

.aplus-v2 .aplus-standard h1, .aplus-v2 .aplus-standard h2, .aplus-v2 .aplus-standard h3, .aplus-v2 .aplus-standard h4, .aplus-v2 .aplus-standard h5, .aplus-v2 .aplus-standard h6 { padding: 0px; margin: 0px; }

.aplus-v2 .aplus-standard h3 { font-weight: bold; font-size: 17px; line-height: 1.255; }

.aplus-v2 .aplus-standard h4 { font-weight: normal; font-size: 17px; line-height: 1.255; }

.aplus-v2 .aplus-standard h5 { font-weight: bold; font-size: 13px; line-height: 19px; }

.aplus-v2 .aplus-standard img { vertical-align: top; max-width: 100%; }

.aplus-v2 .aplus-standard p { padding: 0px; margin: 0px 0px 14px; }

.aplus-v2 .aplus-standard ul li { list-style: disc; }

.aplus-v2 .aplus-standard ul { margin: 0px 0px 18px 18px; }

.aplus-v2 .aplus-standard ul, .aplus-v2 .aplus-standard ol { padding: 0px; }

.aplus-v2 .aplus-standard ul:last-child, .aplus-v2 .aplus-standard ol:last-child { margin-bottom: 0px !important; }

.aplus-v2 .aplus-standard .read-more-arrow-placeholder { text-align: right; cursor: pointer; display: none; }
