@charset "utf-8";

#sp_detail2-prime_theme_for_non_prime_members_B0DRBPLBJJ_couponBadge { padding-top: 4px; color: rgb(17, 17, 17); font-size: 11px; font-family: AmazonEmber, "Amazon Ember", Arial, sans-serif; }
