@charset "utf-8";

#productDescription { color: rgb(51, 51, 51); overflow-wrap: break-word; font-size: small; line-height: initial; margin: 0.5em 0px 0em 25px; }

#productDescription_feature_div > h2.default { font-size: medium; margin: 0px 0px 0.25em; }

#productDescription_feature_div > h2.books { line-height: 1.3; padding-bottom: 4px; font-weight: normal; margin: 0px; color: rgb(51, 51, 51) !important; font-size: 21px !important; }

#productDescription_feature_div > h2.softlines { line-height: 1.3; padding-bottom: 4px; font-weight: bold; margin: 0px; color: rgb(51, 51, 51) !important; font-size: 21px !important; }

#productDescription > p, #productDescription > div, #productDescription > table { margin: 0px 0px 1em; }

#productDescription p { margin: 0em 0px 1em 1em; }

#productDescription h3 { font-weight: normal; color: rgb(51, 51, 51); font-size: 1.23em; clear: left; margin: 0.75em 0px 0.375em -15px; }

#productDescription table { border-collapse: inherit !important; margin-bottom: 0px; }

#productDescription table img { max-width: inherit !important; }

#productDescription table td { font-size: small; vertical-align: inherit !important; }

#productDescription ul li { margin: 0px 0px 0px 20px; }

#productDescription ul li ul { list-style-type: disc !important; margin-left: 20px !important; }

#productDescription ul ul li { list-style-type: disc !important; margin-left: 20px !important; }

#productDescription > ul ul li { list-style-type: disc !important; }

#productDescription ul li ul li { margin: 0px 0px 0px 20px; }

#productDescription .aplus p { margin: 0px 0px 1em; }

#productDescription small { font-size: smaller; }

#productDescription.prodDescWidth { max-width: 1000px; }
