@charset "utf-8";

._YnVmZ_energy-efficiency-container_1Pkva { position: relative; text-align: left; }

._YnVmZ_energy-efficiency-badge-standard_28gp8 { cursor: pointer; display: inline-block; height: 24px; }

._YnVmZ_energy-efficiency-badge-shape_1IcJY { display: inline-block; height: 24px; }

._YnVmZ_energy-efficiency-badge-rating_3_0eN { fill: rgb(255, 255, 255); font-family: Arial; font-size: 20px; text-shadow: rgb(0, 0, 0) -0.5px -0.5px 0px, rgb(0, 0, 0) 0.5px -0.5px 0px, rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) 0.5px 0.5px 0px; vertical-align: middle; }

._YnVmZ_energy-efficiency-badge-rating-sign_1ronK { fill: rgb(255, 255, 255); font-family: Arial; font-size: 6px; font-weight: 700; vertical-align: middle; }

._YnVmZ_energy-efficiency-badge-range-rating_2l2GZ { fill: rgb(0, 0, 0); font-family: Arial; font-size: 8px; text-shadow: none; vertical-align: middle; }

._YnVmZ_energy-efficiency-badge-range-rating-sign_gQzDs { fill: rgb(0, 0, 0); font-family: Arial; font-size: 6px; font-weight: 700; text-shadow: none; }

._YnVmZ_energy-efficiency-badge-rating-2021_2Q_3P { text-shadow: rgb(0, 0, 0) -0.5px -0.5px 0px, rgb(0, 0, 0) 0.5px -0.5px 0px, rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) 0.5px 0.5px 0px; }

._YnVmZ_energy-efficiency-badge-data-sheet-label-container_2iEi2 { display: inline-block; padding-left: 5px; padding-top: 0px; position: absolute; vertical-align: sub; }

._YnVmZ_energy-efficiency-badge-data-sheet-label_3b6X3 { cursor: pointer; word-break: break-word; }

._YnVmZ_multi-column-grid_VnZuw { display: grid; gap: 1.25rem; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); width: 100%; }

._YnVmZ_column_rzujq { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-flex: 1; display: flex; flex: 1 1 0%; flex-direction: column; min-width: 0px; }

._YnVmZ_unstyled-button_3dQw4 { background: none; border: none; padding: 0px; }

._YnVmZ_atf-pict-row-sect_U3Urg { -webkit-box-align: center; align-items: center; display: flex; flex-wrap: wrap; gap: 0.25rem; }

._YnVmZ_atf-pict-sect_2Jk-O { max-width: 20rem; min-width: 10rem; }

._YnVmZ_icon_1yxlS { margin-right: 0.5rem; }

._YnVmZ_gpsr-ingress-sect_38hR1 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-flex: 1; display: flex; flex: 1 1 0%; flex-direction: column; gap: 0.75rem; min-width: 30rem; }

._YnVmZ_ingress_2vsOS { box-shadow: none; }

._YnVmZ_ss-close_2FXP- { background-color: transparent; border-style: none; box-shadow: none; cursor: pointer; display: none; height: 1.75rem; max-width: 5vw; position: fixed; right: 44.0625rem; top: 0.3125rem; width: 1.5625rem; z-index: 290; }

html[dir="rtl"] ._YnVmZ_ss-close_2FXP- { left: 44.0625rem; right: auto; }

._YnVmZ_close-btn-icon_2KjHe { background-position: -21.875rem -6.25rem; height: 1.875rem; position: fixed; right: 44.0625rem; top: 0.0625rem; width: 1.25rem; }

html[dir="rtl"] ._YnVmZ_close-btn-icon_2KjHe { left: 44.0625rem; right: auto; }

._YnVmZ_ss-main_3OqnU { background: rgb(255, 255, 255); border-width: 0px; bottom: 0px; box-shadow: rgba(0, 0, 0, 0.25) -0.25rem 0px 0.3rem; color: rgb(17, 17, 17); display: none; font-size: 0.8125rem; line-height: 1.1875rem; margin: 0px; max-width: 85vw; outline: none; overflow: auto; position: fixed; right: -43.75rem; top: 0px; width: 43.75rem; z-index: 290; }

html[dir="rtl"] ._YnVmZ_ss-main_3OqnU { left: -43.75rem; right: auto; }

._YnVmZ_ss-dark-bg_3GiT7 { background: rgb(0, 0, 0); cursor: pointer; display: none; height: 100%; left: 0px; opacity: 0.4; position: fixed; top: 0px; width: 100%; z-index: 280; }

._YnVmZ_spinner_33-zd { opacity: 1; }

._YnVmZ_spinner_33-zd, ._YnVmZ_ss-cont_3xF-k { transition: opacity 0.3s ease-in-out; }

._YnVmZ_ss-cont_3xF-k { opacity: 0; }

._YnVmZ_ss-hdr_16eux { padding: 1.5rem; }

._YnVmZ_ss-hdr-text_27qTh { color: rgb(0, 0, 0); font-size: 1.75rem; font-weight: 700; line-height: 2.25rem; }

._YnVmZ_ss-error_1wCJx { margin: 1.5rem; }

._YnVmZ_icon-image_3UsZm { vertical-align: middle; }

._YnVmZ_icon-with-link_3GWcf:hover { color: rgb(199, 81, 31); cursor: pointer; }

._YnVmZ_beside-icon-link_Xdn0O { margin-right: 1.5rem; text-decoration: underline; }

._YnVmZ_charger-ss-image_2LNwh { display: inline-block; flex-shrink: 0; position: relative; text-align: left; }

._YnVmZ_charger-ss-image_2LNwh img { display: block; height: auto; max-width: 100%; }

._YnVmZ_charger-ss-image_2LNwh svg { left: 0px; position: absolute; top: 0px; }

._YnVmZ_charger-ss-image_2LNwh text { text-anchor: middle; font-weight: 700; }

._YnVmZ_red-ss-container_1_dBJ { -webkit-box-pack: start; display: flex; flex-wrap: wrap; gap: 2rem; justify-content: flex-start; }

._YnVmZ_red-ss-beside-image-container_3t7-H { -webkit-box-flex: 1; flex: 1 1 0%; }

._YnVmZ_link-div_3ohwI { color: rgb(213, 217, 217); padding: 0px 0.5rem; }

._YnVmZ_ver-pic_18J8a { margin-left: 6.5px; margin-right: 14.5px; }

._YnVmZ_ss-ver-pic_1VdrF { margin-left: 0px; }

._YnVmZ_horiz-pic_3tm42 { margin-left: 6px; margin-right: 6px; }

._YnVmZ_horiz-pic-container_1sgsz { margin-left: 14px; }

._YnVmZ_ss-cont_3xF-k { padding: 0.75rem 0px; }

._YnVmZ_bd-pic-content-borderless-box_xQfqn { border-color: transparent; }

._YnVmZ_ss-pic-content-bordered-box_w5wp- { border-color: rgb(213, 217, 217); }

._YnVmZ_main-cont_31WDU { padding: 0.75rem 0px; }

._YnVmZ_box-cont_1XNpR { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: center; align-self: stretch; display: flex; flex-direction: column; gap: 0.4rem; justify-content: center; }

._YnVmZ_link-div_2Q8LD { color: rgb(213, 217, 217); padding: 0px 0.5rem; }

._YnVmZ_links-container_XmAV6 { -webkit-box-align: center; align-items: center; display: flex; flex-wrap: wrap; }

._YnVmZ_card_2Abor { margin-bottom: 0px; padding-bottom: 1.2rem; }

._YnVmZ_buffet-card_3zUf8 { padding: 1.2rem 1.2rem 0px; }

._YnVmZ_icon_X2Zev { margin-right: 5px; }

._YnVmZ_icon_3coWS { margin-right: 0.5rem; }

._YnVmZ_atf-pict-row-sect_OToIB { -webkit-box-align: center; align-items: center; display: flex; flex-wrap: wrap; gap: 4px; }

._YnVmZ_atf-pict-sect_3lMFn { max-width: 100%; min-width: 160px; }

._YnVmZ_icon-image_32Xp5 { vertical-align: middle; }

._YnVmZ_unstyled-button_1kSC_ { background: none; border: none; padding: 0px; }

._YnVmZ_ss-ctr_p2MM3 { -webkit-box-orient: vertical; -webkit-box-direction: normal; display: flex; flex-direction: column; padding: 0px 1.5rem; }

._YnVmZ_ss-xpndr-hdr_3jw_7 { padding: 0px 1.125rem; }

._YnVmZ_ss-xpndr-ctnt_1yq2s { padding: 0px 0px 20px; }

._YnVmZ_ss-cont-sect_34j4_ { padding: 0px 1.125rem; }

._YnVmZ_ss-pills-ctr_1mnrw { display: flex; gap: 0.5rem; overflow-x: auto; padding: 0.5rem 1.125rem; white-space: nowrap; width: 100%; }

._YnVmZ_ss-right-pill_2r4sO { margin-right: 1.125rem; }

._YnVmZ_ss-pill_3VDmc { margin-right: 0.24rem; }

._YnVmZ_ss-left-pill_1_sIL { margin-left: 0.375rem; margin-right: 0.24rem; }

._YnVmZ_ss-divider_VXlIi { height: 0.0625rem; }

._YnVmZ_fade_1cWMw { opacity: 1; transition: opacity 0.5s ease-in-out; }
