@charset "utf-8";

.abb-widget-box-border { border: 1px solid rgb(213, 217, 217); border-radius: 8px; }

.prime-logo img { max-width: 50px; width: 100%; height: auto; }

.prime-signup-button { background: none; border: none; padding: 0px; margin: 0px; color: rgb(0, 102, 192); text-decoration: none; cursor: pointer; display: inline; font-size: 14px; font-family: inherit; }

#prime-abb-signup-button:hover { color: rgb(196, 85, 0); text-decoration: underline; }

#prime-abb-signup-button:visited { color: rgb(0, 102, 192); }

#prime-abb-signup-button:focus { outline: rgb(0, 102, 192) solid 2px; outline-offset: 2px; }
