@charset "utf-8";

._universal-detail-ilm-card_style_mobile__CG11l { margin: -1.2rem auto 1.2rem; width: 320px; }

._universal-detail-ilm-card_style_mobile__CG11l img { margin-bottom: 0.1rem; }

._universal-detail-ilm-card_style_desktop__2G4jX img { display: block; margin-left: auto; margin-right: auto; }
