@charset "utf-8";

#sa_audiospot { position: absolute; overflow: initial; }

.sa_audiospot-background { position: fixed; z-index: 90000; padding: 10px; opacity: 1; border-radius: 3px; box-shadow: rgba(17, 17, 17, 0.25) 0px 2px 5px 0px; transform-style: preserve-3d; }

.sa_audiospot-background::after { position: absolute; display: block; width: 0px; content: ""; border-style: solid; transform-style: preserve-3d; }

.slate-image-video-loader { background: rgb(255, 255, 255); border-radius: 50%; position: absolute; opacity: 0.7; }

.slate-image-play-button { margin: auto; position: absolute; border-style: solid; border-color: transparent transparent transparent rgb(173, 166, 166); }
