@charset "utf-8";

.lazy-load-spinner-animation { width: 32px; height: 32px; animation: 1s linear 0s infinite normal none running rotate360; background: url(../../image/png/34.png) 50% 50% no-repeat; display: inline-block; position: relative; top: 50%; left: 45%; }
