@charset "utf-8";

.dp-sisserou .pointer-events-none, .sisserou-player-wrapper .pointer-events-none { pointer-events: none !important; }

.dp-sisserou .cursor-pointer, .sisserou-player-wrapper .cursor-pointer { cursor: pointer !important; }

.dp-sisserou .white-text, .sisserou-player-wrapper .white-text { color: rgb(255, 255, 255); }

.dp-sisserou .no-select, .sisserou-player-wrapper .no-select { user-select: none; }

.dp-sisserou .sisserou-mature-warning-accept .a-button, .dp-sisserou .sisserou-mature-warning-accept .a-button-inner, .dp-sisserou .sisserou-report-submit .a-button, .dp-sisserou .sisserou-report-submit .a-button-inner, .sisserou-player-wrapper .sisserou-mature-warning-accept .a-button, .sisserou-player-wrapper .sisserou-mature-warning-accept .a-button-inner, .sisserou-player-wrapper .sisserou-report-submit .a-button, .sisserou-player-wrapper .sisserou-report-submit .a-button-inner { background: rgb(145, 70, 255); border: rgb(145, 70, 255); color: rgb(0, 0, 0); }

.dp-sisserou .sisserou-mature-warning-accept .a-button-inner:hover, .dp-sisserou .sisserou-mature-warning-accept .a-button:hover, .dp-sisserou .sisserou-report-submit .a-button-inner:hover, .dp-sisserou .sisserou-report-submit .a-button:hover, .sisserou-player-wrapper .sisserou-mature-warning-accept .a-button-inner:hover, .sisserou-player-wrapper .sisserou-mature-warning-accept .a-button:hover, .sisserou-player-wrapper .sisserou-report-submit .a-button-inner:hover, .sisserou-player-wrapper .sisserou-report-submit .a-button:hover { background: rgb(145, 70, 255); }

.dp-sisserou .sisserou-mature-warning-accept .a-button-inner:active, .dp-sisserou .sisserou-mature-warning-accept .a-button:active, .dp-sisserou .sisserou-report-submit .a-button-inner:active, .dp-sisserou .sisserou-report-submit .a-button:active, .sisserou-player-wrapper .sisserou-mature-warning-accept .a-button-inner:active, .sisserou-player-wrapper .sisserou-mature-warning-accept .a-button:active, .sisserou-player-wrapper .sisserou-report-submit .a-button-inner:active, .sisserou-player-wrapper .sisserou-report-submit .a-button:active { background: rgb(145, 70, 255); box-shadow: rgb(145, 70, 255) 0px 0px 6px 0px; }

.dp-sisserou .sisserou-mature-warning-accept .a-button-text, .dp-sisserou .sisserou-report-submit .a-button-text, .sisserou-player-wrapper .sisserou-mature-warning-accept .a-button-text, .sisserou-player-wrapper .sisserou-report-submit .a-button-text { color: rgb(255, 255, 255); }

.dp-sisserou .sisserou-settings-button, .sisserou-player-wrapper .sisserou-settings-button { bottom: 0px; display: inline-block; height: 30px; margin-right: 6px; position: absolute; right: 0px; text-align: center; width: 30px; z-index: 12; }

.dp-sisserou .sisserou-settings, .sisserou-player-wrapper .sisserou-settings { background-color: rgb(0, 0, 0); width: 200px; position: absolute; z-index: 13; }

.dp-sisserou .sisserou-settings-option, .sisserou-player-wrapper .sisserou-settings-option { background-color: rgb(0, 0, 0); border: none; border-radius: 0px; color: rgb(255, 255, 255); cursor: pointer; height: 30px; }

.dp-sisserou .sisserou-settings-option.sisserou-settings-back, .sisserou-player-wrapper .sisserou-settings-option.sisserou-settings-back { border-bottom: 1px solid rgb(35, 33, 39); }

.dp-sisserou .sisserou-settings-option:hover, .sisserou-player-wrapper .sisserou-settings-option:hover { background-color: rgb(145, 70, 255); }

.dp-sisserou .sisserou-settings-option:active, .sisserou-player-wrapper .sisserou-settings-option:active { background-color: rgb(35, 33, 39); color: rgb(240, 240, 255); }

.dp-sisserou .sisserou-report, .sisserou-player-wrapper .sisserou-report { width: 100%; }

.dp-sisserou .sisserou-report .a-button-dropdown, .sisserou-player-wrapper .sisserou-report .a-button-dropdown { width: 100%; }

.dp-sisserou .sisserou-report-submit, .sisserou-player-wrapper .sisserou-report-submit { text-align: right; }

.dp-sisserou .sisserou-bar { background: rgb(145, 70, 255); cursor: pointer; height: 32px; line-height: 32px; margin: 0px -18px; }

@media screen {
  .dp-sisserou .sisserou-bar { background: linear-gradient(90deg, rgb(35, 48, 63) 0px, rgb(145, 76, 233) 50%, rgb(35, 48, 63) 100%); }
}

.dp-sisserou .sisserou-bar .sisserou-watch-prompt { color: rgb(255, 255, 255); margin-left: 10px; }

.dp-sisserou .sisserou-bar:hover .sisserou-watch-prompt { color: rgb(231, 118, 0); }

.dp-sisserou .sisserou-expander { margin-left: 10px; position: relative; top: 0px; }

.dp-sisserou .sisserou-twitch-logo-style { margin-left: 18px; position: relative; top: 0px; vertical-align: middle; }

.dp-sisserou .sisserou-viewing-window { display: block; float: left; height: 18.5625vw; width: 33vw; max-width: 100%; margin: 0px -18px; }

.dp-sisserou .sisserou-viewing-window.sisserou-player { border-bottom: 1px solid rgb(145, 70, 255); border-right: 1px solid rgb(145, 70, 255); overflow: hidden; position: absolute; margin: 0px -18px; z-index: 10; }

.dp-sisserou .sisserou-viewing-window.sisserou-event-handler { pointer-events: all; position: absolute; z-index: 11; }

.dp-sisserou .sisserou-viewing-window.sisserou-content-warning, .dp-sisserou .sisserou-viewing-window.sisserou-no-streamer { align-items: center; background-color: rgb(0, 0, 0); display: flex; justify-content: center; padding-bottom: 1px; padding-right: 1px; position: absolute; text-align: center; z-index: 13; }

.dp-sisserou .sisserou-twitch-player-container { height: calc(100% + 400px); margin-top: -200px; position: relative; }

.dp-sisserou .sisserou-stream-info { background: linear-gradient(rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.35) 60%, transparent); display: inline-block; padding-bottom: 50px; position: absolute; right: 0px; top: 0px; width: 100%; }

.dp-sisserou .sisserou-stream-name { color: rgb(255, 255, 255); display: inline-block; margin-left: 14px; margin-top: 18px; text-overflow: ellipsis; white-space: nowrap; }

.dp-sisserou .sisserou-stream-status { display: block; margin-right: 14px; margin-top: 18px; position: absolute; right: 0px; top: 0px; }

.dp-sisserou .sisserou-stream-controls { background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.35) 60%, transparent); bottom: 0px; display: inline-block; padding-top: 50px; pointer-events: all; position: absolute; width: 100%; }

.dp-sisserou .sisserou-volume-wrapper { cursor: pointer; display: inline-block; height: 30px; width: 140px; z-index: 12; }

.dp-sisserou .sisserou-volume-mute { display: inline-block; height: 30px; text-align: center; width: 30px; }

.dp-sisserou .sisserou-volume-slider { cursor: pointer; display: inline-block; height: 30px; margin-left: 6px; position: absolute; width: 106px; z-index: 16; }

.dp-sisserou .sisserou-volume-slider-thumb { background-color: rgb(255, 255, 255); height: 12px; margin-top: 5px; position: absolute; width: 4px; z-index: 15; }

.dp-sisserou .sisserou-volume-slider-active, .dp-sisserou .sisserou-volume-slider-bar { height: 4px; margin-top: 9px; position: absolute; }

.dp-sisserou .sisserou-volume-slider-active { background-color: rgb(169, 145, 212); z-index: 14; }

.dp-sisserou .sisserou-volume-slider-bar { background-color: rgba(255, 255, 255, 0.35); width: 100px; z-index: 13; }

.dp-sisserou .sisserou-play-pause { cursor: pointer; display: inline-block; height: 30px; margin-left: 6px; text-align: center; width: 30px; z-index: 12; }

.dp-sisserou .sisserou-toggle-captions { cursor: pointer; display: inline-block; height: 30px; margin-left: 6px; position: absolute; text-align: center; right: 36px; width: 30px; z-index: 12; }

.dp-sisserou .sisserou-settings { bottom: 36px; box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px, rgba(0, 0, 0, 0.2) 0px 15px 45px; right: 4px; }

.dp-sisserou .sisserou-mature-warning-accept { display: inline-block; vertical-align: top; }

.dp-sisserou .sisserou-stream-control-style { display: inline-block; vertical-align: middle; }

.dp-sisserou .sisserou-expand-icon, .sisserou-player-wrapper .sisserou-expand-icon { background-position: 0px -31px; height: 9px; width: 9px; }

.dp-sisserou .sisserou-bar:hover .sisserou-expand-icon, .sisserou-player-wrapper .sisserou-bar:hover .sisserou-expand-icon { background-position: -10px -31px; }

.dp-sisserou .sisserou-collapse-icon, .sisserou-player-wrapper .sisserou-collapse-icon { background-position: -20px -31px; height: 9px; width: 9px; }

.dp-sisserou .sisserou-bar:hover .sisserou-collapse-icon, .sisserou-player-wrapper .sisserou-bar:hover .sisserou-collapse-icon { background-position: -30px -31px; }

.dp-sisserou .sisserou-live-icon, .sisserou-player-wrapper .sisserou-live-icon { background-position: 0px -41px; height: 13px; width: 43px; }

.dp-sisserou .sisserou-offline-icon, .sisserou-player-wrapper .sisserou-offline-icon { background-position: -44px -41px; height: 13px; width: 60px; }

.dp-sisserou .sisserou-play-icon, .sisserou-player-wrapper .sisserou-play-icon { background-position: -39px -55px; height: 16px; width: 16px; }

.dp-sisserou .sisserou-play-pause:hover .sisserou-play-icon, .sisserou-player-wrapper .sisserou-play-pause:hover .sisserou-play-icon { background-position: -56px -55px; }

.dp-sisserou .sisserou-play-pause:active .sisserou-play-icon, .sisserou-player-wrapper .sisserou-play-pause:active .sisserou-play-icon { background-position: -73px -55px; }

.dp-sisserou .sisserou-pause-icon, .sisserou-player-wrapper .sisserou-pause-icon { background-position: 0px -55px; height: 16px; width: 12px; }

.dp-sisserou .sisserou-play-pause:hover .sisserou-pause-icon, .sisserou-player-wrapper .sisserou-play-pause:hover .sisserou-pause-icon { background-position: -13px -55px; }

.dp-sisserou .sisserou-play-pause:active .sisserou-pause-icon, .sisserou-player-wrapper .sisserou-play-pause:active .sisserou-pause-icon { background-position: -26px -55px; }

.dp-sisserou .sisserou-volume-icon, .sisserou-player-wrapper .sisserou-volume-icon { background-position: -90px -55px; height: 16px; width: 18px; }

.dp-sisserou .sisserou-volume-wrapper:hover .sisserou-volume-icon, .sisserou-player-wrapper .sisserou-volume-wrapper:hover .sisserou-volume-icon { background-position: -109px -55px; }

.dp-sisserou .sisserou-volume-wrapper:active .sisserou-volume-icon, .sisserou-player-wrapper .sisserou-volume-wrapper:active .sisserou-volume-icon { background-position: -128px -55px; }

.dp-sisserou .sisserou-mute-icon, .sisserou-player-wrapper .sisserou-mute-icon { background-position: -147px -55px; height: 16px; width: 18px; }

.dp-sisserou .sisserou-volume-wrapper:hover .sisserou-mute-icon, .sisserou-player-wrapper .sisserou-volume-wrapper:hover .sisserou-mute-icon { background-position: -166px -55px; }

.dp-sisserou .sisserou-volume-wrapper:active .sisserou-mute-icon, .sisserou-player-wrapper .sisserou-volume-wrapper:active .sisserou-mute-icon { background-position: -185px -55px; }

.dp-sisserou .sisserou-settings-icon, .sisserou-player-wrapper .sisserou-settings-icon { background-position: 0px -72px; height: 16px; width: 16px; }

.dp-sisserou .sisserou-settings-button:hover .sisserou-settings-icon, .sisserou-player-wrapper .sisserou-settings-button:hover .sisserou-settings-icon { background-position: -17px -72px; }

.dp-sisserou .sisserou-settings-button:active .sisserou-settings-icon, .sisserou-player-wrapper .sisserou-settings-button:active .sisserou-settings-icon { background-position: -34px -72px; }

.dp-sisserou .sisserou-captions-on-icon, .sisserou-player-wrapper .sisserou-captions-on-icon { background-position: -40px -155px; height: 18px; width: 18px; }

.dp-sisserou .sisserou-toggle-captions:hover .sisserou-captions-on-icon, .sisserou-player-wrapper .sisserou-toggle-captions:hover .sisserou-captions-on-icon { background-position: -20px -155px; }

.dp-sisserou .sisserou-toggle-captions:active .sisserou-captions-on-icon, .sisserou-player-wrapper .sisserou-toggle-captions:active .sisserou-captions-on-icon { background-position: 0px -155px; }

.dp-sisserou .sisserou-captions-off-icon, .sisserou-player-wrapper .sisserou-captions-off-icon { background-position: -100px -155px; height: 18px; width: 18px; }

.dp-sisserou .sisserou-toggle-captions:hover .sisserou-captions-off-icon, .sisserou-player-wrapper .sisserou-toggle-captions:hover .sisserou-captions-off-icon { background-position: -80px -155px; }

.dp-sisserou .sisserou-toggle-captions:active .sisserou-captions-off-icon, .sisserou-player-wrapper .sisserou-toggle-captions:active .sisserou-captions-off-icon { background-position: -60px -155px; }

.dp-sisserou .sisserou-icons { background-image: url("https://m.media-amazon.com/images/S/sash/otJyC74DCqxAnM-.png"); background-repeat: no-repeat; background-size: 260px 174px; display: inline-block; }

@media only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio:1.5), only screen and (min-resolution: 1.5dppx) {
  .dp-sisserou .sisserou-icons { background-image: url("https://m.media-amazon.com/images/S/sash/2nlDUGaeEI7JMTv.png"); }
}

.dp-sisserou .sisserou-twitch-logo-icon { height: 27px; width: 76px; }
