@charset "utf-8";

.ladle-main { padding: 0px; }

html, body, #root, #wrapper { height: 100%; }

body.webview #root, body.webview #wrapper { height: auto; }

html { font-family: sans-serif; text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body { margin: 0px; }

h1, h2, h3, h4, p { margin: 0px; font-weight: normal; }

ul { padding: 0px; margin: 0px; list-style: none; }

ol { padding: 0px; margin: 0px; list-style: none; }

li { display: block; }

a { text-decoration: none; color: inherit; }

button { border-width: 0px; cursor: pointer; padding: 0px; margin: 0px; background: transparent; font: inherit; color: inherit; letter-spacing: inherit; }

input { padding: 0px; border: 0px; font: inherit; color: inherit; letter-spacing: inherit; }

figure { margin: 0px; }

select { border-radius: 0px; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button, input::-webkit-search-cancel-button, input::-webkit-search-decoration, input::-webkit-search-results-button, input::-webkit-search-results-decoration { display: none; }

.js-focus-visible :focus:not([data-focus-visible-added]) { outline: none; }

* { -webkit-font-smoothing: antialiased; }

td { padding: 0px; }

@keyframes loadingAnimation {
  0% { background-position: -100vw 0px; }
  100% { background-position: 100vw 0px; }
}

.spacer { height: 1px; flex-shrink: 0; margin: 0px; padding: 0px; }

.spacer._2 { width: 2px; }

.spacer._4 { width: 4px; }

.spacer._8 { width: 8px; }

.spacer._12 { width: 12px; }

.spacer._16 { width: 16px; }

.spacer._24 { width: 24px; }

.spacer._32 { width: 32px; }

.spacer._40 { width: 40px; }

.spacer._48 { width: 48px; }

.spacer._56 { width: 56px; }

.spacer._64 { width: 64px; }

.spacer._72 { width: 72px; }

.spacer._80 { width: 80px; }

.spacer._88 { width: 88px; }

.spacer._128 { width: 128px; }

.spacer._200 { width: 200px; }

.hide-in-light-mode { display: none; }
