@charset "utf-8";

.vsohId { user-select: none; }

.eU5Rrb, .j7oslf { background-color: rgba(0, 0, 0, 0.6); border-radius: 40px; bottom: 0px; height: 40px; position: absolute; width: 40px; cursor: pointer; }

.j7oslf { left: 0px; }

.eU5Rrb { right: 0px; }

.iUyN6b, .Db3xgb { margin-top: 4px; color: rgb(255, 255, 255); }

.iUyN6b { margin-left: 1px; }

.AnCkCf.EPfCEf, .AnCkCf.EPfCEf:hover, .AnCkCf.EPfCEf:active { opacity: 0.5; }

sentinel { }
