@charset "utf-8";

.e5e285812b { margin: var(--bui_spacing_4x); }

.e5e285812b button:active { background: inherit; }

.b465aa15e8 { margin: 0 0 var(--bui_spacing_8x); padding: 0px; }

.a7541c1418 { margin: 0 0 var(--bui_spacing_4x); }

.a7541c1418:last-child { margin: 0px; }

.adc0729417 { border-right: none; border-bottom: none; border-left: none; border-image: initial; border-top: var(--bui_border_width_100) solid var(--bui_color_border_alt); border-radius: 0px; }

.dd2232e8aa { list-style-type: circle; margin-top: var(--bui_spacing_2x); margin-left: var(--bui_spacing_4x); }

.dd2232e8aa > li { margin-bottom: var(--bui_spacing_2x); }
