@charset "utf-8";

.a6e42fc7ee { margin-block-start: var(--bui_spacing_6x); }

.ef86ce833c { padding-block-end: var(--bui_spacing_2x); }

.f2c95c46b8 { margin-block-start: var(--bui_spacing_6x); }

.ce8b395740 { margin-block-start: var(--bui_spacing_4x); }

.c17a3c953e { margin-block-start: var(--bui_spacing_4x); }

.b80b34a246 { margin-inline-start: calc(var(--bui_spacing_1x) * 9); margin-block-start: var(--bui_spacing_2x); }
