@charset "utf-8";

.e70ce40bd1 { display: flex; align-items: center; width: fit-content; }

.d98fe29e5e { vertical-align: middle; margin-right: 0px !important; }

.b79604af7c { padding-left: var(--bui_spacing_1x); vertical-align: middle; }

.bc9243235c, .f709cec25f { margin-bottom: var(--bui_spacing_2x); }

.aa45b9c0c5 { cursor: pointer; }
