@charset "utf-8";

.f657e92b5b { columns: 3; column-gap: 40px; margin-block-start: var(--bui_spacing_6x); margin-block-end: var(--bui_spacing_6x); }

.bacf79a016 { margin-block-end: var(--bui_spacing_4x); }

.acf7c0310b { position: absolute; inset-block: 0px; inset-inline: 0px; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; }

.d258f64e8f { position: relative; height: calc(var(--bui_spacing_6x) * var(--bui_spacing_4x)); margin-block-start: var(--bui_spacing_3x); }
