@charset "utf-8";

.d96a4619c0 { display: inline-flex; align-items: center; gap: var(--bui_spacing_1x); }

.efd2e59363 { display: flex; flex-direction: row; align-items: flex-start; }

.c3518b180d { flex-shrink: 1; padding-top: var(--bui_spacing_half); }

.f05ac105fa { width: var(--bui_spacing_2x); flex-shrink: 0; }

.ea9fc823c1 { flex-grow: 1; line-height: 1; }

.fd9fcb8e68 { display: flex; justify-content: flex-end; }

.e9a4c2bbcf { display: flex; gap: var(--bui_spacing_4x); height: 100%; }

.f0a92fcb0d { justify-content: flex-end; }

.a3eab358fb { display: inline-flex; gap: var(--bui_spacing_1x); flex-direction: column; }

.fa0a13c8c1 { display: inline-flex; align-self: flex-end; }

.e606856c85 { margin-top: 1px; }

.b6721bcf0a { margin: var(--bui_spacing_4x) 0; display: flex; align-items: baseline; }

.b6721bcf0a h3 { margin: 0px; padding: 0px; }

.cb6028d5e7 { text-align: right; }

.d7f35c35e5 { margin-bottom: var(--bui_spacing_2x); }

.ae471b537a { display: flex; flex-direction: column; align-items: stretch; gap: var(--bui_spacing_4x); }
