@charset "utf-8";

.ddb12f4f86 { font-size: var(--bui_font_headline_2_font-size); line-height: var(--bui_font_headline_2_line-height); font-weight: var(--bui_font_headline_2_font-weight); font-family: var(--bui_font_headline_2_font-family); margin: var(--bui_spacing_1x) 0 0; padding: 0px; }

.bf4d93320f { font-size: var(--bui_font_headline_2_font-size); line-height: var(--bui_font_headline_2_line-height); font-weight: var(--bui_font_headline_2_font-weight); font-family: var(--bui_font_headline_2_font-family); margin: 0px; padding: 0px; }
