@charset "utf-8";

.b8d1620349 { width: var(--bui_spacing_3x); vertical-align: middle; }

.d838fb5f41 { display: inline-block; vertical-align: middle; }

.aea5eccb71 { margin-left: var(--bui_spacing_1x); }

.a787c7cca4 { margin-right: var(--bui_spacing_2x); color: var(--bui_color_foreground); }

.a9ee5f248d { margin-top: 2px; }

.efd2e59363 { display: flex; flex-direction: row; align-items: flex-start; }

.c3518b180d { flex-shrink: 1; padding-top: var(--bui_spacing_half); }

.f05ac105fa { width: var(--bui_spacing_2x); flex-shrink: 0; }

.ea9fc823c1 { flex-grow: 1; line-height: 1; }

[dir="rtl"] .cdfaba8937 { direction: rtl; text-align: right; }

[dir="rtl"] .a17eaf5728 { direction: ltr; text-align: left; }

.d14152e7c3 { white-space: pre-line; word-break: break-word; }

.e63bbe12f7 { padding-bottom: var(--bui_spacing_2x); }

.b018210dd3 { padding-top: var(--bui_spacing_4x); }

.f0d098c327 { margin: 0 calc(var(--bui_spacing_4x) * -1) 0; }

.fe4dfbc0c7 { position: relative; clear: both; text-align: initial; background-color: var(--bui_color_white); min-height: 150px; display: flex; flex-direction: column; }

.a3842bd3b4 { flex: 1 1 0%; margin-inline-start: var(--bui_spacing_1x); margin-inline-end: var(--bui_spacing_1x); display: inline-flex; }

.a3842bd3b4 > ul { padding-block-end: var(--bui_spacing_4x); }

.a3842bd3b4 > div > button { background-color: rgba(0, 0, 0, 0); box-shadow: none; }

.cabc9b7051 { width: 100% !important; display: flex; }

.b1e30971a9 { display: flex; flex-direction: column; height: 100%; padding-block: 0px; justify-content: space-between; }

.b1e30971a9 > div:first-child { padding: 0px; }

.e01adb21c0 { display: block; font: small / 1.2 BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.b228ba80c5 { margin-block-start: var(--bui_spacing_2x); }

.fa3fb60deb { display: flex; }

.a8d95bc37b { flex: 0 0 auto; }

span.a8d95bc37b svg { vertical-align: middle; transform: translateY(-15%); }

span.b506848d51 { height: 1em; }

.beb5ef4fb4 { padding-left: var(--bui_spacing_1x); }

.d7a50099f7 { padding-right: var(--bui_spacing_1x); }

.b58cf84933 { margin-block-end: var(--bui_spacing_2x); }

.aec287ef3f { margin-inline-end: var(--bui_spacing_1x); }
