@charset "utf-8";

.bda87b3b1d { width: 100%; height: 100%; }

.b6153df9f9 { height: 100%; width: 33%; }

.fa9eae21e2 { height: calc(50% - var(--bui_spacing_2x)); }

.a6fc07b357 { height: calc(33% - var(--bui_spacing_2x)); }

.d830625336 { height: 103px; }

.e0edaae6bd { height: 100%; position: relative; border-radius: var(--bui_border_radius_100); }

.f6845188a6 { display: grid; background-color: rgba(0, 0, 0, 0.4); position: absolute; inset: 0px; align-content: center; text-align: center; cursor: pointer; border-radius: var(--bui_border_radius_100); }

.cba4d224fb { height: fit-content; }
