@charset "utf-8";

.mltt { background: rgb(250, 252, 255); margin: 0px; position: relative; }

.mltt__viewport { border-radius: 3px; font-size: 14px; line-height: 1.2em; margin: 0px auto; overflow: hidden; position: relative; width: 1110px; }

.mltt > .mltt__viewport { padding: 4px 0px 10px; }

.mltt > .mltt__viewport > .mltt__button { margin: -4px 0px -10px; }

@media print {
  .mltt { display: none !important; }
}

#searchresultsTmpl .mltt { margin-bottom: 20px; }

#hotelTmpl.prevent_collapsing_margin { margin-top: 0px; padding-top: 5px; }

#b2hotelPage .mltt { margin: 0px; }

#b2myreservationsPage .mltt { border-radius: 3px; clear: both; margin-bottom: 20px; }

.mb-header-buttons + .mltt { margin-top: 20px; }

.mltt__button { cursor: pointer; height: 100%; position: absolute; top: 0px; width: 100px; z-index: 100; transition: color 0.3s; }

.mltt__button--left { background: linear-gradient(90deg, rgb(229, 239, 255) 36px, rgba(242, 242, 242, 0)) repeat-y; left: -1px; }

.mltt__button--right { background: linear-gradient(270deg, rgb(229, 239, 255) 36px, rgba(242, 242, 242, 0)) repeat-y; right: -1px; }

.mltt__button .b-icon { color: rgb(51, 51, 51); font-size: 20px; height: 20px; position: absolute; text-align: center; top: 50%; transform: translateY(-10px); transition: color 0.3s; width: 20px; }

.mltt__button:hover .b-icon { color: rgb(0, 113, 194); }

.mltt__button--left .b-icon { left: 5px; }

#b2myreservationsPage .mltt__button--left .b-icon { left: 10px; }

.mltt__button--right .b-icon { right: 5px; }

#b2myreservationsPage .mltt__button--right .b-icon { right: 10px; }

.mltt__button--left .bk-icon, .mltt__button--right .bk-icon { height: 72px; position: absolute; }

.mltt__button--left .bk-icon { left: -5px; }

.mltt__button--right .bk-icon { right: -5px; }

.mltt__button .bk-icon { fill: currentcolor; }

.mltt__button:hover { color: rgb(0, 113, 194); }

.mltt__track { display: flex; flex-wrap: nowrap; position: relative; transition: 0.5s; }

.lang_is_ltr .mltt__track { left: 0px; }

.mltt__bucket { -webkit-box-flex: 0; flex: 0 0 auto; }

.mltt__bucket:first-child { padding-left: 8px; }

.mltt__bucket:last-child { padding-right: 8px; }

.mltt__title { margin: 0px auto; padding: 8px; font-size: 14px; line-height: 1.2em; box-sizing: border-box; }

.mltt_as_nav > .mltt__title { width: 1110px; display: flex; }

.mltt__title--inline { width: auto; padding: 0px; margin: 0px 10px !important; }

.mltt__legs { -webkit-box-align: center; align-items: center; display: inline-flex; flex-wrap: nowrap; }

.mltt__legs > * { -webkit-box-flex: 0; flex: 0 0 auto; }

.mltt__legs > :not(:last-child) { margin-right: 4px; }

.mltt__leg { background-color: var(--bui_color_white); border-bottom: 3px solid; border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px; display: block; padding: 7px 10px 4px; text-decoration: none; transition: background-color 0.3s; vertical-align: middle; }

a.mltt__leg { color: rgb(51, 51, 51); }

.mltt__leg:focus { outline: 0px; }

.mltt__leg:last-child { margin-right: 0px; }

.mltt__legs--current { padding: 0px 20px; }

.lang_is_ltr .mltt__legs--current:first-child { padding-left: 0px; }

.lang_is_ltr .mltt__legs--current:last-child { padding-right: 0px; }

.mltt__legs--current .mltt__leg--booking { box-shadow: rgb(0, 128, 9) 0px 0px 0px 1px; }

.mltt__legs--current .mltt__leg--search { border-width: 1px 1px 3px; border-style: solid; border-color: rgb(254, 187, 2); border-image: initial; }

.mltt__leg__title { display: block; font-weight: bold; overflow: hidden; white-space: nowrap; float: left; transition: color 0.2s; max-width: 200px; text-overflow: ellipsis; }

.lang_is_ltr .mltt__leg--booking .mltt__leg__title, .lang_is_ltr .mltt__leg--search .mltt__leg__title { padding-right: 8px; }

.mltt__leg__price_estimate { -webkit-font-smoothing: antialiased; color: rgba(0, 0, 0, 0.2); display: flex; flex-wrap: nowrap; float: right; font-size: 14px; font-weight: normal; }

.lang_is_ltr .mltt__leg__price_estimate { margin-left: 10px; }

.mltt__leg__price_estimate__active { color: rgba(0, 0, 0, 0.2); }

.mltt__leg__icon_boxed { background-color: var(--bui_color_white); border-radius: 50%; color: rgb(0, 128, 9); display: block; float: right; font-size: 20px; text-align: center; position: relative; right: -5px; top: -2px; }

.mltt__leg__icon_boxed--search { background-color: rgb(254, 187, 2); color: var(--bui_color_white); }

.mltt__leg__icon_boxed--search.bicon-search { font-size: 12px; line-height: 20px; box-sizing: border-box; width: 20px; height: 20px; }

.mltt__leg__icon_boxed--current { background-color: rgb(0, 128, 9); color: var(--bui_color_white); font-size: 14px; line-height: 20px; width: 20px; height: 20px; }

.mltt__leg__icon_boxed--past { color: rgb(189, 189, 189); }

.mltt__leg__subtitle { clear: both; color: rgb(51, 51, 51); display: block; font-size: 12px; font-weight: normal; overflow: hidden; white-space: nowrap; transition: color 0.2s; }

.mltt__leg__subtitle:not(:first-child) { padding-top: 2px; }

.mltt__leg__subtitle:nth-child(2) { padding-top: 6px; }

a.mltt__leg:hover .mltt__leg__subtitle { color: inherit; opacity: 0.7; }

.mltt__leg--booking { border-bottom-color: rgb(0, 128, 9); box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px; }

a.mltt__leg--booking:hover .mltt__leg__title, a.mltt__leg--booking:hover .mltt__leg__subtitle { color: rgb(0, 128, 9); }

.mltt__leg--booking--past { border-bottom-color: rgb(189, 189, 189); box-shadow: none; background-color: rgb(245, 245, 245); }

.mltt__leg--search { border-width: 0px 0px 3px; border-bottom-style: solid; border-bottom-color: rgb(254, 187, 2); }

a.mltt__leg--search:hover .mltt__leg__title, a.mltt__leg--search:hover .mltt__leg__subtitle { color: rgb(254, 187, 2); }

.mltt__leg--gap { height: auto; background-color: transparent; border-color: transparent; cursor: default; box-shadow: none; }

.mltt__leg--suggestion { background-color: var(--bui_color_white); border: 3px dashed rgba(0, 0, 0, 0.2); box-shadow: none; cursor: pointer; color: rgb(0, 113, 194); }

a.mltt__leg--suggestion { color: rgb(0, 113, 194); }

.mltt__leg--suggestion:hover .mltt__leg__title { opacity: 0.7; }

.mltt__leg_divider { background-color: rgba(0, 0, 0, 0.2); border-radius: 4px; height: 4px; vertical-align: middle; width: 20px; }

.mltt__toggle--input { position: absolute; width: 1100px; height: 30px; padding: 0px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; clip-path: inset(50%); border: 0px; left: 50%; transform: translate(-550px); opacity: 0.1; }

.mltt__toggle { position: absolute; left: 0px; right: 0px; margin: 8px; text-align: right; z-index: 1; }

.mltt_as_nav > .mltt__toggle { width: 1100px; margin: 8px auto; }

.mltt__toggle--label { color: rgb(0, 113, 194); display: inline-block; cursor: pointer; user-select: none; font-size: 14px; font-weight: 100; opacity: 0.99; }

.mltt__toggle--label:hover { color: rgb(0, 53, 128); }

.mltt__toggle--arrow { fill: currentcolor; position: relative; top: -1px; width: 18px; height: 18px; }

.mltt__toggle--input:not(:checked) + .mltt__toggle .mltt__toggle--visible, .mltt__toggle--input:not(:checked) + .mltt__toggle + .mltt__title .mltt__title--visible, .mltt__toggle--input:not(:checked) + .mltt__toggle + .mltt__title + .mltt__content, .mltt__toggle--input:not(:checked) + .mltt__toggle + .mltt__title + .mltt__viewport, .mltt__toggle--input:not(:checked) + .mltt__toggle + .mltt__title + .mltt__viewport + .mltt__dropdowns, .mltt__toggle--input:checked + .mltt__toggle .mltt__toggle--hidden, .mltt__toggle--input:checked + .mltt__toggle + .mltt__title .mltt__title--hidden, .myreservations .mltt__toggle--input:not(:checked) + .mltt__toggle + .mltt__title { display: none; }

.mltt__toggle--input:checked + .mltt__toggle .mltt__toggle--arrow { transform: rotateX(180deg); }

.myreservations .mltt__toggle--input:not(:checked) + .mltt__toggle { width: auto; left: auto; margin: 10px 0px 0px; }

.myreservations .bc-horizontal .mltt__toggle--input:not(:checked) + .mltt__toggle { margin: -62px 0px 0px; }

.myreservations .mltt__toggle--input:not(:checked) + .mltt__toggle .mltt__toggle--label { padding: 15px 12px 13px 15px; border: 1px solid rgb(0, 113, 194); display: inline-block; border-radius: 3px; }

.myreservations .mltt__toggle--input:not(:checked) + .mltt__toggle .mltt__toggle--label:hover { background-color: rgba(0, 112, 193, 0.1); border-color: rgb(0, 53, 128); }

.myreservations .mltt_single_myreservations .mltt__toggle--input:not(:checked) + .mltt__toggle { margin-top: 0px; position: relative; }

.myreservations .mltt_single_myreservations .mltt__toggle--input:not(:checked) + .mltt__toggle::before { content: ""; display: block; width: 100%; height: 100%; background: rgb(255, 255, 255); position: absolute; }

#b2indexPage .mltt { margin-top: 0px; }

.mltt__dropdown--image { width: 1000px; height: 60px; background-size: auto 100%; background-repeat: no-repeat; background-position: center center; margin-left: 50%; transform: translateX(-50%); }

.mltt__dropdown__container .mltt__dropdown__image { display: none; }

.mltt__dropdown--opened .mltt__dropdown__container .mltt__dropdown__image { display: inline; }

.mltt__legs--booked .mltt__leg--search { border-color: rgb(163, 0, 0); }

.mltt__legs--booked .mltt__leg__icon_boxed--booked { width: 20px; height: 20px; overflow: hidden; }

.mltt__legs--booked .mltt__leg__icon_boxed--booked .bk-icon { margin: -2px; }

.mltt__legs--booked:hover .mltt__leg--search .mltt__leg__title, .mltt__legs--booked:hover .mltt__leg--search .mltt__leg__subtitle, .mltt__group:hover .mltt__legs--booked a.mltt__leg--search .mltt__leg__title, .mltt__group:hover .mltt__legs--booked a.mltt__leg--search .mltt__leg__subtitle { color: rgb(163, 0, 0); }

.mltt__dropdown--search .mltt__dropdown__close { top: 5px; right: 4px; }

.mltt__dropdown--search .bui-button--primary + .bui-button--secondary { margin-top: 4px; }

.mltt__dropdown--search.mltt__dropdown--current { max-width: 270px; width: auto; }

.mltt__leg .mltt__loading-icon { height: 24px; left: 50%; margin-left: -12px; margin-top: -12px; position: absolute; top: 50%; transform-origin: 50% center; width: 24px; display: none; }

.mltt__leg.is-loading { pointer-events: none; position: relative; }

.mltt__leg.is-loading > :not(.mltt__loading-icon) { opacity: 0.1 !important; }

@-webkit-keyframes loading {
  100% { transform: rotate(360deg) translate3d(0px, 0px, 0px); }
}

@keyframes loading {
  100% { transform: rotate(360deg) translate3d(0px, 0px, 0px); }
}

.mltt__leg.is-loading .mltt__loading-icon { animation: 1200ms steps(12) 0s infinite normal none running loading; display: block; }

.mltt_leg_icon_box { position: relative; width: 20px; height: 20px; overflow: hidden; border-radius: 50%; right: -5px; top: -2px; text-align: center; float: right; }

.mltt_leg_icon_box--booking svg, .mltt_leg_icon_box--past svg, .mltt_leg_icon_box--search svg, .mltt_leg_icon_box--pob svg { margin: -2px; }

.mltt_leg_icon_box--instay svg { fill: var(--bui_color_white); }

.mltt_leg_icon_box--search { background-color: transparent; }

.mltt_leg_icon_box--instay { background-color: rgb(0, 128, 9); }

.mltt_leg_icon_box--past { background-color: var(--bui_color_white); }

.mltt__leg { cursor: pointer; }

.mltt__leg.mltt__leg--booking--past, .mltt__leg.mltt__leg--gap { cursor: default; }

.mltt__dropdown { background: white; border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px; margin-top: -30px; opacity: 0; padding: 20px; pointer-events: none; position: absolute; top: 100%; transition: opacity 0.3s, margin-top 0.3s; width: 270px; z-index: 900; line-height: 1.2; }

.mltt__dropdown--open { opacity: 1; pointer-events: auto; margin-top: 0px; }

.mltt__dropdown__close { position: absolute; right: 10px; top: 10px; color: rgb(107, 107, 107); transition: color 0.3s; }

.mltt__dropdown__close:hover { color: rgb(204, 0, 0); }

.mltt__sc__hotel-container { margin: 0px -8px -8px; }

.mltt__dropdown__hotel-card { clear: both; cursor: pointer; margin-top: 10px; padding: 8px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px; position: relative; }

.mltt__dropdown__hotel-card:hover { background: rgb(250, 252, 255); }

a.mltt__dropdown__hotel-content { display: flex; text-decoration: none; }

.mltt__dropdown__container { display: flex; overflow: hidden; }

.mltt__dropdown__container-ufi { font-size: 12px; color: rgb(107, 107, 107); }

.mltt__dropdown__heading { font-weight: 700; margin: 0px 0px 4px; padding: 0px; }

a.mltt__dropdown__title { color: rgb(0, 113, 194); display: block; font-size: 16px; font-weight: 500; margin: 0px 0px 4px; padding: 0px; text-decoration: none; }

.mltt__dropdown__title:hover { color: rgb(254, 187, 2); }

.mltt__dropdown__hotel-name { color: rgb(0, 113, 194); font-size: 14px; font-weight: 500; }

.mltt__dropdown__text { font-size: 12px; line-height: 18px; font-weight: 400; color: rgb(107, 107, 107); margin-bottom: 2px; display: block; }

.mltt__dropdown__text--price { color: rgb(0, 128, 9); font-size: 14px; line-height: 20px; font-weight: 500; position: absolute; bottom: 5px; right: 8px; }

.mltt_dropdown__list { margin: 4px 0px; }

.lang_is_ltr .mltt__dropdown__text--price { text-align: right; }

.mltt__dropdown__text--unavailable_copy { color: rgb(163, 0, 0); font-size: 12px; font-weight: normal; }

.mltt__dropdown__text--unavailable_block { background-color: rgb(163, 0, 0); color: var(--bui_color_white); padding: 2px 5px; border-radius: 2px; display: table; margin: 4px 0px; }

.mlttt__dropdown__ufi { list-style: none; margin: 0px; padding: 0px; width: 100%; line-height: 1.2; }

.mltt__dropdown__sc_viewed_hotels { display: block; margin-top: 16px; }

.mltt__dropdown__los_stay_copy { font-weight: bold; }

ul.mlttt__dropdown__ufi.location { line-height: 1.4; }

.mltt__dropdown a.mltt__dropdown__button { clear: both; text-decoration: none; text-align: center; width: 100%; padding: 8px 0px; color: var(--bui_color_white); transition: background-color 0.5s; background-color: rgb(0, 113, 194); margin-top: 8px; font-weight: 500; }

.mltt__dropdown a.mltt__dropdown__button:hover { background-color: rgb(0, 53, 128); }

.mltt__dropdown__image { border-radius: 2px; -webkit-box-flex: 0; flex: 0 0 auto; height: 60px; margin-right: 8px; object-fit: cover; transition: transform 0.5s; width: 60px; overflow: hidden; }

.mltt__mltt__dropdown__hotel-card img.mltt__dropdown__image:hover { transform: scale(1.1); }

.mltt__dropdown__image.ufi { border-radius: 50%; }

img.mltt__dropdown__image.ufi:hover { opacity: 0.8; }

.mltt__dropdown__image.missing { border-radius: 50%; border: 2px solid rgb(0, 113, 194); position: relative; }

.mltt__dropdown__image.missing:hover { background-color: rgb(250, 252, 255); }

.mltt__search_card_location { position: absolute; top: 25%; left: 25%; }

.mltt__dropdown__review-score { background-color: rgb(0, 53, 128); color: var(--bui_color_white); display: block; font-size: 9px; line-height: 2; width: 18px; vertical-align: baseline; position: relative; text-align: center; padding: 0px; margin: 5px 0px; border-radius: 4px 4px 4px 0px; font-weight: normal; }

.mltt__dropdown__text--price__loader { height: 20px; background: url("//cf.bstatic.com/static/img/mlt/loader/1bc7dd42d53a03bf95ff4c7fe386b8566155db2b.gif") 0% 0% / cover no-repeat; width: 20px; position: absolute; right: 8px; bottom: 5px; }

.lang_is_ltr .mltt__dropdown__text--price__loader { float: right; }

a.mltt__dropdown__link { border-top: 1px solid rgb(189, 189, 189); display: block; margin-top: 8px; padding: 8px 0px 8px 16px; text-decoration: none; font-weight: 500; position: relative; font-size: 14px; }

.mltt__dropdown__link-block { width: 258px; display: inline-block; }

.mltt__dropdown__footer { background-color: rgb(0, 102, 7); color: var(--bui_color_white); font-size: 14px; font-weight: 300; padding: 8px 16px; }

.mltt__dropdown__footer-right { float: right; }

.mltt__dropdown__booking { padding: 0px; width: 310px; }

.mltt__dropdown__booking .mltt__dropdown__container { padding: 16px 16px 0px; font-size: 14px; }

.mltt__timeline_booking-arrow { padding: 0px 0px 0px 8px; top: 50%; transform: translateY(-50%); position: absolute; }

.mltt__dropdown__link .bk-icon { fill: currentcolor; }

.mltt__dropdown__button-sc { margin-top: 8px; }

.bui-button--primary.mltt__dropdown__button-sc:hover { background-color: rgb(0, 53, 128); }

.mltt__dropdown__placeholder.search_dropdown_card { padding: 8px 32px 8px 20px; display: block; background: rgb(245, 245, 245); margin: -20px -20px 16px; border-bottom: 1px solid rgb(230, 230, 230); color: rgb(51, 51, 51); }

.mltt--nodash .mltt__bucket:first-child .mltt__legs > :not(:last-child) { margin-right: 0px; }

.mltt--nodash .mltt__leg, .mltt--nodash .mltt__title--inline { position: relative; margin-left: 28px; }

.mltt--nodash .mltt__title--inline { margin: 0px 34px !important; }

.mltt--nodash .mltt__leg::before, .mltt--nodash .mltt__title--inline::before, .mltt--nodash .mltt__title--inline::after { content: ""; background-color: rgba(0, 0, 0, 0.2); border-radius: 4px; height: 4px; width: 20px; position: absolute; left: -24px; top: 50%; pointer-events: none; }

.mltt--nodash .mltt__title--inline::before, .mltt--nodash .mltt__title--inline::after { margin-top: -2px; }

.mltt--nodash .mltt__title--inline::before { left: -30px; }

.mltt--nodash .mltt__title--inline::after { left: auto; right: -30px; }

.mltt--nodash .mltt__bucket:first-child .mltt__leg:first-child, .mltt--nodash .mltt__bucket + .mltt__bucket .mltt__leg { margin-left: 0px; }

.mltt--nodash .mltt__bucket:first-child .mltt__leg:first-child::before, .mltt--nodash .mltt__bucket + .mltt__bucket .mltt__leg::before { content: none; }

.mltt--nodash .mltt__leg--suggestion::before { left: -27px; top: 23px; }

.mltt--nodash .mltt__bucket:first-child .mltt__legs > .mltt__leg--current { margin-left: 49px; margin-right: 21px; }

.mltt--nodash .mltt__leg--current::before { left: -45px; }

.mltt--nodash .mltt__leg--current:first-child { margin-left: 0px; }

.mltt--nodash .mltt__leg--current.mltt__leg--search { box-shadow: rgb(254, 187, 2) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 2px 1px; }

.mltt--nodash .mltt__leg--current.mltt__leg--search.mltt__legs--booked { box-shadow: rgb(163, 0, 0) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 2px 1px; border-bottom-color: rgb(163, 0, 0); }

.mltt--nodash .mltt__leg--current.mltt__leg--booking { box-shadow: rgb(0, 128, 9) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 2px 1px; }

.mltt__leg--search.mltt__legs--booked:hover .mltt__leg__title, .mltt__leg--search.mltt__legs--booked:hover .mltt__leg__subtitle { color: rgb(163, 0, 0); }

.mltt__leg--has-close-button { position: relative; }

.mltt__leg__close { position: absolute; right: -12px; top: -12px; line-height: 14px; padding: 4px; fill: rgb(189, 189, 189); transition: 0.2s; }

.mltt__leg__close__icon { position: relative; }

.mltt__leg__close__icon::before { content: ""; height: 12px; width: 12px; display: inline-block; background-color: var(--bui_color_white); border-radius: 50%; position: absolute; top: 2px; left: 2px; }

.mltt__leg__close__icon svg { position: relative; }

.mltt__leg__close:hover { fill: rgb(107, 107, 107); }

.mltt--is-dismissible { position: relative; }

.mltt__close { position: absolute; top: -16px; right: -16px; transition: 0.2s; fill: rgb(189, 189, 189); border: 0px; background: transparent; padding: 8px; line-height: 16px; z-index: 200; font-size: 12px; font-weight: 400; color: rgb(107, 107, 107); }

.mltt__close__icon-wrapper { margin-left: 4px; position: relative; }

.mltt__close__icon-wrapper::before { content: ""; display: inline-block; background-color: var(--bui_color_white); line-height: 24px; width: 14px; height: 14px; border-radius: 50%; position: absolute; top: 2px; right: 2px; }

.mltt__close svg { position: relative; }

.mltt__close:focus, .mltt__close:hover { fill: rgb(107, 107, 107); outline: 0px; color: rgb(51, 51, 51); }

.mltt--as-panel .mltt__viewport { padding-left: 5px; background: rgb(255, 255, 255); box-shadow: rgb(233, 240, 250) 0px 1px 2px; border-width: 1px; border-style: solid; border-color: rgb(228, 228, 228) rgb(233, 240, 250) rgb(233, 240, 250); border-image: initial; margin-top: 42px; }

.mltt--as-panel .mltt__close { right: -8px; top: -32px; }

.mltt--as-panel .mltt__close__icon-wrapper { top: -1px; }
