@charset "utf-8";

.rewards-incentippy { width: 24px; height: 24px; background: url("//cf.bstatic.com/static/img/incentives/incentippy/d95ef8dbbf70b932813312468b55608088e91dcb.svg") 50% 50% / 24px 24px no-repeat; }

.rewards-incentippy-gray { width: 24px; height: 24px; background: url("//cf.bstatic.com/static/img/incentives/incentippy_gray/2bda4622f06519a8b7a2173d4d0768ed9b7cf50f.svg") 50% 50% / 24px 24px no-repeat; }

.rewards-incentippy-big { width: 61px; height: 48px; background: url("//cf.bstatic.com/static/img/incentives/incentippy_big/6073affa42fd7928b52ac15b5feaab77939687a5.svg") 50% 50% / 61px 48px no-repeat; }

.rewards-gift-big { width: 50px; height: 50px; background: url("//cf.bstatic.com/static/img/incentives/incentive-gift-box-round-100px/d45438b0be0d579426436f74c2a77aef42d44c97.png") 50% 50% / 50px 50px no-repeat; }

.rewards-ribbon { position: fixed; bottom: 0px; left: 0px; right: 0px; z-index: 100; background-color: var(--bui_color_white); }

.rewards-ribbon__icon-btn { float: right; height: 24px; width: 24px; padding: 0px; margin: 16px 16px 16px 0px; opacity: 0.4; cursor: pointer; appearance: none; background: 0px center; border: 0px; }

.rewards-ribbon__icon-btn:hover { opacity: 0.8; }

.rewards-ribbon__icon-btn:active, .rewards-ribbon__icon-btn:focus { box-shadow: none; outline: 0px; }

.rewards-ribbon__collapsed { padding: 16px 32px; overflow-x: hidden; text-align: center; }

.rewards-ribbon__icon { float: left; margin-right: 12px; margin-top: 2px; }

.rewards-ribbon__collapsed-content { display: inline; vertical-align: top; }

.rewards-ribbon__collapsed-title { font-size: var(--bui_font_body_2_font-size); font-weight: var(--bui_font_body_2_font-weight); font-family: var(--bui_font_body_2_font-family); display: inline; line-height: 24px; }

.rewards-ribbon__expanded { padding: 16px 32px; overflow-x: hidden; }

.rewards-ribbon__img { float: left; margin-right: 24px; }

.rewards-ribbon__cta { float: right; margin: 5px 0px 0px 16px; }

.rewards-ribbon__expanded-content { overflow-x: hidden; }

.rewards-ribbon__expanded-title { font-size: var(--bui_font_featured_3_font-size); line-height: var(--bui_font_featured_3_line-height); font-family: var(--bui_font_featured_3_font-family); font-weight: normal; }

.rewards-ribbon__expanded-subtitle { font-size: var(--bui_font_body_2_font-size); font-weight: var(--bui_font_body_2_font-weight); line-height: var(--bui_font_body_2_line-height); font-family: var(--bui_font_body_2_font-family); display: inline; margin-right: 12px; }

.rewards-ribbon__terms-link, .rewards-ribbon__link { font-size: var(--bui_font_body_2_font-size); font-weight: var(--bui_font_body_2_font-weight); line-height: var(--bui_font_body_2_line-height); font-family: var(--bui_font_body_2_font-family); display: inline-block; white-space: nowrap; margin-right: 12px; }

.rewards-ribbon__terms-link .bui-link { color: rgb(51, 51, 51); font-weight: normal; cursor: help; }

.rewards-ribbon__link .bui-link { font-weight: normal; }

.rewards-ribbon.-expanded .bk-icon.-iconset-navarrow_up { transform: rotate(180deg); }

.rewards-ribbon.-expanded .rewards-ribbon__collapsed { display: none; }

.rewards-ribbon.-collapsed { cursor: pointer; }

.rewards-ribbon.-collapsed .rewards-ribbon__expanded { display: none; }

.rewards-ribbon.-top { position: static; bottom: auto; left: auto; right: auto; z-index: auto; border-top: 0px; border-bottom: 1px solid rgb(230, 230, 230); margin: 8px 8px 16px; }

.rewards-ribbon.-top .rewards-ribbon__expanded { padding-left: 0px; padding-right: 0px; }

.rewards-ribbon.-top .rewards-ribbon__img { margin-right: 16px; }

.rewards-ribbon.-top .rewards-incentippy { width: 32px; height: 32px; background-size: 32px 32px; }

.rewards-terms-popover h3 { font-size: var(--bui_font_strong_1_font-size); font-weight: var(--bui_font_strong_1_font-weight); line-height: var(--bui_font_strong_1_line-height); font-family: var(--bui_font_strong_1_font-family); margin: 0px 0px 16px; }

.rewards-terms-popover ol { font-size: var(--bui_font_body_2_font-size); font-weight: var(--bui_font_body_2_font-weight); line-height: var(--bui_font_body_2_line-height); font-family: var(--bui_font_body_2_font-family); list-style-type: decimal; margin: 0px; padding-left: 20px; }

.rewards-terms-popover ol li { margin-bottom: 4px; }

.rewards-terms-popover ol li .bui-link { font-weight: normal; }

.searchresults #rewards-landing { z-index: 1002; }

.rewards-modal-img { height: 160px; background: url("//cf.bstatic.com/static/img/incentives/offer/1153351bec46b78d420be4a4b3a3d63a60da5ed6.svg") 50% 50% / cover no-repeat; }

#rewards-landing .bui-modal__close { opacity: 1; }

#rewards-landing .bui-modal__slot > .bui-modal__close:first-child { display: none; visibility: hidden; }

#rewards-landing .bui-scrim { height: 70px; }

#rewards-banner-modal .bui-modal__close svg { fill: var(--bui_color_white); }

#rewards-banner-modal.rewards-promo-banner__modal--close_reset .bui-modal__close svg { fill: rgb(51, 51, 51); }

#rewards-banner-modal .bui-modal__paragraph, #rewards-banner-modal .bui-list__item { font-size: var(--bui_font_body_2_font-size); font-weight: var(--bui_font_body_2_font-weight); line-height: var(--bui_font_body_2_line-height); font-family: var(--bui_font_body_2_font-family); }

#rewards-banner-modal .bui-container { padding: 0px; }

#rewards-banner-modal .rewards-promo-banner__modal .bui-list { padding-left: 0px !important; list-style-position: inside; }

#rewards-banner-modal .bui-modal__paragraph.bui-text--variant-small_1 { font-size: var(--bui_font_small_1_font-size); font-weight: var(--bui_font_small_1_font-weight); line-height: var(--bui_font_small_1_line-height); font-family: var(--bui_font_small_1_font-family); }

.rewards-promo-banner__bui-coupon-code { font-size: var(--bui_font_emphasized_2_font-size); font-weight: var(--bui_font_emphasized_2_font-weight); line-height: var(--bui_font_emphasized_2_line-height); font-family: var(--bui_font_emphasized_2_font-family); background-color: rgb(245, 245, 245); padding: 8px var(--bui_spacing_4x); min-width: 100px; text-align: center; }

.rewards-promo-banner__bui-coupon-code .bui-spinner, .bui-banner__slot .bui-spinner { margin: auto; }

.promo-section__reward-banner .bui-banner { height: 100%; }

.rewards-promo-banner--no_border { border: 0px; }

.hp--rt_banners { padding-top: 0px; }

.hp--rt_banners .fe_banner, .hp--rt_banners .bui-alert { margin: 16px 0px 0px; }

.hp--rt_banners .rewards-promo-banner { margin-top: var(--bui_spacing_4x); margin-bottom: 0px !important; }

.active_offer_block .bui-spinner { margin: auto; }

.active_offer_block .bui-input-text__control, .active_offer_block .bui-input-text__control:focus { background: 0px center; border: 0px; }

.active_offer_block .bui-banner, .active_offer_block .bui-accordion { border: 0px; }

.active_offer_block .bui-banner { padding: 0px; }

.active_offer_block .bui-banner__content .bui-list__item { color: rgb(107, 107, 107); }

.active_offer_block .bui-banner__title { padding-right: 0px; }

.aob-button-group-margin-adjust { margin-left: calc(var(--bui_spacing_4x) * -1); }

.active_offer_block .bui-list__icon { -webkit-box-align: start; align-items: flex-start; padding-top: 1px; }

.active_offer_block .bui-list__icon:first-of-type { align-self: center; padding-top: 0px; }

.aob__image-container { width: 64px; height: 64px; min-width: 64px; }

.aob-form__feedback { color: rgb(0, 128, 9); }
