@charset "utf-8";

.ns-hdyq8-l-image-square { opacity: 1; position: relative; }

.ns-hdyq8-e-0 { outline: none; background-color: transparent; }

.ns-hdyq8-e-1, .ns-hdyq8-e-2 { outline: none; }

.ns-hdyq8-e-3 { background-image: url("https://tpc.googlesyndication.com/daca_images/simgad/4464182180125835503"); background-repeat: no-repeat; background-position: center center; background-size: contain; }

.ns-hdyq8-e-4 { outline: none; color: rgb(255, 255, 255); border-radius: 30px; }

.ns-hdyq8-e-5 { outline: none; background: rgb(57, 140, 239); border-radius: 50px; }

.ns-hdyq8-e-6 { color: rgb(255, 255, 255); font-family: "Google Sans", Roboto, "Google Sans"; }

.ns-hdyq8-e-7 { white-space: nowrap; }
