@charset "utf-8";

.ns-hdyq8-l-image-square { opacity: 0.01; position: absolute; top: 0px; left: 0px; display: block; width: 438px; height: 455px; }

.ns-hdyq8-e-0 { box-sizing: border-box; align-items: center; display: flex; font-family: Roboto, Arial, sans-serif; justify-content: center; height: 100%; width: 100%; }

.ns-hdyq8-e-1 { box-sizing: border-box; align-items: center; display: flex; flex-direction: column; justify-content: center; overflow: visible; width: 100%; }

.ns-hdyq8-e-2 { display: block; margin: auto; width: 414px; }

.ns-hdyq8-e-3 { display: block; flex-shrink: 0; flex-grow: 0; width: 414px; }

.ns-hdyq8-e-4 { box-sizing: border-box; margin: 15px 0px 10px; display: flex; flex-direction: row; justify-content: center; padding: 0px 20px; width: 414px; }

.ns-hdyq8-e-5 { font-family: Roboto, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 16px; letter-spacing: 0.5px; text-align: center; text-transform: uppercase; max-width: 300px; width: 100%; min-width: 0px; margin: 0px; height: 46px; border: none; display: flex; align-items: center; justify-content: center; padding: 0px; position: relative; overflow: hidden; flex: 1 0 0px; }

.ns-hdyq8-e-6 { font-size: 15px; margin: 0px; font-family: "Google Sans"; display: flex; justify-content: center; align-items: center; text-align: center; font-weight: 500; width: auto; height: auto; text-transform: none; }

.ns-hdyq8-e-7 { display: inline; }
