@charset "utf-8";

amp-accordion > section > :last-child { display: none !important; }

amp-accordion > section[expanded] > :last-child { display: block !important; }

.i-amphtml-accordion-content, .i-amphtml-accordion-header { margin: 0px; }

.i-amphtml-accordion-header { cursor: pointer; background-color: rgb(239, 239, 239); padding-right: 20px; border: 1px solid rgb(223, 223, 223); }

amp-accordion > section:not([expanded]) .i-amphtml-media-component, amp-accordion > section:not([expanded]) .i-amphtml-media-component * { display: none !important; visibility: hidden !important; }
