@charset "utf-8";

.BannerBase_root__I3JFH { --banner-base-zindex: 1050; background-color: var(--color-background-screen); z-index: var(--banner-base-zindex); position: relative; }

.LocationConflictBanner_banner__mvovK .mw-nav-banner__title { display: block; }

.Navigation_navContainer__9M9zv:not(.Navigation_pillNav__4doDm) { height: var(--tw-public-nav-height); }

.AssetsSection_container__Q_0ql { overflow: hidden; }

.AssetsSection_contentRow__YHw5u { order: 1; margin-top: 148px; }

@media (min-width: 768px) {
  .AssetsSection_contentRow__YHw5u { order: 0; margin-top: 0px; }
}

@media (max-width: 575px) {
  .AssetsSection_imageRow__vjeL_ { left: calc(var(--size-16)*-1); right: calc(var(--size-16)*-1); }
}

.AssetsSection_coverImage__nEI3_ { width: 100%; }

@media (max-width: 575px) {
  .AssetsSection_coverImage__nEI3_ { width: calc(100% + var(--size-16)*2); max-width: calc(100% + var(--size-16)*2); min-width: 467px; height: auto; }
}

.AssetsSection_overlayContainer___eaEA { position: absolute; right: 0px; bottom: -100px; width: 70%; }

@media (min-width: 576px) {
  .AssetsSection_overlayContainer___eaEA { right: var(--size-32); bottom: var(--size-16); width: 45%; }
}

@media (min-width: 992px) {
  .AssetsSection_overlayContainer___eaEA { right: var(--size-32); bottom: 20px; max-width: 360px; }
}

.AssetsSection_overlayContent__5QGQn { overflow: hidden; border-radius: var(--size-16); box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 19px 4px; display: flex; flex-direction: column; }

.AssetsSection_overlayIllustrationContainer__UFK4Y { display: flex; justify-content: flex-end; width: 100%; height: 124px; }

@media (min-width: 768px) {
  .AssetsSection_overlayIllustrationContainer__UFK4Y { height: 130px; }
}

@media (min-width: 992px) {
  .AssetsSection_overlayIllustrationContainer__UFK4Y { height: 200px; }
}

.AssetsSection_overlayIllustration__8kk3U { margin-top: -8px; width: 135px; height: 135px; }

@media (min-width: 992px) {
  .AssetsSection_overlayIllustration__8kk3U { width: 200px; height: 200px; padding-bottom: 0px; }
}

.AssetsSection_button__X1E6k { min-width: 160px; }

.AssetsSection_disclaimer__e8KRi { order: 2; }

.AssetsSection_disclaimer__e8KRi::before { content: "*"; }

.Calculator_calculator__3pj1J { font-size: var(--font-size-14); line-height: var(--line-height-body); }

@media (min-width: 768px) {
  .MoneyTransferComparisonTable_table__ocFqz table { box-shadow: rgba(0, 0, 0, 0.08) 20px 0px 30px; }
}

.CalculatorWrapper_drawerWrapper__NbBKm { width: auto; max-width: 1024px; }

.CalculatorWrapper_drawerWrapper__NbBKm.CalculatorWrapper_drawerWrapper--withSpeed__7mDQh { width: 100vw; }

.CalculatorWrapper_drawerTitle__OAOQR { margin-bottom: var(--size-16); }

.CalculatorWrapper_drawerBody__a9KPt { padding: var(--size-16); max-width: 600px; }

@media (min-width: 768px) {
  .CalculatorWrapper_drawerBody__a9KPt { padding: var(--size-24); }
}

@media (min-width: 992px) {
  .CalculatorWrapper_drawerBody__a9KPt { padding: var(--size-40); }
}

.CalculatorWrapper_comparisonTable__3rx1x { position: relative; }

@media (min-width: 768px) {
  .CalculatorWrapper_comparisonTable__3rx1x [class*="comparison-hero-v2__table"] { box-shadow: rgba(0, 0, 0, 0.08) 20px 0px 30px -10px, rgba(0, 0, 0, 0.08) -20px 0px 30px -10px; }
}

.CalculatorWrapper_radius__AcTk1 { border-radius: var(--size-32); }

.CalculatorWrapper_shadow__3Yyaf { box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 32px 0px, rgba(0, 0, 0, 0.04) 0px 40px 40px 0px; }

.CalculatorWrapper_calculatorWrapper__Q1kgH { width: 100%; max-width: 480px; }

@media (max-width: 767px) {
  .CalculatorWrapper_calculatorWrapper__Q1kgH { margin: 0px auto; }
}

@media (min-width: 992px) {
  .CalculatorWrapper_calculatorWrapper__Q1kgH { max-width: 550px; }
}

.CalculatorWrapper_v3calculatorWrapper__hpdSu { width: 360px; }

@media (min-width: 576px) {
  .CalculatorWrapper_v3calculatorWrapper__hpdSu { width: 420px; }
}

@media (min-width: 768px) {
  .CalculatorWrapper_v3calculatorWrapper__hpdSu { width: 515px; }
}

@media (min-width: 992px) {
  .CalculatorWrapper_v3calculatorWrapper__hpdSu { width: 515px; }
}

.SimpleBullets_list__8DDTS { margin: 0px; padding: 0px; list-style: none; display: flex; flex-direction: column; }

.SimpleBullets_listItem___yhtO { display: flex; align-items: center; text-align: left; }

.SimpleBullets_listItem___yhtO .tw-tooltip-container { vertical-align: middle; }

.Benefits_iconsDividerWrapper__jtOF3 { overflow: hidden; }

.Benefits_iconsDividerWrapper__jtOF3 > .Benefits_iconsDivider__7qIRi { margin-top: -1px !important; padding-top: var(--mw-space-12) !important; }

.SecurityIllustration_sectionIllustration__QcjDK { min-width: 275px; margin-bottom: var(--size-32); }

@media (max-width: 575px) {
  .SecurityIllustration_sectionIllustration__QcjDK { width: 100%; display: flex; justify-content: center; }
}

@media (min-width: 768px) {
  .SecurityIllustration_sectionIllustration__QcjDK { margin-top: 0px; margin-left: 0px; margin-bottom: 0px; }
}

.SecurityIllustration_sectionIllustration__QcjDK > picture > img { min-width: 275px; }

.Security_sectionContent__yjl1Y { display: flex; align-items: center; flex-wrap: wrap-reverse; justify-content: space-between; margin-bottom: var(--size-48); }

@media (min-width: 768px) {
  .Security_sectionContent__yjl1Y { flex-wrap: nowrap; }
  .Security_sectionText__FMqzi { margin-bottom: 0px; }
}

.Security_items__9Ipjl { list-style: none; margin: 0px; padding: 0px; display: flex; flex-direction: column; gap: var(--size-48); }

@media (min-width: 768px) {
  .Security_items__9Ipjl { flex-direction: row; }
}

@media (min-width: 992px) {
  .Security_items__9Ipjl { gap: var(--size-64); }
}

@media (min-width: 768px) {
  .Security_item__3OOXO { flex: 1 1 0%; }
}

.Security_itemIcon__W2zHn { width: 65px; height: 65px; border-radius: 50%; background-color: var(--color-background-neutral); display: flex; align-items: center; justify-content: center; }

@media (min-width: 992px) {
  .Security_itemIcon__W2zHn { width: 88px; height: 88px; }
}

.Security_itemIcon__W2zHn.Security_small__Ak0jh { width: 64px; height: 64px; }

@media (min-width: 992px) {
  .Security_itemIcon__W2zHn.Security_small__Ak0jh { width: 72px; height: 72px; }
}

.Security_icon__UrcNp svg { width: 32px; height: 32px; }

@media (min-width: 992px) {
  .Security_icon__UrcNp svg { width: 48px; height: 48px; }
}

.Security_icon__UrcNp.Security_small__Ak0jh svg { width: 24px; height: 24px; }

@media (min-width: 992px) {
  .Security_icon__UrcNp.Security_small__Ak0jh svg { width: 32px; height: 32px; }
}

.Security_button__H159d { min-width: 222px; }

.Mission_missionContainer__LdbjH .mw-jumbotron-section { padding-bottom: 0px; }

.Coverage_chips__g3vVq::-webkit-scrollbar { display: none; }

.Coverage_chips__g3vVq { overflow-x: auto; padding: var(--size-16) 0; width: 100%; scroll-snap-type: x; scrollbar-width: none; }

.Coverage_chips__g3vVq [role="radio"] { cursor: pointer; scroll-snap-align: center; }

@media (min-width: 768px) {
  .Coverage_chips__g3vVq { padding: 0px; }
}

.Coverage_blockContainer__FvLHH { list-style: none; margin: 0px; padding: 0px; display: none; flex-flow: column wrap; justify-content: flex-start; }

.Coverage_blockContainer__FvLHH.Coverage_--isActive__rS1ym { display: flex; }

@media (min-width: 576px) {
  .Coverage_blockContainer__FvLHH { flex-direction: row; margin-right: calc(-1*var(--size-16)); }
}

.Coverage_block__boxtK { display: none; flex-direction: row; margin-bottom: var(--size-32); padding-right: 84px; width: 100%; }

.Coverage_block__boxtK.Coverage_--isVisible__0onc1 { display: flex; }

@media (min-width: 480px) {
  .Coverage_block__boxtK { padding-right: var(--size-32); }
}

@media (min-width: 576px) {
  .Coverage_block__boxtK { flex-direction: column; width: 50%; padding-right: var(--size-48); }
}

@media (min-width: 768px) {
  .Coverage_block__boxtK { display: flex; flex-direction: column; width: 33.3333%; padding-right: var(--size-48); }
}

@media (min-width: 992px) {
  .Coverage_block__boxtK { display: flex; flex-direction: column; width: 25%; }
}

@media (min-width: 1200px) {
  .Coverage_block__boxtK { width: 25%; }
}

@media (min-width: 1366px) {
  .Coverage_block__boxtK { width: 20%; }
}

.Coverage_blockTitle___354e { margin-top: 0px; margin-bottom: var(--size-8); }

@media (min-width: 576px) {
  .Coverage_blockTitle___354e { margin-top: var(--size-24); }
}

.Coverage_showMoreButton__qFmY8 { display: flex; justify-content: center; align-items: center; margin: 0px auto; }

.Coverage_showMoreButton__button__TO_Yr { text-align: center; }

.Coverage_showMoreButton__button__TO_Yr button { background: none; border: none; }

.Coverage_showMoreIcon__3YjNf { height: var(--size-56); width: var(--size-56); border-radius: 50%; background-color: var(--color-bright-green); margin-top: 0px; margin-right: auto; margin-left: auto; display: flex; align-items: center; justify-content: center; margin-bottom: var(--size-8); }

.Coverage_chevron___p1yU { margin-left: var(--size-8); }

.Coverage_chevron___p1yU svg { display: inline-block; vertical-align: middle; transition: transform 0.15s, -webkit-transform 0.15s; }

.Coverage_--isExpanded__fQGOk .Coverage_chevron___p1yU svg { transform: rotate(180deg); }

.Coverage_chipsGradient__BLUk7 { display: block; content: ""; position: absolute; right: var(--size-8); top: 0px; height: 100%; width: 30px; }

@media (min-width: 576px) {
  .Coverage_chipsGradient__BLUk7 { display: none; }
}

.Coverage_chipsBrightGreen__MYQ0E .np-chip--selected { background: var(--color-bright-green); color: var(--color-forest-green); border-color: var(--color-bright-green); }

.Coverage_chipsBrightGreen__MYQ0E .np-chip--selected:hover:not(:disabled) { background: var(--color-interactive-accent-hover); }

.Coverage_chipsGradientNone__xmJ4H { background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); }

.Coverage_chipsGradientNeutral__rzkqc { background: linear-gradient(270deg, rgb(236, 239, 235), rgba(236, 239, 235, 0)); }

.Coverage_chipsGradientLight__W3BHx { background: linear-gradient(270deg, rgb(159, 232, 112), rgba(159, 232, 112, 0)); }

.Coverage_chipsGradientDark__JU8Sr { background: linear-gradient(270deg, rgb(22, 51, 0), rgba(22, 51, 0, 0)); }

.Coverage_chipsGradientWhite__mfkoq { background: linear-gradient(270deg, rgb(255, 255, 255), rgba(255, 255, 255, 0)); }

.Coverage_chipsGradientForestGreen__m8Tkn { background: linear-gradient(270deg, rgb(22, 51, 0), rgba(22, 51, 0, 0)); }

.Coverage_chipsGradientBrightGreen__0gU3Y { background: linear-gradient(270deg, rgb(159, 232, 112), rgba(159, 232, 112, 0)); }

.Protection_protection__container__ThNjv { border-top: 1px solid var(--color-border-neutral); }

.StoreBadges_title__V6th4 { display: none; color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 24px; }

@media (min-width: 768px) {
  .StoreBadges_title__V6th4 { display: initial; }
}

.StoreBadges_links__DLQ0u { display: grid; grid-template-columns: 100%; grid-template-areas: "store1" "store2"; gap: var(--size-8); }

.StoreBadges_links__DLQ0u a { display: block; justify-self: center; }

.StoreBadges_links__DLQ0u a:first-of-type { grid-area: store1; }

.StoreBadges_links__DLQ0u a:nth-of-type(2) { grid-area: store2; }

@media (min-width: 768px) {
  .StoreBadges_links__DLQ0u { grid-template-columns: 50% 50%; grid-template-areas: "store1 store2"; margin-top: var(--size-8); }
  .StoreBadges_links__DLQ0u a:first-of-type { justify-self: end; }
  .StoreBadges_links__DLQ0u a:nth-of-type(2) { justify-self: start; }
  .StoreBadges_links__DLQ0u a:only-child { grid-column: 1 / 3; justify-self: center; }
}

@media (min-width: 992px) {
  .StoreBadges_links__DLQ0u { grid-template-columns: auto 1fr; }
  .StoreBadges_links__DLQ0u a, .StoreBadges_links__DLQ0u a:nth-of-type(2), .StoreBadges_links__DLQ0u a:only-child { justify-self: start; }
}

.App_QRContainer__gh3D9 { width: 225px; border-radius: var(--mw-radius-1); border: 1px solid var(--color-border-neutral); }

.App_QRWrapper___OtDi { width: 230px; }

.AssetsDrawerContent_currencies__fBN5J { --column-gap: 16px; --row-gap: 16px; }

.AssetsDrawerContent_currency__t3fDG { height: 100%; width: 100%; border-radius: var(--mw-radius-2); }

.AssetsDrawerContent_currency__backgroundScreen__62yV8 { background-color: var(--color-background-screen); }

.AssetsDrawerContent_currency__backgroundNeutral__Z_qOP { background-color: var(--color-background-neutral); }

.AssetsDrawerContent_currency__inner__bV1v_ { height: 100%; padding: var(--mw-space-3); display: grid; grid-template-rows: 1fr 1fr; justify-items: start; gap: var(--mw-space-3); }

@container (max-height: 150px) {
  .AssetsDrawerContent_currency__inner__bV1v_ { padding: var(--mw-space-4); gap: var(--mw-space-4); grid-template-rows: 1fr; grid-template-columns: 1fr auto; }
}

.AssetsDrawerContent_currency__wrapper__qF2f_ { height: 100%; width: 100%; position: relative; }

@container (max-height: 150px) {
  .AssetsDrawerContent_currency__wrapper__qF2f_ { display: grid; place-items: center; }
}

.AssetsDrawerContent_currency__flag__9d0II { height: 100%; width: auto; position: absolute; top: 0px; left: 0px; max-height: 40px; align-self: flex-start; }

@container (max-height: 150px) {
  .AssetsDrawerContent_currency__flag__9d0II { position: static; align-self: center; }
}

.AssetsDrawerContent_currency__rate__OCQgu, .AssetsDrawerContent_currency__text__2xODq { display: block; align-self: flex-end; }

.AssetsDrawerContent_currency__rate__OCQgu { text-align: left; margin-bottom: var(--mw-space-1) !important; }

.AssetsDrawerContent_currency__code__hW_Qj { display: block; text-align: left; }

.BankDetailsDrawerContent_currencies__cvUpX { --column-gap: var(--mw-space-3); --row-gap: var(--mw-space-3); }

.BankDetailsDrawerContent_currency__J7ir4 { border-radius: var(--mw-radius-1); border: 1px solid var(--color-border-neutral); margin: 0px; background: var(--color-white); }

.BankDetailsDrawerContent_currency__inner__2sjPz { padding: var(--mw-space-4); }

.BankDetailsDrawerContent_currency__header__y6VxB { display: grid; grid-template-columns: auto 1fr; gap: var(--mw-space-2); }

.BankDetailsDrawerContent_currency__type__qGhCX { display: inline-block; }

.BankDetailsDrawerContent_currency__type__qGhCX:first-of-type { margin-right: var(--mw-space-3); }

.BankDetailsDrawerContent_currency__icon__TZCa7 { display: inline-block; vertical-align: middle; }

.SendDrawerContent_popularCurrency__DXPuE { display: grid; grid-template-rows: auto auto; row-gap: var(--mw-space-2); }

.SendDrawerContent_otherCurrency__w7x3T { display: grid; grid-template-columns: auto 1fr; column-gap: var(--mw-space-2); }

.CardSection_currencyLink__ZFqxb { vertical-align: baseline; }

.CardSection_availabilityLink__z8vXj { text-decoration: none; }

.Marquee_container__xl_lY { height: var(--size-96); overflow: hidden; }

.Marquee_container__xl_lY :first-child { height: 100%; }

@media (min-width: 768px) {
  .Marquee_container__xl_lY { height: 128px; }
}

@media (min-width: 992px) {
  .Marquee_container__xl_lY { height: 160px; }
}

.Marquee_arrowContainer__2yD5M { display: flex; justify-content: end; height: 100%; width: 100%; min-width: 140px; margin-right: var(--size-8); border-radius: 0px 1000px 1000px 0px; background-color: var(--color-interactive-accent); will-change: min-width; }

.np-theme-personal--forest-green .Marquee_arrowContainer__2yD5M { color: var(--color-bright-green); }

@media (min-width: 768px) {
  .Marquee_arrowContainer__2yD5M { min-width: 270px; }
}

@media (min-width: 992px) {
  .Marquee_arrowContainer__2yD5M { min-width: 324px; }
}

.Marquee_arrowFlag__MgmO3 { display: flex; justify-content: center; align-items: center; background-color: var(--color-interactive-primary); border-radius: 1000px; color: var(--color-interactive-accent); }

.Marquee_arrowFlag__MgmO3 svg { width: 60%; height: 60%; }

.Marquee_flagContainer__mBKvw { float: right; justify-content: center; align-items: center; aspect-ratio: 1 / 1; height: 100%; padding: var(--size-8); border-radius: 1000px; transition: width 0.1s; will-change: transform; }

.np-theme-personal--forest-green .Marquee_flagContainer__mBKvw span { background-color: var(--color-forest-green); }

@media (min-width: 992px) {
  .Marquee_flagContainer__mBKvw { padding: var(--size-12); }
}

.Reveal_mobileContainer__9b_ER { margin-right: calc(var(--mw-space-4)*-1); }

@media (min-width: 576px) {
  .Reveal_mobileContainer__9b_ER { margin-right: calc(var(--mw-space-8)*-1); }
}

.RevealInteractive_flagSwitch__4Btzk { border-radius: 50%; background-color: rgb(255, 255, 255); padding: 4px; }

.RevealInteractive_flagSwitch__4Btzk[role="button"] { cursor: pointer; transition: transform 0.2s, -webkit-transform 0.2s; }

.RevealInteractive_flagSwitch__4Btzk[role="button"]:hover { transform: scale(1.05); }

.RevealInteractive_flagSwitch__4Btzk[role="button"]:active { transform: scale(0.95); }

.RevealInteractive_flagSwitch__4Btzk[role="button"]:focus { outline: 2px solid var(--color-primary); outline-offset: 2px; }

.RevealInteractive_flagSwitch__4Btzk.RevealInteractive_arrowSwitch__OUHUA { min-width: 150px; border-radius: 450px; background-color: rgb(226, 246, 213); display: flex; justify-content: end; }

.RevealInteractive_flagSwitch__4Btzk.RevealInteractive_preAnimation__TPYER { opacity: 0; transform: rotate(-45deg) scale(0); }

.RevealInteractive_flagSwitch__4Btzk.RevealInteractive_preAnimation__TPYER.RevealInteractive_arrowSwitch__OUHUA { transform: translateX(-20px) scale(0.8); }

.RevealInteractive_flagSwitch__4Btzk.RevealInteractive_static__FbV_i { opacity: 1; transform: none; }

.RevealInteractive_flagSwitch__4Btzk.RevealInteractive_animating__2n9Ct { animation: RevealInteractive_revealFlag__GCaSC .6s cubic-bezier(.34,1,.64,1) var(--delay) both; }

.RevealInteractive_flagSwitch__4Btzk.RevealInteractive_animating__2n9Ct:not(.RevealInteractive_arrowSwitch__OUHUA) { animation-name: RevealInteractive_revealFlag__GCaSC; animation-duration: 1.5s; animation-timing-function: cubic-bezier(0.34, 1, 0.64, 1); animation-delay: var(--delay); animation-iteration-count: 1; animation-fill-mode: both; }

.RevealInteractive_flagSwitch__4Btzk.RevealInteractive_animating__2n9Ct.RevealInteractive_arrowSwitch__OUHUA { animation: RevealInteractive_arrowSlide__Ij84P 1.5s cubic-bezier(.34,1,.64,1) var(--delay) both; }

@-webkit-keyframes RevealInteractive_revealFlag__GCaSC {
  0% { opacity: 0; transform: rotate(-15deg) scale(0.8); }
  100% { opacity: 1; transform: rotate(0deg) scale(1); }
}

@keyframes RevealInteractive_revealFlag__GCaSC {
  0% { opacity: 0; transform: rotate(-15deg) scale(0.8); }
  100% { opacity: 1; transform: rotate(0deg) scale(1); }
}

@-webkit-keyframes RevealInteractive_arrowSlide__Ij84P {
  0% { opacity: 0; transform: translateX(-20px) scale(0.8); }
  100% { opacity: 1; transform: translateX(0px) scale(1); }
}

@keyframes RevealInteractive_arrowSlide__Ij84P {
  0% { opacity: 0; transform: translateX(-20px) scale(0.8); }
  100% { opacity: 1; transform: translateX(0px) scale(1); }
}

.RevealInteractive_avatarWrapper__x6eHw { position: relative; width: 42px; height: 42px; }

@media (min-width: 768px) {
  .RevealInteractive_avatarWrapper__x6eHw { width: 80px; height: 80px; }
}

.RevealInteractive_avatarWrapper__x6eHw > img { width: 100%; height: 100%; }

.RevealInteractive_flagSwitch__4Btzk:not(.RevealInteractive_arrowSwitch__OUHUA) .RevealInteractive_avatarWrapper__x6eHw::after { content: ""; inset: 0px; position: absolute; border-radius: 50%; border: 2px solid var(--color-border-overlay); }

.RevealInteractive_arrowBackground__wz3Mx { height: 100%; background-color: var(--color-forest-green); border-radius: 50%; display: flex; align-items: center; justify-content: center; }

.RevealInteractive_arrowIcon__JT_j8 { color: var(--color-bright-green); }

.RevealInteractive_arrowIcon__JT_j8 svg { width: 24px; height: 24px; }

@media (min-width: 768px) {
  .RevealInteractive_arrowIcon__JT_j8 svg { width: 40px; height: 40px; }
}

@media (prefers-reduced-motion: no-preference) {
  .RevealInteractive_arrowIcon__JT_j8 svg { animation: 2s ease-in-out 0.6s infinite normal none running RevealInteractive_arrowPulse__SS7PC; }
}

@-webkit-keyframes RevealInteractive_arrowPulse__SS7PC {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

@keyframes RevealInteractive_arrowPulse__SS7PC {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

.Section_root__wxCP6 { position: relative; }

.Section_cropped__tjB3X { background: none; }

.Section_cropped__tjB3X > * { position: relative; z-index: 1; }

.Section_cropped__tjB3X::before { content: ""; background: var(--color-background-screen); position: absolute; top: 0px; width: 100%; z-index: 0; }

.Section_cropped--default__Lf_Ni::before { height: 75%; min-height: 200px; }

.Section_cropped--half__IJx__::before { height: 50%; }

.Section_cropped--fixed__QCOAu::before { height: 100%; min-height: 200px; max-height: 400px; }

.StaticComparison_container__ut30_ { max-width: 550px; }

.StaticComparison_container__ut30_ .tapestry-wrapper > .preset--light { padding: 0px; }

.StaticComparison_container__ut30_ table tr td { text-align: end; display: flex; flex-direction: column; padding-inline-end: var(--mw-space-6); justify-content: center; }

@media (min-width: 576px) {
  .StaticComparison_container__ut30_ table tr td { padding-inline: var(--mw-space-12); }
}

.StaticComparison_container__ut30_ table tr th { vertical-align: middle; padding-inline: var(--mw-space-6); position: relative; }

@media (min-width: 576px) {
  .StaticComparison_container__ut30_ table tr th { padding-inline: var(--mw-space-12); }
}

.StaticComparison_container__ut30_ table thead tr td, .StaticComparison_container__ut30_ table thead tr th { padding-top: 0px; }

.StaticComparison_container__ut30_ table thead tr th:last-child { padding-inline-start: 0px; }

.StaticComparison_container__ut30_ table tbody tr:last-child td, .StaticComparison_container__ut30_ table tbody tr:last-child th { padding-bottom: 0px; }

.StaticComparison_tapestryContainer__MVkps { border-radius: var(--size-32); box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 32px 0px, rgba(0, 0, 0, 0.04) 0px 40px 40px 0px; }

.StaticComparison_mwBody4__rcqx_ { font-size: var(--font-size-12); font-weight: 400; }

.StaticComparison_wiseRow__m8Iv3 { height: 90px; }

.StaticComparison_wiseRow__m8Iv3.np-theme-personal.np-theme-personal--forest-green { background: var(--color-background-screen); }

.StaticComparison_wiseRow__m8Iv3 td { height: 90px; }

.StaticComparison_wiseCard__MuNK_::before { content: ""; background: url("/static-assets/app/_next/static/media/wiseCard.d1377700.svg"); width: 166px; height: 104px; position: absolute; left: 0px; bottom: 0px; }

.WithCalc_calculatorWrapper__93R6G { width: 100%; max-width: 480px; border-radius: var(--size-32); box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 32px 0px, rgba(0, 0, 0, 0.04) 0px 40px 40px 0px; }

@media (min-width: 992px) {
  .WithCalc_calculatorWrapper__93R6G { max-width: 550px; }
  .WithCalc_subtitleWrapper__PcdZ6 { width: 120%; }
}

.productCards_productCardImage__0Z3uY { object-fit: contain !important; max-width: 332px; }

.productCards_productCardImage__0Z3uY svg { transform: none !important; }

.productCards_assetsProductCardContent__KXxVN { height: 100%; display: grid; place-items: center; container-type: size; }

.productCards_assetsProductCardContent__wrapper__SuXQe { height: 100%; aspect-ratio: 1 / 1; max-height: 180px; }

@container (max-height: 150px) {
  .productCards_assetsProductCardContent__wrapper__SuXQe { height: auto; aspect-ratio: unset; }
}

.AvailabilitySection_productCardWhite__P1k6l { background-color: rgb(255, 255, 255); }

.AvailabilitySection_productCardNeutral__0G6MQ { position: relative; background-color: rgb(255, 255, 255); overflow: hidden; }

.AvailabilitySection_productCardNeutral__0G6MQ::before { content: ""; position: absolute; height: 100%; width: 100%; top: 0px; left: 0px; background-color: var(--color-background-neutral); }

.AvailabilitySection_disclaimer__ABdi7 { color: var(--color-content-secondary); background-color: initial; }

.Disclaimer_item__mDf7A { scroll-margin-top: calc(var(--tw-public-nav-height)*2); list-style: none; }

.Disclaimer_item__mDf7A::before { content: counter(list-item); list-style: none; margin-right: 4px; font-weight: 700; }

.SocialTrust_carousel__viewport_container__Wwwuk .eds-carousel__container { justify-content: space-between; }

.SocialTrust_controls_button__o5w1_ { --card-control-btn-size: 48px; --card-control-btn-icon-size: 24px; width: var(--card-control-btn-size); height: var(--card-control-btn-size); }

.SocialTrust_controls_button__o5w1_ > .tw-icon > svg { width: var(--card-control-btn-icon-size); height: var(--card-control-btn-icon-size); }

@media (min-width: 992px) {
  .SocialTrust_controls_button__o5w1_ { --card-control-btn-size: 78px; --card-control-btn-icon-size: 42px; }
}

.SocialTrust_card__bhXqU { width: 332px; min-height: 550px; }

@media (min-width: 992px) {
  .SocialTrust_card__bhXqU { width: 487px; }
}

.SocialTrust_carousel__controls_container__Xr48w { display: flex; justify-self: start; gap: var(--mw-space-3); }

@media (min-width: 768px) {
  .SocialTrust_carousel__controls_container__Xr48w { justify-self: end; }
}

.SocialTrust_useCase__container__WaBq2 { justify-content: space-between; flex-direction: column; height: 100%; overflow: hidden; }

.SocialTrust_useCase__container__WaBq2::before { content: ""; position: absolute; border-radius: var(--mw-radius-3); width: 100%; height: 100%; background: linear-gradient(rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)); top: 0px; left: 0px; pointer-events: none; }

.SocialTrust_useCase__cover__WHPQx { position: relative; }

.SocialTrust_useCase__cover__WHPQx .SocialTrust_useCase_text__title__6Y6c5 { color: var(--color-white); }

.SocialTrust_useCase__image__Hmf1L { z-index: -1; }

.SocialTrust_useCase__extraInfo__sw39G, .SocialTrust_useCase__image__Hmf1L { position: absolute; width: 100%; top: 0px; left: 0px; border-radius: var(--mw-radius-3); }

.SocialTrust_useCase__extraInfo__sw39G { height: 100%; padding: var(--mw-space-6); opacity: 0; z-index: 3; transition: opacity 0.3s ease-in-out; }

.SocialTrust_useCase__extraInfo__sw39G.SocialTrust_extraInfo__visible__zqzR1 { opacity: 1; }

.SocialTrust_useCase_text__subtitle__wxcex { transform: translateY(24px); opacity: 0; transition: 0.3s ease-in-out; }

.SocialTrust_useCase_text__subtitle__wxcex.SocialTrust_subtitle__visible__Jobqf { opacity: 1; transform: translateY(0px); }

.SocialTrust_useCase__button_icon__WCeFy { transform: rotate(0deg); }

.SocialTrust_useCase__button_icon__close__Kew3l svg, .SocialTrust_useCase__button_icon__open__RpA1n svg { transition: transform 0.3s, -webkit-transform 0.3s; }

.SocialTrust_useCase__button_icon__close__Kew3l svg { transform: rotate(45deg); }

.SocialTrust_useCase_button_container__LaqMK { background: none; align-self: end; z-index: 4; }

.SocialTrust_avatar__window__SoGnA.SocialTrust_card__avatar__191TA { width: var(--size-56); }

@media (min-width: 768px) {
  .SocialTrust_avatar__window__SoGnA.SocialTrust_card__avatar__191TA { width: var(--size-96); }
}

@media (min-width: 992px) {
  .SocialTrust_avatar__window__SoGnA.SocialTrust_card__avatar__191TA { width: 150px; }
}

.SocialTrust_avatar__window__SoGnA.SocialTrust_card__avatar__191TA img { border-radius: 100%; }

.SocialTrust_card__avatar__191TA { width: var(--size-56); }

@media (min-width: 768px) {
  .SocialTrust_card__avatar__191TA { width: var(--size-96); }
}

@media (min-width: 992px) {
  .SocialTrust_card__avatar__191TA { width: 150px; top: var(--size-56); left: var(--size-56); }
}

.SocialTrust_card__avatar__191TA img { border-radius: 100%; }

.SocialTrust_card__avatar__191TA { --card-avatar-size: 100%; }

div :has(> .SocialTrust_card__body__utpyd) { display: flex; margin-top: auto; }

.SocialTrust_content_card__container__FD_t6 { height: 100%; }

.SocialTrust_unclickable__author__I_win { cursor: default; background-color: var(--color-interactive-accent) !important; }

.SocialTrust_overlapped_flag_container__seoAi { border: 4px solid var(--color-background-screen); margin-left: calc(var(--mw-space-2)*-1); border-radius: 100%; }

.CountryList_accordion__kkmsx .np-accordion-item { margin-bottom: var(--eds-space-3); }

.CountryList_accordion__kkmsx .np-accordion-item .media { align-items: center !important; padding: 12px 0px !important; }

.CountryList_accordion__kkmsx .np-accordion-item .media .tw-chevron > svg { width: 18px; height: 18px; }

.CountryList_accordion__kkmsx .np-accordion-item__content { padding: 0px !important; }

.CountryList_flag__Yp9Tp { box-shadow: none; border: 1px solid var(--color-border-neutral); }

.DestinationsList_itemContent__u81yT { border: 1px solid var(--color-border-neutral); border-radius: var(--eds-radius-2); }

.DestinationsList_itemContentSection__Gms_4 { padding-bottom: var(--eds-space-4); border-bottom: 1px solid var(--color-border-neutral); }

.DestinationsList_itemContentSection__Gms_4:last-child { border-bottom: none; padding-bottom: 0px; }

.DestinationsList_itemContentSection__Gms_4 > dd { margin-bottom: 0px; }
