@charset "utf-8";

.cc_ccv2container_294920306 { width: 100%; background: none; }

.cc_ccv2AlertContainer_294920306, .cc_ccv2container_294920306 { margin-bottom: 24px; padding: 0px 20px 0px 40px; }

.cc_ccv2AlertContainer_294920306:last-child, .cc_ccv2container_294920306:last-child { margin-bottom: 0px; }

.cc_providerAlias_294920306 { position: relative; min-width: 185px; padding: 18px 40px; border-radius: 12px 12px 0px 0px; font-size: 16px; font-weight: 600; text-align: center; }

.cc_providerAlias_294920306::after { content: ""; position: absolute; right: 20px; bottom: 0px; left: 20px; border-bottom: 1px solid var(--color-border-neutral); }

.cc_providerHighlighted_294920306 { background: var(--color-bright-green); }

.cc_tbody_294920306 tr:last-child .cc_providerHighlighted_294920306 { border-bottom-right-radius: 12px; border-bottom-left-radius: 12px; }

.cc_recipientFeesHeader_294920306 { margin-bottom: 4px; }

.cc_recipientFees_294920306 { color: var(--color-content-tertiary); font-size: 14px; font-weight: 400; }

.cc_sublabel_294920306 { display: flex; align-items: center; font-size: 12px; gap: 2px; }

.cc_sublabel_294920306 svg { width: 12px; height: 12px; }

.cc_v2logoContainer_294920306 { display: flex; justify-content: center; margin-bottom: 10px; }

.cc_v2logoContainer_294920306 > img { width: 40px; min-width: 0px; max-width: none; height: 40px; max-height: none; margin: 0px; }
