@charset "utf-8";

.cc_comparison-hero-v2__table__thead_294920306 { background-color: var(--color-forest-green); }

.cc_comparison-hero-v2__table__thead_294920306.cc_inverseHeader_294920306 { background-color: var(--color-white); }

.cc_comparison-hero-v2__table__thead_294920306.cc_inverseHeader_294920306 hr { max-width: 90%; margin: 0px auto; }

@media (max-width: 575px) {
  .cc_comparison-hero-v2__table__thead_294920306 { min-height: 110px; }
}

.cc_comparison-hero-v2__table__thead__th_294920306 { padding: var(--size-24) var(--size-16); border: 0px; color: var(--color-white); font-size: var(--font-size-14); font-weight: var(--font-weight-semi-bold); vertical-align: middle; }

.cc_inverseHeader_294920306 .cc_comparison-hero-v2__table__thead__th_294920306 span { color: var(--color-content-secondary); }

@media (max-width: 575px) {
  .cc_comparison-hero-v2__table__thead__th_294920306 { padding: var(--size-24) var(--size-16); }
}

.cc_comparison-hero-v2__table__thead__th_294920306.cc_providerCol_294920306 { padding-left: var(--size-48); border-radius: var(--size-40) 0% 0% 0%; text-align: left; }

.cc_comparison-hero-v2__table__thead__th_294920306.cc_providerCol_294920306 .cc_sending_with_294920306 { display: block; }

.cc_comparison-hero-v2__table__thead__th_294920306.cc_providerCol_294920306 .cc_sending_with_294920306 .cc_currencyBlock_294920306 { white-space: nowrap; }

@media (max-width: 480px) {
  .cc_comparison-hero-v2__table__thead__th_294920306.cc_providerCol_294920306 { max-width: 40%; padding-left: var(--size-24); }
}

.cc_comparison-hero-v2__table__thead__th_294920306.cc_recipientGetsCol_294920306 { padding-right: var(--size-24); text-align: end; }

@media (max-width: 575px) {
  .cc_comparison-hero-v2__table__thead__th_294920306.cc_recipientGetsCol_294920306 { width: 48%; padding-right: var(--size-16); text-align: end; }
}

.cc_comparison-hero-v2__table__thead__th_294920306.cc_expandCol_294920306 .cc_show-info_294920306 { display: block; }

@media (min-width: 480px) {
  .cc_comparison-hero-v2__table__thead__th_294920306.cc_expandCol_294920306 { padding-left: var(--size-8); }
  .cc_comparison-hero-v2__table__thead__th_294920306.cc_expandCol_294920306 .cc_show-info_294920306 { display: none; }
}

.cc_comparison-hero-v2__table__thead__th_294920306:last-child { border-radius: 0 var(--size-40) 0 0; text-align: left; }

.cc_comparison-hero-v2__table__thead__th--small_294920306 { display: none; color: var(--color-white); font-size: var(--font-size-12); font-weight: var(--font-weight-regular); white-space: unset; }

@media (min-width: 480px) {
  .cc_comparison-hero-v2__table__thead__th--small_294920306 { display: block; }
}

@media (max-width: 480px) {
  .cc_comparison-hero-v2__table__thead__th--small_294920306 { display: block; }
}
