@charset "utf-8";

.fresnel-container { margin: 0px; padding: 0px; }

@media not all and (min-width: 0px) and (max-width: 479.98px) {
  .fresnel-at-0 { display: none !important; }
}

@media not all and (min-width: 480px) and (max-width: 575.98px) {
  .fresnel-at-xs { display: none !important; }
}

@media not all and (min-width: 576px) and (max-width: 767.98px) {
  .fresnel-at-sm { display: none !important; }
}

@media not all and (min-width: 768px) and (max-width: 991.98px) {
  .fresnel-at-md { display: none !important; }
}

@media not all and (min-width: 992px) and (max-width: 1199.98px) {
  .fresnel-at-lg { display: none !important; }
}

@media not all and (min-width: 1200px) and (max-width: 1439.98px) {
  .fresnel-at-xl { display: none !important; }
}

@media not all and (min-width: 1440px) {
  .fresnel-at-2xl { display: none !important; }
}

@media not all and (max-width: 479.98px) {
  .fresnel-lessThan-xs { display: none !important; }
}

@media not all and (max-width: 575.98px) {
  .fresnel-lessThan-sm { display: none !important; }
}

@media not all and (max-width: 767.98px) {
  .fresnel-lessThan-md { display: none !important; }
}

@media not all and (max-width: 991.98px) {
  .fresnel-lessThan-lg { display: none !important; }
}

@media not all and (max-width: 1199.98px) {
  .fresnel-lessThan-xl { display: none !important; }
}

@media not all and (max-width: 1439.98px) {
  .fresnel-lessThan-2xl { display: none !important; }
}

@media not all and (min-width: 480px) {
  .fresnel-greaterThan-0 { display: none !important; }
}

@media not all and (min-width: 576px) {
  .fresnel-greaterThan-xs { display: none !important; }
}

@media not all and (min-width: 768px) {
  .fresnel-greaterThan-sm { display: none !important; }
}

@media not all and (min-width: 992px) {
  .fresnel-greaterThan-md { display: none !important; }
}

@media not all and (min-width: 1200px) {
  .fresnel-greaterThan-lg { display: none !important; }
}

@media not all and (min-width: 1440px) {
  .fresnel-greaterThan-xl { display: none !important; }
}

@media not all and (min-width: 0px) {
  .fresnel-greaterThanOrEqual-0 { display: none !important; }
}

@media not all and (min-width: 480px) {
  .fresnel-greaterThanOrEqual-xs { display: none !important; }
}

@media not all and (min-width: 576px) {
  .fresnel-greaterThanOrEqual-sm { display: none !important; }
}

@media not all and (min-width: 768px) {
  .fresnel-greaterThanOrEqual-md { display: none !important; }
}

@media not all and (min-width: 992px) {
  .fresnel-greaterThanOrEqual-lg { display: none !important; }
}

@media not all and (min-width: 1200px) {
  .fresnel-greaterThanOrEqual-xl { display: none !important; }
}

@media not all and (min-width: 1440px) {
  .fresnel-greaterThanOrEqual-2xl { display: none !important; }
}

@media not all and (min-width: 0px) and (max-width: 479.98px) {
  .fresnel-between-0-xs { display: none !important; }
}

@media not all and (min-width: 0px) and (max-width: 575.98px) {
  .fresnel-between-0-sm { display: none !important; }
}

@media not all and (min-width: 0px) and (max-width: 767.98px) {
  .fresnel-between-0-md { display: none !important; }
}

@media not all and (min-width: 0px) and (max-width: 991.98px) {
  .fresnel-between-0-lg { display: none !important; }
}

@media not all and (min-width: 0px) and (max-width: 1199.98px) {
  .fresnel-between-0-xl { display: none !important; }
}

@media not all and (min-width: 0px) and (max-width: 1439.98px) {
  .fresnel-between-0-2xl { display: none !important; }
}

@media not all and (min-width: 480px) and (max-width: 575.98px) {
  .fresnel-between-xs-sm { display: none !important; }
}

@media not all and (min-width: 480px) and (max-width: 767.98px) {
  .fresnel-between-xs-md { display: none !important; }
}

@media not all and (min-width: 480px) and (max-width: 991.98px) {
  .fresnel-between-xs-lg { display: none !important; }
}

@media not all and (min-width: 480px) and (max-width: 1199.98px) {
  .fresnel-between-xs-xl { display: none !important; }
}

@media not all and (min-width: 480px) and (max-width: 1439.98px) {
  .fresnel-between-xs-2xl { display: none !important; }
}

@media not all and (min-width: 576px) and (max-width: 767.98px) {
  .fresnel-between-sm-md { display: none !important; }
}

@media not all and (min-width: 576px) and (max-width: 991.98px) {
  .fresnel-between-sm-lg { display: none !important; }
}

@media not all and (min-width: 576px) and (max-width: 1199.98px) {
  .fresnel-between-sm-xl { display: none !important; }
}

@media not all and (min-width: 576px) and (max-width: 1439.98px) {
  .fresnel-between-sm-2xl { display: none !important; }
}

@media not all and (min-width: 768px) and (max-width: 991.98px) {
  .fresnel-between-md-lg { display: none !important; }
}

@media not all and (min-width: 768px) and (max-width: 1199.98px) {
  .fresnel-between-md-xl { display: none !important; }
}

@media not all and (min-width: 768px) and (max-width: 1439.98px) {
  .fresnel-between-md-2xl { display: none !important; }
}

@media not all and (min-width: 992px) and (max-width: 1199.98px) {
  .fresnel-between-lg-xl { display: none !important; }
}

@media not all and (min-width: 992px) and (max-width: 1439.98px) {
  .fresnel-between-lg-2xl { display: none !important; }
}

@media not all and (min-width: 1200px) and (max-width: 1439.98px) {
  .fresnel-between-xl-2xl { display: none !important; }
}
