@charset "utf-8";

#ngasCookiePrompt #cookiePrompt.full-screen .orb-banner { padding: 16px 0px; }

#ngasCookiePrompt #cookiePrompt.full-screen .bbccookies-banner { position: fixed; bottom: 0px; width: 100%; z-index: 1000; padding: 16px 0px; }

#ngasCookiePrompt #cookiePrompt.full-screen .bbccookies-banner p { line-height: 1.5em; }

#ngasCookiePrompt #cookiePrompt.full-screen .bbccookies-banner .orb-banner-title { width: 100%; line-height: 2em; }

@media screen and (min-width: 600px) {
  #ngasCookiePrompt #cookiePrompt.full-screen .bbccookies-banner .orb-banner-content { padding-left: 0px; flex-grow: 2; }
  #ngasCookiePrompt #cookiePrompt.full-screen .bbccookies-banner .orb-banner-options { flex-grow: 3; }
}

#ngasCookiePrompt #cookiePrompt.full-screen .bbccookies-banner .banner-button { font-size: 18px; }

#ngasCookiePrompt #cookiePrompt.full-screen #bbccookies-settings { line-height: 1.3em; }

#ngasCookiePrompt #cookiePrompt { font-weight: 400; font-size: 0.625rem; font-family: Arial, Helvetica, freesans, sans-serif; line-height: 1; }

#ngasCookiePrompt #cookiePrompt .b-r p, #ngasCookiePrompt #cookiePrompt .b-r div, #ngasCookiePrompt #cookiePrompt .b-r section, #ngasCookiePrompt #cookiePrompt .b-r a, #ngasCookiePrompt #cookiePrompt .b-r button { margin: 0px; }

#ngasCookiePrompt #cookiePrompt .b-g-p, #ngasCookiePrompt #cookiePrompt .b-r .b-g-p { padding: 0px 8px; }

#ngasCookiePrompt #cookiePrompt .b-g-m, #ngasCookiePrompt #cookiePrompt .b-r .b-g-m { margin: 0px 8px; }

@media screen and (min-width: 400px) {
  #ngasCookiePrompt #cookiePrompt .b-g-p, #ngasCookiePrompt #cookiePrompt .b-r .b-g-p { padding: 0px 16px; }
  #ngasCookiePrompt #cookiePrompt .b-g-m, #ngasCookiePrompt #cookiePrompt .b-r .b-g-m { margin: 0px 16px; }
}

@media screen and (min-width: 1008px) {
  #ngasCookiePrompt #cookiePrompt .b-g-p, #ngasCookiePrompt #cookiePrompt .b-r .b-g-p { max-width: 976px; margin: 0px auto; padding: 0px 16px; }
  #ngasCookiePrompt #cookiePrompt .b-g-m, #ngasCookiePrompt #cookiePrompt .b-r .b-g-m { max-width: 976px; margin: 0px auto; }
}

@media screen and (min-width: 1280px) {
  #ngasCookiePrompt #cookiePrompt .b-pw-1280 .b-g-p, #ngasCookiePrompt #cookiePrompt .b-pw-1280 .b-r .b-g-p { max-width: 1248px; }
  #ngasCookiePrompt #cookiePrompt .b-pw-1280 .b-g-m, #ngasCookiePrompt #cookiePrompt .b-pw-1280 .b-r .b-g-m { max-width: 1248px; }
}

#ngasCookiePrompt .orb-banner { display: flex; flex-flow: column wrap; padding: 16px 0px; margin: 0px auto; }

#ngasCookiePrompt .orb-banner ul { list-style-type: none; padding: 0px; margin: 15px 0px 0px; font-weight: bold; }

#ngasCookiePrompt .orb-banner button { background: none; border: none; }

#ngasCookiePrompt .orb-banner h2 { margin-bottom: 15px; font-size: 1.39em; font-weight: bold; line-height: 1.11em; }

#ngasCookiePrompt .orb-banner p { line-height: 1.231em; margin: 0px; }

#ngasCookiePrompt .orb-banner-wrapper { font-size: 1.3em; line-height: 1; }

#ngasCookiePrompt .bbccookies-banner { background-color: rgb(50, 50, 50); color: rgb(190, 190, 190); }

#ngasCookiePrompt .bbccookies-banner .orb-banner-title { color: rgb(255, 255, 255); margin-top: 0px; }

#ngasCookiePrompt .bbccookies-banner .banner-button { font-size: 1.2em; width: 100%; }

#ngasCookiePrompt .bbccookies-banner a, #ngasCookiePrompt .bbccookies-banner button { text-align: left; color: rgb(246, 162, 29); text-decoration: none; cursor: pointer; }

#ngasCookiePrompt .bbccookies-banner a:hover, #ngasCookiePrompt .bbccookies-banner a:focus, #ngasCookiePrompt .bbccookies-banner button:hover, #ngasCookiePrompt .bbccookies-banner button:focus { color: rgb(255, 255, 255); text-decoration: none; }

#ngasCookiePrompt .bbccookies-banner .orb-banner-options li { padding-top: 8px; }

#ngasCookiePrompt .bbccookies-banner .orb-banner-options li:first-child { padding-top: 0px; }

#ngasCookiePrompt .bbccookies-banner .orb-banner-options a, #ngasCookiePrompt .bbccookies-banner .orb-banner-options button { padding: 0px 0px 0px 24px; line-height: 1.231em; background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-position: 0px -254px; }

#ngasCookiePrompt .bbccookies-banner .orb-banner-options a:hover, #ngasCookiePrompt .bbccookies-banner .orb-banner-options a:focus, #ngasCookiePrompt .bbccookies-banner .orb-banner-options button:hover, #ngasCookiePrompt .bbccookies-banner .orb-banner-options button:focus { background-position: 0px -317px; }

#ngasCookiePrompt #bbccookies-continue-button { line-height: 1em; font-weight: 700; }

#ngasCookiePrompt #bbccookies-settings a { background-position: 1px 3px; }

#ngasCookiePrompt #bbccookies-settings a:focus, #ngasCookiePrompt #bbccookies-settings a:hover { background-position: 1px -60px; }

@media screen and (min-width: 600px) {
  #ngasCookiePrompt .orb-banner { flex-direction: row; }
  #ngasCookiePrompt .orb-banner .orb-banner-title { width: 20%; }
  #ngasCookiePrompt .orb-banner .orb-banner-content { width: 60%; padding-left: 3.5%; box-sizing: border-box; }
  #ngasCookiePrompt .orb-banner .orb-banner-options { width: 20%; margin-top: 0px; }
  #ngasCookiePrompt .orb-banner h2 { margin-bottom: 0px; }
}
