@charset "utf-8";

.fl-controls-container { display: inline-block; line-height: 1em; }

.fl-controls-title { display: inline-block; margin-inline-end: 0.5rem; }

.fl-controls-container, .fl-controls-container * { box-sizing: border-box; }

.slider-holder { margin-bottom: 20px; }

.fl-controls-slider, .slider-play { pointer-events: all; display: inline-block; vertical-align: middle; }

.slider-play svg { height: 100%; width: 100%; display: block; cursor: pointer; }

.fl-controls-slider svg { display: block; }

.slider-play:hover { opacity: 0.6; }

.fl-control-slider { width: 100%; bottom: 0px; align-items: center; }

.fl-control { position: relative; }

.fl-control.hidden { display: none; }

.fl-control .button { display: inline-flex; align-items: center; background: rgb(238, 238, 238); padding: 0px 0.5em; margin-right: 0.25em; margin-bottom: 0.25em; line-height: 1em; box-sizing: border-box; }

.fl-control.grouped:not(.hidden) { display: inline-table; table-layout: fixed; }

.fl-control.grouped:not(.hidden) .button { display: table-cell; vertical-align: middle; margin: 0px; text-align: center; }

.fl-control .button.selected { background: rgb(221, 221, 221); }

.fl-control-dropdown { line-height: 1em; position: relative; }

.fl-control-dropdown::after { display: block; content: ""; width: 10px; height: 10px; background: transparent; position: absolute; right: 5px; left: auto; top: 50%; pointer-events: none; transform: translateY(calc(-50% + 3px)); border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid; box-sizing: border-box; }

.is-rtl .fl-control-dropdown::after { left: 5px; right: auto; }

.fl-control-dropdown select { appearance: none; width: 100%; }
