@charset "utf-8";

.fl-control-slider .fl-controls-slider { height: 28px; }

.fl-control-slider .slider-play { fill: rgb(51, 51, 51); width: 14px; height: 14px; }

.fl-control-slider .slider-label { padding-inline-start: 0.3rem; box-sizing: content-box; color: rgb(51, 51, 51); }

.fl-control-slider input[type="range"] { appearance: none; color: currentcolor; background-color: transparent; }

.fl-control-slider input[type="range"]::-webkit-slider-runnable-track { appearance: none; background: rgb(221, 221, 221); border-radius: 100px; height: 2.8px; }

.fl-control-slider input[type="range"]::-webkit-slider-thumb { appearance: none; width: 14px; height: 14px; border-radius: 100px; background: rgb(51, 51, 51); margin-top: -5.6px; }
