@charset "utf-8";

.fl-control.hidden { display: none; }

.fl-control { vertical-align: middle; position: relative; font-size: 1.35rem; font-weight: bold; }

.fl-controls-title { font-size: 1.35rem; font-weight: bold; vertical-align: middle; }

.fl-control.fl-control .button { height: 2rem; padding: 0px 0.5em; }

.fl-control-dropdown select { height: 2rem; font-size: 1.35rem; font-weight: bold; padding: 0px 0.2rem; }

.fl-control-slider .slider-end-labels { font-size: 1.35rem; font-weight: bold; }

.fl-control-slider { height: 2rem; }
