@charset "utf-8";

html { font-size: 62.5%; -webkit-font-smoothing: antialiased; }

@media (min-width: 380px) {
  html { font-size: 75%; }
}

@media (min-width: 580px) {
  html { font-size: 87.5%; }
}

@media (min-width: 1080px) {
  html { font-size: 100%; }
}

@media (min-width: 1280px) {
  html { font-size: 120%; }
}
