@charset "utf-8";

.atd-mbs-border-radius { border-radius: 24px 24px 0px 0px; background-color: var(--background-color,#fff); }

.atd-body img { background-color: rgb(255, 255, 255); border-radius: 0.8rem; padding: 8px; filter: contrast(0.93); }

.atd-checkout-bottom-sheet-close::after { content: "×"; font-family: "Amazon Ember"; color: rgb(15, 17, 17); font-size: 30px; font-weight: 200; float: right; }

#ax-bottom-sheet-heading i { margin-top: 0.3rem; margin-right: 0.3rem; }

.atd-undo-column { width: fit-content !important; float: right !important; }

.atd-quantity-badge { background-color: transparent; border-radius: 10px; border: 1px solid rgb(204, 204, 204); font-size: 0.8em; height: 20px; line-height: 18px; min-width: 20px; padding: 0px 5px; position: absolute; text-align: center; width: auto; right: -10px; bottom: -5px; z-index: 1; }

.only-recs-scrolling #ax-mbs-actions-spacer { width: 100%; height: 12px; }

#ax-mbs.only-recs-scrolling { overflow: hidden; height: 100%; }

.ax-atc-spinner { background: url("https://m.media-amazon.com/images/G/01/navcart/spinner-white._V4_.gif") 50% 50% / contain no-repeat; }

[name="ax-qs"] [data-a-animate-down] { animation: auto ease 0s 1 normal none running none !important; }

[name="ax-qs"] [data-a-animate-up] { animation: auto ease 0s 1 normal none running none !important; }

.ax-inline-expansion-slot { --min-open-height: 270px; display: flex; flex-flow: column; background-color: rgb(238, 238, 238); overflow: hidden; border-radius: 4px; margin-bottom: 8px !important; }

.ax-inline-expansion-slot-open-animation { animation: 0.5s ease-in-out 0s 1 normal none running inlineExpansionOpenAnimationEnhance; }

.ax-inline-expansion-slot-close-animation { animation: 0.5s ease-in-out 0s 1 normal none running inlineExpansionCloseAnimation; }

.ax-inline-expansion-slot-close-button { position: absolute; top: 0px; right: 0px; margin-right: 15px; margin-top: 10px; z-index: 1; }

.ax-inline-expansion-slot-close-button, .ax-inline-expansion-slot-close-button:visited { color: rgb(0, 0, 0) !important; }

.ax-inline-expansion-slot-close-button::after { content: "✕"; font-size: 21px; line-height: 1.2; }

.ax-inline-expansion-slot-placeholder { display: flex; justify-content: center; height: 100%; align-items: flex-start; padding-top: 45px; flex-wrap: wrap; column-gap: 8px; min-height: var(--min-open-height); width: 100%; }

.ax-inline-expansion-slot-placeholder-element { margin-bottom: 0px; margin-top: 5px; flex: 0 0 calc(50% - 4px); max-width: calc(50% - 4px); opacity: 0.2; background: linear-gradient(to right, rgb(136, 140, 140), rgb(200, 204, 204), rgb(136, 140, 140)) 0% 0% / 200% 100%; animation: 0.7s cubic-bezier(0.4, 0, 0.2, 1) 1ms infinite normal none running wave; border-radius: 4px; min-height: 270px !important; padding: 0px !important; }

@keyframes wave {
  0% { background-position: 0px 0px; }
  100% { background-position: -100% 0px; }
}

@-webkit-keyframes inlineExpansionOpenAnimation {
  0% { height: 0px; }
  90% { height: var(--min-open-height); }
  100% { height: auto; }
}

@keyframes inlineExpansionOpenAnimationEnhance {
  0% { height: 0px; }
  90% { height: var(--min-open-height); }
  100% { height: auto; }
}

@-webkit-keyframes inlineExpansionCloseAnimation {
  0% { height: var(--min-open-height); }
  100% { height: 0px; }
}

@keyframes inlineExpansionCloseAnimation {
  0% { height: var(--min-open-height); }
  100% { height: 0px; }
}

.ax-inline-expansion-slot-content { padding-top: 4px !important; background-color: rgb(255, 255, 255); }

.mobileAceCarouselElement { width: 160px !important; }

.ax-inline-expansion-slot-content .a-carousel-card.a-carousel-card-empty { width: 160px !important; }

#ax-skeleton { cursor: progress; height: 100%; width: 100%; border-width: 0px; padding-top: 36px; overflow: hidden; }

#ax-skeleton > :first-child { padding-top: 0px !important; }

.ax-skeleton-button, .ax-skeleton-image-block, .ax-skeleton-image-swatches, .ax-skeleton-text-base, .ax-skeleton-text-extra-large, .ax-skeleton-text-large, .ax-skeleton-text-medium, .ax-skeleton-text-micro, .ax-skeleton-text-mini, .ax-skeleton-text-small, .ax-skeleton-text-tall-mini, .ax-skeleton-text-tall-small { background-color: rgb(227, 230, 230); animation: 2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s infinite alternate both running ax-skeleton-gradient; }

@keyframes ax-skeleton-gradient {
  0% { background-color: rgb(227, 230, 230); }
  100% { background-color: rgb(200, 204, 204); }
}

.ax-skeleton-text-base, .ax-skeleton-text-extra-large, .ax-skeleton-text-large, .ax-skeleton-text-medium, .ax-skeleton-text-micro, .ax-skeleton-text-mini, .ax-skeleton-text-small { height: 20px; border-radius: 8px; }

.ax-skeleton-text-tall-mini, .ax-skeleton-text-tall-small { height: 30px; border-radius: 8px; }

.ax-skeleton-text-extra-large { width: 100%; }

.ax-skeleton-text-large { width: 75%; }

.ax-skeleton-text-medium { width: 60%; }

.ax-skeleton-text-base { width: 50%; }

.ax-skeleton-text-small { width: 40%; }

.ax-skeleton-text-mini { width: 25%; }

.ax-skeleton-text-micro { width: 15%; }

.ax-skeleton-image-block { width: 64px; height: 64px; }

.ax-skeleton-image-swatches { width: 30%; height: 20px; border-radius: 8px; }

.ax-skeleton-text-tall-small { width: 40%; }

.ax-skeleton-text-tall-mini { width: 25%; }

.ax-skeleton-action-bar { bottom: 0px; z-index: 999999; box-shadow: rgb(200, 204, 204) 0px 0px 5px 0px; background-color: rgb(255, 255, 255); position: fixed !important; height: auto !important; }

.ax-skeleton-button { height: 32px; width: 100%; border-radius: 16px; }
