@charset "utf-8";

.p13n-sc-shoveler li.a-carousel-card { overflow: visible; padding: 5px 0px; }

.p13n-sc-shoveler li.a-carousel-card-empty { min-height: 250px; }

.p13n-sc-lazy-desktop .a-carousel-viewport { min-height: 244px; }

[class*="cards-widget-qs-widget-override"] [class*="qs-widget-table"], [class*="cards-widget-qs-widget-override"] [id^="qs-widget-button-"], [class*="cards-widget-qs-widget-override"][class*="qs-widget-container"], [id^="qs-widget-atc-button-"] { width: 100%; }

._cDEzb_p13n-list-faceout-asin-row_1Arbr { margin-bottom: 20px; margin-top: 20px; }

._cDEzb_p13n-list-faceout-asin-detail-row_oQvd_ { display: inline; width: 650px; }

._cDEzb_feedback-switch_1qaMd { cursor: pointer; display: inline-block; height: 50px; margin-top: 5px; vertical-align: top; width: 50px; }

._cDEzb_p13n-record-feedback-error-message_1fVND { margin-top: 10px; }

._cDEzb_p13n-list-faceout-asin-title_36t6X { margin-left: 20px; margin-right: 25px; margin-top: 10px; }

._cDEzb_p13n-list-faceout-asin-title-wrapper_1ZzCK { width: 290px; }

._cDEzb_p13n-list-faceout-not-interested-message-wrapper_2hNsd { padding-left: 20px; padding-top: 10px; width: 380px; }

._cDEzb_feedback-button-row_i2GbB { -webkit-box-pack: end; display: flex; justify-content: flex-end; }

._cDEzb_p13n-list-faceout-remove-recs-button-content_EN5yY { margin-top: 18px; width: 220px !important; }

._cDEzb_p13n-list-faceout-undo-button-content_2NwaL { margin-top: 15px; width: 120px !important; }

._cDEzb_undo-button_2vLoX { cursor: pointer; font-weight: bolder; margin-top: 3px; }

._cDEzb_p13n-sc-css-line-clamp-1_1Fn1y { -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-2_EWgCb { -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-3_g3dy1 { -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-4_2q2cc { -webkit-line-clamp: 4; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-5_2l-dX { -webkit-line-clamp: 5; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-6_28daG { -webkit-line-clamp: 6; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-7_1k_Mc { -webkit-line-clamp: 7; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-8_1yvsR { -webkit-line-clamp: 8; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-9_3Pofd { -webkit-line-clamp: 9; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-10_mY8_7 { -webkit-line-clamp: 10; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_subtitle_2kEiH { line-height: 10px; }

._cDEzb_sponsoredLabel_RxXGt { color: rgb(85, 85, 85); font-size: 11px; line-height: 23px; margin-bottom: 4px; }

.p13n-report-flag-hide { cursor: none; display: none; }

.p13n-report-flag { background-image: url("https://m.media-amazon.com/images/S/sash/vh8ofoqOd7XyRsk.png"); background-repeat: no-repeat; background-size: 15px 16px; cursor: pointer; height: 16px; position: absolute; right: 20px; top: 35px; width: 15px; }

.p13n-report-flag:hover { background-image: url("https://m.media-amazon.com/images/S/sash/WXxFP-k55X6KCh2.png"); }

.p13n-report-problem-modal-root { padding: 14px 18px; }

._cDEzb_p13n-popover-button-divider_1Jt36 { margin: 6px 0px; }

._cDEzb_p13n-feedback-popover-button_2rWBn { background: url("https://m.media-amazon.com/images/G/01/x-locale/personalization/core-recs/canaries/kebabgrey_18.png") 0px 0px / 18px no-repeat; display: block; height: 18px; text-decoration: none; width: 18px; }

._cDEzb_p13n-feedback-popover-button_2rWBn:hover { background-position: 0px -18px; }

._cDEzb_p13n-feedback-modal-height_1uBiC { height: 450px; }

._cDEzb_p13n-desktop-feedback-kebab-wrapper_jo5L2 { margin: 0px 3px 15px 10px; }

._cDEzb_p13n-desktop-feedback-modal-center-utils_3n1l4 { height: 35px; margin-top: 10px; text-align: center; }

._cDEzb_p13n-desktop-feedback-modal-changeover_MVHoj { display: none; }

._cDEzb_panel-text_3TtlT { width: 220px; }

._cDEzb_panel-container_3ZNzh { float: left; width: 238px; }

._cDEzb_panel-subsection_19oyW { padding-left: 15px; padding-right: 18px; }

._cDEzb_panel-logo-container_ucYMM { height: 33px; margin-bottom: 5px; width: 220px; }

._cDEzb_panel-button_GP7zd { width: auto; }

._cDEzb_p13n-flex-container-header-kebab_12qKs { -webkit-box-pack: justify; -webkit-box-align: center; align-items: center; display: flex; justify-content: space-between; }

._cDEzb_p13n-sc-price_31f6D { overflow-wrap: normal; }

._cDEzb_rvi-ee-text_caPZz { font-size: 10px; line-height: 10px; }

._cDEzb_asin-title_2KJ6_ { font-size: 14px; font-weight: bolder; margin-left: 20px; margin-top: 10px; text-align: left; }

._cDEzb_asin-row_3PozI { display: block; }

._cDEzb_asin-detail-row_T7Jm0 { margin-bottom: -12px; }

._cDEzb_image_11f2t { height: 90px; width: 90px; }

._cDEzb_feedback-switch_2zE08 { cursor: pointer; display: inline-block; height: 50px; margin-top: 5px; vertical-align: top; width: 50px; }

._cDEzb_card_2yY06 { width: 95%; }

._cDEzb_image-and-offer_XQEhq { display: flex; margin-bottom: 0px; margin-top: 10px; }

._cDEzb_review-row_1d5Qn { padding-right: 10px; width: 100%; }

._cDEzb_row_1eL-2 { width: 100%; }

._cDEzb_icon_3kTmk { background-position: -310px -5px; height: 1.6rem; width: 1.6rem; }

._cDEzb_scrollable-card_2fUxq { text-align: left; width: 95%; }

._cDEzb_close-icon-row_1UiN7 { height: 5px; min-width: 600px; padding-right: 10px; text-align: right; width: 100%; }

[dir="rtl"] ._cDEzb_close-icon-row_1UiN7 { height: 5px; min-width: 600px; text-align: left; width: 100%; }

._cDEzb_close-icon-column_33S0b { height: inherit; }

._cDEzb_detail-column_3HoqU { text-align: left; }

[dir="rtl"] ._cDEzb_detail-column_3HoqU { text-align: right; }

._cDEzb_scrollable-row_bJNDZ { width: 100%; }

._cDEzb_icon__PtFG { background-position: -310px -5px; cursor: pointer; height: 1.6rem; width: 1.6rem; }

._cDEzb_feedbackText_1z8PE { cursor: pointer; }

._cDEzb_nonOverlapping-card_3Xb1r { width: 95%; }

._cDEzb_nonOverlapping-row_2Q-t7 { display: inline-flex; justify-content: space-around; max-width: 800px; min-width: 600px; text-align: left; width: 100%; }

._cDEzb_generalFaceoutFlexBetween_7aGNX { -webkit-box-pack: justify; -webkit-box-orient: vertical; -webkit-box-direction: normal; display: inline-flex; flex-direction: column; height: 100%; justify-content: space-between; position: relative; }

._cDEzb_aboveImageSpacing_3XO8A { height: 32px; }

._cDEzb_badgeRow_Yzo7c { position: absolute; top: 0px; z-index: 10; }

._cDEzb_maskStyling_1IlBq { background-color: rgb(15, 17, 17); border-radius: 4px; height: 100%; left: 0px; opacity: 0.03; position: absolute; top: 0px; width: 100%; }

._cDEzb_positionRelativeCss_ZwMqj { padding: 32px 8px 8px; position: relative; }

._cDEzb_noop_3Xbw5 { perspective: none; }

._cDEzb_heroBanner_1Y4Dy { min-height: 60px; }

._cDEzb_heroBannerCompact_25doU { min-height: 44px; }

._cDEzb_heroLabel_3b1XQ { display: block; font-size: inherit; line-height: inherit; padding-bottom: 0px; }

._cDEzb_setLabel_1T92X { display: block; margin-top: -2px; }

._cDEzb_baseAsinLabel_3LESS { display: block; }

._cDEzb_faceout-individuals-wrapper_1hzQz { display: grid; gap: 2px; }

._cDEzb_buttonWrapperGrow_1ZVZ4 { -webkit-box-flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: end; display: flex; flex-direction: column; flex-grow: 1; justify-content: end; width: fit-content; }

._cDEzb_containerA11yMargin_1en19:focus { margin: 0.5rem; }

.p13n-faceout-static-left-padding .a-col-right[style] { padding-left: 10px !important; }

.p13n-overlay-static-list-padding .a-col-right[style] { padding-left: 8px !important; }

._cDEzb_p13n-sc-css-line-clamp-1_1ZO6n { -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-2_2R0OL { -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-3_OxGLy { -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-4_Zr-Ep { -webkit-line-clamp: 4; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-5_3v9Pj { -webkit-line-clamp: 5; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-6_Z2TkG { -webkit-line-clamp: 6; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-7_1VEgO { -webkit-line-clamp: 7; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-8_2H34L { -webkit-line-clamp: 8; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-9_2Gnhf { -webkit-line-clamp: 9; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_p13n-sc-css-line-clamp-10_1itnD { -webkit-line-clamp: 10; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }

._cDEzb_containerA11yMargin_1vSKH:focus { margin: 0.5rem; }

._cDEzb_successMessage_2_cNI { -webkit-box-orient: vertical; -webkit-box-direction: normal; display: flex; flex-flow: column; }

._cDEzb_cartButtonContainer_3ULmE { padding-top: 5px; width: 100%; }

[class*="p13n-sc-claim-and-atc-countdown-timer"] { padding-left: 3px; }

._cDEzb_claimAndAtcWaitingText_9jEc2 { display: table; margin: 0px auto 7px; }

._cDEzb_p13n-sc-price_3mJ9Z { overflow-wrap: normal; overflow-x: hidden; }

._cDEzb_p13n-sc-price-animation-wrapper_3PzN2 { position: relative; }

._cDEzb_p13n-sc-youpay_2mwp6 { overflow-wrap: normal; overflow-x: hidden; }

._cDEzb_p13n-sc-youpay-wrapper_3MfNG { position: relative; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { appearance: none; margin: 0px; }

input[type="number"] { }

._cDEzb_stepperWrapper_RkOgK { -webkit-box-pack: justify; -webkit-box-align: center; align-items: center; border: 2px solid rgb(252, 210, 0); border-radius: 10rem; box-shadow: rgba(212, 216, 216, 0.5) 0px 2px 5px 0px; display: flex; height: inherit; justify-content: space-between; width: 100%; }

._cDEzb_smallSize_2hQ36 { height: 35px; }

._cDEzb_stepperButton_3GWEy img { cursor: pointer; height: 20px; margin-left: 12px; margin-right: 12px; width: 20px; }

._cDEzb_stepperDisplayText_2uKjx { -webkit-box-align: center; align-items: center; color: rgb(15, 17, 17); display: flex; font-weight: 700; height: 100%; }

.a-button-disabled .p13n-sc-stepper-hide-while-loading, .p13n-atc-add-disabled { filter: opacity(0.35); }

._cDEzb_clean-button-element__4uu5 { -webkit-tap-highlight-color: transparent; background: none; border: none; border-radius: 10rem; color: inherit; font: inherit; outline: inherit; padding: 0px; }

._cDEzb_almStore_n5J0M { margin-top: 2px; max-height: 14px; }

._cDEzb_p13n-sc-cpf-badge_dMVLV { color: rgb(22, 131, 66) !important; text-decoration: none !important; }

._cDEzb_p13n-sc-cpf-badge_dMVLV i { margin-top: 0px; vertical-align: middle; }

._cDEzb_p13n-sc-cpf-cert-row_3PW-5 { -webkit-box-align: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; align-items: center; display: flex; flex-direction: row; }

._cDEzb_p13n-sc-cpf-cert-logo_2T8hY { margin-right: 18px; min-width: 45px; }

._cDEzb_p13n-sc-cpf-cert-column_1r84G { -webkit-box-orient: vertical; flex-direction: column; }

._cDEzb_p13n-sc-cpf-cert-column_1r84G, ._cDEzb_p13n-sc-cpf-cert-grid_2Z5J- { -webkit-box-direction: normal; display: flex; }

._cDEzb_p13n-sc-cpf-cert-grid_2Z5J- { -webkit-box-orient: horizontal; flex-direction: row; }

._cDEzb_p13n-sc-cpf-link_3r-aG { text-decoration: underline !important; }

._cDEzb_p13n-sc-cpf-bottom-sheet_R9HFz { padding: 21px 15px; }

[class*="cards-widget-qs-widget-override"] [class*="qs-widget-table"], [class*="cards-widget-qs-widget-override"] [id^="qs-widget-button-"], [class*="cards-widget-qs-widget-override"][class*="qs-widget-container"], [id^="qs-widget-atc-button-"] { width: 100%; }

._cDEzb_p13n-sc-consolidation-sheet-badge_Kh9DX img { margin-right: 1px; }

._cDEzb_p13n-sc-consolidation-sheet-badge_Kh9DX { display: inline-block; }

._cDEzb_p13n-sc-consolidation-sheet-badge_Kh9DX i { margin-left: 4px; transform: rotate(180deg); }

._cDEzb_p13n-sc-consolidation-bottom-sheet_1CfIc { padding: 21px 15px; }

._cDEzb_p13n-sc-consolidation-icon_13c7d { height: 20px; width: 16px; }

._cDEzb_p13n-sc-consolidation-popover-badge_wr73R img { margin-right: 1px; }

._cDEzb_p13n-sc-consolidation-popover-badge_wr73R i { margin-top: 0px; vertical-align: middle; }

._cDEzb_p13n-sc-consolidation-popover-badge_wr73R { text-decoration: none !important; }

._cDEzb_savingsMessageWrapper_2FE6S { -webkit-box-align: center; align-items: center; display: inline-flex; font-size: 12px; }

._cDEzb_savingsMessage_3tM_M { -webkit-box-flex: 1; border-radius: 4px; flex: 1 1 0%; font-weight: 700; line-height: 20px; padding: 4px 6px; position: relative; }

._cDEzb_savingsMessageLargePadding_3b7K6 { padding: 4px 8px; }

._cDEzb_savingsMessageSmallPadding_Yrlex { padding: 2px 6px; }

._cDEzb_p13nDealOfTheDay_cVlwZ { background: rgb(177, 39, 4); color: rgb(255, 255, 255); float: right; padding: 2px 4px; position: relative; }

._cDEzb_dealsCardDealTimer_2oYBO { display: inline-block; }

._cDEzb_dealsCardPercentClaimed_1GTDI { display: inline-block; padding-top: 3px; }

._cDEzb_p13nDealPercentClaimedWrapper_1exA2 { background: rgb(213, 217, 217); height: 6px; width: 100%; }

._cDEzb_p13nDealPercentClaimedBar_2HB_x { background: rgb(15, 17, 17); height: 100%; }

._cDEzb_p13nDealOfTheDayBadge_2Nn7x { background: rgb(177, 39, 4); color: rgb(255, 255, 255); padding: 2px 4px; }

._cDEzb_savingsBadgeWrapper_3DNjt { -webkit-box-align: center; -webkit-box-pack: justify; align-items: center; display: flex; font-size: 12px; gap: 6px; justify-content: space-between; margin-bottom: 4px; margin-top: 3px; }

._cDEzb_savingsBadgeLabel_2pUXu { border-radius: 2px; line-height: 16px; padding: 4px 6px; position: relative; }

._cDEzb_savingsBadgeMessage_2JUtl { -webkit-box-flex: 1; flex: 1 1 0%; font-weight: 700; line-height: 12px; position: relative; }

._cDEzb_savingsRioCompliantBadgeWrapper_3Yv6K { -webkit-box-align: center; -webkit-box-pack: justify; align-items: center; display: flex; gap: 6px; justify-content: space-between; margin-bottom: 4px; margin-top: 4px; }

._cDEzb_savingsRioCompliantBadgeLabel_6EU5w { border-radius: 4px; padding: 2px 4px; position: relative; }

._cDEzb_savingsBadgeWrapperAboveImage_1JzX4 { -webkit-box-align: center; -webkit-box-pack: justify; align-items: center; display: flex; gap: 6px; justify-content: space-between; position: relative; }

._cDEzb_savingsBadgeLabelAboveImage_CS9WC { border-radius: 4px; margin: 4px; padding: 2px 4px; position: relative; top: 0px; }

._cDEzb_labelHeight_1Hv8C { height: 20px; margin-top: -7px; }

._cDEzb_curation_13VGx { margin-bottom: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

._cDEzb_display-contents_2ZP7v { display: contents; }

._cDEzb_p13n-prime-badge_GVM4h { position: relative; top: 2px; }

._cDEzb_sponsoredLabel_2UvSK { color: rgb(85, 85, 85); font-size: 11px; }

._cDEzb_p13nSwatchLink_EGezW { display: flex; }

._cDEzb_autoScale_3FVNQ { height: 100%; object-fit: contain; }

[data-a-badge-color="sx-summit"] { background-color: rgb(213, 219, 219) !important; color: rgb(213, 219, 219) !important; }

[data-a-badge-color="alm-error"] { background-color: rgb(226, 8, 11) !important; color: rgb(226, 8, 11) !important; }

[data-a-badge-color="sx-granite"] { color: rgb(55, 61, 62) !important; }

span[id^="atc-error-badge"], span[id^="atc-success-badge"] { max-width: 140px; position: absolute; }

._cDEzb_amazon-haul-badge_2QfjL { background: rgb(103, 0, 206); border-radius: 4px; color: rgb(255, 255, 255); font-size: 13px; font-weight: 700; line-height: 18px; padding: 3px 6px; }

._cDEzb_amazon-haul-badge_2QfjL ._cDEzb_logo_3tNls { height: 13px; margin-left: 2px; margin-top: 3px; width: 12px; }

._cDEzb_amazon-haul-badge-container_3TDnk { display: inline-block; position: relative; }

._cDEzb_badge-container_19KqF { float: left; }

[dir="rtl"] ._cDEzb_badge-container_19KqF { float: right; }

._cDEzb_badge_33BOq { -webkit-box-align: center; align-items: center; border-radius: 4px; display: inline-flex; font-style: normal; }

._cDEzb_badge_33BOq._cDEzb_desktop_3yIQy { padding: 2px 4px; }

._cDEzb_badge_33BOq._cDEzb_mobile_3HdA- { padding: 1px 4px; }

._cDEzb_badge_33BOq._cDEzb_best-seller_2H4GD { background-color: rgb(209, 73, 0); color: rgb(255, 255, 255); }

._cDEzb_badge_33BOq._cDEzb_accolades_3APGK { background-color: rgb(22, 29, 38); color: rgb(255, 255, 255); }

._cDEzb_badge_33BOq._cDEzb_personal-activity_2s0SG { background-color: rgb(86, 89, 89); color: rgb(255, 255, 255); }

._cDEzb_p13n-coupon-badge_3d5NR { background: rgb(127, 218, 105); color: rgb(17, 17, 17); display: inline-block; padding: 0px 6px; position: relative; }

._cDEzb_inlineBlock_1H-bg { display: inline-block; vertical-align: middle; }

._cDEzb_icon_2NJmK { display: inline-block; margin-right: 3px; vertical-align: text-bottom; }

._cDEzb_checkbox_1X7oF { padding-left: 2rem; width: 3rem !important; }

[dir="rtl"] ._cDEzb_checkbox_1X7oF { padding-right: 1rem; }

._cDEzb_checkbox_1X7oF [class*="a-icon-checkbox"] { left: 0px !important; }

[dir="rtl"] ._cDEzb_checkbox_1X7oF [class*="a-icon-checkbox"] { right: 0px !important; }

._cDEzb_p13nBDWrapper_RJ1C0 { margin-bottom: 3px; margin-top: 3px; }

._cDEzb_p13nBDWrapperBadge_30opV { background: rgb(127, 204, 236); padding: 3px 6px; }

._cDEzb_p13nBusinessPromotionalBadgeWrapper_1P8Dk { color: rgb(255, 255, 255); margin-bottom: 3px; margin-top: 3px; }

._cDEzb_p13nBusinessPromotionalBadge_1xUcd { background: rgb(2, 84, 145); color: rgb(255, 255, 255); padding: 4px 6px; }

._cDEzb_detailsButton_1wSlP [class="a-button-inner"] { height: 100% !important; }

._cDEzb_detailsButton_1wSlP [class*="a-button-text"] { display: block !important; white-space: normal !important; }

._cDEzb_goToCartButton_2k4j4 [class="a-button-inner"] { height: 100% !important; }

._cDEzb_goToCartButton_2k4j4 [class*="a-button-text"] { display: block !important; text-align: center !important; white-space: normal !important; }

._cDEzb_goToCartButton_2k4j4 { border-radius: 10em !important; }

._cDEzb_p13n-delight-pricing-badge_26S9Q { background: rgb(177, 39, 4); color: rgb(255, 255, 255); display: inline-block; padding: 2px 10px; position: relative; }

._cDEzb_p13n-delight-pricing-badge-v2_rw-PO { background-color: rgb(204, 12, 57); border-radius: 4px; color: rgb(255, 255, 255); display: inline-block; margin-bottom: 4px; padding: 3px 6px; position: relative; vertical-align: middle; }

._cDEzb_energy-efficiency-container_1Pkva { position: relative; text-align: left; }

._cDEzb_energy-efficiency-badge-standard_28gp8 { cursor: pointer; display: inline-block; height: 24px; }

._cDEzb_energy-efficiency-badge-shape_1IcJY { display: inline-block; height: 24px; }

._cDEzb_energy-efficiency-badge-rating_3_0eN { fill: rgb(255, 255, 255); font-family: Arial; font-size: 20px; text-shadow: rgb(0, 0, 0) -0.5px -0.5px 0px, rgb(0, 0, 0) 0.5px -0.5px 0px, rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) 0.5px 0.5px 0px; vertical-align: middle; }

._cDEzb_energy-efficiency-badge-rating-sign_1ronK { fill: rgb(255, 255, 255); font-family: Arial; font-size: 6px; font-weight: 700; vertical-align: middle; }

._cDEzb_energy-efficiency-badge-range-rating_2l2GZ { fill: rgb(0, 0, 0); font-family: Arial; font-size: 8px; text-shadow: none; vertical-align: middle; }

._cDEzb_energy-efficiency-badge-range-rating-sign_gQzDs { fill: rgb(0, 0, 0); font-family: Arial; font-size: 6px; font-weight: 700; text-shadow: none; }

._cDEzb_energy-efficiency-badge-rating-2021_2Q_3P { text-shadow: rgb(0, 0, 0) -0.5px -0.5px 0px, rgb(0, 0, 0) 0.5px -0.5px 0px, rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) 0.5px 0.5px 0px; }

._cDEzb_energy-efficiency-badge-data-sheet-label-container_2iEi2 { display: inline-block; padding-left: 5px; padding-top: 0px; position: absolute; vertical-align: middle; }

._cDEzb_energy-efficiency-badge-data-sheet-label_3b6X3 { cursor: pointer; word-break: break-word; }

._cDEzb_inlineErrorDetails_1NBx- { margin-right: -2px; vertical-align: text-top; }

._cDEzb_spCSRFTreatment_-hwVO { display: none; visibility: hidden; }

._cDEzb_apex-savings-percent_nsC2Z { color: rgb(204, 12, 57); font-weight: 300; }

._cDEzb_apex-savings-percent-badge_nUoC7 { color: rgb(255, 255, 255); }

._cDEzb_apex-no-wrap-no-overflow_1CHNX { overflow-wrap: normal; overflow-x: hidden; }

._cDEzb_apex-savings-percent_1WI5l { color: rgb(204, 12, 57); font-weight: 300; }

._cDEzb_apex-no-wrap-no-overflow_3qoUP { overflow-wrap: normal; overflow-x: hidden; }

._cDEzb_sidesheet_1vXyM { background-color: rgb(255, 255, 255); bottom: 0px; box-shadow: rgba(0, 0, 0, 0.1) -4px 0px 5px; position: fixed; right: -400px; top: 0px; width: 400px; z-index: 1200; overflow: visible !important; }

._cDEzb_sheetHeader_h5Lkb { -webkit-box-align: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; align-items: center; display: flex; flex-direction: row; }

._cDEzb_ssBadgeTxt_1PjUa { padding-left: 8px; }

._cDEzb_bsBadgeTxt_KxWQj { padding-left: 0.5rem; }

._cDEzb_ssBgrd_3Q99J { background: rgb(0, 0, 0); cursor: pointer; height: 100%; opacity: 0.6; position: fixed; width: 100%; z-index: 280; }

._cDEzb_ssCloseBtn_2arXO { background-color: transparent; border: 0px; cursor: pointer; left: -30px; position: absolute; }

._cDEzb_ssCloseIcon_Wdvrw { background-position: -350px -100px; height: 30px; width: 20px; }

._cDEzb_ssStickyFooter_3gman { margin: 0px -15px -1.2rem; padding: 0px 15px !important; }

._cDEzb_ssContentContainer_LTSOV { padding: 21px; }

._cDEzb_ssContent_3QodQ { max-height: 100vh; overflow-y: scroll; }

._cDEzb_ssFooterTxt_jSLuY { color: rgb(4, 112, 91); padding-left: 4px; }

._cDEzb_backIcon_3VW9U { background-image: url("https://m.media-amazon.com/images/S/sash/k7bwzv3V0gxRaLG.svg"); background-size: contain; cursor: pointer; display: block; height: 20px; margin-right: 1.5rem; width: 20px; }

._cDEzb_badgeTxt_2a_j5 { text-decoration: underline; }

._cDEzb_badgeDskText_2cSSD { color: rgb(15, 17, 17); text-decoration: none; }

._cDEzb_badgePaddingSm_3xeR5 { padding: 0px 2px; }

._cDEzb_badgePadding_2yNT9 { padding: 0px 4px; }

._cDEzb_badgeDskText_2cSSD:hover { color: rgb(199, 81, 31) !important; }

._cDEzb_badgeDskLink_dA5_b:hover { color: rgb(199, 81, 31); text-decoration: none; }

._cDEzb_cert_10_0Q { -webkit-box-align: center; align-items: center; display: flex; margin-top: 6px; }

._cDEzb_certName_3IZo8 { padding-left: 4px; }

._cDEzb_certificate_opeTr { -webkit-box-align: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; align-items: center; display: flex; flex-direction: row; }

._cDEzb_certificateIcon_3YNZd { margin-right: 18px; min-width: 50px; }

._cDEzb_certificateTxt_2Xm7g { padding-left: 4px; }

._cDEzb_ssSecContentContainer_17KN8 { padding: 21px; }

._cDEzb_badgeChevron_15M0U { display: inline; }

._cDEzb_badgeChevronIcon_2nuox { margin-top: auto; }

._cDEzb_chevronSm_ywVsn { transform: scale(0.8); }

._cDEzb_bsContainer_nLdAv { padding: 1rem 1.6rem; }

._cDEzb_noMarginLft_8IkB0 { margin-left: 0px; }

._cDEzb_attribute_W_qe4 { display: flex; flex-wrap: wrap; gap: 9px 15px; }

._cDEzb_stickyFooter_1Zv4B { background-color: transparent; bottom: 0px; padding: 1.2rem 15px; position: sticky; margin: 0px -15px -1.2rem !important; }

._cDEzb_bsFooterTxt_3q5-v { color: rgb(4, 112, 91); padding-left: 0.5rem; }

._cDEzb_ssBackIcon_3izOu { background-color: transparent; border: 0px; padding: 0px; }

._cDEzb_detailViewCertName_3na8c { padding-left: 1rem; }

._cDEzb_bsCertificationImg_3APsA { margin-right: 18px; min-width: 50px; }

._cDEzb_bsCertification_CfXuB { -webkit-box-align: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; align-items: center; display: flex; flex-direction: row; }

._cDEzb_bsCertHeading_10nHC { column-gap: 1rem; font-weight: 400; }

._cDEzb_bsDisclosureBox_2mZsX, ._cDEzb_bsHeadingContainer_12feL { -webkit-box-align: center; align-items: center; }

._cDEzb_bsDisclosureBox_2mZsX { column-gap: 0.8rem; display: flex; }

._cDEzb_bsHeadingContainer_12feL:not(.a-sheet-heading-container *) { padding: 1.6rem 1.6rem 0.4rem; }

._cDEzb_attrSubCert_1y_4K { padding-bottom: 10px; position: absolute; }

._cDEzb_cert_10_0Q:not(:first-child) { padding-left: 15px; }

._cDEzb_certNameMobile_1nSJM { color: rgb(33, 98, 161) !important; padding-left: 0.5rem; }

._cDEzb_ad-feedback-primary-link_2bIZi { height: 30px; margin-bottom: 7px; margin-top: 4px; min-width: 75px; }

._cDEzb_ad-feedback-text_2HjQ9 { color: rgb(85, 85, 85); font-family: "Amazon Ember Regular", "Amazon Ember", Arial; font-size: 11px; padding: 8.5px 0px; }

._cDEzb_ad-feedback-sprite_28uwB { background-color: transparent; background-image: url("https://m.media-amazon.com/images/G/01/ad-feedback/New-info-icon-sprite-1x.png"); background-position: 0px 0px; width: 14px; }

._cDEzb_ad-feedback-sprite-mobile_2_rj8, ._cDEzb_ad-feedback-sprite_28uwB { background-repeat: no-repeat; color: rgb(150, 150, 150); display: inline-block; height: 12px; margin: 1px 0px 1px 3px; vertical-align: text-top; }

._cDEzb_ad-feedback-sprite-mobile_2_rj8 { background-image: url("https://m.media-amazon.com/images/G/01/ad-feedback/new_info_icon_3x.png"); background-size: contain; width: 12px; }

._cDEzb_ad-feedback-text-desktop_q3xp_ { color: rgb(85, 85, 85); cursor: pointer; display: inline-block; font-family: "Amazon Ember Regular", "Amazon Ember", Arial; font-size: 11px; padding: 2px 0px; right: 0px; top: 2px; }

._cDEzb_ad-feedback-loading-spinnner_1nmZw { margin-left: 45%; margin-top: 250px; }

._cDEzb_ad-feedback-loading-spinnner-rtl_2BoOY { margin-right: 45%; margin-top: 250px; }
