@charset "utf-8";

.daodi-header-font { font-weight: bold; font-size: 16px; line-height: 24px; }

.daodi-divider { border: 0.5px solid rgb(213, 217, 217); margin-left: -12px !important; margin-right: -12px !important; }

.daodi-content { position: relative; padding-right: 12px; }

.daodi-content .daodi-arrow-icon { position: absolute; bottom: 40%; right: 0px; }

.daodi-content a { text-decoration: none; }

#dynamic-aod-ingress-box .a-box-inner { padding: 12px !important; }

html[dir="rtl"] .daodi-content .daodi-arrow-icon { bottom: 40%; left: 0px; right: auto; }

html[dir="rtl"] .daodi-content { position: relative; padding-left: 12px; padding-right: 0px; }
