@charset "utf-8";

#nav-flyout-ewc .nav-flyout-buffer-left { display: none; }

#nav-flyout-ewc .nav-flyout-buffer-right { display: none; }

div#navSwmHoliday.nav-focus { border: none; margin: 0px; }
