@charset "utf-8";

.a-input-text-addon-group-wrapper { display: inline-block; vertical-align: middle; }

.a-input-text-addon-group { position: relative; display: table; border-collapse: separate; border-spacing: 0px; }

.a-input-text-addon-group .a-search { width: 100%; display: table-cell; }

.a-input-text-addon-group .a-search .a-input-text { display: inline-block; }

.a-input-text-addon-group .a-search .a-icon-search { z-index: 3; }

.a-input-text-addon-group .a-input-text { position: relative; z-index: 2; width: 100%; margin-bottom: 0px; }

.a-input-text-addon, .a-input-text-addon-group .a-input-text { display: table-cell; vertical-align: middle; }

.a-input-text-addon { background-color: var(--__dChNmAwPaMXsPxT,#f0f2f2); padding: 3px 7px; line-height: 1; text-align: center; border-width: 1px; border-style: solid; border-image: initial; border-color: var(--__dChNmAwPaMXsTxp,#d5d9d9); border-radius: 4px; width: 1%; white-space: nowrap; }

.a-input-text-addon.a-cal-icon { padding: 3px 7px; }

.a-input-text-addon-group .a-input-text-wrapper:not(:last-child), .a-input-text-addon-group .a-input-text:not(:last-child), .a-input-text-addon:first-child { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }

.a-input-text-addon:first-child { border-right: 0px; }

.a-input-text-addon-group .a-input-text-addon + .a-input-text, .a-input-text-addon-group .a-input-text-wrapper:not(:first-child), .a-input-text-addon:last-child { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }

.a-input-text-addon:last-child { border-left: 0px; }

.a-input-text-addon-group .a-search:not(:first-child) .a-input-text { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }

.a-input-text-addon-group .a-search:not(:last-child) .a-input-text { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }

.a-form-disabled .a-input-text-addon { color: var(--__dChFn1F-s7XAw4B,#565959); background-color: var(--__dChFn1F-s7XAPxT,#f0f2f2); }

.a-input-text-addon-group.a-form-error { border-radius: 4px; box-shadow: rgb(204, 12, 57) 0px 0px 0px 2px inset; }

.a-input-text-addon-group.a-form-error .a-input-text-addon { position: relative; border-color: var(--__dChWb2ygDTxp,#cc0c39); box-shadow: none; }

.a-input-text-addon-group.a-form-error .a-input-text-wrapper { box-shadow: none; }

.a-input-text-addon-group.a-form-warning { border-radius: 4px; }

.a-input-text-addon-group.a-form-warning .a-input-text-addon { position: relative; border-color: var(--__dChWb2S9kTxp,#ffaf38); box-shadow: none; }

.a-input-text-addon-group.a-form-warning .a-input-text-wrapper { box-shadow: none; }

.a-input-text-addon-group.a-form-error .a-input-text-wrapper { background-color: transparent; }

:root .a-input-text-addon { --__dChNmAwPaMXsTxp: #888c8c; }

:root .a-form-disabled .a-input-text-addon { --__dChFn1F-s7XAPxT: #f7fafa; }

.a-cal-paginate-next, .a-cal-paginate-prev { display: flex; align-items: center; justify-content: center; width: 41px; height: 36px; border-radius: 7px; }

.a-cal-paginate-next:focus-visible, .a-cal-paginate-prev:focus-visible { outline: rgb(33, 98, 161) solid 3px; outline-offset: 2px; position: relative; z-index: 1; }

.a-cal-paginate-prev { float: left; }

.a-cal-paginate-prev .a-icon-previous { background-image: url("https://m.media-amazon.com/images/S/sash/u0inQP8-LqBRO7J.png"); background-size: 512px 512px; background-repeat: no-repeat; width: 16px; height: 16px; background-position: -142px -21px; }

.a-hires .a-cal-paginate-prev .a-icon-previous { background-image: url("https://m.media-amazon.com/images/S/sash/Zf4KcHNXMx7zzfI.png"); }

.a-cal-paginate-prev:hover .a-icon-previous { background-position: -138px -3px; }

.a-cal-paginate-prev:active .a-icon-previous { background-position: -145px -59px; }

.a-cal-paginate-next { float: right; }

.a-cal-paginate-next .a-icon-next { background-image: url("https://m.media-amazon.com/images/S/sash/u0inQP8-LqBRO7J.png"); background-size: 512px 512px; background-repeat: no-repeat; width: 16px; height: 16px; background-position: -354px -339px; }

.a-hires .a-cal-paginate-next .a-icon-next { background-image: url("https://m.media-amazon.com/images/S/sash/Zf4KcHNXMx7zzfI.png"); }

.a-cal-paginate-next:hover .a-icon-next { background-position: -482px -362px; }

.a-cal-paginate-next:active .a-icon-next { background-position: -143px -39px; }

.a-cal-month-container { display: block; float: left; width: 315px; border: 1px solid rgb(187, 191, 191); border-radius: 8px; background-color: transparent; cursor: default; margin: -1px; user-select: none; }

.a-cal-in-popover .a-cal-month-container { border: 0px; margin: 0px; padding: 5px; }

.a-cal-in-popover .a-cal-labels th:first-child, .a-cal-in-popover .a-cal-labels th:last-child { position: relative; z-index: 0; }

.a-cal-in-popover .a-cal-labels th:first-child::after, .a-cal-in-popover .a-cal-labels th:last-child::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; z-index: -1; background-color: var(--__dChNmAwPaMXsPxT,#f0f2f2); }

.a-cal-in-popover .a-cal-labels th:first-child::after { left: -5px; right: 0px; }

.a-cal-in-popover .a-cal-labels th:last-child::after { left: 0px; right: -5px; }

.a-cal-month-row { background-color: rgb(255, 255, 255); border-top-left-radius: 8px; border-top-right-radius: 8px; padding-bottom: 4px; height: 37px; }

.a-cal-month-header { font-weight: 700; font-size: 14px; line-height: 36px; }

.a-cal-month-header:focus-visible { outline: 0px; }

.a-cal-labels { background-color: var(--__dChNmAwPaMXsPxT,#f0f2f2); }

.a-cal-d, .a-cal-day-label, .a-cal-inactive, .a-cal-na { font-size: 13px; width: 14.2857%; text-align: center; position: relative; padding: 0px; }

.a-cal-day-label { height: 32px; line-height: 32px; font-size: 11px; font-weight: 400; }

.a-cal-d, .a-cal-inactive, .a-cal-na { height: 37px; line-height: 37px; }

.a-cal-date-anchor { display: block; width: 100%; height: 100%; }

.a-cal-d .a-cal-date-anchor:visited { color: var(--__dChFn1OGN7XAMXsw4B,#0f1111); }

.a-cal-d .a-cal-date-anchor:link { color: var(--__dChFn1OGN7XAMXsw4B,#0f1111); }

.a-cal-inbound .a-cal-date-anchor:hover { border-radius: 8px; box-shadow: rgb(10, 124, 209) 0px 0px 0px 1px inset; outline: 0px; }

.a-cal-inbound .a-cal-date-anchor:active { border-radius: 8px; box-shadow: rgb(28, 137, 227) 0px 0px 0px 1px inset; outline: 0px; }

.a-cal-inbound .a-cal-date-anchor:focus-visible { border-radius: 8px; outline: rgb(33, 98, 161) solid 3px; outline-offset: 2px; position: relative; z-index: 1; }

.a-cal-date-anchor:active, .a-cal-date-anchor:hover, .a-cal-date-anchor:link, .a-cal-date-anchor:visited { text-decoration: none; background: 0px 0px; }

.a-cal-outbound .a-cal-date-anchor:active, .a-cal-outbound .a-cal-date-anchor:hover, .a-cal-outbound .a-cal-date-anchor:link, .a-cal-outbound .a-cal-date-anchor:visited { color: rgb(164, 174, 174); cursor: not-allowed; }

.a-cal-inactive .a-cal-date-anchor:active, .a-cal-inactive .a-cal-date-anchor:hover, .a-cal-inactive .a-cal-date-anchor:link, .a-cal-inactive .a-cal-date-anchor:visited { color: rgb(85, 85, 85); cursor: not-allowed; }

.a-cal-d:hover { background-color: rgb(237, 248, 255); border-radius: 8px; box-shadow: rgb(10, 124, 209) 0px 0px 0px 1px inset; outline: 0px; }

.a-cal-d:active { background-color: rgb(237, 248, 255); border-radius: 8px; box-shadow: rgb(28, 137, 227) 0px 0px 0px 1px inset; outline: 0px; }

.a-cal-select, .a-cal-select:hover { background-color: var(--__dChFn118u7XAMXsPxT,#edf8ff); border-radius: 8px; box-shadow: rgb(10, 124, 209) 0px 0px 0px 3px inset; outline: 0px; }

.a-cal-select .a-cal-date-anchor, .a-cal-select .a-cal-date-anchor:link, .a-cal-select:hover .a-cal-date-anchor, .a-cal-select:hover .a-cal-date-anchor:link { color: var(--__dChFn118uMXsw4B,#2162a1); cursor: default; font-weight: 700; }

.a-cal-outbound, .a-cal-outbound:hover { background-color: transparent; box-shadow: transparent 0px 0px 0px 0px inset; }

.a-cal-inactive, .a-cal-inactive:hover { background-color: rgb(246, 246, 246); background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.06) 19%, transparent 19%, transparent 50%, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.06) 75%, transparent 75%, transparent); }

.a-cal-dropdown-container, .a-cal-input-container { display: inline; position: relative; }

.a-cal-date-range-wrapper .a-icon-calendar { cursor: pointer; }

.a-js .a-cal-dropdown-container { display: none; }

.a-cal-calendar-container .a-cal-icon:focus-visible, .a-cal-calendar-container .a-cal-input:focus-visible { outline: rgb(33, 98, 161) solid 3px; outline-offset: 2px; position: relative; box-shadow: unset; background-color: unset; z-index: 10; }

.a-cal-calendar-container .a-cal-icon:active, .a-cal-calendar-container .a-cal-input:active { border-color: rgb(28, 137, 227); }

.a-cal-calendar-container .a-input-text-addon:hover { background-color: rgb(237, 248, 255); border-color: rgb(10, 124, 209); }

.a-cal-calendar-container .a-input-text-addon:hover + .a-cal-input { border-left-color: rgb(10, 124, 209); }

.a-cal-calendar-container .a-input-text-addon:active { background-color: rgb(237, 248, 255); border-color: rgb(28, 137, 227); }

.a-cal-calendar-container .a-input-text-addon:active + .a-cal-input { border-left-color: rgb(28, 137, 227); }
