@charset "utf-8";

.kj { margin-left: 24px; }

.kk { margin-right: 24px; }

.kl { margin-top: 0px; }

.km { margin-bottom: 0px; }

.kv { padding-left: 24px; }

.kw { padding-right: 24px; }

.kx { padding-top: 24px; }

.ky { padding-bottom: 24px; }
