@charset "utf-8";

@font-face { font-family: UberMove; font-display: fallback; src: url("/_static/3e4d5c36867f9399.woff2") format("woff2"), url("/_static/5ddd680df6aad7fc.woff") format("woff"); font-weight: 400; }

@font-face { font-family: UberMove; font-display: fallback; src: url("/_static/d769983c82bacb3c.woff2") format("woff2"), url("/_static/38f6b871fae4dd6b.woff") format("woff"); font-weight: 500; }

@font-face { font-family: UberMove; font-display: fallback; src: url("/_static/14f73a3f74611002.woff2") format("woff2"), url("/_static/c8a98e579ceef11f.woff") format("woff"); font-weight: 700; }

@font-face { font-family: UberMoveText; font-display: fallback; src: url("/_static/276edd4275dda838.woff2") format("woff2"), url("/_static/e4a24370efb4a634.woff") format("woff"); font-weight: 400; }

@font-face { font-family: UberMoveText; font-display: fallback; src: url("/_static/eee1724e2e5a8ebd.woff2") format("woff2"), url("/_static/149842a4797e8b79.woff") format("woff"); font-weight: 500; }

@font-face { font-family: SpeedeeApp; font-display: fallback; src: url("/_static/3fc9522fef40031a.woff2") format("woff2"), url("/_static/bcd8eddfac55fb18.woff") format("woff"); font-weight: 400; }

@font-face { font-family: SpeedeeApp; font-display: fallback; src: url("/_static/fb04db76a08c12e7.woff2") format("woff2"), url("/_static/96e7c7e8823f59fd.woff") format("woff"); font-weight: 500; }

@font-face { font-family: Postmates; font-display: fallback; src: url("/_static/cf91dd9830a4bf06.woff2") format("woff2"), url("/_static/12594e16812e7705.woff") format("woff"); font-weight: 400; }

@font-face { font-family: Postmates; font-display: fallback; src: url("/_static/816252b1ce5a5050.woff2") format("woff2"), url("/_static/030554c2543492ba.woff") format("woff"); font-weight: 500; }

@font-face { font-family: Postmates; font-display: fallback; src: url("/_static/df4998612acf89b1.woff2") format("woff2"), url("/_static/ba0cad8e3943b581.woff") format("woff"); font-weight: 700; }

@font-face { font-family: GTAmerican; font-display: fallback; src: url("/_static/08199e60a0fbd4a5.woff") format("woff"); font-weight: 500; }

@font-face { font-family: GTAmerican; font-display: fallback; src: url("/_static/6089458f31fbf053.woff") format("woff"); font-weight: 400; }

@font-face { font-family: Montserrat; font-display: fallback; src: url("/_static/7c40dbc5b4748777.woff") format("woff"), url("/_static/c500ef2fed5329be.woff2") format("woff2"); font-weight: 400; }

@font-face { font-family: OrchidText; font-display: fallback; src: url("/_static/dd7702323823ff6c.woff2") format("woff2"), url("/_static/69181f18689263ee.woff") format("woff"); font-weight: 400; }

@font-face { font-family: OrchidTextSemibold; font-display: fallback; src: url("/_static/59f46082978f39a5.woff2") format("woff2"), url("/_static/4b405f115490483f.woff") format("woff"); font-weight: 600; }

@font-face { font-family: OrchidSubheadSemibold; font-display: fallback; src: url("/_static/ac589656674b7e89.woff2") format("woff2"), url("/_static/cb159f99c8b7b331.woff") format("woff"); font-weight: 700; }

@font-face { font-family: OrchidSubtitleBold; font-display: fallback; src: url("/_static/02dfc821804465e6.woff2") format("woff2"), url("/_static/beb2daa52c9aee9d.woff") format("woff"); font-weight: 700; }
