@charset "utf-8";

.cc_header_294920306 { width: 220px; height: 60px; padding: 0px 16px 0px 0px; font-size: 16px; font-weight: 400; }

.cc_headerLabel_294920306 { margin: 0px; }

.cc_highlighted_294920306:last-child { border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }

.cc_entry_294920306 { text-align: center; }

.cc_entryBold_294920306 { font-weight: 600; }

.cc_fallback_294920306 { display: flex; flex-direction: column; padding: 24px 94px; text-align: center; gap: 32px; }

.cc_negativeColorText_294920306 { color: var(--color-sentiment-negative); }
