@charset "utf-8";

#abs { font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important; }

#abs h1.title { display: block; font-weight: 700; margin-block: 12px; margin: 12px 0px 12px 20px; margin-inline: 20px 0px; font-size: 1.8em !important; }

#abs .descriptor { display: none; }

#abs div.authors { font-size: 1.2em; line-height: 24px; margin: 8px 0px 8px 20px; }

#abs div.dateline { font-size: 0.9em; font-style: italic; margin: 6.5px 0px 6.5px 20px; }

#abs blockquote.abstract { font-size: 1.05em; margin-block: 14.4px 21.6px; margin-bottom: 21.6px; margin-inline: 40px; background-color: white; border-left: 0px; padding: 0px; }

#abs div.metatable { margin: 0px 0px 19px 20px; border: 0px; padding: 0px; font-size: 0.95em !important; }

#abs div.metatable tbody { vertical-align: middle; }

#abs tr { margin-top: 0px; margin-bottom: 0px; }

#abs td.tablecell { padding: 0px 6.5px 0px 0px; vertical-align: top; margin-top: 0px; margin-bottom: 0px; border: 0px; font-size: 0.95em !important; }

#abs td.tablecell.label { font-weight: 400 !important; }

#abs span.primary-subject { font-weight: 700; }

#abs span.arxivid { font-weight: 700; }
