@charset "utf-8";

.ea6d30da3a { color: var(--bui_color_foreground_alt); }

.ea6d30da3a::after { content: ""; display: inline-block; width: 3px; height: 3px; margin-inline: calc(var(--bui_spacing_1x) + var(--bui_spacing_half)); vertical-align: middle; border-radius: 50%; background-color: var(--bui_color_foreground_disabled); }

.bac76a24a5 { margin-inline-start: var(--bui_spacing_3x); display: inline-flex; align-items: center; }

.a0a56631d6 { margin-inline-start: var(--bui_spacing_2x); }

.bfed762ceb { margin-inline-start: var(--bui_spacing_1x); }

.a0a56631d6 + .a0a56631d6 { margin-inline-start: var(--bui_spacing_1x); }

.e718b55537 { cursor: pointer; padding: var(--bui_spacing_2x) var(--bui_spacing_1x) !important; }

.e718b55537.eb54a4c97b, .e718b55537:hover { background-color: var(--bui_color_action_background_alt); }

.fe36668f48 { display: flex; align-items: center; margin-block-end: var(--bui_spacing_4x); }

.ee8157b34d { margin: 0px; margin-inline-start: var(--bui_spacing_2x); }

.d208d2153d { break-inside: avoid-column; margin-block-end: calc(var(--bui_spacing_1x) * 10); }

.a0cf1e6d94 li > div > span { display: block; }

.a735063bc6 li { padding: var(--bui_spacing_2x) 0; margin-block-end: 0px; }

.bf8627ccd4 { margin-block-start: calc(var(--bui_spacing_4x) * -1); }

.f7f813dfa6 li { padding: 0px; }

.f2a9f1f15a { columns: 3; column-gap: 40px; margin-block-start: var(--bui_spacing_6x); margin-block-end: var(--bui_spacing_6x); }
