@charset "utf-8";

.skip_nav_skipNav { position: fixed; inset-inline-start: 0px; inset-block-start: -100%; z-index: 333; margin-inline-start: var(--spacing_3x); margin-block-start: var(--spacing_3x); }

.skip_nav_skipNav:focus, .skip_nav_skipNav:focus-within { inset-block-start: 0px; }

.container_root { box-sizing: border-box; position: relative; margin: 0px auto; max-width: 1140px; width: 100%; }

.container_root--full-width { max-width: 100%; }

.container_root--without-padding { padding: 0px; }

.container_root--with-padding { padding: 0 var(--bui_spacing_4x); }

@media print {
  .layout_blockOnlyScreen { display: none; }
}

@media screen {
  .layout_blockOnlyPrint { display: none; }
}

.layout_bodyContainerBgBase { background-color: var(--bui_color_background_base); }

.layout_bodyContainerBgBaseAlt { background-color: var(--bui_color_background_base_alt); }

.react-shell-root-hide-area-if-empty div.cxc-shell-layout-stack > .cxc-shell-layout-stack-wrapper:empty { display: none; }

.react-shell-root-hide-area-if-empty div.cxc-grid-column:not(:has(.cxc-shell-layout-stack-wrapper > .cxc-shell-layout-stack > .cxc-shell-layout-stack-wrapper:not(:empty))), .react-shell-root-hide-area-if-empty div.cxc-shell-container-wrapper:not(:has(.cxc-shell-layout-stack-wrapper > .cxc-shell-layout-stack > .cxc-shell-layout-stack-wrapper:not(:empty))) { display: none; }
