@charset "utf-8";

.b6fe05f536 { padding: var(--bui_spacing_2x) 0; }

.c2f81abed0 { font-size: calc(var(--bui_spacing_3x) + var(--bui_spacing_half)); margin: 0 calc(-1 * var(--bui_spacing_2x)); }

.a7b7a0380a { margin-right: var(--bui_spacing_1x); }

.a7b7a0380a.ca60348186 { margin-top: var(--bui_spacing_half); }

[dir="rtl"] .a7b7a0380a { margin-right: 0px; margin-left: var(--bui_spacing_1x); }

.f2fab30d67 { padding: var(--bui_spacing_4x) 0; }

.d898aad5ec { background-color: var(--bui_color_background_base_alt); padding: var(--bui_spacing_4x); border-radius: var(--bui_spacing_2x); position: relative; }

.d898aad5ec::before { content: ""; position: absolute; top: calc(-1 * var(--bui_spacing_2x)); left: 47%; width: 0px; height: 0px; margin-left: var(--bui_spacing_1x); border-left: var(--bui_spacing_2x) solid #0000; border-right: var(--bui_spacing_2x) solid #0000; border-bottom: var(--bui_spacing_2x) solid var(--bui_color_background_base_alt); }

.b6991dcf1d.a6148ebaba { height: calc(5 * var(--bui_spacing_3x)); text-overflow: ellipsis; overflow: hidden; white-space: pre-wrap; position: relative; }

.b6991dcf1d.a6148ebaba::after { content: " "; background: linear-gradient(0deg,var(--bui_color_grayscale_lightest) 0,#fff0 50%); position: absolute; inset: 0px; }

.b6991dcf1d { height: auto; white-space: pre-wrap; }

.d0233f1721 { padding-right: var(--bui_spacing_1x); }

.e5b88a9cb9 { margin: var(--bui_spacing_1x) 0; }

.e5b88a9cb9 img { border-radius: var(--bui_spacing_1x); }

.ce217b3b39 { border-radius: var(--bui_spacing_2x); }

.b1221e414d, .eb1ae05f16 { padding-top: var(--bui_spacing_2x); }

.aabaa192f9 { margin: var(--bui_spacing_4x) 0 0 0; padding: var(--bui_spacing_4x) 0 0 0; border-top: calc(var(--bui_spacing_half) / 2) solid var(--bui_color_border_alt); }

.ace5c12311 { padding-right: var(--bui_spacing_1x); }

.f90e8c5bfc { border-top: calc(var(--bui_spacing_half) / 2) solid var(--bui_color_border_alt); }

.f90e8c5bfc:first-child { border-top: none; }

.acb49c81c7 { text-decoration: underline; }

.b305393916 { margin: var(--bui_spacing_1x) 0 0 0; }

.dbc19d7590 { margin: calc(-1 * var(--bui_spacing_6x)) 0 0 calc(var(--bui_spacing_4x) + var(--bui_spacing_1x)); }

.d8295603fa { color: var(--bui_color_action_foreground); margin: var(--bui_spacing_2x) 0 0 0; font-size: var(--bui_font_body_2_font-size); line-height: var(--bui_font_body_2_line-height); font-weight: var(--bui_font_body_2_font-weight); font-family: var(--bui_font_body_2_font-family); }

.feb7084a0f { padding-top: var(--bui_spacing_2x); }

.ad2edac651 { position: relative; padding: var(--bui_spacing_4x) 0; }

.ad2edac651 ul { box-sizing: border-box; height: 100%; }

.ccfe45de42 { display: grid; columns: 2; column-gap: var(--bui_spacing_6x); grid-template-rows: repeat(5, min-content); grid-auto-columns: calc(50% - var(--bui_spacing_3x)); grid-auto-flow: column; }

.ccfe45de42 li:nth-child(n) { margin: 0 var(--bui_spacing_4x); }

.ccfe45de42 li:nth-child(5) { border-block-end: 0px; padding-block-end: 0px; }

.ccfe45de42 li:nth-child(6) { padding-block-start: 0px; }

.ccfe45de42::before { box-sizing: border-box; content: ""; position: absolute; top: 0px; bottom: 0px; left: 0px; width: calc(50% - var(--bui_spacing_3x)); border: var(--bui_border_width_100) solid var(--bui_color_border_alt); border-radius: var(--bui_border_radius_200); z-index: -1; }

.ccfe45de42::after { box-sizing: border-box; content: ""; position: absolute; top: 0px; bottom: 0px; right: 0px; width: calc(50% - var(--bui_spacing_3x)); border: var(--bui_border_width_100) solid var(--bui_color_border_alt); border-radius: var(--bui_border_radius_200); z-index: -1; }

.a31aaa7465 { height: 100%; box-sizing: border-box; display: flex; align-items: center; flex-direction: column; justify-content: center; }

.c2a03e7d08 { margin: var(--bui_spacing_6x) 0 0 0; }

.ba013af738, .ba013af738 > div { width: 100%; }

.a992e1d41d { margin-block-end: var(--bui_spacing_8x); }
