@charset "utf-8";

.e5b0af413e { position: relative; fill: var(--bui_color_accent_border); }

.e5b0af413e::before { content: " "; position: absolute; transform: translateY(-50%); top: 50%; left: 0px; right: 0px; height: var(--bui_spacing_6x); }

.bae6335253 { font-weight: 700; }

.f2c354f969 { display: inline-flex; cursor: help; }

.d1903e422e { display: flex; align-items: center; }

.f3b61bfed4 { margin-left: var(--bui_spacing_1x); }

.e31b5d02bf:link { font-weight: 400; }

.d12fe2f504 { margin: var(--bui_spacing_4x) 0; }

.e87eee97b7 { margin: var(--bui_spacing_2x) 0; }
