@charset "utf-8";

.fa3fb60deb { display: flex; }

.a8d95bc37b { flex: 0 0 auto; }

span.a8d95bc37b svg { vertical-align: middle; transform: translateY(-15%); }

span.b506848d51 { height: 1em; }

.beb5ef4fb4 { padding-left: var(--bui_spacing_1x); }

.d7a50099f7 { padding-right: var(--bui_spacing_1x); }

.bf979029ac { display: inline-block !important; }

.d561cae98e { display: inline-block; }

.a70ed6ac4a { display: inline-block; }

.ee6184f499 { display: inline-block; margin-left: 0.25em; margin-right: 0.25em; }

.ed82f30523 { display: inline-block; padding-right: 0.25em; }

.fadf8679aa { font-weight: 700; }

.db3c9ce4a2 { display: inline-block; }

.b69588c414 { display: inline-block; margin-left: var(--bui_spacing_1x); margin-right: var(--bui_spacing_1x); }

.a8a6a8d9fb { display: inline-block; margin-right: var(--bui_spacing_1x); }

.e788c53c2d { font-weight: 700; }

.a9f5541715 svg { width: 48px; margin-top: 16px; }

.fa1105d512 p { white-space: pre-wrap; }

.ff410f42e9 { font-size: var(--bui_font_strong_1_font-size); line-height: var(--bui_font_strong_1_line-height); font-weight: var(--bui_font_strong_1_font-weight); font-family: var(--bui_font_strong_1_font-family); margin: 0 0 var(--bui_spacing_4x); }

.b4f1fd1348 { margin: 0 0 var(--bui_spacing_4x); }

.da7e3743cc p { margin: 1em 0px; }

.ea0f7e1f49 { border-radius: 3px; border: 1px solid var(--bui_color_border_alt); margin: var(--bui_spacing_4x) 0; max-width: 640px; }

.b8433f263e { font-size: var(--bui_font_emphasized_2_font-size); line-height: var(--bui_font_emphasized_2_line-height); font-weight: var(--bui_font_emphasized_2_font-weight); font-family: var(--bui_font_emphasized_2_font-family); display: flex; align-items: center; padding: var(--bui_spacing_2x); }

.be01ccc151 { border-top: 1px solid var(--bui_color_border_alt); padding: var(--bui_spacing_2x); display: flex; flex-direction: row; justify-content: flex-start; gap: var(--bui_spacing_6x); }

.be01ccc151 + .be01ccc151 { border-top: none; }

.b0617a6c83 { padding-left: var(--bui_spacing_1x); }

.ebd0f188fe { flex: 1 1 0%; }

.c8da67cbcd { flex: 1 1 0%; }

.ea0108352e { color: var(--bui_color_constructive_foreground); }

.d0e6a556c1 { color: var(--bui_color_constructive_foreground); }

.c9e0564a5b { color: var(--bui_color_foreground); }

.b47c0b6140 { text-align: end; }

.eecbafe453 { margin-block-end: var(--bui_spacing_3x); }

.a4494341c9 { display: inline-block; }

.c7bd918365 { border: none; }

.c7bd918365:focus, .c7bd918365:focus-visible { border: none; outline: none; }

.a5e17fa433 { margin-block-end: var(--bui_spacing_2x); }

.a5e17fa433 li > div { background-size: contain; background-position: 50% center; background-repeat: no-repeat; }

.c7378fc44e { display: grid; grid-template-columns: repeat(6, 1fr); gap: var(--bui_spacing_2x); }

@media (min-width: 576px) {
  .c7378fc44e { grid-template-columns: repeat(8, 1fr); }
}

@media (min-width: 1024px) {
  .c7378fc44e { grid-template-columns: repeat(9, 1fr); }
}

.fd58a68da6 { border-radius: var(--bui_border_radius_100); cursor: pointer; }

.d320320cd6 { border: 1px solid var(--bui_color_white); outline: 3px solid var(--bui_color_action_foreground_inverted); }

.fd58a68da6:hover { opacity: 0.5; }

.bbee035220 { padding: 0px; list-style: none; column-count: 2; }

.adb4f1b50c { break-inside: avoid; }

h2.d9af55178f { font-size: var(--bui_font_strong_2_font-size); margin-block-end: 0.67em; padding: 0px; }

.adac3d4ea0 { margin-inline-end: var(--bui_spacing_1x); vertical-align: middle; }

.cd83813898 { margin-block-start: 0px; margin-inline-start: 0px; margin-block-end: var(--bui_spacing_3x); padding-inline-end: var(--bui_spacing_6x); }

.a7358ed366 { padding-inline-start: var(--bui_spacing_4x); }

.cd8477e9d2 { margin: var(--bui_spacing_4x) 0; }

.adeb241d7e { margin-block-start: 0px !important; }

.ce558ac76b { text-align: end; color: var(--bui_color_action_foreground); }

.d0823649c0 { height: 36px; background: var(--bui_color_action_foreground); }

.e2382db4e7 { padding-block-end: var(--bui_spacing_4x); background: var(--bui_color_action_highlighted_alt); }

.c20c752387 { white-space: pre-line; }

.f81011e8df { padding-inline-start: var(--bui_spacing_4x); padding-block-end: var(--bui_spacing_4x); }

.ae18b997ec { padding-inline-start: var(--bui_spacing_4x); padding-inline-end: 15px; }

.abc4ad3812 { height: 4px; }

.e8c86cd4ef { width: var(--bui_spacing_6x); text-align: center; vertical-align: unset !important; }

.d4015f4c64 span.ungreen-condition-bold, .d4015f4c64 strong { font-weight: 700; }

.c61d9e234d { color: var(--bui_color_constructive_foreground); }

.dcd9c60479 { text-align: center; vertical-align: sub; }

.a0709ce03d { width: var(--bui_spacing_3x); height: calc(var(--bui_spacing_1x) * .5); }

.d5c64ce5ff { width: calc(var(--bui_spacing_3x) + var(--bui_spacing_half)); height: calc(var(--bui_spacing_1x) * .5 + var(--bui_spacing_half)); }

.bc9941f819 { width: var(--bui_spacing_4x); height: calc(var(--bui_spacing_1x) * 1); }

.a12f5397a2 { width: calc(var(--bui_spacing_1x) * 5); height: calc(var(--bui_spacing_1x) * 2); }

.b492307f71 { width: var(--bui_spacing_6x); height: calc(var(--bui_spacing_1x) * 3); }

.fb3bf81441 { width: calc(var(--bui_spacing_1x) * 7); height: calc(var(--bui_spacing_1x) * 4); }

.e345205e76 { width: calc(var(--bui_spacing_1x) * 9); height: calc(var(--bui_spacing_1x) * 5); }

.f0c4d91008 { margin: var(--bui_spacing_2x) 0 var(--bui_spacing_1x); }

.bf5339025f > li > span:first-child { display: flex; align-items: center; }

.bf5339025f { margin: 0px !important; padding: 0px !important; }

.d35aa3f805 { font-size: 10px; line-height: 16px; }

.f6e698e76c { width: var(--bui_spacing_6x); }

.fcc2d362db { margin-inline-end: var(--bui_spacing_1x); margin-block-end: var(--bui_spacing_1x); }

.fcc2d362db, .d9ddab5c68 { vertical-align: middle; }

.af5eff6378 { flex-wrap: nowrap; }

.ca65757759 { width: var(--bui_spacing_6x); text-align: center; }

.be784cc37a { color: var(--bui_color_constructive_foreground); }

.af8b468409 { margin-block-end: var(--bui_spacing_2x); }

.af32d4884c .ungreen-condition-bold { font-weight: 700; }

.bdd62e3f67 { background-color: rgba(var(--bui_color_background_inverted_rgb),.176); border-radius: var(--bui_border_radius_100); opacity: 1; padding: var(--bui_spacing_half); width: 350px; }

.f903926d64 { color: var(--bui_color_white); box-shadow: none; padding: var(--bui_spacing_4x); line-height: 1.7; border-radius: var(--bui_border_radius_100); border: none !important; background: rgba(var(--bui_color_background_inverted_rgb),.9) !important; }

.d864dffdc2 { line-height: 1.4; margin-block-end: var(--bui_spacing_2x) !important; }

.bc475a4513 { font-size: 1em; margin: calc(var(--bui_spacing_2x) * -1) 0 0; padding: 0px; }

.a884571641 { border: none; border-block-end: 1px solid var(--bui_color_white); opacity: 0.5; }

.c0fb536728 { background: var(--bui_color_accent_background); color: var(--bui_color_foreground); padding: var(--bui_spacing_1x) var(--bui_spacing_3x); border-radius: var(--bui_border_radius_100); line-height: 1.1; }

.b4b9c5a3ec { display: inline-block; width: 100%; text-align: center; }

.cf29f36942 { display: block; width: 100%; }

.aa1f37d924 { display: block; width: 100%; }

.be6f741a59 { background: none repeat scroll 0 0 var(--bui_color_callout_background_alt); border: 1px solid var(--bui_color_callout_border); border-radius: var(--bui_border_radius_200); box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset; color: var(--bui_color_foreground_alt); font-size: 1em; font-weight: 400; inset-inline-start: 0px; padding: var(--bui_spacing_2x); opacity: 1 !important; }

.df89308ddd { margin-block-start: var(--bui_spacing_3x); }

.b5b6c2e418, .caecba353e { position: relative; font-weight: 700 !important; text-decoration: underline !important; }

.caecba353e::before { display: inline-block; width: 0px; height: 0px; margin-inline-end: var(--bui_spacing_1x); border-block: 5px solid rgba(0, 0, 0, 0); border-inline-end: 0px solid rgba(0, 0, 0, 0); border-inline-start: 5px solid var(--bui_color_callout_background); content: ""; }

.c636212317 { display: inline-block; }

.f3e8df388a { text-align: center; white-space: nowrap; }

.fbaa916c86, .d638623652, .bfea8a8ff4, .e9e8f1a432, .f14886479d, .e6d13dc08d, .d15926250f { display: inline-block; vertical-align: bottom; line-height: 1; }

.d15926250f { margin-left: var(--bui_spacing_2x); }

.d638623652 { font-size: 14px; letter-spacing: -0.5px; }

.f14886479d { font-size: 12px; }

.bfea8a8ff4 { font-size: 16px; line-height: 24px; }

.e9e8f1a432 { font-size: 24px; line-height: 32px; }

.e63064b823 { font-size: 12px; }

.e4816f9213 { margin-left: var(--bui_spacing_2x); }

.aa7d246d7d { text-align: start !important; display: inline-block; }

.cafac92f4a { display: block; }

.fcc645b25d { text-align: right; }

.f2f358d1de { font-weight: 500; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; color: var(--bui_color_foreground); }

.d68334ea31 { color: var(--bui_color_destructive_foreground); text-decoration: line-through; margin: 0px 3px; }

.b2d4ad7a15 { font-size: 16px; font-weight: 500; line-height: 24px; color: var(--bui_color_destructive_foreground); text-decoration: line-through; }

.ac028fa603 { margin-left: 3px; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.ccd2dc984b { margin-left: 3px; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.bcc9679f3b { color: var(--bui_color_destructive_foreground); text-decoration: line-through; }

.d795ef4144 { max-width: 500px; }

.ab607752a2 { display: inline-block; }

.b326b7423a { display: block; }

.d58faa3d6a { text-align: left; }

.e5377cce84 { text-align: right; }

.a2efaf6c2e { display: block; }

.f6b355237f { white-space: nowrap; }

.e725a11992 { margin-right: 3px; }

.e6ab5b5b63 { margin-left: 3px; }

.bf44319e7e { margin-left: var(--bui_spacing_1x); }

.b6aa3f089f { position: relative; top: -2px; margin-left: 3px; vertical-align: middle; }

.d90842265b { margin-left: var(--bui_spacing_1x); vertical-align: text-top; }

.a373cdfaea { color: var(--bui_color_action_foreground); }

.e01153b159 { color: var(--bui_color_foreground_inverted); }

.b091ff8d21 { margin: var(--bui_spacing_4x) 0; }

.be2fd8df4c { margin-bottom: var(--bui_spacing_2x); }

.da745aa322 { margin: calc(var(--bui_spacing_2x) * -1) 0 var(--bui_spacing_2x); }

.ac8cb41332 { margin-left: var(--bui_spacing_1x); }

.ccb42190e8 { margin-left: var(--bui_spacing_1x); vertical-align: text-bottom; }

.b57789eae3 { padding-bottom: var(--bui_spacing_1x); }

.b3559b4a95 { display: block; }

.f7c2d1a1f4 { margin-right: var(--bui_spacing_1x); }

.ecabcfd871 { font-weight: 500; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.bc953715bf { display: block; margin-top: var(--bui_spacing_1x); }

.f8f74e6f1f { font-size: var(--bui_font_size_caption); line-height: var(--bui_line_height_caption); }

.e3e3b5c3ac { font-size: var(--bui_font_size_caption); line-height: var(--bui_line_height_caption); }

.d2b1650e54 { color: var(--bui_color_destructive_foreground); text-decoration: line-through; }

.cc5da3f00c { font-weight: var(--bui_font_weight_bold); }

.a5bef32ed0 { font-size: var(--bui_font_size_display_1); line-height: var(--bui_line_height_display_1); font-weight: var(--bui_font_weight_bold); }

.c477305bc4 { color: var(--bui_color_destructive_foreground); }

.f8864b11cd { color: var(--bui_color_foreground_secondary); }

.ab98e8129f { color: var(--bui_color_foreground); }

.ab98e8129f::before { border-color: var(--bui_color_foreground); }

.c1b7ac586a { margin-bottom: var(--bui_spacing_1x); }

.bc727ad49b { font-family: monospace; }

.e885e5cfb0 { display: inline-block; font-family: monospace; white-space: nowrap; background-color: var(--bui_color_background_base_alt); padding: 0 var(--bui_spacing_1x); }

.ea3b612c30 { display: block; margin: var(--bui_spacing_2x) 0; }

.abba7ff06d { display: block; color: var(--bui_color_foreground_alt); margin-bottom: var(--bui_spacing_2x); }

.b94133ae09 { display: block; margin: var(--bui_spacing_1x) 0; }

.b83c1d5139 { margin: var(--bui_spacing_1x) 0; }

.c655723675 { display: block; margin-bottom: var(--bui_spacing_2x); }

.d5b110bebb { display: block; margin-bottom: var(--bui_spacing_2x); }

.ae0a86458f { display: block; margin-bottom: var(--bui_spacing_1x); }

.e411b53abb { color: var(--bui_color_constructive_foreground); }

.ebbf55796a { display: block; margin-bottom: var(--bui_spacing_2x); }

.d4fdd290bb { display: block; margin-bottom: var(--bui_spacing_2x); }

.a93c15a0d1 { display: block; margin-bottom: var(--bui_spacing_4x); }

.e6099c77e3 { margin-top: var(--bui_spacing_6x); }

.e5654f6b09 { color: var(--bui_color_constructive_background); }

.f660154674 { margin: 0px !important; }

.f555a85ef6 { margin-top: var(--bui_spacing_1x); }

.cc2cd4c9c2 { color: var(--bui_color_constructive_background); }

.f4e2bdcdc7 { height: 22px; }

.b78944cbee { display: inline-block; vertical-align: top; margin-right: var(--bui_spacing_1x); margin-bottom: var(--bui_spacing_1x); }

.c72f8030f5 { display: block; margin-right: var(--bui_spacing_1x); margin-bottom: var(--bui_spacing_1x); }

.b48c644490 { margin-bottom: var(--bui_spacing_2x); }

.a253602212 { display: block; margin-bottom: var(--bui_spacing_2x); }

.d7a604afc6 { display: block; margin-bottom: var(--bui_spacing_2x); }

.de30d814af { display: block; margin-bottom: var(--bui_spacing_3x); }

.f92cee9af6 { background: var(--bui_color_action_background_alt); border-block-start: 1px solid var(--bui_color_border_alt); margin: calc(var(--bui_spacing_6x) * -1); margin-block-start: var(--bui_spacing_3x); padding: var(--bui_spacing_6x) var(--bui_spacing_4x); border-end-start-radius: var(--bui_radius_100); border-end-end-radius: var(--bui_radius_100); }

.ed8f862453 { height: 100%; text-align: end; }

.b7f1f9eb58 { margin: var(--bui_spacing_3x) 0; }

.b7478e0e7f { margin: var(--bui_spacing_2x) 0; }

.f94ab309c4 { margin: var(--bui_spacing_1x) 0; }

.a1795fab08 { color: var(--bui_color_foreground); }

.ad23d712a5 { display: flex; flex-wrap: wrap; margin-block-end: var(--bui_spacing_4x); }

.ad23d712a5 > * { display: inline-block; margin-inline-end: var(--bui_spacing_2x); margin-block-start: var(--bui_spacing_2x); }

.ad23d712a5.d6f1959011 > * { margin-inline-end: var(--bui_spacing_1x); margin-block-start: var(--bui_spacing_1x); }
