@charset "utf-8";

.b0400e5749 { display: flex; flex-direction: column; padding: var(--bui_spacing_4x) 0; }

.c92998be48 { text-wrap: wrap; }

@media (min-width: 1024px) {
  .b0400e5749 { flex-direction: row; padding: var(--bui_spacing_4x); }
  .a776c0ae8b { width: 250px; margin-right: var(--bui_spacing_6x); text-wrap: wrap; }
  .c92998be48 { max-width: 500px; }
}

.dace71f323 { display: flex; align-items: flex-start; margin-bottom: var(--bui_spacing_2x); }

.dace71f323 svg { margin-right: var(--bui_spacing_2x); margin-top: var(--bui_spacing_half); }

.d620253c23 { color: var(--bui_color_foreground_alt); }

.a1cbc1feaf { margin-inline-end: var(--bui_spacing_2x); }

.ff410f42e9 { font-size: var(--bui_font_strong_1_font-size); line-height: var(--bui_font_strong_1_line-height); font-weight: var(--bui_font_strong_1_font-weight); font-family: var(--bui_font_strong_1_font-family); margin: 0 0 var(--bui_spacing_4x); }

.b4f1fd1348 { margin: 0 0 var(--bui_spacing_4x); }

.da7e3743cc p { margin: 1em 0px; }

.ea0f7e1f49 { border-radius: 3px; border: 1px solid var(--bui_color_border_alt); margin: var(--bui_spacing_4x) 0; max-width: 640px; }

.b8433f263e { font-size: var(--bui_font_emphasized_2_font-size); line-height: var(--bui_font_emphasized_2_line-height); font-weight: var(--bui_font_emphasized_2_font-weight); font-family: var(--bui_font_emphasized_2_font-family); display: flex; align-items: center; padding: var(--bui_spacing_2x); }

.be01ccc151 { border-top: 1px solid var(--bui_color_border_alt); padding: var(--bui_spacing_2x); display: flex; flex-direction: row; justify-content: flex-start; gap: var(--bui_spacing_6x); }

.be01ccc151 + .be01ccc151 { border-top: none; }

.b0617a6c83 { padding-left: var(--bui_spacing_1x); }

.ebd0f188fe { flex: 1 1 0%; }

.c8da67cbcd { flex: 1 1 0%; }

.ea0108352e { color: var(--bui_color_constructive_foreground); }

.c2a3382bac { display: flex; align-items: center; flex-wrap: wrap; }

.f80f1a8df2 { background: url("//cf.bstatic.com/static/img/experiments/cc_icons/3ca3d63314388731bf49702f712f09ef29725e9d.png") no-repeat; height: 28px; margin-block-start: var(--bui_spacing_1x); margin-block-end: var(--bui_spacing_1x); margin-inline-start: 0px; margin-inline-end: var(--bui_spacing_4x); }

.a42a9067aa { margin: var(--bui_spacing_1x) 0; }

.ecb5443a8a { width: 46px; background: url("https://q.bstatic.com/static/img/payments/payment_icons_redesign/mir.svg") 50% center / contain no-repeat; }

.ec25205fc2 { width: 46px; background-position: -309px 0px; }

.eba5658374 { width: 46px; background-position: -5px 0px; }

.c80ee6da03, .d71b323cdc { width: 46px; background-position: -55px 0px; }

.dc205c7195 { width: 46px; background-position: -207px 0px; }

.ac681d4a18 { width: 46px; background-position: -156px 0px; }

.ca2d2623f4 { width: 46px; background-position: -105px 0px; }

.f810ec34f9 { width: 46px; background-position: -359px 0px; }

.ccb47a4b8f { width: 46px; background-position: -665px 0px; }

.b742b17292 { width: 46px; background-position: -258px 0px; }

.abd6e583d8 { width: 46px; background-position: -563px 0px; }

.cf708c69d4 { width: 46px; background-position: -512px 0px; }

.f37ba91eaf { width: 46px; background-position: -614px 0px; }

.fd7e6d9b0f { display: none; }

.b1d65da58a { width: 46px; background-position: -410px 0px; }

.c200a47d13 { width: 46px; background-position: -461px 0px; }

.ec62dfb609 { width: 46px; background-position: -716px 0px; }

.b500fc6991 { width: 46px; background-position: -765px 0px; }

.c026b53de9 { width: 46px; background-position: -816px 0px; }

.f88c55a07c { width: 46px; background-position: -867px 0px; }

.f700ea2029 { width: 46px; background-position: -918px 0px; }

.d8c833efb6 { width: 46px; background-position: -969px 0px; }

.e8b5667c80 { width: 46px; background-position: -1020px 0px; }

.d1a0f7fea1 { width: 46px; background-position: -1071px 0px; }

.d2b4e77f75 { width: 46px; background-position: -1122px 0px; }

.c0253e2193 { width: 46px; background-position: -1275px 0px; }

.a8e37e4fa3 { width: 46px; background-position: -1326px 0px; }

.f977479496 { width: 46px; background-position: -1224px 0px; }

.c431648221 { width: 30px; background-position: -1426px 0px; }

.a2d40c45e3 { width: 112px; background-position: -1460px 0px; }

.cfc6847801 { width: 32px; background-position: -1572px 0px; }

.cc292939d4 { width: 90px; background-position: -1700px 0px; }

.d6a70060df { width: 78px; background-position: -1796px 0px; }

.e0899ed2ff { width: 58px; background-position: -1882px 0px; }

.c78cb7572e { width: 108px; background-position: -2250px 0px; }

.cfb35009d1 { width: 94px; background-position: -2476px 0px; }

.f910efcd59 { width: 50px; background-position: -2580px 0px; }

.b94bb1c4a2 { width: 108px; background-position: -2640px 0px; }

.a8134b97c7 { width: 30px; background-position: -2756px 0px; }

.b1dce0406b { width: 88px; background-position: -2794px 0px; }

.a143954cdb { width: 56px; background-position: -2970px 0px; }

.d1020b8df1 { width: 42px; background-position: -3034px 0px; }

.e4faacfc58 { width: 98px; background-position: -3086px 0px; }

.c45ed840aa { width: 60px; background-position: -3194px 0px; }

.b8fc409b0a { width: 32px; background-position: -3262px 0px; }

.fcfb3c80fa { width: 48px; background-position: -3302px 0px; }

.d7e085682b { width: 126px; background-position: -3360px 0px; }

.c913cec39a { width: 170px; background-position: -3494px 0px; }

.fc09def974 { width: 54px; background-position: -3672px 0px; }

.d8e6bd607a { width: 60px; background-position: -3734px 0px; }

.c3ac76a7f2 { width: 106px; background-position: -3802px 0px; }

.ecbc9de6ac { background-position: -1377px 0px; margin-block-end: var(--bui_spacing_half); min-width: 17px; padding-block-start: var(--bui_spacing_2x); padding-block-end: 0px; padding-inline-start: calc(var(--bui_spacing_1x) * 10); padding-inline-end: var(--bui_spacing_1x); }

.fff2c2b873 { margin-inline-end: var(--bui_spacing_4x); }

.b8925c3404 { white-space: nowrap; }

.b8925c3404 h2 { font-size: initial; margin: initial; color: initial; }

.b8925c3404 hr:last-child { display: none; }
