@charset "utf-8";

.b6937ecb12 { white-space: break-spaces; }

.b6937ecb12 > button, .b6937ecb12 > span { display: inline; vertical-align: middle; }

.cb4b7a25d9 { display: inline; }

.b06461926f { cursor: help; }

.b70006e9dc { margin: 0 var(--bui_spacing_1x); }

.b8369a1ac9 { font-size: 12px; }

.b99a6d4f7a small { margin: 0 0 0 var(--bui_spacing_1x); }

.a4b276b5a9 { cursor: pointer; margin-inline-end: calc(.5 * var(--bui_spacing_1x)); }

.c1af58684d { cursor: pointer; font-weight: 700; vertical-align: middle; }

.dcf8588897 { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px; }

.e0c5552861 { vertical-align: middle; }

.a21cb847ab { line-height: 1; }

.d2aba33bbe { margin-block-start: calc(.5 * var(--bui_spacing_1x)); display: flex; align-items: center; }

.b610ca4282 { width: 280px; height: 18px; }

.c9f9ad76d4 { margin-inline-start: 0px; margin-inline-end: var(--bui_spacing_4x); margin-block-start: var(--bui_spacing_1x); margin-block-end: var(--bui_spacing_2x); }
