@charset "utf-8";

.cc6bc8b439 { display: inline; }

.f793b49ad5 { display: flex; justify-content: center; align-items: center; flex-direction: column; }

.d8ee407101 { background-position: 50% center; background-size: cover; width: 100%; height: 100%; }

.e4f7b6d9e2 { margin: auto; padding-inline: var(--bui_spacing_16x); display: flex; align-items: center; gap: var(--bui_spacing_2x); max-width: 100%; overflow: hidden; box-sizing: border-box; }

.e4f7b6d9e2 button:focus { box-shadow: none !important; }

.bf9d53a8cf { opacity: 0.4; }

.e4f7b6d9e2 button:hover .bf9d53a8cf { opacity: 0.8; border: 1px solid var(--bui_color_action_border); }

.e4f7b6d9e2 button:focus .bf9d53a8cf { opacity: 0.8; border: 3px solid var(--bui_color_action_border); }

.cc55de5361 { border: 2px solid var(--bui_color_action_border); opacity: 1 !important; }

.edc17206cd img { will-change: transform; transition: transform 0.3s; }

.edc17206cd img:hover { transform: scale(1.05); }

.d3ca1db33d { display: flex; justify-content: center; gap: var(--bui_spacing_4x); }

.ca8d275629 { height: 100%; align-items: center; }

.faa0bd682a { align-self: center; scale: 1.2; }

.faffb874b7 { flex-grow: 1; display: flex; justify-content: center; align-items: center; }

.ad735daff8 { display: flex; justify-content: space-between; max-height: 100%; height: 100vh; }

.ad735daff8, .ad735daff8 * { box-sizing: border-box; }

.ebb6158a6b { width: 100%; max-width: 1600px; height: 100%; padding: var(--bui_spacing_4x); display: grid; gap: var(--bui_spacing_2x); grid-template-rows: 1fr auto auto; margin: auto; margin-inline: auto; }

.f278d77fc6 { min-height: 0px; width: 100%; }

.a0a9198fda { display: inline-flex; width: 100%; height: 100%; flex-direction: column; justify-content: center; align-items: center; max-height: 100%; gap: var(--bui_spacing_2x); }

.b4810c5bd3 { min-height: 0px; display: inline-flex; flex-direction: column; align-items: center; }

.e378dce30b { min-height: 100px; min-width: 100px; }

.f5e1b69f68 { display: block; margin: auto; min-height: 100px; max-height: 100%; max-width: 100%; height: 100%; width: 100%; border-radius: var(--bui_border_radius_200); }

.d6b451c6b7 { height: 100%; }
