@charset "utf-8";

.EDId0c { position: relative; }

.nhh4Ic { position: absolute; left: 0px; right: 0px; top: 0px; z-index: 1; pointer-events: none; }

.nhh4Ic[data-state="snapping"], .nhh4Ic[data-state="cancelled"] { transition: transform 0.2s; }

.MGUFnf { display: block; width: 28px; height: 28px; padding: 15px; margin: 0px auto; transform: scale(0.7); background-color: rgb(250, 250, 250); border: 1px solid rgb(224, 224, 224); border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px; transition: opacity 0.4s; }

.nhh4Ic[data-state="resting"] .MGUFnf, .nhh4Ic[data-state="cooldown"] .MGUFnf { transform: scale(0); transition: transform 0.15s; }

.nhh4Ic .LLCa0e { stroke-width: 3.6px; }

.nhh4Ic .LLCa0e { transform: translateZ(1px); }

.nhh4Ic[data-past-threshold="false"] .LLCa0e { opacity: 0.3; }

.rOhAxb { fill: rgb(66, 133, 244); stroke: rgb(66, 133, 244); }

.A6UUqe { display: none; stroke-width: 3px; }

.A6UUqe, .tbcVO { width: 28px; height: 28px; }

.bQ7oke { position: absolute; width: 0px; height: 0px; overflow: hidden; }

.A6UUqe.qs41qe { animation-name: quantumWizSpinnerRotate; animation-duration: 1568.63ms; animation-iteration-count: infinite; animation-timing-function: linear; }

.A6UUqe.qs41qe, .A6UUqe.SdoWjb { display: inline-block; }

.A6UUqe.qs41qe .ceIWpc { stroke: none; fill: none; }

.A6UUqe.sf4e6b .qjUCkf { stroke-width: 0; }

.qjUCkf { transition: stroke-width 0.4s; transform-origin: 14px 14px; stroke-dasharray: 58.9, 58.9; stroke-dashoffset: 58.9; fill: none; transform: rotate(0deg); }

.A6UUqe.SdoWjb .qjUCkf { }

.A6UUqe.iPwZeb .qjUCkf { animation-delay: -466ms, -466ms, -466ms; }

.A6UUqe.qs41qe .qjUCkf { animation-name: quantumWizSpinnerFillUnfill, quantumWizSpinnerRot, quantumWizSpinnerColors; animation-duration: 1333ms, 5332ms, 5332ms; animation-iteration-count: infinite, infinite, infinite; animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1), steps(4), linear; animation-fill-mode: forwards; }

@keyframes quantumWizSpinnerRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}

@keyframes quantumWizSpinnerFillUnfill {
  0% { stroke-dashoffset: 58.8; }
  50% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -58.4; }
}

@keyframes quantumWizSpinnerRot {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-1turn); }
}

@keyframes quantumWizSpinnerColors {
  0% { stroke: rgb(66, 133, 244); }
  18% { stroke: rgb(66, 133, 244); }
  25% { stroke: rgb(219, 68, 55); }
  43% { stroke: rgb(219, 68, 55); }
  50% { stroke: rgb(244, 180, 0); }
  68% { stroke: rgb(244, 180, 0); }
  75% { stroke: rgb(15, 157, 88); }
  93% { stroke: rgb(15, 157, 88); }
  100% { stroke: rgb(66, 133, 244); }
}

.eXUIm { background-color: var(--tdee01b39543f1cac); box-sizing: border-box; outline: none; position: relative; }

.eXUIm .kvqsDd::before { background-color: var(--tdee01b39543f1cac); }

.eXUIm .LuaYlf { background-color: var(--tdee01b39543f1cac); }

.eXUIm .mdmY6e { z-index: 1001; }

.eXUIm::after { border: 1px solid transparent; inset: 0px; content: ""; position: absolute; pointer-events: none; z-index: 1000; }

.eXUIm.BIIBbc { visibility: hidden; }

.eXUIm, .xkSIab { display: flex; flex-direction: column; }

.LuaYlf { inset: 0px; overflow: hidden; position: absolute; pointer-events: none; z-index: -1; }

.xkSIab { flex: 1 1 auto; overflow-y: auto; overscroll-behavior-y: contain; }

.cedvUc { border-width: 0px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px; max-height: calc(100% - 32px); max-width: calc(-32px + 100vw); min-width: 280px; z-index: 0; }

.cedvUc .VfPpkd-BFbNVe-bF1uUb { opacity: 0; }

.cedvUc .lQ5tic { border-width: 0px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px; }

.cedvUc .lQ5tic .VfPpkd-BFbNVe-bF1uUb { opacity: 0; }

.cedvUc .kvqsDd .VfPpkd-BFbNVe-bF1uUb { width: 100%; height: 100%; top: 0px; left: 0px; }

.cedvUc, .cedvUc::after, .cedvUc .LuaYlf, .cedvUc .xkSIab { border-radius: 8px; }

@media (max-width: 312px) {
  .cedvUc { min-width: auto; }
}

.QLZdg, .d9jMg { align-items: center; box-sizing: border-box; display: flex; height: 100%; justify-content: center; left: 0px; position: fixed; top: 0px; width: 100%; }

.QLZdg { z-index: 2001; }

.QLZdg.BIIBbc { display: none; }

.d9jMg { background-color: var(--tcb1d01e8c33ba4e7); z-index: -1; }

:where(body[data-theme="dark"]) .cedvUc { border-width: 0px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px, rgba(0, 0, 0, 0.15) 0px 4px 8px 3px; }

:where(body[data-theme="dark"]) .cedvUc .VfPpkd-BFbNVe-bF1uUb { opacity: 0.11; }

:where(body[data-theme="dark"]) .cedvUc .VfPpkd-BFbNVe-bF1uUb { width: 100%; height: 100%; top: 0px; left: 0px; }

:where(body[data-theme="dark"]) .cedvUc .VfPpkd-BFbNVe-bF1uUb { opacity: 0.08; }

@media (prefers-color-scheme: dark) {
  :where(body:not(.S7wXqe):not([data-theme="dark"]):not([data-theme="light"])) .cedvUc { border-width: 0px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px, rgba(0, 0, 0, 0.15) 0px 4px 8px 3px; }
  :where(body:not(.S7wXqe):not([data-theme="dark"]):not([data-theme="light"])) .cedvUc .VfPpkd-BFbNVe-bF1uUb { opacity: 0.11; }
  :where(body:not(.S7wXqe):not([data-theme="dark"]):not([data-theme="light"])) .cedvUc .VfPpkd-BFbNVe-bF1uUb { width: 100%; height: 100%; top: 0px; left: 0px; }
  :where(body:not(.S7wXqe):not([data-theme="dark"]):not([data-theme="light"])) .cedvUc .VfPpkd-BFbNVe-bF1uUb { opacity: 0.08; }
}

.MV9thd { display: flex; flex: 1 1 auto; overflow: hidden; position: relative; }

.KmcGid, .aVDbdd { border-width: 0px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; height: 2px; left: 0px; opacity: 0; pointer-events: none; position: absolute; right: 0px; transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1); }

.KmcGid .VfPpkd-BFbNVe-bF1uUb, .aVDbdd .VfPpkd-BFbNVe-bF1uUb { opacity: 0; }

:where(body[data-theme="dark"]) .KmcGid, :where(body[data-theme="dark"]) .aVDbdd { border-width: 0px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 2px 6px 2px; }

:where(body[data-theme="dark"]) .KmcGid .VfPpkd-BFbNVe-bF1uUb, :where(body[data-theme="dark"]) .aVDbdd .VfPpkd-BFbNVe-bF1uUb { opacity: 0; }

@media (prefers-color-scheme: dark) {
  :where(body:not(.S7wXqe):not([data-theme="dark"]):not([data-theme="light"])) .KmcGid, :where(body:not(.S7wXqe):not([data-theme="dark"]):not([data-theme="light"])) .aVDbdd { border-width: 0px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 2px 6px 2px; }
  :where(body:not(.S7wXqe):not([data-theme="dark"]):not([data-theme="light"])) .KmcGid .VfPpkd-BFbNVe-bF1uUb, :where(body:not(.S7wXqe):not([data-theme="dark"]):not([data-theme="light"])) .aVDbdd .VfPpkd-BFbNVe-bF1uUb { opacity: 0; }
}

.KmcGid { top: -2px; }

.aVDbdd { bottom: -2px; }

.KmcGid.eO2Zfd, .aVDbdd.eO2Zfd { opacity: 1; }

.ztrQMe { flex: 1 1 auto; overflow: hidden auto; overscroll-behavior-y: contain; position: relative; }

.ztrQMe .ztrQMe { overscroll-behavior-y: auto; }

.ztrQMe.VNIfoc { overflow-y: hidden; }

.I1vvIb + .I1vvIb { margin-left: 8px; }

.z0YF1 { align-items: center; display: flex; min-height: 68px; padding: 0px 16px; }

.Bz9vRc { display: flex; flex: 0 0 auto; }

.BITXIb { flex: 1 1 auto; }

.WgNj4c { display: flex; justify-content: flex-end; flex-wrap: wrap; }

.xafY9c, .EwQcvf { display: flex; flex: 1 1 auto; flex-direction: column; overflow: hidden; }

.BiUN4d, .QxxG0e { padding: 0px 24px; margin: 0px; }

.BiUN4d, .EwQcvf { padding-top: 24px; }

.BiUN4d + .EwQcvf { padding-top: 16px; }

.QxxG0e { overflow-y: auto; }

.BiUN4d, .KOKjmc { flex: 0 0 auto; }

.KOKjmc { min-height: 24px; }

.RaWEBf { display: flex; flex-direction: column; height: calc(-200px + 100vh); max-height: 400px; width: 100%; }

.gYPJlf { display: flex; flex-flow: column wrap; }

.ZxnBY { align-items: center; display: flex; flex-wrap: nowrap; width: 200px; }

.A4EGWc { max-width: 150px; }

.FTtt8c { display: flex; flex-direction: column; max-width: 150px; }

.zHmtwd { color: var(--tefdc5886c2f04483); max-width: 160px; }

.OVbLEf { color: var(--t7d1a3050c2c1c0a5); font-size: 12px; }

.PMamCd { margin: 0.7em 0px 0.5em; }

.Nngn1d { align-items: center; background: var(--tcb1d01e8c33ba4e7); display: flex; inset: 0px; justify-content: center; position: fixed; z-index: 2001; }

.UQ5E0 { box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px; }

sentinel { }
