@charset "utf-8";

.flourish-popup { pointer-events: none; }

.flourish-popup .flourish-popup-content { pointer-events: auto; }

.flourish-popup h1 { margin: 0px; font-size: inherit; }

.flourish-popup h2 { font-weight: normal; font-size: inherit; margin: 0px; }

.flourish-popup h2 .name { font-weight: bold; }

.flourish-popup ul { padding: 0px; margin: 0px; }

.flourish-popup li { font-size: inherit; list-style: none; }
