@charset "utf-8";

.gb_Q { border-radius: 50%; bottom: 2px; height: 18px; position: absolute; right: 0px; width: 18px; }

.gb_Ka { border-radius: 50%; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; margin: 2px; }

.gb_La { fill: rgb(249, 171, 0); }

.gb_H .gb_La { fill: rgb(253, 214, 99); }

.gb_Ma > .gb_La { fill: rgb(217, 48, 37); }

.gb_H .gb_Ma > .gb_La { fill: rgb(242, 139, 130); }

.gb_Ma > .gb_Na { fill: white; }

.gb_Na, .gb_H .gb_Ma > .gb_Na { fill: rgb(32, 33, 36); }

.gb_Oa { clip-path: path("M 16 0 C 24.8366 0 32 7.16344 32 16 C 32 16.4964 31.9774 16.9875 31.9332 17.4723 C 30.5166 16.5411 28.8215 16 27 16 C 22.0294 16 18 20.0294 18 25 C 18 27.4671 18.9927 29.7024 20.6004 31.3282 C 19.1443 31.7653 17.5996 32 16 32 C 7.16344 32 0 24.8366 0 16 C 0 7.16344 7.16344 0 16 0 Z"); }

.gb_B .gb_Q { display: block; }

.gb_Ac { background: rgba(60, 64, 67, 0.9); border-radius: 4px; color: rgb(255, 255, 255); font: 500 12px / 16px Roboto, arial, sans-serif; letter-spacing: 0.8px; margin-top: 4px; min-height: 14px; padding: 4px 8px; position: absolute; outline: transparent solid 1px; user-select: text; z-index: 1000; -webkit-font-smoothing: antialiased; }

.gb_Bc, .gb_Cc { text-align: left; }

.gb_Bc > * { color: rgb(189, 193, 198); line-height: 16px; }

.gb_Bc div:first-child { color: white; }

.gb_Ea { background: none; border: 1px solid transparent; border-radius: 50%; box-sizing: border-box; cursor: pointer; height: 40px; margin: 8px; outline: none; padding: 1px; position: absolute; right: 0px; top: 0px; width: 40px; }

.gb_Ea:hover { background-color: rgba(68, 71, 70, 0.08); }

.gb_Ea:focus, .gb_Ea:active { background-color: rgba(68, 71, 70, 0.12); }

.gb_Ea:focus-visible { border-color: rgb(11, 87, 208); outline: transparent solid 1px; outline-offset: -1px; }

.gb_H .gb_Ea:hover, .gb_H .gb_Ea:focus, .gb_H .gb_Ea:active { background-color: rgba(227, 227, 227, 0.08); }

.gb_H .gb_Ea:focus-visible { border-color: rgb(168, 199, 250); }

.gb_Fa .gb_Ha { border: 1px solid transparent; border-radius: 4px; color: rgb(11, 87, 208); }

.gb_Ha:hover { color: rgb(8, 66, 160); }

.gb_Ha:focus, .gb_Ha:active { color: rgb(6, 46, 111); }

.gb_Ha:focus-visible { border-color: rgb(11, 87, 208); text-decoration: none; }

.gb_H .gb_Ha { color: rgb(168, 199, 250); }

.gb_H .gb_Ha:hover { color: rgb(211, 227, 253); }

.gb_H .gb_Ha:focus, .gb_H .gb_Ha:active { color: rgb(236, 243, 254); }

.gb_H .gb_Ha:focus-visible { border-color: rgb(168, 199, 250); color: rgb(168, 199, 250); outline: none; }

.gb_Ia { box-shadow: rgba(60, 64, 67, 0.3) 0px -1px 2px 0px, rgba(60, 64, 67, 0.15) 0px -2px 6px 2px; height: calc(100% - 16px); left: 0px; margin: 8px; position: absolute; top: 0px; width: calc(100% - 16px); }

.gb_Ja.gb_Ia { border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 2px, rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; height: 290px; }

@media only screen and (max-width: 452px) {
  .gb_Ja.gb_Ia { border-radius: 0px; height: 100%; margin: 0px; max-width: unset; padding: 0px; width: 100%; }
}

.gb_Xc .gb_Sc { overflow: hidden; }

.gb_Xc .gb_Sc:hover { overflow-y: auto; }

.gb_Xc .gb_Sc::-webkit-scrollbar { width: 16px; height: 16px; }

.gb_Xc .gb_Sc::-webkit-scrollbar-button { height: 0px; width: 0px; }

.gb_Xc .gb_Sc::-webkit-scrollbar-button:start:decrement, .gb_Xc .gb_Sc::-webkit-scrollbar-button:end:increment { display: block; }

.gb_Xc .gb_Sc::-webkit-scrollbar-button:vertical:start:increment, .gb_Xc .gb_Sc::-webkit-scrollbar-button:vertical:end:decrement { display: none; }

.gb_Xc .gb_Sc::-webkit-scrollbar-corner { background-color: transparent; }

.gb_Xc .gb_Sc::-webkit-scrollbar-track { border: 0px solid transparent; background-clip: padding-box; background-color: transparent; }

.gb_Xc .gb_Sc::-webkit-scrollbar-track:hover { box-shadow: none; background-color: transparent; }

.gb_Xc .gb_Sc::-webkit-scrollbar-track:horizontal:hover { box-shadow: none; }

.gb_Xc .gb_Sc::-webkit-scrollbar-track:vertical { border-left: 5px solid transparent; }

.gb_Xc .gb_Sc::-webkit-scrollbar-track:horizontal { border-top: 5px solid transparent; }

.gb_Xc .gb_Sc::-webkit-scrollbar-thumb { background-clip: padding-box; background-color: transparent; border: 0px solid transparent; box-shadow: none; min-height: 28px; }

.gb_Xc .gb_Sc:hover::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px inset, rgba(0, 0, 0, 0.067) 0px -1px 0px inset; }

.gb_Xc .gb_Sc::-webkit-scrollbar-thumb:hover { background-color: rgba(0, 0, 0, 0.4); box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px inset, rgba(0, 0, 0, 0.133) 0px -1px 0px inset; }

.gb_Xc .gb_Sc::-webkit-scrollbar-thumb:active { background-color: rgba(0, 0, 0, 0.5); box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px inset, rgba(0, 0, 0, 0.165) 0px -1px 0px inset; }

.gb_Xc .gb_Sc::-webkit-scrollbar-thumb:vertical { border-width: 0px 0px 0px 5px; padding-top: 100px; }

.gb_Xc .gb_Sc::-webkit-scrollbar-thumb:horizontal { border-width: 5px 0px 0px; padding-left: 100px; }

sentinel { }
