@charset "utf-8";

.ita-icon-0 { background-position: -14px -17px; }

.ita-icon-1 { background-position: -64px -17px; }

.ita-icon-2 { background-position: -114px -17px; }

.ita-icon-3 { background-position: -164px -17px; }

.ita-icon-4 { background-position: -214px -17px; }

.ita-icon-5 { background-position: -264px -17px; }

.ita-icon-6 { background-position: -314px -17px; }

.ita-icon-7 { background-position: -364px -17px; }

.ita-icon-8 { background-position: -414px -17px; }

.ita-icon-9 { background-position: -464px -17px; }

.ita-icon-10 { background-position: -14px -67px; }

.ita-icon-11 { background-position: -64px -67px; }

.ita-icon-12 { background-position: -114px -67px; }

.ita-icon-13 { background-position: -164px -67px; }

.ita-icon-14 { background-position: -214px -67px; }

.ita-icon-15 { background-position: -264px -67px; }

.ita-icon-16 { background-position: -314px -67px; }

.ita-icon-17 { background-position: -364px -67px; }

.ita-icon-18 { background-position: -414px -67px; }

.ita-icon-19 { background-position: -464px -67px; }

.ita-icon-20 { background-position: -14px -117px; }

.ita-icon-21 { background-position: -64px -117px; }

.ita-icon-22 { background-position: -114px -117px; }

.ita-icon-23 { background-position: -164px -117px; }

.ita-icon-24 { background-position: -214px -117px; }

.ita-icon-25 { background-position: -264px -117px; }

.ita-icon-26 { background-position: -314px -117px; }

.ita-icon-27 { background-position: -364px -117px; }

.ita-icon-28 { background-position: -414px -117px; }

.ita-icon-29 { background-position: -464px -117px; }

.ita-icon-30 { background-position: -14px -167px; }

.ita-icon-31 { background-position: -64px -167px; }

.ita-icon-32 { background-position: -114px -167px; }

.ita-icon-33 { background-position: -164px -167px; }

.ita-icon-34 { background-position: -214px -167px; }

.ita-icon-35 { background-position: -264px -167px; }

.ita-icon-36 { background-position: -314px -167px; }

.ita-icon-37 { background-position: -364px -167px; }

.ita-icon-38 { background-position: -414px -167px; }

.ita-icon-39 { background-position: -464px -167px; }

.ita-icon-40 { background-position: -14px -217px; }

.ita-icon-41 { background-position: -64px -217px; }

.ita-icon-42 { background-position: -114px -217px; }

.ita-icon-43 { background-position: -164px -217px; }

.ita-icon-44 { background-position: -214px -217px; }

.ita-icon-45 { background-position: -264px -217px; }

.ita-icon-46 { background-position: -314px -217px; }
