@charset "utf-8";

.dkIvM { width: 100%; object-fit: contain; position: absolute; }

.dvfjxj { width: 100%; object-fit: contain; }

.kycbVO { position: relative; line-height: 0; }

.gwFzuU { display: block; color: rgb(230, 232, 234); position: absolute; bottom: 0px; right: 0px; padding: 4px 8px; gap: 10px; background-color: rgb(32, 34, 36); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: -0.12px; }

.jyLVQf { height: 3em; width: 3em; }

@-webkit-keyframes pulse {
  0% { opacity: 1; }
  60% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes pulse {
  0% { opacity: 1; }
  60% { opacity: 0.3; }
  100% { opacity: 1; }
}

.jyLVQf #inner, .jyLVQf #outer { fill: rgb(224, 0, 0); }

.jyLVQf #inner { animation: 1.6s ease 0s 3 normal none running pulse; }

.gnvphf { height: 3em; width: 3em; }

@-webkit-keyframes pulse {
  0% { opacity: 1; }
  60% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes pulse {
  0% { opacity: 1; }
  60% { opacity: 0.3; }
  100% { opacity: 1; }
}

.gnvphf #inner, .gnvphf #outer { fill: rgb(224, 0, 0); }

.kHfxfq { display: block; fill: currentcolor; }

.cySMiL { display: block; height: 28px; fill: currentcolor; max-width: initial; }

@media screen and (max-width: 399px) {
  .cySMiL { height: 26px; max-width: 248px; }
}

@media screen and (max-width: 599px) {
  .cySMiL { height: 26px; max-width: 248px; }
}

.iqjqhc { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; }

.iqjqhc svg, .iqjqhc img { width: 24px; height: 24px; }

.iAIwa-D { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; width: 14px; height: 14px; }

.iAIwa-D svg, .iAIwa-D img { width: 24px; height: 24px; }

.fKtamI { white-space: nowrap; }

.fMVwAb { cursor: pointer; border: 2px solid transparent; outline: transparent solid 2px; display: flex; flex-direction: row; gap: 9.3px; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; box-sizing: border-box; padding: 6px 12px; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 16px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.fKbjIk { cursor: pointer; border: 2px solid transparent; outline: transparent solid 2px; display: flex; flex-direction: row-reverse; gap: 4px; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; box-sizing: border-box; padding: 6px 8px; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.kNxOUm { cursor: pointer; border: 2px solid transparent; outline: transparent solid 2px; display: flex; flex-direction: row-reverse; gap: 9.3px; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; box-sizing: border-box; padding: 6px 12px; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 16px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.gsZIcx { position: relative; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); border-color: rgb(0, 0, 0); outline-color: rgb(0, 0, 0); }

.gsZIcx:hover { background-color: rgb(58, 60, 62); border-color: rgb(58, 60, 62); outline-color: rgb(58, 60, 62); }

.gsZIcx:focus { outline: rgb(58, 60, 62) solid 2px; border: 2px solid rgb(58, 60, 62); }

.gsZIcx:active { background-color: rgb(84, 86, 88); color: rgb(255, 255, 255); border-color: rgb(84, 86, 88); outline-color: rgb(84, 86, 88); }

.gsZIcx:disabled, .gsZIcx[disabled] { cursor: not-allowed; background-color: rgb(210, 212, 214); color: rgb(138, 140, 142); outline-color: rgb(210, 212, 214); border-color: rgb(210, 212, 214); }

.dlKrrk { background-color: transparent; color: rgb(0, 0, 0); }

.dlKrrk:hover { background-color: rgb(58, 60, 62); color: rgb(255, 255, 255); border: 2px solid rgb(58, 60, 62); outline: rgb(58, 60, 62) solid 2px; }

.dlKrrk:focus { color: rgb(255, 255, 255); background-color: rgb(58, 60, 62); outline-color: rgb(58, 60, 62); border-color: rgb(58, 60, 62); }

.dlKrrk:active { background-color: rgb(84, 86, 88); color: rgb(255, 255, 255); outline-color: rgb(84, 86, 88); border-color: rgb(84, 86, 88); }

.dlKrrk:disabled, .dlKrrk[disabled] { cursor: not-allowed; background-color: transparent; color: rgb(210, 212, 214); outline-color: transparent; border-color: transparent; }

.iEfFQz { background-color: transparent; color: rgb(0, 0, 0); padding: 0px; }

.iEfFQz:hover { background-color: rgb(58, 60, 62); color: rgb(255, 255, 255); border: 2px solid rgb(58, 60, 62); outline: rgb(58, 60, 62) solid 2px; }

.iEfFQz:focus { color: rgb(255, 255, 255); background-color: rgb(58, 60, 62); outline-color: rgb(58, 60, 62); border-color: rgb(58, 60, 62); }

.iEfFQz:active { background-color: rgb(84, 86, 88); color: rgb(255, 255, 255); outline-color: rgb(84, 86, 88); border-color: rgb(84, 86, 88); }

.iEfFQz:disabled, .iEfFQz[disabled] { cursor: not-allowed; background-color: transparent; color: rgb(210, 212, 214); outline-color: transparent; border-color: transparent; }

.fSsMUr { border: none; outline: none; column-gap: 6px; box-sizing: border-box; color: rgb(0, 0, 0); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.fSsMUr:hover { background-color: inherit; border: none; outline: none; color: rgb(0, 0, 0); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: underline; letter-spacing: 0px; }

.fSsMUr:focus, .fSsMUr:active { text-shadow: 0.25px 0px 0.1px, -0.25px 0px 0.1px; background-color: inherit; color: rgb(0, 0, 0); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 700; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.fSsMUr:disabled { pointer-events: none; color: rgb(210, 212, 214); }

@media screen and (max-width: 399px) {
}

@media screen and (max-width: 599px) {
}

.kZRlru { padding-left: 0px; padding-right: 0px; border: none; outline: none; column-gap: 6px; box-sizing: border-box; color: rgb(0, 0, 0); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.kZRlru:hover { background-color: inherit; border: none; outline: none; color: rgb(0, 0, 0); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: underline; letter-spacing: 0px; }

.kZRlru:focus, .kZRlru:active { text-shadow: 0.25px 0px 0.1px, -0.25px 0px 0.1px; background-color: inherit; color: rgb(0, 0, 0); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 700; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.kZRlru:disabled { pointer-events: none; color: rgb(210, 212, 214); }

@media screen and (max-width: 399px) {
}

@media screen and (max-width: 599px) {
}

.kwNGtS { background-color: rgba(0, 0, 0, 0.2); visibility: hidden; top: 0px; position: fixed; border: none; width: 100%; bottom: 0px; display: grid; place-items: center; z-index: 5000; }

.kwNGtS * { z-index: 5000; }

.kpuibN { background-color: rgba(0, 0, 0, 0.2); display: none; visibility: hidden; top: 0px; position: fixed; border: none; width: 100%; bottom: 0px; z-index: 3000; }

.kpuibN * { z-index: 3000; }

.jYQwgQ { background-color: rgba(0, 0, 0, 0.2); display: none; visibility: hidden; top: 81px; position: fixed; border: none; width: 100%; bottom: 0px; z-index: 3000; }

.jYQwgQ * { z-index: 3000; }

.jgWqoT .dotcom-ad.active { padding-top: 15px; padding-bottom: 5px; border-top: 1px solid rgb(84, 86, 88) !important; border-bottom: 1px solid rgb(84, 86, 88) !important; }

.hiEysK { height: 278px; background-color: rgb(246, 246, 246); }

@media screen and (max-width: 1007px) {
  .hiEysK { height: 118px; }
}

@media screen and (max-width: 599px) {
  .hiEysK { height: 78px; }
}

.hiEysK .dotcom-ad.active { padding-top: 15px; padding-bottom: 5px; border-top: 1px solid rgb(84, 86, 88) !important; border-bottom: 1px solid rgb(84, 86, 88) !important; }

.hRSlbR { margin-block: 48px; }

.hRSlbR .dotcom-ad.active { padding-top: 15px; padding-bottom: 5px; border-top: 1px solid rgb(84, 86, 88) !important; border-bottom: 1px solid rgb(84, 86, 88) !important; }

@media screen and (max-width: 599px) {
  .hRSlbR { margin-block: 32px; }
}

.hMvGwj { text-decoration: none; cursor: pointer; color: unset; }

.ccbcJq { position: relative; padding: 8px; height: 32px; display: inline-flex; -webkit-box-align: center; align-items: center; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 14px; line-height: 18px; letter-spacing: 0px; }

.ccbcJq a::before { position: absolute; content: ""; inset: 0px; }

.ccbcJq:hover { background-color: rgb(230, 232, 234); }

@media screen and (max-width: 1279px) {
  .ccbcJq { display: inline-flex; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 1007px) {
  .ccbcJq { display: inline-flex; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 767px) {
  .ccbcJq { display: inline-flex; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 599px) {
  .ccbcJq { display: none; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 399px) {
  .ccbcJq { display: none; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 599px) {
  .ccbcJq { padding-block: 6px; }
}

.ghIeVP { position: relative; padding: 8px; height: 32px; display: inline-flex; -webkit-box-align: center; align-items: center; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 14px; line-height: 18px; letter-spacing: 0px; }

.ghIeVP a::before { position: absolute; content: ""; inset: 0px; }

.ghIeVP:hover { background-color: rgb(230, 232, 234); }

@media screen and (max-width: 1279px) {
  .ghIeVP { display: none; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 1007px) {
  .ghIeVP { display: none; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 767px) {
  .ghIeVP { display: none; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 599px) {
  .ghIeVP { display: inline-flex; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 399px) {
  .ghIeVP { display: inline-flex; -webkit-box-align: center; align-items: center; }
}

@media screen and (max-width: 599px) {
  .ghIeVP { padding-block: 6px; }
}

.hQuXcm { display: inline-flex; -webkit-box-align: center; align-items: center; column-gap: 4px; }

.ewWrCH { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 20px; aspect-ratio: 1 / 1; }

.ewWrCH svg { height: 16px; width: 16px; }

#subliminal-banner { display: block; position: sticky; bottom: 0px; z-index: 9999; }

.crWOKT { position: sticky; top: 0px; left: 0px; right: 0px; height: 80px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(230, 232, 234); z-index: 4000; transition: height 0.5s; }

.crWOKT * { z-index: 4000; }

@media screen and (max-width: 599px) {
  .crWOKT { height: 48px; }
}

.hNMBLC { position: relative; display: flex; -webkit-box-align: center; align-items: center; height: 56px; padding: 12px 16px; transition: height 0.5s; }

@media screen and (max-width: 599px) {
  .hNMBLC { height: 48px; padding: 0px 12px; }
}

.cGQxra { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.cGQxra svg { height: 40px; width: auto; transition: height 0.5s; }

@media screen and (max-width: 599px) {
  .cGQxra svg { height: 30px; }
}

.ikHtZO { cursor: pointer; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; background-color: rgb(255, 255, 255); }

.ikHtZO:hover { background-color: rgb(230, 232, 234); }

.ldbNHC { flex: 1 1 0%; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; -webkit-box-align: center; align-items: center; column-gap: 12px; }

.kJgnBN { flex: 1 1 0%; display: flex; -webkit-box-pack: center; justify-content: center; height: 32px; }

.itQidK { flex: 1 1 0%; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: end; gap: 20px; height: 40px; }

.jnhfld { margin-top: 29px; }

@media screen and (max-width: 399px) {
  .jnhfld { margin-top: 24px; }
}

@media screen and (max-width: 599px) {
  .jnhfld { margin-top: 24px; }
}

.bPyPyZ { display: flex; flex-flow: wrap; gap: 18px 16px; -webkit-box-align: center; align-items: center; }

@media screen and (max-width: 399px) {
  .bPyPyZ { align-items: flex-start; flex-direction: column; gap: 24px 0px; }
}

@media screen and (max-width: 599px) {
  .bPyPyZ { align-items: flex-start; flex-direction: column; gap: 24px 0px; }
}

.AsTdr { position: relative; color: rgb(0, 0, 0); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 14px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.AsTdr:hover { text-decoration: underline; }

.bgmTpn { margin-top: 21px; }

@media screen and (max-width: 1007px) {
  .bgmTpn { margin-top: 24px; }
}

@media screen and (max-width: 399px) {
  .bgmTpn { margin-top: 40px; }
}

@media screen and (max-width: 599px) {
  .bgmTpn { margin-top: 40px; }
}

.BUIjW { position: relative; margin-right: 16px; }

.efJkHF { cursor: pointer; height: 44px; display: flex; flex-direction: row; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; padding: 6px 12px; background-color: rgb(230, 232, 234); color: rgb(32, 34, 36); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 14px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.efJkHF:hover { background-color: rgb(210, 212, 214); }

.efJkHF[disabled] { cursor: auto; color: rgb(138, 140, 142); background-color: rgb(210, 212, 214); }

.efJkHF:active { background-color: rgb(230, 232, 234); }

.bhyElZ { width: 24px; height: 24px; margin-left: 4.5px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; color: rgb(0, 0, 0); }

.kBxTXZ { display: flex; flex-wrap: wrap; margin: 16px 0px; border-top: 1px solid rgb(230, 232, 234); padding-top: 16px; }

@media screen and (max-width: 599px) {
  .kBxTXZ { flex-direction: column; }
}

.jMWXMa { font-family: "BBC Reith Sans"; font-size: 16px; line-height: 20px; font-weight: 500; display: flex; -webkit-box-align: center; align-items: center; margin-right: 40px; }

@media screen and (max-width: 599px) {
  .jMWXMa { margin-bottom: 16px; margin-right: 0px; }
}

.ittZym { display: flex; gap: 16px; -webkit-box-align: center; align-items: center; }

.ittZym button { width: 24px; height: 24px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

@media screen and (max-width: 599px) {
  .ittZym button { width: 28px; height: 28px; }
}

.gpZrTn { position: relative; }

.gpZrTn:hover { outline: rgb(58, 60, 62) solid 1px; }

.gpZrTn::after { content: ""; width: 0px; height: 0px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 9px solid rgb(230, 232, 234); position: absolute; bottom: -20px; left: 50%; transform: translateX(-50%); transition: opacity 0.2s linear; visibility: hidden; }

@media screen and (max-width: 599px) {
  .gpZrTn::after { bottom: -14px; }
}

.bQoEiG { margin-top: 16px; }

.hWSyJW { display: flex; flex-flow: wrap; gap: 12px 16px; }

.hpveT { flex: 0 0 auto; }

.dckmSN { cursor: pointer; text-decoration: none; color: rgb(0, 0, 0); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; font-size: 12px; line-height: 16px; letter-spacing: 0px; }

.dckmSN:hover { text-decoration: underline; }

.dfvxux { color: rgb(32, 34, 36); font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 38px; line-height: 44px; text-transform: none; text-decoration: none; letter-spacing: -0.76px; }

@media screen and (max-width: 599px) {
  .dfvxux { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 28px; line-height: 34px; text-transform: none; text-decoration: none; letter-spacing: -0.56px; }
}

.eOFjmw { color: rgb(32, 34, 36); font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 32px; line-height: 36px; text-transform: none; text-decoration: none; letter-spacing: -0.32px; }

@media screen and (max-width: 599px) {
  .eOFjmw { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 24px; line-height: 28px; text-transform: none; text-decoration: none; letter-spacing: -0.48px; }
}

.fDtfvH { position: relative; box-sizing: border-box; display: grid; gap: 16px; margin: 0px auto; width: 722px; }

@media screen and (max-width: 1279px) {
  .fDtfvH { margin: 0px auto; width: 728px; }
}

@media screen and (max-width: 767px) {
  .fDtfvH { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 599px) {
  .fDtfvH { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 8192px) {
  .fDtfvH { margin-top: 24px; margin-bottom: 16px; }
}

@media screen and (max-width: 1279px) {
  .fDtfvH { margin-top: 24px; margin-bottom: 16px; }
}

@media screen and (max-width: 1007px) {
  .fDtfvH { margin-top: 24px; margin-bottom: 16px; }
}

@media screen and (max-width: 767px) {
  .fDtfvH { margin-top: 24px; margin-bottom: 16px; }
}

@media screen and (max-width: 599px) {
  .fDtfvH { margin-top: 24px; margin-bottom: 16px; }
}

@media screen and (max-width: 399px) {
  .fDtfvH { margin-top: 24px; margin-bottom: 16px; }
}

.dEGcKf { position: relative; box-sizing: border-box; display: grid; gap: 16px; margin: 0px auto; width: 722px; }

@media screen and (max-width: 1279px) {
  .dEGcKf { margin: 0px auto; width: 728px; }
}

@media screen and (max-width: 767px) {
  .dEGcKf { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 599px) {
  .dEGcKf { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 8192px) {
  .dEGcKf { margin-bottom: 16px; }
}

@media screen and (max-width: 1279px) {
  .dEGcKf { margin-bottom: 16px; }
}

@media screen and (max-width: 1007px) {
  .dEGcKf { margin-bottom: 16px; }
}

@media screen and (max-width: 767px) {
  .dEGcKf { margin-bottom: 16px; }
}

@media screen and (max-width: 599px) {
  .dEGcKf { margin-bottom: 16px; }
}

@media screen and (max-width: 399px) {
  .dEGcKf { margin-bottom: 16px; }
}

.kVRMhO { position: relative; box-sizing: border-box; display: grid; gap: 16px; margin: 0px auto; width: 932px; }

@media screen and (max-width: 1279px) {
  .kVRMhO { margin: 0px auto; width: 728px; }
}

@media screen and (max-width: 767px) {
  .kVRMhO { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 599px) {
  .kVRMhO { margin: 0px; width: auto; }
}

@media screen and (max-width: 8192px) {
  .kVRMhO { margin-bottom: 24px; }
}

@media screen and (max-width: 1279px) {
  .kVRMhO { margin-bottom: 24px; }
}

@media screen and (max-width: 1007px) {
  .kVRMhO { margin-bottom: 24px; }
}

@media screen and (max-width: 767px) {
  .kVRMhO { margin-bottom: 24px; }
}

@media screen and (max-width: 599px) {
  .kVRMhO { margin-bottom: 24px; }
}

@media screen and (max-width: 399px) {
  .kVRMhO { margin-bottom: 16px; }
}

.hoQmHM { position: relative; box-sizing: border-box; display: grid; gap: 16px; margin: 0px auto; width: 722px; }

@media screen and (max-width: 1279px) {
  .hoQmHM { margin: 0px auto; width: 728px; }
}

@media screen and (max-width: 767px) {
  .hoQmHM { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 599px) {
  .hoQmHM { margin: 0px; width: auto; }
}

@media screen and (max-width: 8192px) {
  .hoQmHM { margin-bottom: 0px; }
}

@media screen and (max-width: 1279px) {
  .hoQmHM { margin-bottom: 0px; }
}

@media screen and (max-width: 1007px) {
  .hoQmHM { margin-bottom: 0px; }
}

@media screen and (max-width: 767px) {
  .hoQmHM { margin-bottom: 0px; }
}

@media screen and (max-width: 599px) {
  .hoQmHM { margin-bottom: 0px; }
}

@media screen and (max-width: 399px) {
  .hoQmHM { margin-bottom: 0px; }
}

.jvncPH { position: relative; box-sizing: border-box; display: grid; gap: 16px; margin: 0px auto; width: 722px; }

@media screen and (max-width: 1279px) {
  .jvncPH { margin: 0px auto; width: 728px; }
}

@media screen and (max-width: 767px) {
  .jvncPH { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 599px) {
  .jvncPH { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 8192px) {
  .jvncPH { margin-bottom: 32px; }
}

@media screen and (max-width: 1279px) {
  .jvncPH { margin-bottom: 32px; }
}

@media screen and (max-width: 1007px) {
  .jvncPH { margin-bottom: 32px; }
}

@media screen and (max-width: 767px) {
  .jvncPH { margin-bottom: 32px; }
}

@media screen and (max-width: 599px) {
  .jvncPH { margin-bottom: 24px; }
}

@media screen and (max-width: 399px) {
  .jvncPH { margin-bottom: 24px; }
}

.dHQIrb { position: relative; box-sizing: border-box; display: grid; gap: 16px; margin: 0px auto; width: 722px; }

@media screen and (max-width: 1279px) {
  .dHQIrb { margin: 0px auto; width: 728px; }
}

@media screen and (max-width: 767px) {
  .dHQIrb { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 599px) {
  .dHQIrb { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 8192px) {
  .dHQIrb { margin-top: 32px; margin-bottom: 32px; }
}

@media screen and (max-width: 1279px) {
  .dHQIrb { margin-top: 32px; margin-bottom: 32px; }
}

@media screen and (max-width: 1007px) {
  .dHQIrb { margin-top: 32px; margin-bottom: 32px; }
}

@media screen and (max-width: 767px) {
  .dHQIrb { margin-top: 32px; margin-bottom: 32px; }
}

@media screen and (max-width: 599px) {
  .dHQIrb { margin-top: 24px; margin-bottom: 24px; }
}

@media screen and (max-width: 399px) {
  .dHQIrb { margin-top: 24px; margin-bottom: 24px; }
}

.dFZIgd { position: relative; box-sizing: border-box; display: grid; gap: 16px; margin: 0px auto; width: 722px; }

@media screen and (max-width: 1279px) {
  .dFZIgd { margin: 0px auto; width: 728px; }
}

@media screen and (max-width: 767px) {
  .dFZIgd { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 599px) {
  .dFZIgd { margin: 0px; width: auto; }
}

@media screen and (max-width: 8192px) {
  .dFZIgd { margin-bottom: 24px; }
}

@media screen and (max-width: 1279px) {
  .dFZIgd { margin-bottom: 24px; }
}

@media screen and (max-width: 1007px) {
  .dFZIgd { margin-bottom: 24px; }
}

@media screen and (max-width: 767px) {
  .dFZIgd { margin-bottom: 24px; }
}

@media screen and (max-width: 599px) {
  .dFZIgd { margin-bottom: 24px; }
}

@media screen and (max-width: 399px) {
  .dFZIgd { margin-bottom: 16px; }
}

.kDhnfC { position: relative; box-sizing: border-box; display: grid; gap: 16px; margin: 0px 16px; width: auto; }

@media screen and (max-width: 1279px) {
  .kDhnfC { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 767px) {
  .kDhnfC { margin: 0px 16px; width: auto; }
}

@media screen and (max-width: 599px) {
  .kDhnfC { margin: 0px; width: auto; }
}

@media screen and (max-width: 8192px) {
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1007px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 599px) {
}

@media screen and (max-width: 399px) {
}

.bGFWdi { color: rgb(32, 34, 36); font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 18px; line-height: 26px; text-transform: none; text-decoration: underline; letter-spacing: -0.36px; }

@media screen and (max-width: 399px) {
  .bGFWdi { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 16px; line-height: 24px; text-transform: none; text-decoration: underline; letter-spacing: -0.32px; }
}

@media screen and (max-width: 599px) {
  .bGFWdi { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 16px; line-height: 24px; text-transform: none; text-decoration: underline; letter-spacing: -0.32px; }
}

.hxuGS { color: rgb(32, 34, 36); font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 400; font-size: 18px; line-height: 26px; text-transform: none; text-decoration: none; letter-spacing: -0.36px; }

@media screen and (max-width: 399px) {
  .hxuGS { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 400; font-size: 16px; line-height: 24px; text-transform: none; text-decoration: none; letter-spacing: -0.32px; }
}

@media screen and (max-width: 599px) {
  .hxuGS { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 400; font-size: 16px; line-height: 24px; text-transform: none; text-decoration: none; letter-spacing: -0.32px; }
}

.jpoiOL { font-weight: 600; }

@media screen and (max-width: 599px) {
  .jpoiOL { word-break: break-word; }
}

.fhKUCU { font-style: italic; }

@media screen and (max-width: 599px) {
  .fhKUCU { word-break: break-word; }
}

@media screen and (max-width: 599px) {
  .cVoAry { word-break: break-word; }
}

.kPARwf { max-width: 1280px; width: 100%; margin: 16px auto 48px; padding: 0px 16px; box-sizing: border-box; }

.jesoZj { margin-top: 16px; overflow-wrap: break-word; }

.jesoZj p { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; font-size: 12px; line-height: 16px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.jesoZj b, .jesoZj a { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 700; font-size: 12px; line-height: 16px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.jesoZj a { text-decoration: none; color: rgb(0, 0, 0); }

@media screen and (max-width: 599px) {
  .jesoZj { margin-top: 24px; }
}

.dTjesj { background-color: rgb(58, 60, 62); margin-top: 16px; height: 1px; border: none; }

.eBPHAI { display: flex; }

.cpHFoI { border-bottom: 1px solid rgb(230, 232, 234); position: relative; text-align: center; overflow: hidden; line-height: 0; max-width: 100vw; z-index: 3000; }

.cpHFoI * { z-index: 3000; }

@media screen and (max-width: 1007px) {
  .cpHFoI { border-bottom: none; display: none; }
}

.eEJeEv { display: inline-block; overflow-x: hidden; white-space: nowrap; margin-bottom: -1px; }

.iWReBz { list-style-type: none; display: flex; padding: 0px; margin: 0px; align-self: center; }

@media screen and (max-width: 1007px) {
  .iWReBz { display: none; }
}

.jJjzKF { position: relative; }

.cqCeYW { position: relative; }

.cqCeYW::before { content: ""; position: absolute; width: 1px; height: 30px; background: rgb(230, 232, 234); left: 0px; top: 50%; transform: translateY(-50%); }

.eeXkpK { position: relative; display: block; color: rgb(0, 0, 0); cursor: pointer; padding: 12px 8px; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 14px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.eeXkpK:hover { background-color: rgb(230, 232, 234); }

.gfLEJi { z-index: 3000; position: sticky; background-color: rgb(255, 255, 255); top: 80px; left: 0px; right: 0px; transform: translateY(0px); transition: transform 0.5s; }

.gfLEJi * { z-index: 3000; }

@media screen and (max-width: 1007px) {
  .gfLEJi { height: 0px; }
}

.haQGdI { z-index: 4001; position: fixed; top: 0px; background: white; padding: 0px 8px; display: block; }

.cZSCUM { padding: 0px 0px 8px; width: 320px; max-height: 80vh; overflow-y: auto; margin-top: 65px; }

.gpOsSO { padding: 0px 0px 8px 16px; }

.eIGAwM { padding: 0px 0px 8px 32px; }

.jWqIMB { padding: 0px 0px 8px 48px; }

.aSYRH { padding: 0px 0px 8px 64px; }

.hvUmul { position: absolute; left: 22px; top: 22px; cursor: pointer; display: block; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 14px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.kjxRaG { border-bottom: 1px solid rgb(230, 232, 234); padding: 0px 14px; }

.fkjeDI { position: fixed; display: block; bottom: 0px; background-color: rgb(255, 255, 255); visibility: hidden; z-index: 3000; transition: transform 0.1s ease-in-out; top: 0px; left: 0px; width: 320px; transform: translateX(-100%); }

.fkjeDI * { z-index: 3000; }

@media screen and (max-width: 599px) {
  .fkjeDI { width: 100%; }
}

.gpwNUx { position: fixed; display: block; bottom: 0px; background-color: rgb(255, 255, 255); visibility: hidden; z-index: 3000; transition: transform 0.1s ease-in-out; top: 81px; left: 0px; width: 320px; transform: translateX(-100%); }

.gpwNUx * { z-index: 3000; }

@media screen and (max-width: 599px) {
  .gpwNUx { width: 100%; }
}

.eMGQdV { position: relative; display: flex; border: 1px solid rgb(138, 140, 142); width: 100%; height: 44px; background-color: rgb(255, 255, 255); }

.eMGQdV:focus-within, .eMGQdV:hover { border: 2px solid rgb(0, 0, 0); margin: -1px; }

.eMGQdV svg[icon="search"] { width: 20px; height: 20px; }

.eMGQdV svg[icon="close"] { width: 12px; height: 12px; }

.eMGQdV .sc-28fdc07f-3 { width: 44px; height: 44px; outline: rgb(0, 0, 0) solid 1px; }

.eMGQdV .sc-28fdc07f-3 span { width: 18px; }

.eMGQdV .sc-28fdc07f-5 { width: 44px; height: 44px; outline: 0px; border: 0px; }

.eMGQdV .sc-28fdc07f-5:hover { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); outline: 0px; border: 0px; }

.eMGQdV:hover { border: 2px solid rgb(58, 60, 62); margin: -1px; }

.eMGQdV:hover .sc-28fdc07f-3 { background-color: rgb(58, 60, 62); border: 2px solid rgb(58, 60, 62); outline: 0px; }

.blIdnk { flex: 1 1 0%; border: none; outline: none; color: rgb(32, 34, 36); padding: 13px 0px 13px 13px; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; line-height: 18px; letter-spacing: 0px; font-size: 16px; width: 40px; }

@media screen and (max-width: 599px) {
  .blIdnk { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; line-height: 18px; letter-spacing: 0px; font-size: 16px; }
}

.jdGaiS { box-sizing: border-box; overflow-y: scroll; padding: 0px 8px; height: 100%; }

.itBpIZ { transform: rotate(0deg); transition: transform 0.1s ease-in-out; -webkit-box-pack: center; justify-content: center; display: flex; height: 10px; width: 13px; }

.iyUgeV { grid-template-columns: 1fr auto; background-color: rgb(255, 255, 255); padding: 13px 14px; position: relative; text-align: left; cursor: pointer; display: grid; border: none; width: 100%; gap: 22px; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 16px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.iyUgeV:hover { background-color: rgb(230, 232, 234); }

.iyUgeV::before { background-color: transparent; transform: translateX(-100%); position: absolute; height: 100%; content: ""; width: 8px; left: 0px; top: 0px; }

.jRsIAV { word-break: break-word; }

.jtxkAZ { border-bottom: 1px solid rgb(230, 232, 234); background-color: rgb(255, 255, 255); box-sizing: border-box; display: grid; }

.kbxLHW { background-color: rgb(246, 246, 246); border-bottom: 1px solid rgb(230, 232, 234); padding: 8px; margin: 0px -8px; }

.fDhjj { position: relative; }

.BFLgM { position: absolute; top: -9999px; left: 0px; font-family: "BBC Reith Sans"; font-size: 16px; font-weight: 500; line-height: 18px; text-align: left; color: rgb(0, 0, 0); padding: 8px 12px; border: 2px solid rgb(0, 0, 0); }

.BFLgM:focus, .BFLgM:active { z-index: 5000; }

@media screen and (max-width: 8192px) {
  .BFLgM:focus, .BFLgM:active { top: 14px; left: 104px; }
}

@media screen and (max-width: 599px) {
  .BFLgM:focus, .BFLgM:active { top: 76px; left: 16px; background-color: rgb(255, 255, 255); }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }

body { line-height: 1; }

@supports (-webkit-text-size-adjust:none) or (text-size-adjust:none) {
  body { text-size-adjust: none; }
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after { content: ""; }

table { border-collapse: collapse; border-spacing: 0px; }

button { appearance: none; margin: 0px; padding: 0px; background: none; border-radius: 0px; border: 0px; font-family: inherit; color: inherit; }

.eSlECZ { display: flex; flex-direction: column; }

.eeJXtz { display: flex; -webkit-box-pack: justify; justify-content: space-between; min-height: 32px; margin-bottom: 4px; }

@media screen and (max-width: 599px) {
  .eeJXtz { min-height: 0px; margin-bottom: 16px; }
}

.IvNnh { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: -0.12px; color: rgb(84, 86, 88); }

.gXqOYA { -webkit-box-pack: end; justify-content: flex-end; align-self: start; display: flex; flex-direction: row; -webkit-box-align: center; align-items: center; column-gap: 12px; }

@media screen and (max-width: 599px) {
  .gXqOYA { display: none; }
}

.jdpfMh { display: none; }

@media screen and (max-width: 599px) {
  .jdpfMh { display: flex; -webkit-box-pack: end; justify-content: flex-end; border-top: 1px solid rgb(230, 232, 234); height: 44px; margin-top: 12px; }
  .jdpfMh button:not(.popover button) { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 16px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }
}

.kRoBHa { display: flex; }

.bdDICJ img { width: 40px; height: 40px; color: rgb(230, 232, 234); margin-right: 8px; border-radius: 50%; }

.lasLGY { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 16px; line-height: 20px; text-transform: none; text-decoration: none; letter-spacing: -0.16px; }

.hwLppI { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; font-size: 12px; line-height: 16px; text-transform: none; text-decoration: none; letter-spacing: 0px; color: rgb(84, 86, 88); }

@media screen and (max-width: 599px) {
}

.jSIeFi { display: flex; gap: 16px; flex-wrap: wrap; }

@media screen and (max-width: 599px) {
  .jSIeFi { gap: 24px; }
}

.FPsqq { display: block; font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 400; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: 0px; color: rgb(84, 86, 88); padding-left: 0px; padding-right: 0px; padding-top: 8px; }

.kbFErv { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); -webkit-box-pack: center; justify-content: center; place-items: center; -webkit-box-align: center; position: absolute; min-width: 24px; bottom: 0px; display: grid; left: 0px; }

@media screen and (max-width: 599px) {
  .kbFErv { left: 0px; display: grid; }
}

.bUdwLB { -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; display: flex; height: 32px; width: 32px; margin: 4px; }

.bUdwLB > svg { height: 20px; }

@media screen and (max-width: 599px) {
  .bUdwLB { height: 32px; width: 32px; margin: 4px; }
  .bUdwLB > svg { height: 20px; }
}

.hkJYCz { margin-top: 0px; height: auto; -webkit-box-align: center; align-items: center; display: flex; gap: 8px; }

@media screen and (max-width: 399px) {
  .hkJYCz { display: none; }
}

@media screen and (max-width: 599px) {
  .hkJYCz { display: none; }
}

@media screen and (max-width: 399px) {
  .hkJYCz { margin-top: 2px; }
}

@media screen and (max-width: 599px) {
  .hkJYCz { margin-top: 2px; }
}

.cjRJdD { margin-top: 0px; height: 32px; -webkit-box-align: center; align-items: center; display: flex; gap: 8px; position: absolute; bottom: 0px; }

@media screen and (max-width: 399px) {
  .cjRJdD { margin-top: 2px; }
}

@media screen and (max-width: 599px) {
  .cjRJdD { margin-top: 2px; }
}

.kkmyHK { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: -0.12px; color: rgb(84, 86, 88); }

@media screen and (max-width: 767px) {
  .kkmyHK { display: block; }
}

@media screen and (max-width: 1007px) {
  .kkmyHK { display: block; }
}

@media screen and (max-width: 1279px) {
  .kkmyHK { display: block; }
}

@media screen and (max-width: 8192px) {
  .kkmyHK { display: block; }
}

@media screen and (max-width: 399px) {
  .kkmyHK { display: none; }
}

@media screen and (max-width: 599px) {
  .kkmyHK { display: none; }
}

.iroRMq { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; font-size: 12px; line-height: 14px; text-transform: none; text-decoration: none; letter-spacing: -0.12px; color: rgb(84, 86, 88); }

@media screen and (max-width: 767px) {
  .iroRMq { display: none; }
}

@media screen and (max-width: 1007px) {
  .iroRMq { display: none; }
}

@media screen and (max-width: 1279px) {
  .iroRMq { display: none; }
}

@media screen and (max-width: 8192px) {
  .iroRMq { display: none; }
}

@media screen and (max-width: 399px) {
  .iroRMq { display: block; }
}

@media screen and (max-width: 599px) {
  .iroRMq { display: block; }
}

.gMiqnK { display: grid; box-sizing: border-box; }

@media screen and (max-width: 8192px) {
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1007px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 599px) {
}

@media screen and (max-width: 399px) {
}

.kIEICy { display: grid; box-sizing: border-box; }

@media screen and (max-width: 8192px) {
  .kIEICy { grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% + 0px), 1fr)); gap: 16px; }
}

@media screen and (max-width: 1279px) {
  .kIEICy { grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% + 0px), 1fr)); gap: 16px; }
}

@media screen and (max-width: 1007px) {
  .kIEICy { grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% + 0px), 1fr)); gap: 16px; }
}

@media screen and (max-width: 767px) {
  .kIEICy { grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% + 0px), 1fr)); gap: 16px; }
}

@media screen and (max-width: 599px) {
  .kIEICy { grid-template-columns: 1fr; gap: 16px; }
}

@media screen and (max-width: 399px) {
  .kIEICy { grid-template-columns: 1fr; gap: 16px; }
}

.cLBIlS { display: grid; box-sizing: border-box; }

@media screen and (max-width: 8192px) {
  .cLBIlS { grid-template-columns: repeat(1, 1fr); gap: 24px; }
}

@media screen and (max-width: 1279px) {
  .cLBIlS { grid-template-columns: repeat(1, 1fr); gap: 24px; }
}

@media screen and (max-width: 1007px) {
  .cLBIlS { grid-template-columns: repeat(1, 1fr); gap: 24px; }
}

@media screen and (max-width: 767px) {
  .cLBIlS { grid-template-columns: repeat(1, 1fr); gap: 24px; }
}

@media screen and (max-width: 599px) {
  .cLBIlS { grid-template-columns: repeat(1, 1fr); gap: 16px; }
}

@media screen and (max-width: 399px) {
  .cLBIlS { grid-template-columns: repeat(1, 1fr); gap: 16px; }
}

.eKWlJZ { width: 100%; margin-right: 0px; }

@media screen and (max-width: 599px) {
  .eKWlJZ { margin-right: 8px; }
}

.dOyfhs { width: 100%; }

@media screen and (max-width: 599px) {
  .dOyfhs { min-height: 32px; display: flex; -webkit-box-align: center; align-items: center; }
}

.fWzToZ { color: rgb(32, 34, 36); font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 18px; line-height: 22px; text-transform: none; text-decoration: none; letter-spacing: -0.36px; }

@media screen and (max-width: 599px) {
  .fWzToZ { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 18px; line-height: 22px; text-transform: none; text-decoration: none; letter-spacing: -0.36px; }
}

.gCxBuB { color: rgb(32, 34, 36); margin-bottom: 12px; font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 24px; line-height: 28px; text-transform: none; text-decoration: none; letter-spacing: -0.48px; }

@media screen and (max-width: 599px) {
  .gCxBuB { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 20px; line-height: 24px; text-transform: none; text-decoration: none; letter-spacing: -0.4px; }
}

@media screen and (max-width: 599px) {
  .gCxBuB { margin-bottom: 8px; font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 500; font-size: 18px; line-height: 22px; text-transform: none; text-decoration: none; letter-spacing: -0.36px; }
}

.dXTWJc { border-bottom: none; padding-bottom: 0px; position: relative; gap: 8px; display: grid; }

.dXTWJc:hover h2 { text-decoration: underline; }

.iZoUTD { border-bottom: none; padding-bottom: 16px; position: relative; gap: 8px; display: grid; }

.iZoUTD:hover h2 { text-decoration: underline; }

.iqIeVn { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 400; font-size: 14px; line-height: 18px; letter-spacing: 0px; color: rgb(32, 34, 36); margin-bottom: 56px; }

@media screen and (max-width: 599px) {
  .iqIeVn { font-family: "BBC Reith Serif", BBCReithSerif-fallback, serif; font-weight: 400; font-size: 14px; line-height: 18px; letter-spacing: 0px; margin-bottom: 48px; }
}

.gNDMbX { -webkit-box-align: start; align-items: start; display: grid; }

.jZLboW { height: 100%; width: 100%; }

.jZLboW img { aspect-ratio: 16 / 9; }

.cdAtcV { border-bottom: 1px solid rgb(230, 232, 234); position: relative; min-height: 190px; display: block; }

.iHDUgO { border-bottom: none; position: relative; min-height: 190px; display: block; }

.Bhmro { grid-template-columns: 90px 1fr; -webkit-box-align: stretch; align-items: stretch; position: relative; display: grid; gap: 16px; }

.Bhmro:hover img { opacity: 0.8; }

.Bhmro:hover h2 { text-decoration: underline; }

@media screen and (max-width: 599px) {
  .Bhmro { grid-template-columns: 1fr; }
}

.eSgyuf { margin-bottom: 16px; position: relative; margin-left: 16px; float: right; width: 300px; }

@media screen and (max-width: 599px) {
  .eSgyuf { margin-bottom: 8px; margin-left: 8px; width: 50%; }
}

.jWtZuE { display: block; }

.bPmazG { border-bottom: 2px solid rgb(32, 34, 36); border-top: 2px solid rgb(32, 34, 36); }

.bPCWIP { margin: 24px 0px; }

@media screen and (max-width: 399px) {
  .bPCWIP { margin: 16px 0px; }
}

@media screen and (max-width: 599px) {
  .bPCWIP { margin: 16px 0px; }
}

.jdmgui { color: rgb(32, 34, 36); margin-top: 32px; font-family: "BBC Reith Serif"; font-size: 24px; font-weight: 700; line-height: 28px; letter-spacing: -0.02em; text-align: left; }

@media screen and (max-width: 599px) {
  .jdmgui { margin-top: 24px; font-family: "BBC Reith Serif"; font-size: 20px; font-weight: 700; line-height: 24px; letter-spacing: -0.02em; text-align: left; }
}

.emeJAW { border: 2px solid transparent; outline: transparent solid 2px; display: inline-block; font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 400; font-size: 14px; line-height: 16px; text-transform: none; text-decoration: none; letter-spacing: 0px; padding: 8px 10px; background-color: rgb(246, 246, 246); color: rgb(0, 0, 0); }

.emeJAW:hover { background-color: rgb(58, 60, 62); color: rgb(255, 255, 255); }

.emeJAW:focus { background-color: rgb(0, 0, 0); border-color: rgb(255, 255, 255); outline-color: rgb(58, 60, 62); color: rgb(255, 255, 255); }

.emeJAW:active { background-color: rgb(246, 246, 246); }

.kkfrXx { display: flex; gap: 8px; flex-wrap: wrap; }

.gmqhYi { margin: 0px 16px; border-width: 0px; height: 2px; width: 100%; background-color: rgb(58, 60, 62); }

.faUgkD { display: flex; flex-direction: row; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; }

.jPkqHi { margin-bottom: 24px; }

@media screen and (max-width: 599px) {
  .jPkqHi { margin-bottom: 16px; }
}

.klmwUe { padding: 0px 16px; -webkit-box-pack: justify; justify-content: space-between; color: rgb(32, 34, 36); display: flex; flex-direction: row; -webkit-box-align: start; align-items: start; margin-top: 8px; }

@media screen and (max-width: 599px) {
}

.jjpHxS { color: rgb(32, 34, 36); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 800; font-size: 15px; line-height: 20px; text-transform: uppercase; text-decoration: none; letter-spacing: 0.75px; }

.jjpHxS svg { display: inline-block; vertical-align: text-top; width: 20px; fill: rgb(0, 0, 0); }

@media screen and (max-width: 599px) {
  .jjpHxS svg { width: 18px; }
}

@media screen and (max-width: 599px) {
  .jjpHxS { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 800; font-size: 14px; line-height: 18px; text-transform: uppercase; text-decoration: none; letter-spacing: 0.7px; }
}

@media screen and (max-width: 399px) {
  .jjpHxS { font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 800; font-size: 14px; line-height: 18px; text-transform: uppercase; text-decoration: none; letter-spacing: 0.7px; }
}

@media screen and (max-width: 8192px) {
  .ethsyB { max-width: 1038px; margin: 0px auto; }
}

@media screen and (max-width: 1279px) {
  .ethsyB { margin: 0px 16px; }
}

.exaGgF { grid-template-columns: repeat(3, 1fr); -webkit-box-align: start; align-items: start; margin: 0px 16px; gap: 16px; display: grid; }

@media screen and (max-width: 1007px) {
  .exaGgF { grid-template-columns: repeat(3, 1fr); }
}

@media screen and (max-width: 767px) {
  .exaGgF { grid-template-columns: repeat(2, 1fr); }
}

@media screen and (max-width: 599px) {
  .exaGgF { grid-template-columns: 1fr; }
}

@media screen and (max-width: 599px) {
  .exaGgF > div:nth-of-type(-n+2) > div > a > div { border-bottom: 1px solid rgb(230, 232, 234); }
}

.ftMHkE { display: grid; width: 100%; background-color: rgb(255, 255, 255); margin-block: 48px; }

.ftMHkE:first-of-type { margin-top: 0px; }

@media screen and (max-width: 599px) {
  .ftMHkE { margin-block: 32px; }
  .ftMHkE:first-of-type { margin-top: 0px; }
}

.ftMHkE:last-of-type { margin-bottom: 120px; }

.eAYBHt { max-width: 1280px; width: 100%; position: relative; }

@media screen and (max-width: 8192px) {
  .eAYBHt { margin: 0px auto; }
}

.tp-backdrop { backdrop-filter: blur(4px); background-color: rgba(255, 255, 255, 0.7) !important; z-index: 1000 !important; }

.tp-modal { display: grid; place-content: center; margin-top: 80px !important; z-index: 2000 !important; }

.tp-modal * { z-index: 2000 !important; }

.tp-modal .tp-iframe-wrapper { margin-block: 0px !important; }

@media screen and (max-width: 599px) {
  .tp-modal { place-content: start; margin-top: 48px !important; }
}

.gfuvuF { position: relative; display: flex; -webkit-box-align: center; align-items: center; }

.fJOqOa { max-width: 100%; overflow: auto; }

@media screen and (max-width: 767px) {
  .fJOqOa > div { width: 100% !important; }
}

.fJOqOa iframe { position: relative !important; }

@media screen and (max-width: 767px) {
  .fJOqOa iframe { max-width: calc(-32px + 100vw); }
}

.cdwQHU { background-color: rgb(0, 113, 241); color: rgb(255, 255, 255); padding: 6px 12px; cursor: pointer; border: 2px solid rgb(0, 113, 241); font-family: "BBC Reith Sans", BBCReithSans-fallback, sans-serif; font-weight: 500; font-size: 16px; line-height: 18px; text-transform: none; text-decoration: none; letter-spacing: 0px; }

.cdwQHU:hover, .cdwQHU:focus { background-color: rgb(0, 81, 173); border: 2px solid rgb(0, 81, 173); outline: rgb(0, 81, 173) solid 2px; }

.cdwQHU:focus { outline: none; position: relative; border: 2px solid rgb(255, 255, 255); }

.cdwQHU:focus::before { content: ""; inset: -3.5px; }

.eYSlhf { cursor: pointer; }

.cLPfpr { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: end; gap: 20px; }

@media screen and (max-width: 599px) {
  .cLPfpr { display: none; }
}

.eJxjDN { display: none; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: end; }

@media screen and (max-width: 599px) {
  .eJxjDN { display: flex; }
}
