@charset "utf-8";

.dm7YTc .p1eHnf[aria-selected="true"] { background-color: rgb(60, 64, 67); }

.fDdcdd { display: flex; overflow: hidden; }

.pwZaRb { display: flex; overflow: hidden; width: 100%; }

.GkU1of .hGhvff { display: block; }

.GkU1of { flex-shrink: 0; transform: translate(0px); width: 24px; height: 24px; margin: 10px 10px 10px 0px; color: rgb(128, 134, 139); }

.dm7YTc .GkU1of { color: rgb(189, 193, 198); }

.p1eHnf.UtVwcd { padding: 0px 16px; }

.p1eHnf.UtVwcd:hover, .p1eHnf.UtVwcd:focus, .p1eHnf.UtVwcd:focus-within, .p1eHnf.UtVwcd[aria-selected="true"] { background-color: rgb(232, 234, 237); }

.dm7YTc .p1eHnf.UtVwcd:hover, .dm7YTc .p1eHnf.UtVwcd:focus, .dm7YTc .p1eHnf.UtVwcd:focus-within, .dm7YTc .p1eHnf.UtVwcd[aria-selected="true"] { background-color: rgb(60, 64, 67); }

.p1eHnf:first-child { margin-top: 2px; }

.p1eHnf:last-child { margin-bottom: 2px; }

.p1eHnf.Au3bp .GkU1of { width: 40px; height: 40px; margin: 8px 16px 8px 0px; }

.hYchye { display: flex; flex-direction: column; min-height: 50px; }

.KfXsid { font-size: 0.875rem; font-family: "Google Sans", sans-serif; }

.dm7YTc .KfXsid { color: rgb(255, 255, 255); }

.KfXsid.vkVJac { flex-grow: 1; }

.p1eHnf.UtVwcd .KfXsid.vkVJac { display: flex; align-items: center; flex-direction: row; }

.hYchye .KfXsid { min-height: 24px; line-height: 24px; }

.p1eHnf.Au3bp .pwZaRb { align-items: center; }

.p1eHnf.Au3bp .hYchye { min-height: 0px; }

.p1eHnf.Au3bp .KfXsid { font-size: 1rem; line-height: 1.5; font-family: "Google Sans Text", Roboto, sans-serif; color: rgb(31, 31, 31); }

.dm7YTc .p1eHnf.Au3bp .KfXsid { color: rgb(227, 227, 227); }

.Sz6s4e.Au3bp { font-size: 0.75rem; line-height: 1.33333; font-family: "Google Sans Text", Roboto, sans-serif; color: rgb(68, 71, 70); font-style: normal; }

.dm7YTc .Sz6s4e.Au3bp { color: rgb(196, 199, 197); }

.p1eHnf.Au3bp .jNjBJf { font-size: 0.875rem; line-height: 1.42857; font-family: "Google Sans Text", Roboto, sans-serif; color: rgb(31, 31, 31); font-style: normal; }

.dm7YTc .p1eHnf.Au3bp .jNjBJf { color: rgb(196, 199, 197); }

.hYchye .jNjBJf { font-size: 0.75rem; font-style: italic; color: rgb(95, 99, 104); min-height: 17px; line-height: 17px; padding-right: 3px; }

.dm7YTc .hYchye .jNjBJf { color: rgb(189, 193, 198); }

.bmkrS { font-size: 0.75rem; font-family: "Google Sans", sans-serif; padding: 1rem 1rem 0.5rem; color: rgb(95, 99, 104); }

.dm7YTc .bmkrS { color: rgb(189, 193, 198); }

.eB3Wle { margin: auto 0px auto auto; padding: 0px 8px; }

.p1eHnf.Au3bp .eB3Wle { padding-right: 0px; }

.HdH78e { font-size: 0.75rem; text-align: center; padding: 4px 0px; line-height: 1; }

.Sz6s4e { text-align: center; font-style: italic; color: rgb(95, 99, 104); }

.dm7YTc .Sz6s4e { color: rgb(189, 193, 198); }

.p1eHnf.RDPZE.UtVwcd { display: flex; align-items: center; justify-content: center; }

.p1eHnf.RDPZE.UtVwcd .Sz6s4e { font-size: 0.75rem; margin: 8px 0px; }

sentinel { }
