@charset "utf-8";

[stylesheet-group="0"] { }

body { margin: 0px; }

html { text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input::-webkit-search-cancel-button, input::-webkit-search-decoration, input::-webkit-search-results-button, input::-webkit-search-results-decoration { display: none; }

[stylesheet-group="1"] { }

.css-146c3p1 { background-color: rgba(0, 0, 0, 0); border: 0px solid black; box-sizing: border-box; color: rgb(0, 0, 0); display: inline; font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; list-style: none; margin: 0px; padding: 0px; position: relative; text-align: start; text-decoration: none; white-space: pre-wrap; overflow-wrap: break-word; }

.css-175oi2r { align-items: stretch; background-color: rgba(0, 0, 0, 0); border: 0px solid black; box-sizing: border-box; display: flex; flex-basis: auto; flex-direction: column; flex-shrink: 0; list-style: none; margin: 0px; min-height: 0px; min-width: 0px; padding: 0px; position: relative; text-decoration: none; z-index: 0; }

.css-1jxf684 { background-color: rgba(0, 0, 0, 0); border: 0px solid black; box-sizing: border-box; color: inherit; display: inline; font: inherit; list-style: none; margin: 0px; padding: 0px; position: relative; text-align: inherit; text-decoration: none; white-space: inherit; overflow-wrap: break-word; }

.css-9pa8cd { inset: 0px; height: 100%; opacity: 0; position: absolute; width: 100%; z-index: -1; }

[stylesheet-group="2"] { }

.r-13awgt0 { flex: 1 1 0%; }

.r-1adg3ll { display: block; }

.r-1jkafct { border-radius: 2px; }

.r-1phboty { border-style: solid; }

.r-1udh08x { overflow: hidden; }

.r-4iw3lz { border-width: 0px; }

.r-4qtqp9 { display: inline-block; }

.r-6koalj { display: flex; }

.r-bztko3 { overflow: visible; }

.r-crgep1 { margin: 0px; }

.r-hvic4v { display: none; }

.r-krxsd3 { display: -webkit-box; }

.r-rs99b7 { border-width: 1px; }

.r-sdzlij { border-radius: 9999px; }

.r-t60dpp { padding: 0px; }

.r-wwvuq4 { padding: 0px; }

.r-xoduu5 { display: inline-flex; }

.r-ywje51 { margin: auto; }

.r-z2wwpe { border-radius: 4px; }

.r-1dqxon3 { overflow: auto; }

.r-1867qdf { border-radius: 16px; }

.r-1ets6dv { border-color: rgb(207, 217, 222); }

.r-494qqr { padding: 32px; }

.r-1pcd2l5 { padding: 20px; }

.r-nsbfu8 { padding: 16px; }

.r-1yadl64 { border-width: 0px; }

.r-11mg6pl { border-color: rgb(255, 255, 255); }

.r-jxzhtn { border-color: rgb(239, 243, 244); }

.r-d045u9 { border-width: 2px; }

.r-xf4iuw { margin: -8px; }

.r-edyy15 { padding: 8px; }

.r-xyw6el { padding: 12px; }

.r-1xfd6ze { border-radius: 8px; }

.r-1wl2o3p { border-color: rgb(229, 234, 236); }

.r-1q9bdsx { border-radius: 12px; }

.r-y47klf { border-radius: 20px; }

.r-17gur6a { border-radius: 0px; }

.r-42olwf { border-color: rgba(0, 0, 0, 0); }

.r-vhj8yc { border-color: rgb(29, 155, 240); }

.r-1m6w7xr { border-color: rgb(244, 33, 46); }

.r-98ikmy { margin: 32px; }

.r-1wgstfn { border-style: none; }

.r-1d6w8o1 { border-color: rgb(247, 249, 249); }

.r-tuq35u { padding: 4px; }

.r-hv52eu { margin: 12px; }

.r-fx7oqy { border-color: rgb(0, 0, 255); }

.r-60ke3l { border-color: rgb(0, 128, 0); }

.r-4a18lf { border-color: rgb(255, 0, 0); }

.r-1sbahrg { padding: 28px; }

.r-sqpuna { border-radius: inherit; }

.r-zhp00w { padding: 2px; }

.r-6413gk { display: grid; }

.r-d23pfw { padding: 24px; }

.r-1pp0k63 { border-radius: 0.01px; }

.r-1fuqb1j { border-radius: 24px; }

.r-1r851ge { overscroll-behavior: contain; }

.r-1471scf { display: inline; }

.r-14f9gny { border-width: 4px; }

.r-hwh8t1 { margin: 8px; }

.r-791edh { flex: 1 1 auto; }

.r-a9p05 { flex: 0 0 auto; }

.r-1udnf30 { border-radius: 48px; }

.r-1064s9p { margin: 4px; }

.r-1j16mh1 { border-radius: 100%; }

.r-2kxcpj { inset: 0px; }

.r-1ccsd61 { border-color: rgb(83, 100, 113); }

.r-15ma8z { border-color: rgb(185, 202, 211); }

.r-1t5sk70 { overscroll-behavior: auto; }

.r-1wo6uvp { border-color: rgb(15, 20, 25); }

.r-1hf1z12 { border-width: 16px; }

.r-eg6o18 { border-style: dashed; }

.r-1mhqjh3 { }

.r-1va55bh { }

.r-8j4m9z { margin: -2px; }

.r-6wfxan { flex: 4 1 0%; }

.r-dta0w2 { flex: 2 1 0%; }

.r-1q4bek2 { flex: 8 1 0%; }

.r-nsiyw1 { border-radius: 32px; }

.r-1jwulwa { overflow: scroll; }

[stylesheet-group="2.1"] { }

.r-1559e4e { padding-bottom: 2px; padding-top: 2px; }

.r-1fkl15p { padding-left: 32px; padding-right: 32px; }

.r-3o4zer { padding-left: 12px; padding-right: 12px; }

.r-3pj75a { padding-left: 16px; padding-right: 16px; }

.r-cxgwc0 { padding-left: 24px; padding-right: 24px; }

.r-dd0y9b { padding-bottom: 20px; padding-top: 20px; }

.r-ddtstp { margin-bottom: 0px; margin-top: 0px; }

.r-dp7rxi { padding-bottom: 40px; padding-top: 40px; }

.r-f8sm7e { margin-left: auto; margin-right: auto; }

.r-n7gxbd { padding-left: 4px; padding-right: 4px; }

.r-s49dbf { margin-bottom: 1px; margin-top: 1px; }

.r-sjygvo { padding-left: 1em; padding-right: 1em; }

.r-w7s2jr { padding-bottom: 16px; padding-top: 16px; }

.r-is05cd { padding-left: 8px; padding-right: 8px; }

.r-1e084wi { padding-left: 0px; padding-right: 0px; }

.r-1mkv55d { padding-bottom: 0px; padding-top: 0px; }

.r-cnw61z { padding-bottom: 4px; padding-top: 4px; }

.r-184id4b { margin-bottom: 12px; margin-top: 12px; }

.r-1xpp3t0 { margin-left: 16px; margin-right: 16px; }

.r-1f0wa7y { padding-left: 80px; padding-right: 80px; }

.r-1mmae3n { padding-bottom: 12px; padding-top: 12px; }

.r-u9wvl5 { padding-left: 20px; padding-right: 20px; }

.r-jusfrs { margin-left: 12px; margin-right: 12px; }

.r-1xk7izq { margin-bottom: 32px; margin-top: 32px; }

.r-1j93nrh { margin-left: 0px; margin-right: 0px; }

.r-1xuzw63 { margin-bottom: 2px; margin-top: 2px; }

.r-11f147o { padding-bottom: 8px; padding-top: 8px; }

.r-7d4baw { margin-bottom: unset; margin-top: unset; }

.r-1537yvj { margin-left: 4px; margin-right: 4px; }

.r-12kyg2d { margin-bottom: 16px; margin-top: 16px; }

.r-lzsi8w { padding-left: 2px; padding-right: 2px; }

.r-l00any { margin-bottom: 4px; margin-top: 4px; }

.r-bvopu0 { margin-left: -4px; margin-right: -4px; }

.r-140ww7k { margin-bottom: 40px; margin-top: 40px; }

.r-8g1505 { margin-bottom: 48px; margin-top: 48px; }

.r-1qrrd7t { padding-bottom: 28px; padding-top: 28px; }

.r-guu4a { padding-bottom: 0.1em; padding-top: 0.1em; }

.r-1llchr0 { }

.r-bx70bn { margin-bottom: 8px; margin-top: 8px; }

.r-14tvyh0 { padding-left: 0px; padding-right: 0px; }

.r-wnp491 { margin-left: 2px; margin-right: 2px; }

.r-1kqz2tg { margin-bottom: calc(-12px); margin-top: calc(-12px); }

.r-iwh88d { margin-left: -16px; margin-right: -16px; }

.r-19h0kl5 { margin-left: 32px; margin-right: 32px; }

.r-1y6u10y { margin-bottom: 20px; margin-top: 20px; }

[stylesheet-group="2.2"] { }

.r-1ca1ndr { margin-left: 0.5em; }

.r-1ez5h0i { margin-left: 4px; }

.r-1gs4q39 { margin-right: 4px; }

.r-1kkk96v { margin-left: 8px; }

.r-1kpi4qh { margin-left: 0.075em; }

.r-1l2kgy { margin-right: 0.5em; }

.r-1q6cnnd { right: -2px; }

.r-1wron08 { margin-right: 8px; }

.r-3t4u6i { margin-left: 2px; }

.r-45ll9u { left: 50%; }

.r-5f1w11 { left: -2px; }

.r-k4bwe5 { margin-right: 0.075em; }

.r-o59np7 { padding-right: 8px; }

.r-ocobd0 { right: 50%; }

.r-qjj4hq { padding-left: 8px; }

.r-x1x4zq { margin-right: 2px; }

.r-cwltf5 { border-top-right-radius: 32px; }

.r-72fyl3 { border-top-left-radius: 32px; }

.r-2utimh { right: -4px; }

.r-v3tthl { left: -4px; }

.r-615f2u { right: 1px; }

.r-1182swk { left: 1px; }

.r-1cwvpvk { margin-left: 12px; }

.r-1a11zyx { margin-right: 12px; }

.r-1n1ahh4 { right: -6px; }

.r-14uwu9y { left: -6px; }

.r-dlybji { margin-right: 16px; }

.r-1x2e62v { margin-left: 16px; }

.r-nazi8o { margin-left: 20px; }

.r-1rtiivn { margin-right: 20px; }

.r-trst2h { padding-right: 4px; }

.r-1noe1sz { padding-left: 4px; }

.r-1l8l4mf { margin-right: 10px; }

.r-t1sew1 { margin-left: 10px; }

.r-10f7w94 { margin-right: 70px; }

.r-1oukvu3 { margin-left: 70px; }

.r-1abdc3e { margin-right: 0px; }

.r-1lg4w6u { margin-left: 0px; }

.r-pt392 { margin-left: 60px; }

.r-17i1h83 { margin-right: 60px; }

.r-hjq6k0 { margin-left: 1px; }

.r-1iwt575 { margin-right: 1px; }

.r-15xeili { margin-left: -48px; }

.r-gd96e9 { margin-right: -48px; }

.r-faml9v { padding-right: 12px; }

.r-2dysd3 { padding-left: 12px; }

.r-st84sj { border-top-right-radius: 16px; }

.r-j3xhw6 { border-top-left-radius: 16px; }

.r-1c4vpko { padding-right: 16px; }

.r-1c7gwzm { padding-left: 16px; }

.r-42265s { right: 16px; }

.r-1uofg76 { left: 16px; }

.r-vo0kah { margin-left: 3px; }

.r-kj1g8r { margin-right: 3px; }

.r-1vvknzl { border-bottom-right-radius: calc(6px); }

.r-1nnxxv8 { border-bottom-left-radius: calc(6px); }

.r-18q12wh { border-top-right-radius: calc(6px); }

.r-j0s8sf { border-top-left-radius: calc(6px); }

.r-usxfr8 { right: 0px; }

.r-5za702 { left: 0px; }

.r-sc2pg8 { right: 8px; }

.r-trjkob { left: 8px; }

.r-1she8f3 { right: 2px; }

.r-1aje8t0 { left: 2px; }

.r-7lkd7n { margin-right: calc(-12px); }

.r-j3rulu { margin-left: calc(-12px); }

.r-1kqyzh3 { border-left-color: rgb(29, 155, 240); }

.r-1khm80z { border-right-color: rgb(29, 155, 240); }

.r-1397qdh { border-left-width: 4px; }

.r-5bzmnx { border-right-width: 4px; }

.r-16ms66u { border-left-color: rgb(0, 186, 124); }

.r-y35qus { border-right-color: rgb(0, 186, 124); }

.r-1uhvz5r { border-left-color: rgb(36, 46, 54); }

.r-1u4n77r { border-right-color: rgb(36, 46, 54); }

.r-1ba6zt5 { right: 12px; }

.r-1f55h46 { left: 12px; }

.r-2dkq44 { border-bottom-right-radius: 0px; }

.r-1emcu8v { border-bottom-left-radius: 0px; }

.r-1nptdac { border-top-right-radius: 0px; }

.r-1fxuiuv { border-top-left-radius: 0px; }

.r-hv4q04 { border-bottom-left-radius: 4px; }

.r-1h6o5vw { border-bottom-right-radius: 4px; }

.r-1nna3df { border-top-left-radius: 4px; }

.r-ne48ov { border-top-right-radius: 4px; }

.r-1ua6aaf { border-right-width: 1px; }

.r-th6na { border-left-width: 1px; }

.r-1aybqs4 { border-right-width: 0px; }

.r-1pthbko { border-left-width: 0px; }

.r-1yzetkn { right: calc(-4px); }

.r-mnf1p6 { left: calc(-4px); }

.r-10mv89r { padding-left: 2px; }

.r-11ammwz { padding-right: 2px; }

.r-1q2fham { border-top-right-radius: 12px; }

.r-1scetje { border-top-left-radius: 12px; }

.r-1jdueux { margin-left: -24px; }

.r-1eud7ww { margin-right: -24px; }

.r-17m335o { padding-left: 28px; }

.r-16ukx4h { padding-right: 28px; }

.r-16d909q { margin-left: calc(-8px); }

.r-1xcu04 { margin-right: calc(-8px); }

.r-tf3kaq { border-bottom-right-radius: 12px; }

.r-132r3o7 { border-bottom-left-radius: 12px; }

.r-10s2tm5 { left: 0%; }

.r-dqe1q { right: 0%; }

.r-rci37q { left: 100%; }

.r-16o8guy { right: 100%; }

.r-1cpoos2 { padding-left: calc(4px); }

.r-mkqeb1 { padding-right: calc(4px); }

.r-rsa8lv { padding-left: calc(3px); }

.r-f5ak57 { padding-right: calc(3px); }

.r-113pe33 { border-left-color: rgb(239, 243, 244); }

.r-1lsmntn { border-right-color: rgb(239, 243, 244); }

.r-j3woxi { right: -17px; }

.r-9ov4p0 { left: -17px; }

.r-wep0am { margin-right: calc(-1px); }

.r-hmfi9f { margin-left: calc(-1px); }

.r-17il4ia { right: -13px; }

.r-1ipyncv { left: -13px; }

.r-hqcit5 { right: 32px; }

.r-1xiqh41 { left: 32px; }

.r-b73p73 { left: 4px; }

.r-gnaext { right: 4px; }

.r-1sgug7a { padding-left: 24px; }

.r-gfl2nd { padding-right: 24px; }

.r-6w0tje { margin-right: -100%; }

.r-vhlkxz { margin-left: -100%; }

.r-u1qpv9 { padding-right: 100%; }

.r-lprsdi { padding-left: 100%; }

.r-1v57z21 { margin-left: auto; }

.r-zgris8 { margin-right: auto; }

.r-1spjlma { border-left-width: 2px; }

.r-1heis2j { border-right-width: 2px; }

.r-boostq { margin-left: calc(50% - 1px); }

.r-3f16pz { margin-right: calc(50% - 1px); }

.r-2i9t9z { left: calc(50% - 1px); }

.r-119zqf4 { right: calc(50% - 1px); }

.r-1ck5maq { margin-left: 24px; }

.r-di8nfa { margin-right: 24px; }

.r-157r9qg { margin-right: 40px; }

.r-1ena8oo { margin-left: 40px; }

.r-1ppjx4j { border-top-right-radius: inherit; }

.r-1mdvov6 { border-top-left-radius: inherit; }

[stylesheet-group="3"] { }

.r-105ug2t { pointer-events: auto !important; }

.r-109y4c4 { height: 1px; }

.r-10ptun7 { height: 16px; }

.r-10v3vxq { transform: scaleX(-1); }

.r-117bsoe { margin-bottom: 20px; }

.r-11c0sde { margin-top: 24px; }

.r-11j9u27 { visibility: hidden; }

.r-12181gd { box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 2px inset; }

.r-12sks89 { min-height: 22px; }

.r-12vffkv > * { pointer-events: auto; }

.r-12vffkv { pointer-events: none !important; }

.r-12ym1je { width: 18px; }

.r-135wba7 { line-height: 24px; }

.r-13qz1uu { width: 100%; }

.r-13wfysu { text-decoration-line: none; }

.r-146iojx { max-width: 300px; }

.r-1472mwg { height: 24px; }

.r-14j79pv { color: rgb(83, 100, 113); }

.r-14lw9ot { background-color: rgb(255, 255, 255); }

.r-15ysp7h { min-height: 32px; }

.r-16dba41 { font-weight: 400; }

.r-16y2uox { flex-grow: 1; }

.r-176fswd { transform: translateX(-50%) translateY(-50%); }

.r-1777fci { justify-content: center; }

.r-17bb2tj { animation-duration: 0.75s; }

.r-17leim2 { background-repeat: repeat; }

.r-17s6mgv { justify-content: flex-end; }

.r-18jsvk2 { color: rgb(15, 20, 25); }

.r-18tzken { width: 56px; }

.r-18u37iz { flex-direction: row; }

.r-18yzcnr { height: 22px; }

.r-19wmn03 { width: 20px; }

.r-19yznuf { min-height: 52px; }

.r-1abnn5w { animation-play-state: paused; }

.r-1acpoxo { width: 36px; }

.r-1ad0z5i { word-break: break-all; }

.r-1awozwy { align-items: center; }

.r-1b43r93 { font-size: 14px; }

.r-1betnmo { max-width: 672px; }

.r-1blnp2b { width: 72px; }

.r-1blvdjr { font-size: 23px; }

.r-1ceczpf { min-height: 24px; }

.r-1cwl3u0 { line-height: 16px; }

.r-1d2f490 { left: 0px; }

.r-1ddef8g { text-decoration-line: underline; }

.r-1dn12g7 { line-height: 48px; }

.r-1ebb2ja { list-style: none; }

.r-1ff274t { text-align: right; }

.r-1gkfh8e { font-size: 11px; }

.r-1h0z5md { justify-content: flex-start; }

.r-1h8ys4a { padding-top: 4px; }

.r-1hjwoze { height: 18px; }

.r-1iln25a { overflow-wrap: normal; }

.r-1inkyih { font-size: 17px; }

.r-1ipicw7 { width: 300px; }

.r-1iusvr4 { flex-basis: 0px; }

.r-1janqcz { width: 16px; }

.r-1jaylin { width: max-content; }

.r-1k78y06 { font-family: Tahoma, Arial, sans-serif; }

.r-1kihuf0 { align-self: center; }

.r-1ldzwu0 { animation-timing-function: linear; }

.r-1loqt21 { cursor: pointer; }

.r-1mlwlqe { flex-basis: auto; }

.r-1mrlafo { background-position: 0px center; }

.r-1muvv40 { animation-iteration-count: infinite; }

.r-1mwlp6a { height: 56px; }

.r-1nao33i { color: rgb(231, 233, 234); }

.r-1niwhzg { background-color: rgba(0, 0, 0, 0); }

.r-1ny4l3l { outline-style: none; }

.r-1oifz5y { background-color: rgb(170, 17, 0); }

.r-1oszu61 { align-items: stretch; }

.r-1otgn73 { touch-action: manipulation; }

.r-1p0dtai { bottom: 0px; }

.r-1pi2tsx { height: 100%; }

.r-1ps3wis { min-width: 44px; }

.r-1qd0xha { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.r-1qi8awa { min-width: 36px; }

.r-1r5jyh0 { min-height: 130px; }

.r-1r8g8re { height: 36px; }

.r-1s2hp8q { min-height: 26px; }

.r-1sxrcry { background-size: auto; }

.r-1tl8opc { font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif; }

.r-1to6hqq { background-color: rgb(255, 212, 0); }

.r-1ttztb7 { text-align: inherit; }

.r-1udbk01 { text-overflow: ellipsis; }

.r-1v2oles { top: 50%; }

.r-1vmecro { direction: rtl; }

.r-1vr29t4 { font-weight: 800; }

.r-1wb8bfx { text-decoration-thickness: 2px; }

.r-1wbh5a2 { flex-shrink: 1; }

.r-1wyyakw { z-index: -1; }

.r-1xcajam { position: fixed; }

.r-1xk2f4g { clip: rect(1px, 1px, 1px, 1px); }

.r-1xnzce8 { user-select: text; }

.r-1xvli5t { height: 1.25em; }

.r-1y7e96w { min-width: 22px; }

.r-1ye8kvj { max-width: 600px; }

.r-1yef0xd { animation-name: r-11cv4x; }

.r-1yjpyg1 { font-size: 31px; }

.r-1ykxob0 { top: 60%; }

.r-2o02ov { margin-top: 40px; }

.r-2tavb8 { background-color: rgba(0, 0, 0, 0.6); }

.r-2yi16 { min-height: 36px; }

.r-36ujnk { font-style: italic; }

.r-37tt59 { line-height: 32px; }

.r-3s2u2q { white-space: nowrap; }

.r-417010 { z-index: 0; }

.r-4gszlv { background-size: cover; }

.r-4wgw6l { min-width: 32px; }

.r-54znze { color: rgb(239, 243, 244); }

.r-56xrmm { line-height: 12px; }

.r-6026j { background-color: rgba(255, 255, 255, 0.85); }

.r-633pao { pointer-events: none !important; }

.r-6416eg { transition-property: background-color, box-shadow; }

.r-64el8z { min-width: 52px; }

.r-7q8q6z { cursor: default; }

.r-8akbws { -webkit-box-orient: vertical; }

.r-8jfcpp { top: -2px; }

.r-92ng3h { width: 1px; }

.r-a023e6 { font-size: 15px; }

.r-adyw6z { font-size: 20px; }

.r-agouwx { transform: translateZ(0px); }

.r-ah5dr5 > * { pointer-events: none; }

.r-ah5dr5 { pointer-events: auto !important; }

.r-aqfbo4 { backface-visibility: hidden; }

.r-b88u0q { font-weight: 700; }

.r-bcqeeo { min-width: 0px; }

.r-bnwqim { position: relative; }

.r-bt1l66 { min-height: 20px; }

.r-bvlit7 { margin-bottom: -12px; }

.r-clrlgt { animation-name: r-imtty0; }

.r-deolkf { box-sizing: border-box; }

.r-dflpy8 { height: 1.2em; }

.r-dnmrzs { max-width: 100%; }

.r-ehq7j7 { background-size: contain; }

.r-emqnss { transform: translateZ(0px); }

.r-eqz5dr { flex-direction: column; }

.r-ero68b { min-height: 40px; }

.r-fdjqy7 { text-align: left; }

.r-fm7h5w { font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.r-h9hxbl { width: 1.2em; }

.r-icoktb { opacity: 0.5; }

.r-ifefl9 { min-height: 0px; }

.r-impgnl { transform: translateX(50%) translateY(-50%); }

.r-iphfwy { padding-bottom: 4px; }

.r-ipm5af { top: 0px; }

.r-jmul1s { transform: scale(1.1); }

.r-jwli3a { color: rgb(255, 255, 255); }

.r-kemksi { background-color: rgb(0, 0, 0); }

.r-lp5zef { min-width: 24px; }

.r-lrsllp { width: 24px; }

.r-lrvibr { user-select: none; }

.r-m6rgpd { vertical-align: text-bottom; }

.r-majxgm { font-weight: 500; }

.r-n6v787 { font-size: 13px; }

.r-nhe8su { animation-duration: 0.5s; }

.r-nvplwv { animation-timing-function: ease-out; }

.r-nwxazl { line-height: 40px; }

.r-o7ynqc { transition-duration: 0.2s; }

.r-peo1c { min-height: 44px; }

.r-poiln3 { font-family: inherit; }

.r-pp5qcn { vertical-align: -20%; }

.r-q4m81j { text-align: center; }

.r-qlhcfr { font-size: 0.001px; }

.r-qvk6io { line-height: 0px; }

.r-qvutc0 { overflow-wrap: break-word; }

.r-rjixqe { line-height: 20px; }

.r-rki7wi { bottom: 12px; }

.r-s67bdx { font-size: 48px; }

.r-sb58tz { max-width: 1000px; }

.r-tjvw6i { text-decoration-thickness: 1px; }

.r-u6sd8q { background-repeat: no-repeat; }

.r-u8s1d { position: absolute; }

.r-ueyrd6 { line-height: 36px; }

.r-uho16t { font-size: 34px; }

.r-vkv6oe { min-width: 40px; }

.r-vqxq0j { border: 0px solid black; }

.r-vrz42v { line-height: 28px; }

.r-vvn4in { background-position: center center; }

.r-wy61xf { height: 72px; }

.r-x3cy2q { background-size: 100% 100%; }

.r-x572qd { background-color: rgb(247, 249, 249); }

.r-xigjrr { filter: blur(4px); }

.r-yc9v9c { width: 22px; }

.r-yn5ncy { animation-fill-mode: both; }

.r-yy2aun { font-size: 26px; }

.r-yyyyoo { fill: currentcolor; }

.r-z7pwl0 { max-width: 700px; }

.r-z80fyv { height: 20px; }

.r-zchlnj { right: 0px; }

@-webkit-keyframes r-11cv4x {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes r-imtty0 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes r-11cv4x {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes r-imtty0 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.r-m8i80 { position: absolute; visibility: hidden; top: 0px; width: 50px; pointer-events: none; }

.r-m8i80.loaded { visibility: visible; top: 50vh; width: 50px; }

.r-12vffkv > * { pointer-events: auto; }

.r-ah5dr5 > * { pointer-events: none; }

.r-gfcssk { height: 0.2rem; }

.r-184en5c { z-index: 1; }

.r-1joz4e6 { transition-duration: 0.5s; }

.r-11iat2r { transition-property: width; }

.r-1c4c958 { transition-timing-function: linear; }

.r-1ay1djp { animation-duration: 1s; }

.r-j300sb { animation-name: r-1rx4pb; }

@-webkit-keyframes r-1rx4pb {
  0% { }
  100% { }
}

@keyframes r-1rx4pb {
  0% { }
  100% { }
}

.r-1azx6h { max-height: 480px; }

.r-7mdpej { max-width: 360px; }

.r-1vsu8ta { min-height: 30px; }

.r-ek4qxl { min-width: 260px; }

.r-1dum35f { transition-property: opacity, height; }

.r-z2knda { transition-timing-function: ease; }

.r-1pz39u2 { align-self: stretch; }

.r-obd0qt { align-items: flex-end; }

.r-g6jmlv { width: 100vw; }

.r-1ffj0ar { background-color: rgba(0, 0, 0, 0.4); }

.r-xr3zp9 { min-height: calc(192px); }

.r-pm9dpa { max-height: 100%; }

.r-1rnoaur { overflow-y: auto; }

.r-97e31f { padding-bottom: env(safe-area-inset-bottom); }

.r-1ur9v65 { padding-top: 40px; }

.r-1pjcn9w { max-width: 80vw; }

.r-9dcw1g { width: 320px; }

.r-k200y { align-self: flex-start; }

.r-l5o3uw { background-color: rgb(29, 155, 240); }

.r-1vqzmdl { background-color: rgb(215, 246, 255); }

.r-4nw3r4 { background-color: rgb(249, 24, 128); }

.r-168457u { background-color: rgb(120, 86, 255); }

.r-ck2lme { background-color: rgb(219, 248, 235); }

.r-gkxrsp { background-color: rgb(0, 67, 41); }

.r-13w96dm { background-color: rgba(0, 0, 0, 0.3); }

.r-1e4ma89 { background-color: rgba(0, 0, 0, 0.55); }

.r-loe9s5 { background-color: rgba(0, 0, 0, 0.77); }

.r-1sw30gj { background-color: rgb(239, 243, 244); }

.r-1cf81hf { background-color: rgb(83, 100, 113); }

.r-19h8fux { background-color: rgb(55, 67, 77); }

.r-s224ru { background-color: rgb(0, 186, 124); }

.r-1k5gan { background-color: rgb(236, 232, 255); }

.r-178kkxs { background-color: rgb(255, 237, 219); }

.r-2r9icm { background-color: rgb(255, 122, 0); }

.r-9tfo2e { background-color: rgba(255, 255, 255, 0.3); }

.r-t3ofa { }

.r-1vzmqqg { -webkit-font-smoothing: antialiased; }

.r-1cj0bla { }

.r-k8qxaj { padding-bottom: 20px; }

.r-tskmnb { padding-top: 8px; }

.r-vz2u4x { height: 11px; }

.r-lwhw9o { height: 1.75rem; }

.r-cnnz9e { width: 1.75rem; }

.r-1tbo1j0 { height: 1.5rem; }

.r-kr0nin { width: 1.5rem; }

.r-has40v { height: 2rem; }

.r-1mfgarj { width: 2rem; }

.r-drjvcx { height: 3.5rem; }

.r-ripixn { max-height: 16vh; }

.r-1me0s30 { max-height: unset; }

.r-1habvwh { align-items: flex-start; }

.r-1q142lx { flex-shrink: 0; }

.r-285fr0 { min-width: 16px; }

.r-1f4tc2a { background-color: rgb(244, 33, 46); }

.r-i61hcz { min-width: 20px; }

.r-1m4drjs { top: -6px; }

.r-1ozsyd3 { height: 7px; }

.r-12rgx7y { width: 7px; }

.r-3sxh79 { top: -1px; }

.r-k5y9r7 { height: 9px; }

.r-1t7zxhp { width: 9px; }

.r-1tjplnt { box-sizing: content-box; }

.r-oucylx { border-bottom-color: rgba(0, 0, 0, 0); }

.r-rull8r { border-bottom-style: solid; }

.r-wgabs5 { border-bottom-width: 2px; }

.r-h3s6tt { height: 48px; }

.r-rwqe4o { width: 48px; }

.r-1ph75f1 { height: 80px; }

.r-1glkqn6 { width: 80px; }

.r-1e6yznf { margin-top: -6px; }

.r-f4gmv6 { gap: 16px; }

.r-1ybcz0z { align-items: end; }

.r-136ojw6 { z-index: 2; }

.r-1t1ml4i { width: calc(100% + 32px); }

.r-1or9b2r { height: 10px; }

.r-5soawk { width: 10px; }

.r-1ld3bg { top: -4px; }

.r-9l7dzd { color: rgb(244, 33, 46); }

.r-33ulu8 { width: 600px; }

.r-1elnebe { width: 672px; }

.r-1obr2lp { width: 920px; }

.r-1edcmx9 { width: 1092px; }

.r-rthrr5 { width: 990px; }

.r-113js5t { width: 1050px; }

.r-3xaler { transition: width 200ms ease-out; }

.r-mrc9z7 { width: 1257px; }

.r-1jocfgc { width: 290px; }

.r-lif3th { width: 420px; }

.r-1hycxz { width: 350px; }

.r-pwrm9v { width: 390px; }

.r-1rt2jqs { width: 450px; }

.r-1gymjhz { width: 68px; }

.r-1c4mltk { width: 112px; }

.r-f9dfq4 { width: 88px; }

.r-o96wvk { width: 275px; }

.r-xrrr42 { width: 267px; }

.r-8i4a5g { transition: flex-grow 0.5s ease-in-out; }

.r-18kxxzh { flex-grow: 0; }

.r-orgf3d { opacity: 0; }

.r-11yh6sk { overflow-x: hidden; }

.r-6dt33c { opacity: 1; }

.r-1wtj0ep { justify-content: space-between; }

.r-yz1j6i { top: calc(env(safe-area-inset-bottom) - 53); }

.r-1dgieki { border-top-color: rgb(239, 243, 244); }

.r-1efd50x { border-top-style: solid; }

.r-5kkj8d { border-top-width: 1px; }

.r-1szxp23 { min-height: 53px; }

.r-1u4rb1m { padding-bottom: calc(16px + env(safe-area-inset-bottom)); }

.r-95jzfe { padding-top: 16px; }

.r-1upvrn0 { box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px; }

.r-97prym { flex-basis: 16px; }

.r-1xoqx8s { flex-basis: 24px; }

.r-1cdyxaf { flex-basis: 32px; }

.r-onrtq4 { flex-basis: 40px; }

.r-1hwvwag { flex-basis: 48px; }

.r-v2d8zz { flex-basis: 56px; }

.r-193z5jo { flex-basis: 64px; }

.r-1e5uvyk { backdrop-filter: blur(12px); }

.r-1h3ijdo { height: 53px; }

.r-1bimlpy { background-color: rgb(207, 217, 222); }

.r-hdaws3 { height: 4px; }

.r-1qd7xl { top: 12px; }

.r-1aockid { width: 40px; }

.r-1t2qqvi { flex-basis: 50%; }

.r-s8bhmr { min-width: 56px; }

.r-eu3ka { height: 40px; }

.r-h0d30l { height: 28px; }

.r-1iww7jx { width: 28px; }

.r-1m3jxhj { background-color: rgb(15, 20, 25); }

.r-11zy11o { background-color: rgb(201, 54, 204); }

.r-tbmifm { height: 12px; }

.r-16eto9q { width: 12px; }

.r-j5o65s { border-bottom-color: rgb(239, 243, 244); }

.r-qklmqi { border-bottom-width: 1px; }

.r-1cvl2hr { color: rgb(29, 155, 240); }

.r-14gqq1x { margin-top: 4px; }

.r-xb2eav { font-size: 40px; }

.r-kzbkwu { padding-bottom: 12px; }

.r-k4xj1c { align-items: start; }

.r-1is30e5 { transform: rotate(360deg); }

.r-1x61ttu { transition: transform 1s; }

.r-8kz0gk { height: 2rem; }

.r-fxvszc { height: 106px; }

.r-1w6e6rj { flex-wrap: wrap; }

.r-1gn8etr { top: -0.5px; }

.r-dkhcqf { transition-duration: 350ms; }

.r-axxi2z { transition-property: transform; }

.r-18jm5s1 { transition-timing-function: cubic-bezier(0, 0, 0, 1); }

.r-1g40b8q { z-index: 3; }

.r-1jte41z { min-width: 350px; }

.r-30o5oe { appearance: none; }

.r-1dz5y72 { resize: none; }

.r-homxoj { color: inherit; }

.r-7cikom { font-size: inherit; }

.r-p1pxzi { margin-bottom: 0px; }

.r-1mnahxq { margin-top: 0px; }

.r-1mdbw0j { padding-bottom: 0px; }

.r-wk8lta { padding-top: 0px; }

.r-nf76sl { caret-color: rgb(29, 155, 240); }

.r-ttdzmv { padding-top: 12px; }

.r-1g80hic { opacity: 0.8; }

.r-1dqbpge { cursor: text; }

.r-cqilzk { height: 400px; }

.r-3cgu77 { background-image: linear-gradient(90.38deg, rgb(103, 57, 198) 0.23%, rgb(64, 64, 191) 32.73%, rgb(71, 61, 192) 50.37%, rgb(30, 61, 161) 98.27%); }

.r-ea455c { border: none; }

.r-15zivkp { margin-bottom: 4px; }

.r-1s2bzr4 { margin-top: 12px; }

.r-13orzya { text-underline-offset: 2px; }

.r-16wqof { padding-bottom: 48px; }

.r-11nfnuw { padding-top: 48px; }

.r-1knelpx { padding-top: 20px; }

.r-hvns9x { max-width: 400px; }

.r-1v1z2uz { margin-top: 32px; }

.r-1ifxtd0 { margin-bottom: 16px; }

.r-1wzrnnt { margin-top: 16px; }

.r-4d76ec { height: 200px; }

.r-l0gwng { width: 200px; }

.r-16l9doz { height: auto; }

.r-zd98yo { margin-bottom: 32px; }

.r-5oul0u { margin-bottom: 8px; }

.r-jzhu7e { max-width: calc(400px); }

.r-h8hv3c { margin-bottom: 36px; }

.r-1nxhmzv { margin-bottom: 28px; }

.r-1j6odui { background-image: linear-gradient(rgb(255, 212, 0), rgb(255, 122, 0)); }

.r-cqee49 { color: rgb(0, 0, 0); }

.r-knv0ih { margin-top: 8px; }

.r-1q4cwaf { height: 127px; }

.r-12xion9 { background-image: linear-gradient(rgba(183, 213, 189, 0.6) 0%, rgba(217, 197, 146, 0.6) 25%, rgba(231, 146, 66, 0.6) 50%, rgba(157, 65, 54, 0.2) 100%); }

.r-1fxktc6 { mask-image: linear-gradient(270deg, black 0%, transparent 75%); }

.r-xaq1zp { width: 75%; }

.r-uaa2di { gap: 10px; }

.r-1yxedwg { top: 8px; }

.r-1517nx3 { transform: translateY(-50%); }

.r-6gpygo { margin-bottom: 12px; }

.r-195d4m8 { height: 46px; }

.r-buy8e9 { overflow-y: hidden; }

.r-19z077z { touch-action: none; }

.r-2eszeu::-webkit-scrollbar { display: none; }

.r-2eszeu { scrollbar-width: none; }

.r-150rngu { }

.r-lltvgl { overflow-x: auto; }

.r-gtdqiz { position: sticky; }

.r-mhe3cw { z-index: 10; }

.r-mfh4gg { scroll-snap-type: x mandatory; }

.r-1ocf4r9 { scroll-snap-type: y mandatory; }

.r-cpa5s6 { scroll-snap-align: start; }

.r-1euycsn { flex-direction: row-reverse; }

.r-1d5kdc7 { flex-direction: column-reverse; }

.r-173mzie { transform: scaleY(-1); }

.r-u92y06 { background-color: rgb(255, 165, 0); }

.r-bv2aro { padding-left: env(safe-area-inset-left); }

.r-hxflta { padding-right: env(safe-area-inset-right); }

.r-10xqauy { padding-top: env(safe-area-inset-top); }

.r-z6ln5t { }

.r-1ui5ee8 { font-size: 32px; }

.r-pxynpr { flex-wrap: wrap-reverse; }

.r-1hc659g { margin-bottom: calc(-12px); }

.r-p3p4p0 { max-height: 17px; }

.r-hm2b0w { max-width: 17px; }

.r-1tl9yi8 { height: 17px; }

.r-1cvj4g8 { margin-top: 1px; }

.r-ig0lrl { width: 17px; }

.r-1gfgf0w { color: rgb(255, 212, 0); }

.r-12bvdwa { color: rgb(201, 54, 204); }

.r-f9ja8p { max-height: 20px; }

.r-og9te1 { max-width: 20px; }

.r-1e5efmr { background-color: rgb(255, 239, 255); }

.r-1wvb978 { font-feature-settings: "ss01"; }

.r-9iso6 { vertical-align: middle; }

.r-1cmwbt1 { gap: 8px; }

.r-9aw3ui { gap: 4px; }

.r-c8f5pn { background-color: rgba(255, 255, 255, 0.1); }

.r-7l9xyp { background-color: rgba(255, 255, 255, 0.2); }

.r-j79rdy { box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px; }

.r-1peqgm7 { background-color: rgba(29, 155, 240, 0.1); }

.r-15azkrj { background-color: rgba(0, 186, 124, 0.1); }

.r-1bwxo35 { grid-template-rows: 1fr auto auto; }

.r-12ckced { padding-top: 0px; }

.r-iyfy8q { width: auto; }

.r-1rozpwm { word-break: break-word; }

.r-vampta { max-width: 95%; }

.r-66qdqa { transform: rotate(-90deg); }

.r-eafdt9 { transition-duration: 0.15s; }

.r-19hi5yp { transition-property: height, width; }

.r-uvuy5l { height: 60px; }

.r-cfp7ip { width: 60px; }

.r-q5oqfz { max-width: 80%; }

.r-173mn98 { align-self: flex-end; }

.r-1994a6e { min-width: 400px; }

.r-5wli1b { transition: 300ms; }

.r-1ce3o0f { max-height: 80vh; }

.r-dgnwoc { height: unset; }

.r-t3sqpr { min-height: unset; }

.r-y42jk5 { transition: none; }

.r-8oi148 { height: 55px; }

.r-1f2l425 { min-height: 100dvh; }

.r-16xksha { flex-grow: 2; }

.r-zh076v { height: 100vh; }

.r-kwpbio { height: 650px; }

.r-rsyp9y { max-height: 90vh; }

.r-1279nm1 { min-height: 400px; }

.r-1202g5r { height: 90vh; }

.r-158ssxm { max-height: calc(960px); }

.r-1tsuqlv { max-height: 100vh; }

.r-1fu8b7j { height: 712px; }

.r-7h7f8p { max-width: 100vw; }

.r-68jxh1 { min-width: 500px; }

.r-lrx3fh { width: 500px; }

.r-1xfddsp { min-height: 300px; }

.r-htvplk { min-width: 600px; }

.r-1potc6q { top: 5%; }

.r-bjd4os { max-width: 990px; }

.r-k4qg8n { max-width: 1092px; }

.r-2llsf { min-height: 100%; }

.r-1jnkns4 { gap: 0px; }

.r-4zbufd { will-change: transform; }

.r-1tgfunj { gap: 40px; }

.r-1yaouiw { row-gap: 56px; }

.r-9ilfim { padding-bottom: 144px; }

.r-3e7lpq { min-width: 100%; }

.r-1yc6c17 { background-color: rgba(255, 255, 255, 0.97); }

.r-1l7z4oj { padding-bottom: 16px; }

.r-1tdvxe8 { bottom: 3.5rem; }

.r-1jnzvcq { padding-bottom: 80px; }

.r-5w8d63 { width: 33.3%; }

.r-11niif6 { max-width: 800px; }

.r-1peese0 { margin-bottom: 24px; }

.r-x1dlf0 { max-width: 200px; }

.r-1cmk5f5 { height: 1.1em; }

.r-pfw7x9 { width: 1.1em; }

.r-thhjwx { max-width: 75%; }

.r-j2cz3j { max-width: calc(384px); }

.r-1qcuhsn { top: calc(-4px); }

.r-1ssbvtb { gap: 12px; }

.r-sga3zk { height: 64px; }

.r-ip8ujx { height: 1em; }

.r-1hjx8j4 { width: 0.5em; }

.r-o6sn0f { color: rgb(0, 186, 124); }

.r-5c1b6u { color: rgb(255, 122, 0); }

.r-vkub15 { color: rgb(249, 24, 128); }

.r-1r5qcbo { filter: grayscale(100%); }

.r-1wusfap { padding-bottom: calc(6px); }

.r-1tq68r1 { flex-basis: unset; }

.r-1jtedbw { animation-direction: alternate; }

.r-yyvqcu { animation-duration: 10000ms; }

.r-pyq453 { animation-name: r-lqsu46; }

@-webkit-keyframes r-lqsu46 {
  0% { }
  100% { }
}

@keyframes r-lqsu46 {
  0% { }
  100% { }
}

.r-1roce1j { transform: translateX(0%); }

.r-14jq8y5 { width: 500%; }

.r-o29g2o { height: 30%; }

.r-hudz2g { min-height: 18px; }

.r-ktdv3k { min-width: 18px; }

.r-1oji4za { width: 30%; }

.r-20nvsa { max-width: 120%; }

.r-1nexy4t { transform: translateX(-50%) translateY(25%); }

.r-1w1rt8g { transform: translateX(-50%) translateY(30%); }

.r-30qeir { bottom: -4px; }

.r-1by1ycs { bottom: -2px; }

.r-1jeg54m { white-space: normal; }

.r-n04z8z { }

.r-1bymd8e { margin-top: 2px; }

.r-e7q0ms { width: 90%; }

.r-9hvr93 { box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 7px, rgba(101, 119, 134, 0.15) 0px 1px 3px 1px; }

.r-1d7fvdj { justify-content: space-evenly; }

.r-vakc41 { max-width: 550px; }

.r-1cmskyw { max-width: 640px; }

.r-1iud8zs { height: 50px; }

.r-ttb5dx { width: 50px; }

.r-hvzyjp { flex-basis: auto; }

.r-15jbc68 { color: rgb(130, 154, 171); }

.r-wfqgy4 { transition-duration: 100ms; }

.r-zd22at { transition-property: margin-bottom; }

.r-1qmwkkh { min-width: 45vw; }

.r-12zvaga { min-height: 45vh; }

.r-jjmaes { max-width: 760px; }

.r-1nz9sz9 { min-width: 437px; }

.r-15yupfm { max-width: 180px; }

.r-11rk87y { padding-bottom: 32px; }

.r-8d26hk { margin-bottom: 40px; }

.r-17w48nw { max-width: 380px; }

.r-17rnw9f { line-height: 30px; }

.r-f2mvze { letter-spacing: -0.8px; }

.r-kgusq2 { line-height: 52px; }

.r-19oahor { font-size: 64px; }

.r-nm9kes { letter-spacing: -1.2px; }

.r-1ncnki0 { line-height: 84px; }

.r-np636n { margin-top: 64px; }

.r-tv6buo { min-height: auto; }

.r-l4nmg1 { padding-bottom: 2px; }

.r-vmopo1 { padding-top: 2px; }

.r-1im9597 { height: 4rem; }

.r-qn3fzs { padding-bottom: 24px; }

.r-1x0uki6 { margin-top: 20px; }

.r-5sfk15 { height: 3rem; }

.r-rxcuwo { height: 50%; }

.r-m327ed { max-height: 380px; }

.r-1d09ksm { align-items: baseline; }

.r-1ghxqbu { font-variant: tabular-nums; }

.r-19qrga8 { margin-top: 3px; }

.r-1ozqkpa { text-transform: capitalize; }

.r-tzz3ar { flex-wrap: nowrap; }

.r-d7opph { animation-duration: 600ms; }

.r-py70b8 { animation-name: r-1cujv0; }

@-webkit-keyframes r-1cujv0 {
  0% { }
  50% { }
  100% { }
}

@keyframes r-1cujv0 {
  0% { }
  50% { }
  100% { }
}

.r-1qqlz1x { background-color: rgb(121, 75, 196); }

.r-8c4r2l { transition: height 200ms steps(6, jump-none); }

.r-1f7j148 { will-change: height, transform; }

.r-kpws4y { color: rgb(120, 86, 255); }

.r-17tloay { opacity: 0.6; }

.r-7xmw5f { width: fit-content; }

.r-1dgebii { background-color: rgb(224, 36, 94); }

.r-3da1kt { height: 8px; }

.r-1jg9483 { width: 8px; }

.r-1m53nns { animation-name: r-1p4bj17; }

@-webkit-keyframes r-1p4bj17 {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

@keyframes r-1p4bj17 {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

.r-qsswtv { animation-timing-function: cubic-bezier(0.44, 0.01, 0.48, 0.96); }

.r-1oec5bt { opacity: 0.2; }

.r-oebo59 { height: 128px; }

.r-vxvacx { fill: rgb(120, 86, 255); }

.r-12j2k7l { flex-flow: row; }

.r-132bva { height: 180px; }

.r-y3da5r { box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px; }

.r-10sqg0u { margin-bottom: 1px; }

.r-16lk18l { margin-bottom: 48px; }

.r-1k25im9 { height: 26px; }

.r-19tjxh9 { width: 26px; }

.r-15rgndz { margin-top: 0.25em; }

.r-1lzbym2 { padding-bottom: 0.25em; }

.r-1ght0y4 { padding-top: 0.1em; }

.r-dhbnww { line-height: 1.5em; }

.r-1gnzaew { animation-name: r-e177a5; }

@-webkit-keyframes r-e177a5 {
  0% { background-color: rgb(120, 86, 255); }
  50% { background-color: rgb(197, 183, 255); }
  100% { background-color: rgb(197, 183, 255); }
}

@keyframes r-e177a5 {
  0% { background-color: rgb(120, 86, 255); }
  50% { background-color: rgb(197, 183, 255); }
  100% { background-color: rgb(197, 183, 255); }
}

.r-a0fln8 { box-shadow: rgb(239, 243, 244) 0px 0px 4px 0px; }

.r-aes8xq { background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); }

.r-foqbm7 { background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); }

.r-1l6c170 { align-self: start; }

.r-912u2z { margin-bottom: -16px; }

.r-1dzmgqr { top: calc(-5px); }

.r-vhh4mp { background-color: rgb(234, 250, 255); }

.r-4tcnlu { background-color: rgb(255, 240, 241); }

.r-ifysjd { background-color: rgb(237, 255, 249); }

.r-1vcn8xc { background-color: rgb(254, 245, 236); }

.r-tvh3qr { color: rgb(234, 250, 255); }

.r-1035753 { color: rgb(255, 239, 255); }

.r-1rtmdkh { color: rgb(254, 222, 227); }

.r-1krgy4v { bottom: 0px; }

.r-1sc8clx { top: 0px; }

.r-1vtlodb { width: calc(100% - 8px); }

.r-mabqd8 { height: 32px; }

.r-1yvhtrz { width: 32px; }

.r-16pcm1t { gap: 20px; }

.r-1kbdv8c { column-gap: 4px; }

.r-178e2aa { grid-template-columns: repeat(5, 1fr); }

.r-1rxb9bi { row-gap: 4px; }

.r-a2tzq0 { justify-content: space-around; }

.r-1ujkv8a { aspect-ratio: 1 / 1; }

.r-18phcnl { direction: ltr; }

.r-113qch9 { cursor: auto; }

.r-10g5efv { width: 4px; }

.r-6h045k { width: calc(2px); }

.r-gwn77k { height: calc(2px); }

.r-t2kzqp { margin-bottom: calc(-8px); }

.r-eug0r7 { transform: scale(1); }

.r-13tjlyg { transition-duration: 0.1s; }

.r-s5r7i3 { top: 4px; }

.r-y1sb39 { transform: translate(-50%, -100%); }

.r-oqnfxt { transform: scale(1.2); }

.r-1w1gmib { transform: scale(0); }

.r-8g4rmw { background-color: rgb(108, 77, 230); }

.r-qt8cnk { background-color: rgb(96, 69, 204); }

.r-lnmdjk { box-shadow: rgb(188, 171, 255) 0px 0px 0px 2px; }

.r-im4jzf { height: calc(100px + env(safe-area-inset-bottom)); }

.r-1ku4o65 { box-shadow: rgb(239, 243, 244) 0px -1px 0px; }

.r-1ei5mc7 { cursor: inherit; }

.r-1c6unfx { forced-color-adjust: none; }

.r-1dernwh { height: 70%; }

.r-1ewcgjf { box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; }

.r-e0yzwg { mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0))); }

.r-1yvhe1m { flex-flow: wrap; }

.r-7ce9ev { row-gap: 2px; }

.r-1qtyvf0 { height: 23px; }

.r-o4n3w5 { width: 23px; }

.r-d1cdnr { overflow-wrap: normal; }

.r-1y5y3hm { background-color: rgb(185, 202, 211); }

.r-1ut4y0j { color: rgb(185, 202, 211); }

.r-8o66yb { max-width: calc(100% - 16px); }

.r-1ewfwdn { max-height: 40vh; }

.r-1y3nuc0 { color: rgb(248, 117, 128); }

.r-bqz1g2 { background-color: rgb(229, 234, 236); }

.r-dc5v9k { height: 80%; }

.r-6e0ovw { width: 80%; }

.r-dhudgx { top: -23px; }

.r-svuved { top: -19px; }

.r-r2y082 { max-width: 50%; }

.r-i8lcd2 { max-width: 40px; }

.r-46vdb2 { flex-grow: 7; }

.r-qpl8lv { height: 13px; }

.r-1xzupcd { width: 13px; }

.r-1b3fm86 { }

.r-7qv4eb { transition-duration: 250ms; }

.r-1i6wzkk { transition-property: opacity; }

.r-8fdsdq { z-index: 4; }

.r-8fhv3p { max-height: calc(-53px + 80vh); }

.r-h3f8nf { min-height: 100px; }

.r-19qcg2v { max-height: 35vh; }

.r-od9mb7 { padding-bottom: 0px; }

.r-193trtv { height: 40vh; }

.r-c554xy { border-top-color: rgb(207, 217, 222); }

.r-dcqb1h { height: 500px; }

.r-12c3ph5 { opacity: 0.4; }

.r-5xczd7 { transform: scale(0.99); }

.r-1ynpxo0 { transition: transform 0.2s; }

.r-1qoyk91 { transform: translate(-50%, -50%); }

.r-9rrtl8 { top: 32px; }

.r-1jav4zd { aspect-ratio: 16 / 9; }

.r-1hhg3ec { contain: paint; }

.r-1w2pmg { height: 0px; }

.r-1nlw0im { bottom: 8px; }

.r-1ou30vl { text-shadow: rgb(255, 255, 255) 1px 0px 8px; }

.r-1nmszxz { transition: opacity 0.3s; }

.r-1e84no7 { width: 348px; }

.r-pfqljz { min-width: 200px; }

.r-1j6l8hp { width: 20%; }

.r-1yrvz1o { transition: opacity 0.3s ease-in-out; }

.r-bi4vy9 { transform: translateY(100%); }

.r-1moh23t { bottom: 16px; }

.r-1xce0ei { width: 25%; }

.r-o52ifk { height: 100px; }

.r-1ro0kt6 { flex-basis: 0%; }

.r-10m9thr { transform: translate3d(0px, 0px, 0px); }

.r-1s5bdkl { scroll-snap-type: none; }

.r-j0xqu1 { color: rgb(207, 217, 222); }

.r-12pa0mw { background-image: linear-gradient(90deg, transparent 0%, rgb(255, 255, 255) 100%); }

.r-1nshp2r { background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, transparent 100%); }

.r-mmgh6r { transition: transform 200ms; }

.r-137agu6 { transform: scale(0.5); }

.r-1uiiinz { transform: scale(0.3); }

.r-1hyvf52 { transform: scale(0.4); }

.r-1panhkp { background-color: rgba(0, 0, 0, 0.03); }

.r-yrgyi6 { white-space: pre; }

.r-19hcixa { height: 108px; }

.r-17tb59b { opacity: 0.7; }

.r-1bi5vs5 { box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 13px 0px; }

.r-m5arl1 { width: 2px; }

.r-1ut4w64 { margin-bottom: -1px; }

.r-drfeu3 { background-color: rgba(0, 0, 0, 0.5); }

.r-yfv4eo { filter: blur(30px); }

.r-l3hqri { min-height: 16em; }

.r-r18ze4 { background-color: rgba(29, 155, 240, 0.2); }

.r-1teesnx { box-shadow: rgb(142, 205, 248) 0px 0px 0px 2px; }

.r-zl2h9q { margin-bottom: 2px; }

.r-xb9fkz { min-width: 144px; }

.r-1f720gc { width: 50%; }

.r-hma2yj { max-height: calc(128px); }

.r-1uvx8do { max-width: calc(128px); }

.r-adacv { min-height: 64px; }

.r-mipnrq { scroll-snap-align: center; }

.r-11ox1vg { scroll-snap-stop: always; }

.r-16x9es5 { min-height: calc(48px); }

.r-xd6kpl { padding-bottom: 8px; }

.r-1i36cah { transform: translate3d(0px, 0px, 0px); }

.r-11d23sj { height: calc(128px); }

.r-8xc9hv { margin-bottom: 44px; }

.r-gmrh3f { }

.r-1euja1d { margin-bottom: 22px; }

.r-kbtpn4 { margin-top: -20px; }

.r-1exagq { transform: translateY(10px); }

.r-ahpwbk { transition-duration: 400ms; }

.r-1609tof { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.r-16c2ywi { bottom: 10%; }

.r-1upy0dh { letter-spacing: 2px; }

.r-tsynxw { text-transform: uppercase; }

.r-jk79lb { transition: opacity 0.2s ease-in-out; }

.r-37j5jr { font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.r-1gg85qh { background-color: rgb(230, 230, 230); }

.r-7klgxt { background-color: rgb(204, 204, 204); }

.r-1vtznih { background-color: rgb(26, 140, 216); }

.r-yuvema { background-color: rgb(23, 124, 192); }

.r-1ydqjzz { background-color: rgba(15, 20, 25, 0.1); }

.r-h9yrwi { background-color: rgba(15, 20, 25, 0.2); }

.r-9235bf { box-shadow: rgb(135, 138, 140) 0px 0px 0px 2px; }

.r-cqqmhd { filter: blur(5px); }

.r-1xki9v7 { fill: rgb(83, 100, 113); }

.r-1bkx17m { height: 270px; }

.r-v4rx71 { width: 480px; }

.r-15zx4ds { height: 360px; }

.r-19eyfmh { width: 640px; }

.r-1ak92rz { height: 450px; }

.r-l0gqae { width: 800px; }
