@charset "utf-8";

#ucc-3 .DaYgZ::after, #ucc-3 .pLZE8d::after { color: rgb(4, 168, 174); }

#ucc-3 .pLZE8d::before { background: rgb(4, 168, 174); }

#ucc-3 .jzzMj { background: rgb(4, 168, 174); }

#ucc-3 .QeY9wc:not(.kafKN) { border-top-color: rgb(4, 168, 174); }

#ucc-3 .MyQDIb { background: rgb(4, 168, 174); }

.dm7YTc #ucc-3 .vP0hTc::before { background: rgb(4, 168, 174); }

.dm7YTc #ucc-3 .vP0hTc { color: rgb(4, 168, 174); }
