@charset "utf-8";

.gb_4d { font: 13px / 27px Roboto, Arial, sans-serif; z-index: 986; }

@-webkit-keyframes gb__a {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes gb__a {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

a.gb_Qa { border: none; color: rgb(66, 133, 244); cursor: default; font-weight: bold; outline: none; position: relative; text-align: center; text-decoration: none; text-transform: uppercase; white-space: nowrap; user-select: none; }

a.gb_Qa:hover::after, a.gb_Qa:focus::after { background-color: rgba(0, 0, 0, 0.12); content: ""; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }

a.gb_Qa:hover, a.gb_Qa:focus { text-decoration: none; }

a.gb_Qa:active { background-color: rgba(153, 153, 153, 0.4); text-decoration: none; }

a.gb_Ra { background-color: rgb(66, 133, 244); color: rgb(255, 255, 255); }

a.gb_Ra:active { background-color: rgb(0, 67, 178); }

.gb_Sa { box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px; }

.gb_Qa, .gb_Ra, .gb_Ta, .gb_Ua { display: inline-block; line-height: 28px; padding: 0px 12px; border-radius: 2px; }

.gb_Ta { background: rgb(248, 248, 248); border: 1px solid rgb(198, 198, 198); }

.gb_Ua { background: rgb(248, 248, 248); }

.gb_Ta, #gb a.gb_Ta.gb_Ta, .gb_Ua { color: rgb(102, 102, 102); cursor: default; text-decoration: none; }

#gb a.gb_Ua { cursor: default; text-decoration: none; }

.gb_Ua { border: 1px solid rgb(66, 133, 244); font-weight: bold; outline: none; background: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234)); }

#gb a.gb_Ua { color: rgb(255, 255, 255); }

.gb_Ua:hover { box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px; }

.gb_Ua:active { box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px inset; background: -webkit-linear-gradient(top, rgb(60, 122, 228), rgb(63, 118, 211)); }

#gb .gb_Va { background: rgb(255, 255, 255); border: 1px solid rgb(218, 220, 224); color: rgb(26, 115, 232); display: inline-block; text-decoration: none; }

#gb .gb_Va:hover { background: rgb(248, 251, 255); border-color: rgb(218, 220, 224); color: rgb(23, 78, 166); }

#gb .gb_Va:focus { background: rgb(244, 248, 255); color: rgb(23, 78, 166); outline: rgb(23, 78, 166) solid 1px; }

#gb .gb_Va:active, #gb .gb_Va:focus:active { background: rgb(236, 243, 254); color: rgb(23, 78, 166); }

#gb .gb_Va.gb_H { background: transparent; border: 1px solid rgb(95, 99, 104); color: rgb(138, 180, 248); text-decoration: none; }

#gb .gb_Va.gb_H:hover { background: rgba(255, 255, 255, 0.04); color: rgb(232, 234, 237); }

#gb .gb_Va.gb_H:focus { background: rgba(232, 234, 237, 0.12); color: rgb(232, 234, 237); outline: rgb(232, 234, 237) solid 1px; }

#gb .gb_Va.gb_H:active, #gb .gb_Va.gb_H:focus:active { background: rgba(232, 234, 237, 0.1); color: rgb(232, 234, 237); }

.gb_dd { display: inline-block; vertical-align: middle; }

.gb_Qe .gb_Q { bottom: -3px; right: -5px; }

.gb_D { position: relative; }

.gb_B { display: inline-block; outline: none; vertical-align: middle; border-radius: 2px; box-sizing: border-box; height: 40px; width: 40px; cursor: pointer; text-decoration: none; }

#gb#gb a.gb_B { cursor: pointer; text-decoration: none; }

.gb_B, a.gb_B { color: rgb(0, 0, 0); }

.gb_ed { border-color: transparent transparent rgb(255, 255, 255); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 11.5px; top: 33px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s 1 normal none running gb__a; }

.gb_fd { border-color: transparent transparent rgba(0, 0, 0, 0.2); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 11.5px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s 1 normal none running gb__a; top: 32px; }

.gb_la { background: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); color: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px; display: none; outline: none; overflow: hidden; position: absolute; right: 8px; top: 62px; animation: 0.2s ease 0s 1 normal none running gb__a; border-radius: 2px; user-select: text; }

.gb_dd.gb_Uc .gb_ed, .gb_dd.gb_Uc .gb_fd, .gb_dd.gb_Uc .gb_la, .gb_Uc.gb_la { display: block; }

.gb_dd.gb_Uc.gb_gd .gb_ed, .gb_dd.gb_Uc.gb_gd .gb_fd { display: none; }

.gb_Re { position: absolute; right: 8px; top: 62px; z-index: -1; }

.gb_hd .gb_ed, .gb_hd .gb_fd, .gb_hd .gb_la { margin-top: -10px; }

.gb_dd:first-child, #gbsfw:first-child + .gb_dd { padding-left: 4px; }

.gb_Fa.gb_Se .gb_dd:first-child { padding-left: 0px; }

.gb_Te { position: relative; }

.gb_3c .gb_Te, .gb_Kd .gb_Te { float: right; }

.gb_B { padding: 8px; cursor: pointer; }

.gb_B::after { content: ""; position: absolute; inset: -4px; }

.gb_Fa .gb_id:not(.gb_Qa):focus img { background-color: rgba(0, 0, 0, 0.2); outline: none; border-radius: 50%; }

.gb_jd button svg, .gb_B { border-radius: 50%; }

.gb_jd button:focus:not(:focus-visible) svg, .gb_jd button:hover svg, .gb_jd button:active svg, .gb_B:focus:not(:focus-visible), .gb_B:hover, .gb_B:active, .gb_B[aria-expanded="true"] { outline: none; }

.gb_Mc .gb_jd.gb_kd button:focus-visible svg, .gb_jd button:focus-visible svg, .gb_B:focus-visible { outline: rgb(32, 33, 36) solid 1px; }

.gb_Mc .gb_jd button:focus-visible svg, .gb_Mc .gb_B:focus-visible { outline: rgb(241, 243, 244) solid 1px; }

@media (forced-colors: active) {
  .gb_Mc .gb_jd.gb_kd button:focus-visible svg, .gb_jd button:focus-visible svg, .gb_Mc .gb_jd button:focus-visible svg { outline: currentcolor solid 1px; }
}

.gb_Mc .gb_jd.gb_kd button:focus svg, .gb_Mc .gb_jd.gb_kd button:focus:hover svg, .gb_jd button:focus svg, .gb_jd button:focus:hover svg, .gb_B:focus, .gb_B:focus:hover { background-color: rgba(60, 64, 67, 0.1); }

.gb_Mc .gb_jd.gb_kd button:active svg, .gb_jd button:active svg, .gb_B:active { background-color: rgba(60, 64, 67, 0.12); }

.gb_Mc .gb_jd.gb_kd button:hover svg, .gb_jd button:hover svg, .gb_B:hover { background-color: rgba(60, 64, 67, 0.08); }

.gb_Wa .gb_B.gb_Za:hover { background-color: transparent; }

.gb_B[aria-expanded="true"], .gb_B:hover[aria-expanded="true"] { background-color: rgba(95, 99, 104, 0.24); }

.gb_B[aria-expanded="true"] .gb_F { fill: rgb(95, 99, 104); opacity: 1; }

.gb_Mc .gb_jd button:hover svg, .gb_Mc .gb_B:hover { background-color: rgba(232, 234, 237, 0.08); }

.gb_Mc .gb_jd button:focus svg, .gb_Mc .gb_jd button:focus:hover svg, .gb_Mc .gb_B:focus, .gb_Mc .gb_B:focus:hover { background-color: rgba(232, 234, 237, 0.1); }

.gb_Mc .gb_jd button:active svg, .gb_Mc .gb_B:active { background-color: rgba(232, 234, 237, 0.12); }

.gb_Mc .gb_B[aria-expanded="true"], .gb_Mc .gb_B:hover[aria-expanded="true"] { background-color: rgba(255, 255, 255, 0.12); }

.gb_Mc .gb_B[aria-expanded="true"] .gb_F { fill: rgb(255, 255, 255); opacity: 1; }

.gb_dd { padding: 4px; }

.gb_Fa.gb_Se .gb_dd { padding: 4px 2px; }

.gb_Fa.gb_Se .gb_z.gb_dd { padding-left: 6px; }

.gb_la { z-index: 991; line-height: normal; }

.gb_la.gb_ld { left: 0px; right: auto; }

@media (max-width: 350px) {
  .gb_la.gb_ld { left: 0px; }
}

.gb_Ue .gb_la { top: 56px; }

.gb_R { display: none !important; }

.gb_od { visibility: hidden; }

.gb_J .gb_B, .gb_ka .gb_J .gb_B { background-position: -64px -29px; }

.gb_1 .gb_J .gb_B { background-position: -29px -29px; opacity: 1; }

.gb_J .gb_B, .gb_J .gb_B:hover, .gb_J .gb_B:focus { opacity: 1; }

.gb_L { display: none; }

@media screen and (max-width: 319px) {
  .gb_md:not(.gb_nd) .gb_J { display: none; visibility: hidden; }
}

.gb_Q { display: none; }

.gb_ad { font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 400; letter-spacing: 0.25px; line-height: 48px; margin-bottom: 2px; opacity: 1; overflow: hidden; padding-left: 16px; position: relative; text-overflow: ellipsis; vertical-align: middle; top: 2px; white-space: nowrap; -webkit-box-flex: 1; flex: 1 1 auto; }

.gb_ad.gb_bd { color: rgb(60, 64, 67); }

.gb_Fa.gb_cc .gb_ad { margin-bottom: 0px; }

.gb_td.gb_vd .gb_ad { padding-left: 4px; }

.gb_Fa.gb_cc .gb_wd { position: relative; top: -2px; }

.gb_cd { display: none; }

.gb_Fa { color: black; min-width: 160px; position: relative; transition: box-shadow 250ms; }

.gb_Fa.gb_Tc { min-width: 120px; }

.gb_Fa.gb_xd .gb_yd { display: none; }

.gb_Fa.gb_xd .gb_md { height: 56px; }

header.gb_Fa { display: block; }

.gb_Fa svg { fill: currentcolor; }

.gb_Ed { position: fixed; top: 0px; width: 100%; }

.gb_zd { box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px; }

.gb_Fd { height: 64px; }

.gb_md { box-sizing: border-box; position: relative; width: 100%; display: flex; justify-content: space-between; min-width: min-content; }

.gb_Fa:not(.gb_cc) .gb_md { padding: 8px; }

.gb_Fa.gb_Hd .gb_md { -webkit-box-flex: 1; flex: 1 0 auto; }

.gb_Fa .gb_md.gb_nd.gb_Id { min-width: 0px; }

.gb_Fa.gb_cc .gb_md { padding: 4px 4px 4px 8px; min-width: 0px; }

.gb_yd { height: 48px; vertical-align: middle; white-space: nowrap; -webkit-box-align: center; align-items: center; display: flex; user-select: none; }

.gb_Bd > .gb_yd { display: table-cell; width: 100%; }

.gb_td { padding-right: 30px; box-sizing: border-box; -webkit-box-flex: 1; flex: 1 0 auto; }

.gb_Fa.gb_cc .gb_td { padding-right: 14px; }

.gb_Cd { -webkit-box-flex: 1; flex: 1 1 100%; }

.gb_Cd > :only-child { display: inline-block; }

.gb_Dd.gb_4c { padding-left: 4px; }

.gb_Dd.gb_Jd, .gb_Fa.gb_Hd .gb_Dd, .gb_Fa.gb_cc:not(.gb_Kd) .gb_Dd { padding-left: 0px; }

.gb_Fa.gb_cc .gb_Dd.gb_Jd { padding-right: 0px; }

.gb_Fa.gb_cc .gb_Dd.gb_Jd .gb_Wa { margin-left: 10px; }

.gb_4c { display: inline; }

.gb_Fa.gb_Xc .gb_Dd.gb_Ld, .gb_Fa.gb_Kd .gb_Dd.gb_Ld { padding-left: 2px; }

.gb_ad { display: inline-block; }

.gb_Dd { box-sizing: border-box; height: 48px; line-height: normal; padding: 0px 4px 0px 30px; -webkit-box-flex: 0; flex: 0 0 auto; justify-content: flex-end; }

.gb_Kd { height: 48px; }

.gb_Fa.gb_Kd { min-width: auto; }

.gb_Kd .gb_Dd { float: right; padding-left: 32px; }

.gb_Kd .gb_Dd.gb_Md { padding-left: 0px; }

.gb_Nd { font-size: 14px; max-width: 200px; overflow: hidden; padding: 0px 12px; text-overflow: ellipsis; white-space: nowrap; user-select: text; }

.gb_qd { transition: background-color 0.4s; }

.gb_Od { color: black; }

.gb_Mc { color: white; }

.gb_Fa a, .gb_Qc a { color: inherit; }

.gb_ba { color: rgba(0, 0, 0, 0.87); }

.gb_Fa svg, .gb_Qc svg, .gb_td .gb_ud, .gb_3c .gb_ud { color: rgb(95, 99, 104); opacity: 1; }

.gb_Mc svg, .gb_Qc.gb_Vc svg, .gb_Mc .gb_td .gb_ud, .gb_Mc .gb_td .gb_Lc, .gb_Mc .gb_td .gb_wd, .gb_Qc.gb_Vc .gb_ud { color: rgba(255, 255, 255, 0.87); }

.gb_Mc .gb_td .gb_Pd:not(.gb_Qd) { opacity: 0.87; }

.gb_bd { color: inherit; opacity: 1; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }

.gb_Mc .gb_bd, .gb_Od .gb_bd { opacity: 1; }

.gb_Rd { position: relative; }

.gb_M { font-family: arial, sans-serif; line-height: normal; padding-right: 15px; }

a.gb_X, span.gb_X { color: rgba(0, 0, 0, 0.87); text-decoration: none; }

.gb_Mc a.gb_X, .gb_Mc span.gb_X { color: white; }

a.gb_X:focus { outline-offset: 2px; }

a.gb_X:hover { text-decoration: underline; }

.gb_Z { display: inline-block; padding-left: 15px; }

.gb_Z .gb_X { display: inline-block; line-height: 24px; vertical-align: middle; }

.gb_rd { font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif; font-weight: 500; font-size: 14px; letter-spacing: 0.25px; line-height: 16px; margin-left: 10px; margin-right: 8px; min-width: 96px; padding: 9px 23px; text-align: center; vertical-align: middle; border-radius: 4px; box-sizing: border-box; }

.gb_Fa.gb_Kd .gb_rd { margin-left: 8px; }

#gb a.gb_Ua.gb_rd { cursor: pointer; }

.gb_Ua.gb_rd:hover { background: rgb(27, 102, 201); box-shadow: rgba(66, 64, 67, 0.15) 0px 1px 3px 1px, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px; }

.gb_Ua.gb_rd:focus, .gb_Ua.gb_rd:hover:focus { background: rgb(28, 95, 186); box-shadow: rgba(66, 64, 67, 0.15) 0px 1px 3px 1px, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px; }

.gb_Ua.gb_rd:active { background: rgb(27, 99, 193); box-shadow: rgba(66, 64, 67, 0.15) 0px 1px 3px 1px, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px; }

.gb_rd { background: rgb(26, 115, 232); border: 1px solid transparent; }

.gb_Fa.gb_cc .gb_rd { padding: 9px 15px; min-width: 80px; }

.gb_Sd { text-align: left; }

#gb .gb_Mc a.gb_rd:not(.gb_H), #gb.gb_Mc a.gb_rd { background: rgb(255, 255, 255); border-color: rgb(218, 220, 224); box-shadow: none; color: rgb(26, 115, 232); }

#gb a.gb_Ua.gb_H.gb_rd { background: rgb(138, 180, 248); border: 1px solid transparent; box-shadow: none; color: rgb(32, 33, 36); }

#gb .gb_Mc a.gb_rd:hover:not(.gb_H), #gb.gb_Mc a.gb_rd:hover { background: rgb(248, 251, 255); border-color: rgb(204, 224, 252); }

#gb a.gb_Ua.gb_H.gb_rd:hover { background: rgb(147, 186, 249); border-color: transparent; box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 1px, rgba(0, 0, 0, 0.3) 0px 1px 2px; }

#gb .gb_Mc a.gb_rd:focus:not(.gb_H), #gb .gb_Mc a.gb_rd:focus:hover:not(.gb_H), #gb.gb_Mc a.gb_rd:focus:not(.gb_H), #gb.gb_Mc a.gb_rd:focus:hover:not(.gb_H) { background: rgb(244, 248, 255); outline: rgb(201, 221, 252) solid 1px; }

#gb a.gb_Ua.gb_H.gb_rd:focus, #gb a.gb_Ua.gb_H.gb_rd:focus:hover { background: rgb(166, 198, 250); border-color: transparent; box-shadow: none; }

#gb .gb_Mc a.gb_rd:active:not(.gb_H), #gb.gb_Mc a.gb_rd:active { background: rgb(236, 243, 254); }

#gb a.gb_Ua.gb_H.gb_rd:active { background: rgb(161, 195, 249); box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }

.gb_K { display: none; }

@media screen and (max-width: 319px) {
  .gb_md .gb_J { display: none; visibility: hidden; }
}

.gb_Wa { background-color: rgba(255, 255, 255, 0.88); border: 1px solid rgb(218, 220, 224); box-sizing: border-box; cursor: pointer; display: inline-block; max-height: 48px; overflow: hidden; outline: none; padding: 0px; vertical-align: middle; width: 134px; border-radius: 8px; }

.gb_Wa.gb_H { background-color: transparent; border: 1px solid rgb(95, 99, 104); }

.gb_3a { display: inherit; }

.gb_Wa.gb_H .gb_3a { background: rgb(255, 255, 255); border-radius: 4px; display: inline-block; left: 8px; margin-right: 5px; position: relative; padding: 3px; top: -1px; }

.gb_Wa:hover { border: 1px solid rgb(210, 227, 252); background-color: rgba(248, 250, 255, 0.88); }

.gb_Wa.gb_H:hover { background-color: rgba(241, 243, 244, 0.04); border: 1px solid rgb(95, 99, 104); }

.gb_Wa:focus-visible, .gb_Wa:focus { background-color: rgb(255, 255, 255); outline: rgb(32, 33, 36) solid 1px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; }

.gb_Wa.gb_H:focus-visible, .gb_Wa.gb_H:focus { background-color: rgba(241, 243, 244, 0.12); outline: rgb(241, 243, 244) solid 1px; box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 1px, rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }

.gb_Wa.gb_H:active, .gb_Wa.gb_Uc.gb_H:focus { background-color: rgba(241, 243, 244, 0.1); border: 1px solid rgb(95, 99, 104); }

.gb_4a { display: inline-block; padding-bottom: 2px; padding-left: 7px; padding-top: 2px; text-align: center; vertical-align: middle; line-height: 32px; width: 78px; }

.gb_Wa.gb_H .gb_4a { line-height: 26px; margin-left: 0px; padding-bottom: 0px; padding-left: 0px; padding-top: 0px; width: 72px; }

.gb_4a.gb_5a { background-color: rgb(241, 243, 244); border-radius: 4px; margin-left: 8px; padding-left: 0px; line-height: 30px; }

.gb_4a.gb_5a .gb_Jc { vertical-align: middle; }

.gb_Fa:not(.gb_cc) .gb_Wa { margin-left: 10px; margin-right: 4px; }

.gb_Td { max-height: 32px; width: 78px; }

.gb_Wa.gb_H .gb_Td { max-height: 26px; width: 72px; }

.gb_P { background-size: 32px 32px; border: 0px; border-radius: 50%; display: block; margin: 0px; position: relative; height: 32px; width: 32px; z-index: 0; }

.gb_eb { background-color: rgb(232, 240, 254); border: 1px solid rgba(32, 33, 36, 0.08); position: relative; }

.gb_eb.gb_P { height: 30px; width: 30px; }

.gb_eb.gb_P:hover, .gb_eb.gb_P:active { box-shadow: none; }

.gb_fb { background: rgb(255, 255, 255); border: none; border-radius: 50%; bottom: 2px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; height: 14px; margin: 2px; position: absolute; right: 0px; width: 14px; }

.gb_wc { color: rgb(31, 113, 231); font: 400 22px / 32px "Google Sans", Roboto, Helvetica, Arial, sans-serif; text-align: center; text-transform: uppercase; }

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-device-pixel-ratio:1.25) {
  .gb_P::before, .gb_gb::before { display: inline-block; transform: scale(0.5); transform-origin: left 0px; }
  .gb_3 .gb_gb::before { }
}

.gb_P:hover, .gb_P:focus { box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px; }

.gb_P:active { box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px inset; }

.gb_P:active::after { background: rgba(0, 0, 0, 0.1); border-radius: 50%; content: ""; display: block; height: 100%; }

.gb_hb { cursor: pointer; line-height: 40px; min-width: 30px; opacity: 0.75; overflow: hidden; vertical-align: middle; text-overflow: ellipsis; }

.gb_B.gb_hb { width: auto; }

.gb_hb:hover, .gb_hb:focus { opacity: 0.85; }

.gb_hd .gb_hb, .gb_hd .gb_Wd { line-height: 26px; }

#gb#gb.gb_hd a.gb_hb, .gb_hd .gb_Wd { font-size: 11px; height: auto; }

.gb_ib { border-top: 4px solid rgb(0, 0, 0); border-left: 4px dashed transparent; border-right: 4px dashed transparent; display: inline-block; margin-left: 6px; opacity: 0.75; vertical-align: middle; }

.gb_Za:hover .gb_ib { opacity: 0.85; }

.gb_Wa > .gb_z { padding: 3px 3px 3px 4px; }

.gb_Xd.gb_od { color: rgb(255, 255, 255); }

.gb_1 .gb_hb, .gb_1 .gb_ib { opacity: 1; }

#gb#gb.gb_1.gb_1 a.gb_hb, #gb#gb .gb_1.gb_1 a.gb_hb { color: rgb(255, 255, 255); }

.gb_1.gb_1 .gb_ib { border-top-color: rgb(255, 255, 255); opacity: 1; }

.gb_ka .gb_P:hover, .gb_1 .gb_P:hover, .gb_ka .gb_P:focus, .gb_1 .gb_P:focus { box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 2px; }

.gb_Zd .gb_z, .gb_0d .gb_z { position: absolute; right: 1px; }

.gb_z.gb_0, .gb_jb.gb_0, .gb_Za.gb_0 { -webkit-box-flex: 0; flex: 0 1 auto; }

.gb_1d.gb_2d .gb_hb { width: 30px !important; }

.gb_3d { height: 40px; position: absolute; right: -5px; top: -5px; width: 40px; }

.gb_4d .gb_3d, .gb_5d .gb_3d { right: 0px; top: 0px; }

.gb_z .gb_B { padding: 4px; }

.gb_S { display: none; }

.gb_Dc { display: inline-block; position: relative; overflow: hidden; top: 2px; user-select: none; }

.gb_6d { display: flex; max-width: 100%; }

.gb_7d .gb_Dc { display: none; }

.gb_md .gb_Ec { line-height: normal; position: relative; padding-left: 16px; }

.gb_td.gb_vd .gb_Ec { padding-left: 0px; }

.gb_td .gb_Ec { padding-left: 12px; }

.gb_Fc { -webkit-box-align: center; align-items: center; display: flex; outline: none; text-decoration: none; }

.gb_Fc.gb_be { direction: ltr; }

.gb_Fc.gb_be .gb_ud { padding-left: 8px; padding-right: 0px; }

.gb_Fc .gb_8d::before { content: url("../../image/svg+xml/10.svg"); display: inline-block; height: 24px; width: 74px; }

.gb_Fc .gb_8d { height: 24px; width: 74px; }

.gb_Fc { vertical-align: middle; }

.gb_Fc .gb_8d { vertical-align: middle; outline: none; display: inline-block; }

.gb_Fc.gb_9d:focus-visible { outline: rgb(32, 33, 36) solid 1px; border-radius: 4px; }

.gb_Mc .gb_Fc.gb_9d:focus-visible { outline-color: rgb(241, 243, 244); }

.gb_Jc { display: inline-block; vertical-align: middle; }

.gb_Kc { border: none; display: block; visibility: hidden; }

img.gb_Pd { border: 0px; vertical-align: middle; }

.gb_Vc .gb_Fc .gb_8d::before, .gb_Mc .gb_Fc .gb_8d::before { content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg"); }

.gb_Od .gb_Fc .gb_8d::before { content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg"); }

@media screen and (-ms-high-contrast:black-on-white) {
  .gb_Mc .gb_Fc .gb_8d::before { content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg"); }
}

@media screen and (-ms-high-contrast:white-on-black) {
  .gb_Od .gb_Fc .gb_8d::before { content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg"); }
}

.gb_Jc { background-repeat: no-repeat; }

.gb_ud { display: block; font-family: "Product Sans", Arial, sans-serif; font-size: 22px; line-height: 48px; overflow: hidden; padding-left: 8px; position: relative; text-overflow: ellipsis; top: -1.5px; vertical-align: middle; }

.gb_td .gb_ud { padding-left: 4px; }

.gb_td .gb_ud.gb_ce { padding-left: 0px; }

.gb_Pd.gb_Qd { padding-right: 4px; }

.gb_Vc .gb_bd.gb_ud { opacity: 1; }

.gb_6d:focus .gb_ud { text-decoration: underline; }

.gb_de img.gb_Pd { margin-bottom: 4px; }

.gb_ae { display: none; }

.gb_Lc { border-radius: 50%; display: inline-block; margin: 0px 4px; padding: 12px; overflow: hidden; vertical-align: middle; cursor: pointer; height: 24px; width: 24px; user-select: none; -webkit-box-flex: 0; flex: 0 0 auto; }

.gb_cc .gb_Lc { margin: 0px 4px 0px 0px; }

.gb_Lc:focus:not(:focus-visible) { outline: none; }

.gb_Lc:focus-visible { outline: rgb(32, 33, 36) solid 1px; outline-offset: -1px; }

.gb_Mc .gb_Lc:focus-visible { outline: rgb(241, 243, 244) solid 1px; }

.gb_Lc:focus:focus-visible, .gb_Lc:focus-visible, .gb_Lc:focus, .gb_Lc:focus:hover { background-color: rgba(60, 64, 67, 0.1); }

.gb_Lc:active { background-color: rgba(60, 64, 67, 0.12); outline: none; }

.gb_Lc:hover { background-color: rgba(60, 64, 67, 0.08); outline: none; }

.gb_Mc .gb_Lc:hover { background-color: rgba(232, 234, 237, 0.08); }

.gb_Mc .gb_Lc:focus, .gb_Mc .gb_Lc:focus:hover { background-color: rgba(232, 234, 237, 0.1); }

.gb_Mc .gb_Lc:active { background-color: rgba(232, 234, 237, 0.12); }

.gb_Nc { display: none; }

.gb_Oc { transform: none; }

.gb_Pc { display: none; }

.gb_Qc { background-color: rgb(255, 255, 255); bottom: 0px; color: rgb(0, 0, 0); height: calc(-100% + 100vh); overflow: hidden auto; position: absolute; top: 100%; z-index: 990; will-change: visibility; visibility: hidden; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility linear 0.25s; }

.gb_Qc.gb_Rc.gb_Sc, .gb_Qc.gb_Rc.gb_Sc:hover { overflow: visible; }

.gb_Qc.gb_cc { width: 264px; transform: translateX(-264px); }

.gb_Qc:not(.gb_cc) { width: 280px; transform: translateX(-280px); }

.gb_Tc .gb_Qc { width: 195px; }

.gb_Qc.gb_Uc { transform: translateX(0px); visibility: visible; box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 16px; transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility linear; }

.gb_Qc.gb_Vc { background-color: rgb(32, 33, 36); color: rgb(232, 234, 237); }

.gb_Wc.gb_Xc { background-color: transparent; box-shadow: 0px 0px; }

.gb_Wc.gb_Xc > :not(.gb_Zc) { display: none; }

.gb_Zc { display: flex; -webkit-box-flex: 1; flex: 1 1 auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

.gb_Zc > .gb_0c { -webkit-box-flex: 1; flex: 1 0 auto; }

.gb_Zc > .gb_1c { -webkit-box-flex: 0; flex: 0 0 auto; }

.gb_2c { list-style: none; margin-top: 0px; margin-bottom: 0px; padding: 8px 0px; }

.gb_Qc:not(.gb_Wc) .gb_2c:first-child { padding: 0px 0px 8px; }

.gb_2c:not(:last-child) { border-bottom: 1px solid rgb(221, 221, 221); }

.gb_Vc .gb_2c:not(:last-child) { border-bottom: 1px solid rgb(95, 99, 104); }

.gb_Vc .gb_3c .gb_4c { background-color: rgb(32, 33, 36); border-bottom: 1px solid rgb(95, 99, 104); }

.gb_5c { cursor: pointer; }

.gb_6c:empty { display: none; }

.gb_5c, .gb_6c { display: block; min-height: 40px; padding-bottom: 4px; padding-top: 4px; font-family: Roboto, Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.87); }

.gb_Vc .gb_5c { color: rgb(232, 234, 237); }

.gb_Vc .gb_6c { color: rgb(154, 160, 166); }

.gb_Qc.gb_cc .gb_5c, .gb_Qc:not(.gb_cc) .gb_6c { padding-left: 16px; }

.gb_Qc:not(.gb_cc) .gb_5c, .gb_Qc:not(.gb_cc) .gb_6c { padding-left: 24px; }

.gb_5c:hover { background: rgba(0, 0, 0, 0.12); }

.gb_Vc .gb_5c:hover { background: rgba(232, 234, 237, 0.08); }

.gb_5c.gb_cb { background: rgba(0, 0, 0, 0.12); font-weight: bold; color: rgba(0, 0, 0, 0.87); }

.gb_Vc .gb_5c.gb_cb { background: rgba(232, 234, 237, 0.12); color: rgba(255, 255, 255, 0.87); }

.gb_5c .gb_7c { text-decoration: none; display: inline-block; width: 100%; }

.gb_5c .gb_7c:focus { outline: none; }

.gb_5c .gb_8c, .gb_6c { padding-left: 32px; display: inline-block; line-height: 40px; vertical-align: top; width: 176px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.gb_Tc .gb_5c .gb_8c, .gb_Tc .gb_6c { padding-left: 16px; width: 138px; }

.gb_Zc.gb_ca .gb_7c:focus .gb_8c { text-decoration: underline; }

.gb_5c .gb_9c { height: 24px; width: 24px; float: left; margin-top: 8px; vertical-align: middle; }

.gb_3c > * { display: block; min-height: 48px; }

.gb_Fa.gb_cc .gb_3c > * { padding-top: 4px; padding-bottom: 4px; padding-left: 16px; }

.gb_Fa:not(.gb_cc) .gb_3c > * { padding-top: 8px; padding-bottom: 8px; padding-left: 24px; }

.gb_Fa:not(.gb_cc) .gb_td .gb_Dc { -webkit-box-align: center; align-items: center; display: flex; }

.gb_3c .gb_Dc { display: table-cell; height: 48px; vertical-align: middle; }

.gb_3c .gb_4c { background-color: rgb(245, 245, 245); display: block; }

.gb_3c .gb_4c .gb_dd { float: right; }

.gb_Fa.gb_cc .gb_3c .gb_4c { padding: 4px; }

.gb_Fa:not(.gb_cc) .gb_3c .gb_4c { padding: 8px; }

.gb_3c .gb_hb { width: 40px; }

.gb_3c .gb_ib { position: absolute; right: 0px; top: 50%; }

.gb_Qc.gb_ee { }

.gb_Qc .gb_6d { text-decoration: none; }

.gb_Qc .gb_ud { display: inline; white-space: normal; word-break: break-word; }

body.gb_fe [data-ogpc] { transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility linear 0.25s; }

body.gb_fe.gb_ge [data-ogpc] { transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility linear; }

body [data-ogpc] { margin-left: 0px; }

body.gb_ge [data-ogpc] { margin-left: 280px; }

.gb_he { cursor: pointer; padding: 13px; }

.gb_ie { background-color: rgba(0, 0, 0, 0.1); box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 3px inset; width: 34px; height: 17px; border-radius: 8px; position: relative; transition: background-color 150ms; }

.gb_he[aria-pressed="true"] .gb_ie { background-color: rgba(255, 255, 255, 0.1); }

.gb_je { position: absolute; width: 25px; height: 25px; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.24) 0px 2px 4px; top: -4px; transform: translateX(-12px); background-color: white; transition: transform 150ms, -webkit-transform 150ms; }

.gb_he[aria-pressed="true"] .gb_je { transform: translateX(20px); }

.gb_je img { position: absolute; margin: 5px; width: 15px; height: 15px; }

.gb_ke { line-height: 0; user-select: none; }

.gb_Cd > .gb_ke:only-child { float: right; }

.gb_ke .gb_le { display: inline-block; }

.gb_ke .gb_id { cursor: pointer; }

.gb_ke .gb_id img { opacity: 0.54; width: 24px; height: 24px; padding: 10px; }

.gb_Mc .gb_ke .gb_id img { opacity: 1; }

.gb_j { text-align: right; }

.gb_le { text-align: initial; }

.gb_ke .gb_me, .gb_ke .gb_ne { display: table-cell; height: 48px; vertical-align: middle; }

.gb_ke .gb_me:not(.gb_oe) { overflow: hidden; }

.gb_pe { padding-left: 16px; }

.gb_pe:not(.gb_cc) { padding-left: 24px; }

.gb_qe { color: black; opacity: 0.54; }

.gb_re { background: white; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px; overflow-y: hidden; position: absolute; right: 24px; top: 48px; }

.gb_we, .gb_xe, .gb_ye { display: none; }

.gb_ze { height: 48px; max-width: 720px; }

.gb_Cd.gb_Me:not(.gb_De) .gb_ze { max-width: 100%; -webkit-box-flex: 1; flex: 1 1 auto; }

.gb_Bd > .gb_yd .gb_ze { display: table-cell; vertical-align: middle; width: 100%; }

.gb_Cd.gb_Me .gb_ze .gb_jd { margin-left: 0px; margin-right: 0px; }

.gb_jd { background: rgb(241, 243, 244); border: 1px solid transparent; border-radius: 8px; margin-left: auto; margin-right: auto; max-width: 720px; position: relative; }

.gb_jd.gb_Ae { border-radius: 8px 8px 0px 0px; }

.gb_Mc .gb_jd { background: rgba(241, 243, 244, 0.24); }

.gb_jd button { background: none; border: none; cursor: pointer; outline: none; padding: 0px 5px; line-height: 0; }

.gb_jd:not(.gb_De) button { padding: 0px 5px; }

.gb_jd button svg, .gb_jd button img { padding: 8px; margin: 3px; }

.gb_jd.gb_De button svg { margin-left: 1px; margin-right: 1px; }

.gb_Fe.gb_cf, .gb_Be.gb_cf { padding-left: 2px; padding-right: 2px; }

.gb_Be { display: none; }

.gb_Fe, .gb_Be { float: left; position: absolute; top: 0px; }

.gb_Ce { position: absolute; right: 0px; cursor: default; visibility: hidden; top: 0px; }

.gb_df .gb_Ce { right: 44px; }

.gb_Ce.gb_ef { visibility: inherit; }

.gb_Ee { position: absolute; right: 0px; top: 0px; }

.gb_te { height: 46px; padding: 0px; margin-left: 56px; margin-right: 49px; overflow: hidden; }

.gb_df .gb_te { margin-right: 96px; }

.gb_se { background: transparent; border: none; font-style: normal; font-variant: none; font-size-adjust: none; font-kerning: auto; font-optical-sizing: auto; font-feature-settings: normal; font-variation-settings: normal; font-weight: normal; font-stretch: normal; font-size: 16px; line-height: normal; font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif; height: 46px; outline: none; width: 100%; box-sizing: border-box; }

.gb_cf.gb_te .gb_se.gb_ff { padding-left: 2px; }

.gb_Mc .gb_se { color: rgba(255, 255, 255, 0.87); }

.gb_se:not(.gb_ff) { padding: 11px 0px; }

.gb_se.gb_ff { padding: 0px; }

.gb_ff { height: 46px; line-height: 46px; }

.gb_jd:not(.gb_kd) input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.54); }

.gb_Mc .gb_jd:not(.gb_kd) input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.87); }

.gb_jd.gb_De:not(.gb_sa) { background: transparent; float: right; box-shadow: none; }

.gb_jd.gb_De:not(.gb_sa) .gb_te, .gb_jd.gb_De:not(.gb_sa) .gb_Ce, .gb_jd.gb_De:not(.gb_sa) .gb_Ee { display: none; }

.gb_jd.gb_De.gb_sa { margin-left: 0px; position: absolute; width: auto; }

.gb_jd.gb_De.gb_sa .gb_Fe { display: none; }

.gb_jd.gb_De .gb_Fe { padding: 0px; position: static; }

.gb_jd.gb_De.gb_sa .gb_Be { display: block; }

.gb_Fa.gb_Xc .gb_yd.gb_Ne:not(.gb_De) .gb_ze, .gb_Fa.gb_Xc .gb_yd.gb_Oe.gb_Pe:not(.gb_De) .gb_ze, .gb_Fa.gb_Hd .gb_yd:not(.gb_Ne):not(.gb_De) .gb_ze { padding-right: 30px; }

.gb_Fa.gb_Xc .gb_yd.gb_Pe:not(.gb_De) .gb_ze, .gb_Fa.gb_Xc .gb_yd.gb_Oe.gb_Ne:not(.gb_De) .gb_ze { padding-left: 30px; }

.gb_yd:not(.gb_De) .gb_ze { padding-left: 10px; padding-right: 10px; width: 100%; -webkit-box-flex: 1; flex: 1 1 auto; }

.gb_ze.gb_od { display: none; }

.gb_Cd.gb_Je > .gb_ke { min-width: auto !important; }

.gb_He, .gb_Ie:not(.gb_nd):not(.gb_Je).gb_De, .gb_Ie:not(.gb_nd):not(.gb_Je).gb_Ke { justify-content: flex-end; }

.gb_Ie:not(.gb_nd):not(.gb_Je) { -webkit-box-pack: center; justify-content: center; }

.gb_Ie:not(.gb_nd):not(.gb_Je):not(.gb_De).gb_Le, .gb_Ie:not(.gb_nd):not(.gb_Je):not(.gb_De).gb_Me { justify-content: flex-start; }

.gb_Cd.gb_nd, .gb_Cd.gb_Je { justify-content: space-between; }

.gb_Fa.gb_cc .gb_td, .gb_md.gb_nd.gb_Id > .gb_td { -webkit-box-flex: 1; flex: 1 1 auto; overflow: hidden; }

.gb_Fa.gb_cc .gb_Cd, .gb_md.gb_nd.gb_Id > .gb_Cd { -webkit-box-flex: 0; flex: 0 0 auto; }

sentinel { }
